<button type="button" class="btn btn-primary space-before" (click)="negotiationExpanded = !negotiationExpanded"
        [attr.aria-expanded]="negotiationExpanded" aria-controls="negotiationParams"
        i18n>
    Negotiation Options
</button>

<div id="negotiationParams" class="space-before" [ngbCollapse]="!negotiationExpanded">
	<form (ngSubmit)="sendRfq()" class="space-before" #negotiationForm="ngForm" novalidate>
		<div class=" input-group form-group">
			<label class="input-group-addon">Amount</label>
			<input type="text" class="form-control" required [(ngModel)]="rfq.requestForQuotationLine[0].lineItem.quantity.value" name="negAmount" pattern="\d*">
		</div>
		<div class=" input-group form-group">
			<label class="input-group-addon">Price</label>
			<input type="text" class="form-control" required [(ngModel)]="rfq.requestForQuotationLine[0].lineItem.price.priceAmount.value" name="negPrice">
		</div>
		<div *ngFor="let param of negotiatables">
			<div class=" input-group form-group">
				<label class="input-group-addon">{{ param.key }}</label>
				<input type="text" class="form-control" [name]="param.key" required [value]="param.value" (keyup)="onKey($event)">
			</div>
		</div>
		<button type="submit" class="btn btn-success" [disabled]="!negotiationForm.form.valid">Send Requested Terms</button>
	</form>
</div>

<div [hidden]="error_detc || callback || !submitted">
    <img class="space-before" src="assets/form_loader.gif"/>
</div>
<div [hidden]="!callback">
    <div class="alert alert-success space-before" role="alert" i18n>Request placed - track the progress on your <a
            routerLink="/dashboard">dashboard</a></div>
</div>
<div [hidden]="!error_detc">
    <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
</div>