<button type="button" class="btn btn-primary" (click)="negotiationExpanded = !negotiationExpanded"
        [attr.aria-expanded]="negotiationExpanded" aria-controls="negotiationParams"
        i18n>
    Negotiation Options
</button>

<div id="negotiationParams" [ngbCollapse]="!negotiationExpanded">
    <div class=" input-group form-group">
        <label class="input-group-addon">Amount</label>
        <input type="text" class="form-control" [(value)]="amount">
    </div>
    <div *ngFor="let param of negotiatables">
        <div class=" input-group form-group">
            <label class="input-group-addon">{{ param.key }}</label>
            <input type="text" class="form-control" [value]="param.value">
        </div>
    </div>
    <button class="btn btn-success">Send Requested Terms</button>
</div>