
<hr>

<!-- Title and help text -->
<div class="row">
    <div class="col-12">
        <h6 class="space-after">
            <b class="clickable" (click)="showDetails = !showDetails">What is Production Part Approval Process (PPAP)? </b>
        </h6>
        <div *ngIf="showDetails">
            <p>The Production Part Approval Process (PPAP) is a standardized process that helps manufacturers and suppliers communicate and approve production designs and processes before, during, and after manufacture.</p>
            <h6 class="space-after">
                <b>What is the goal of the PPAP process?</b>
            </h6>
            <p>The goal of the PPAP process is to ensure that all designs and specifications are understood by the supplier and that the production process and produce products that consistently meet these requirements when running at rate.</p>
            <h6 class="space-after">
                <b>What is the meaning of the PPAP levels?</b>
            </h6>
            <p>The PPAP levels indicate which elements need to be submitted to the customer.</p>
        </div>
    </div>
</div>

<hr>

<!-- Ppap level select -->
<div class="row form-group space-after">
    <div class="col-2">
        <label for="ppapLevelSelect" class="mt-2"><strong>Select a PPAP level:</strong></label>
    </div>
    <div class="col-10">
        <select [(ngModel)]="level" id="ppapLevelSelect" class="custom-select" (change)="computeSelectedDocuments()" [disabled]="isLoading() || isRequestSent()">
            <option [ngValue]='0'>Level 1 - Part Submission Warrant (PSW) only submitted to the customer.</option>
            <option [ngValue]='1'>Level 2 – PSW with product samples and limited supporting data.</option>
            <option [ngValue]='2'>Level 3 – PSW with product samples and complete supporting data.</option>
            <option [ngValue]='3'>Level 4 – PSW and other requirements as defined by the customer.</option>
            <option [ngValue]='4'>Level 5 – PSW with product samples and complete supporting data available for review at the supplier’s manufacturing location.</option>
        </select>
    </div>
</div>

<!-- Document checkboxes -->
<div class="row space-after">
    <ng-container *ngFor="let doc of DOCUMENTS; index as i">
        <div class="col-4 form-check mt-1">
            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedDocuments[i]" [disabled]="isLoading() || isRequestSent()">
            <label class="form-check-label">{{ doc.name }}</label>
        </div>
        <div class="col-1 mt-1">
            <button *ngIf="isDocumentAvailable(doc.name)"
                class="btn btn-secondary btn-sm" (click)="onDownload(doc.name)">
                Download
            </button>
        </div>
        <div class="col-1"></div>
    </ng-container>
</div>

<hr>

<!--Notes-->
<h5>Notes and Additional Files</h5>
<note-file-view [notes]="notes"
           [documents]="additionalDocuments"
           [label]="'Notes'"
           [readonly]="isLoading() || isRequestSent()"></note-file-view>



<!-- Action buttons -->
<div *ngIf="!isRequestSent()" class="row actions-row">
    <div class="col-2"></div>
    <div *ngIf="!(processMetadata && processMetadata.isBeingUpdated)" class="col-4 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
    <div *ngIf="processMetadata && processMetadata.isBeingUpdated" class="col-6 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
    </div>
    <div *ngIf="!(processMetadata && processMetadata.isBeingUpdated)" class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onSkip()">
            Skip
        </button>
    </div>
    <div class="col-2">
        <button *ngIf="!(processMetadata && processMetadata.isBeingUpdated)" class="btn btn-primary action" [disabled]="isLoading() || areAllDocumentsAvailable()" (click)="onSendRequest()">
            Send Request
        </button>
        <button *ngIf="processMetadata && processMetadata.isBeingUpdated" class="btn btn-primary action" [disabled]="isLoading() || areAllDocumentsAvailable()" (click)="onUpdateRequest()">
            Update Request
        </button>
    </div>
</div>

<div *ngIf="isRequestSent()" class="row actions-row">
    <div class="col-8"></div>
    <div class="col-2">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" disabled>
            Request Sent
        </button>
    </div>
</div>
