<div *ngIf="ppap">

    <div class="row space-before">
        <div class="col-12">
            <div *ngIf="documents.length == 0">
                <h3>No File Requested</h3>
            </div>
            <div *ngFor="let document of documents" class="space-before">
                <file-input label="{{ document }}" accept="file/*" [multiple]="true" [disabled]="isLoading()"
                            (onSelectFile)="onSelectFile(document, $event)" (onClearFile)="onClearFile(document, $event)">
                </file-input>
            </div>
        </div>
    </div>

    <hr>

    <!--Notes-->
    <h5>Notes and Additional Files</h5>
    <note-file-view [notes]="notes"
               [documents]="additionalDocuments"
               [label]="'Request Notes'"></note-file-view>
    <note-file-view [notes]="notesToSend"
               [documents]="additionalDocumentsToSend"
               [label]="'Response Notes'"
               [readonly]="isLoading()"></note-file-view>

    <hr>

    <!-- Action buttons -->
    <div class="row actions-row">
        <div class="col-4"></div>
        <div class="col-4 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
        <div class="col-2">
            <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary action" [disabled]="isLoading()"
                    (click)="responseToPpapRequest(true)">
                Send Response
            </button>
        </div>
    </div>

</div>