<div class="row space-before">
    <div class="col-12">
        <h4 class="space-after" i18n>Ppap Response</h4>
        <div *ngFor="let document of requestedDocuments" class="space-before">
            <file-input label="{{ document }}" accept="file/*" [multiple]="true" 
                presentationMode="view" [binaryObjects]="documents[document] || []">
            </file-input>
            
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <strong class="font-weight-500"><label>Request Notes:</label></strong>
    </div>
    <div class="col-9">
        <note-view [notes]="notesBuyer"></note-view>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <strong class="font-weight-500"><label>Request Notes:</label></strong>
    </div>
    <div class="col-9">
        <note-view [notes]="notes"></note-view>
    </div>
</div>

<hr>

<!-- Action buttons -->
<div *ngIf="isBuyer()" class="row actions-row">
    <div class="col-8"></div>
    <div class="col-2">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" (click)="onNextStep()">
            Next Step
        </button>
    </div>
</div>

<div *ngIf="!isBuyer()" class="row actions-row">
    <div class="col-10"></div>
    <div class="col-2">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
</div>
