<div>
    <ul class="nav nav-tabs">
        <!-- tabs specific to the ppap process -->
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Characteristics'}"
                    (click)="selectedTab = 'Product Characteristics'"
                    i18n
            >Product Characteristics</a>
        </li>
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Trading & Delivery Terms'}"
                    (click)="selectedTab = 'Product Trading & Delivery Terms'"
                    i18n
            >Product Trading & Delivery Terms</a>
        </li>
        <li *ngIf="!seller" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Ppap Select'}"
                    (click)="selectedTab = 'Ppap Select'"
                    i18n
            >Ppap Details</a>
        </li>
        <!-- tab for the seller -->
        <li *ngIf="bpDataService.ppapResponse && seller && bpDataService.ppapResponse.requestedDocument == null" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Ppap Upload'}"
                    (click)="selectedTab = 'Ppap Upload'"
                    i18n
            >Ppap Response</a>
        </li>
        <!-- tab for the seller and the buyer-->
        <li *ngIf="bpDataService.ppapResponse && bpDataService.ppapResponse.requestedDocument != null" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Ppap Download'}"
                    (click)="selectedTab = 'Ppap Download'"
                    i18n
            >Ppap Response Details</a>
        </li>
    </ul>
</div>
<bp-product-details *ngIf="selectedTab == 'Product Characteristics' || selectedTab == 'Product Trading & Delivery Terms'"
                    [catalogueLine]="bpDataService.catalogueLines[0]"
                    [presentationMode]="'singlevalue'"
                    [selectedTab]="selectedTab">
</bp-product-details>

<ppap-document-select *ngIf="selectedTab=='Ppap Select'"></ppap-document-select>
<ppap-document-upload *ngIf="selectedTab=='Ppap Upload'"></ppap-document-upload>
<ppap-document-download *ngIf="selectedTab=='Ppap Download'"></ppap-document-download>