<div class="row space-before">
    <div class="col-12">
        <h4 class="space-after" i18n>Ppap Response</h4>
        <div *ngIf="ppapDocuments.length > 0">
            <table class="table table-striped table-bordered">
                <tr><th>Document</th></tr>
                <tr *ngFor="let document of requestedDocuments">

                    <td class="d-flex">{{document}}

                        <button *ngIf="keys.indexOf(document) != -1" class="btn btn-success ml-auto"
                                (click)="downloadFile(document)">Download
                        </button>
                        <label *ngIf="keys.indexOf(document) == -1" class="ml-auto">No File Sent</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr>
<value-view class="row"
            [presentationMode]="'view'"
            [propName]="'Note From Buyer'"
            [(value)]="noteBuyer">
</value-view>
<value-view class="row"
            [presentationMode]="'view'"
            [propName]="'Note From Seller'"
            [(value)]="note">
</value-view>

