<div class="row space-before">
    <div class="col-12">
        <h4 class="space-after" i18n>Ppap Response</h4>
        <div *ngIf="ppapDocuments.length > 0">
            <table class="table table-striped table-bordered">
                <tr><th>Document</th></tr>
                <tr *ngFor="let document of requestedDocuments">

                    <td class="d-flex">{{document}}

                        <button *ngIf="keys.indexOf(document) != -1" class="btn btn-primary ml-auto"
                                (click)="downloadFile(document)">Download
                        </button>
                        <label *ngIf="keys.indexOf(document) == -1" class="ml-auto">No File Sent</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr>

<!-- Request note -->
<value-input class="form-group space-after" type="text" [(text)]="noteBuyer" label="Request Note" labelClass="col-2" 
    valueClass="col-10" disabled="true">
</value-input>

<hr>

<!-- Response note -->
<value-input class="form-group space-after" type="text" [(text)]="note" label="Response Note" labelClass="col-2" 
    valueClass="col-10" disabled>
</value-input>

<hr>

<!-- Action buttons -->
<div *ngIf="isBuyer()" class="row actions-row">
    <div class="col-8"></div>
    <div class="col-2">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" (click)="onNextStep()">
            Next Step
        </button>
    </div>
</div>

<div *ngIf="!isBuyer()" class="row actions-row">
    <div class="col-10"></div>
    <div class="col-2">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
</div>
