<div class="row space-before">
    <div class="col-12">
        <h4><span [innerHTML]="'Pick-up Address' | translate"></span></h4>
        <multi-address-input [address]="lineItem.delivery[0].shipment.originAddress" [disabled]="disabled" [deliveryTerms]="deliveryTerms"></multi-address-input>
    </div>
</div>

<!-- Destination Address -->
<div class="row">
    <div class="col-12">
        <h4><span [innerHTML]="'Drop-off Address' | translate"></span></h4>
        <multi-address-input [address]="lineItem.deliveryTerms.deliveryLocation.address" [disabled]="disabled" [deliveryTerms]="deliveryTerms"></multi-address-input>
    </div>
</div>
