<!-- Tabs -->
<div class="col-12 pt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href id="OVERVIEW" class="nav-link" [ngClass]="{ active: selectedTab === 'OVERVIEW'}" (click)="onSelectTab($event)">
                Transport Service Details
            </a>
        </li>
        <li class="nav-item">
            <a href id="ADDRESS" class="nav-link" [ngClass]="{ active: selectedTab === 'ADDRESS'}" (click)="onSelectTab($event)">
                Pick-up & Drop-off
            </a>
        </li>
        <li class="nav-item">
            <a href id="NEGOTIATION" class="nav-link" [ngClass]="{ active: selectedTab === 'NEGOTIATION'}" (click)="onSelectTab($event)">
                Negotiable Terms
            </a>
        </li>
    </ul>
</div>


<!-- Transport Service Details Tab -->
<ng-container *ngIf="selectedTab === 'OVERVIEW'">
    <transport-service-details [rfq]="rfq" [disabled]="isDisabled()">
    </transport-service-details>
</ng-container>


<!-- Address Tab -->
<ng-container *ngIf="selectedTab === 'ADDRESS'">
    <transport-negotiation-address [lineItem]="rfq.requestForQuotationLine[0].lineItem" [disabled]="isDisabled()">
    </transport-negotiation-address>
</ng-container>


<!-- Negotiable Terms Tab -->
<div *ngIf="selectedTab === 'NEGOTIATION'" class="row space-before">
    <div class="col-12">
        <h4 class="space-before">Negotiable Terms</h4>

        <!-- Price -->
        <quantity-input label="Price" [disabled]="isDisabled()" [quantity]="rfqPrice" [quantityUnits]="CURRENCIES" labelClass="col-2"
            valueClass="col-10" rowClass="space-before">
        </quantity-input>

        <!-- Payment Means -->
        <options-input label="Payment Means" description="Expected means of payment" [disabled]="isDisabled()" [(selected)]="rfq.paymentMeans.paymentMeansCode.value"
            [options]="PAYMENT_MEANS" rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </options-input>

        <!-- Payment Terms -->
        <options-input label="Payment Terms" [disabled]="isDisabled()" [(selected)]="rfqPaymentTerms.paymentTerm" [options]="PAYMENT_TERMS"
            rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </options-input>

        <!-- Incoterms -->
        <options-input label="Incoterms" definition="A set of international rules for the interpretation of the most commonly used trade terms"
            [(selected)]="rfq.requestForQuotationLine[0].lineItem.deliveryTerms.incoterms" [options]="INCOTERMS" [disabled]="isDisabled()"
            rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </options-input>

        <!-- Special Terms -->
        <text-input label="Special Terms" definition="A description of any terms or conditions relating to the delivery items.For example,exceeding the delivery period entitles the buyer to terminate the agreement."
            [(text)]="rfq.requestForQuotationLine[0].lineItem.deliveryTerms.specialTerms" [disabled]="isDisabled()" rowClass="space-before"
            labelClass="col-2" valueClass="col-10">
        </text-input>


        <hr>

        <!-- Delivery Period -->
        <quantity-input label="Delivery Period" definition="The period requested for delivery. It starts after the order confirmation.For example, Quantity: 2, Unit: weeks"
            [quantity]="rfq.requestForQuotationLine[0].lineItem.delivery[0].requestedDeliveryPeriod.durationMeasure" quantityType="time_quantity"
            labelClass="col-2" valueClass="col-10" [disabled]="isDisabled()" >
        </quantity-input>

        <!-- Service Start Date -->
        <date-input label="Pick-Up Date" definition="The period within which the services referred to in the Transport Execution Plan Request must begin."
            [(date)]="rfq.delivery.requestedDeliveryPeriod.startDate" rowClass="space-before" labelClass="col-2" valueClass="col-10" [disabled]="isDisabled()" >
        </date-input>

        <!-- Service End Date -->
        <date-input label="Drop-Off Date" definition="The period during which the services referred to in the Transport Execution Plan Request must be completed."
            [(date)]="rfq.delivery.requestedDeliveryPeriod.endDate" rowClass="space-before" labelClass="col-2" valueClass="col-10" [disabled]="isDisabled()" >
        </date-input>

        <hr>

        <!--Notes-->
        <h5>Notes and Additional Files</h5>
        <note-file-view [notes]="rfq.note"
                   [documents]="rfq.additionalDocumentReference"
                   [label]="'Notes'"
                   [firstCol]="'col-2'"
                   [lastCol]="'col-10'"
                   [readonly]="isDisabled()"></note-file-view>
    </div>
</div>


<hr>


<!-- Actions -->
<div *ngIf="!isWaitingForReply()" class="row actions-row">
    <div class="col-3 "></div>
    <div class="col-4 call-status-col">
        <call-status [callStatus]="callStatus"></call-status>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isDisabled()" (click)="onBack()">Back</button>
    </div>
    <div class="col-3" *ngIf="!updatingProcess">
        <button class="btn btn-primary action" [disabled]="isDisabled()" (click)="onSendRequest()">
            Send Request
        </button>
    </div>
    <div class="col-3" *ngIf="updatingProcess">
        <button class="btn btn-primary action"  (click)="onUpdateRequest()">
            Update Request
        </button>
    </div>
</div>

<div *ngIf="isWaitingForReply()" class="row actions-row">
    <div class="col-5 "></div>
    <div class="col-4 call-status-col">
        <call-status [callStatus]="callStatus"></call-status>
    </div>
    <div class="col-3">
        <button class="btn btn-secondary action" (click)="onBack()">Back</button>
    </div>
</div>