<!-- <div class="d-flex justify-content-end mt-3 mb-3">
    <div class="mr-auto">
        <h6 *ngIf="selectedCategories.length > 0" style="display: inline-block;"
            i18n>Selected category:</h6>
        <div *ngFor="let selectedCategory of selectedCategories"
                class="bordered inline space-right">
            {{selectedCategory.preferredName}}
            <button class="btn btn-sm btn-danger" (click)="categoryCancel(selectedCategory)">&times;</button>
        </div>
        <div (click)="addCategoryOnClick()"
                style="display: inline-block;">
            <i class="fa fa-plus-circle pointer"></i>
            <span *ngIf="selectedCategories.length == 0" i18n>Select a product category</span>
            <span *ngIf="selectedCategories.length > 0" i18n>Add another product category</span>
        </div>
    </div>
</div>
<div class="d-flex mt-3 mb-4">
    <label class="col-9">1. Download the product category template</label>
    <button class="btn btn-success col-3"
            (click)="downloadTemplate()">Download template
    </button>
</div>
<div class="d-flex mb-4">
    <label class="col-9">2. Select upload mode.
        <ul>
            <li>Append mode: Already published products are updated if newer versions are provided in the template, new products are appended to the current catalogue.</li>
            <li>Replace mode: All previously published items are deleted; and only the new ones are added to the catalogue.</li>
        </ul>
    </label>
    <select #uploadModeSelect class="col-3 btn btn-outline-secondary align-self-start" style="text-align-last:center;" (change)="checkMode(uploadModeSelect.value)">
        <option value="append">Append</option>
        <option value="replace">Replace</option>
    </select>
</div>
<div class="d-flex mb-4">
    <label class="col-9">3. Upload the template after filling it with your products' information
    </label>
    <input #template type="file" (change)="uploadTemplate($event, uploadModeSelect.value)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            style="display: none">
    <button class="btn btn-success col-3"
            (click)="template.click()">Upload template
    </button>
</div>
<div class="d-flex mb-4">
    <label class="col-9">4. Upload a "zip package" including product images. Each image must be suffixed with the identifier of the product. For example: pid1.imageFile.jpg, pid1.imageFile2.png, etc.
    </label>
    <input #imagePackage type="file" (change)="uploadImagePackage($event)"
            accept="application/zip"
            style="display: none">
    <button class="btn btn-success col-3 align-self-start"
            (click)="imagePackage.click()">Upload Image Package
    </button>
</div>
<div class="d-flex mt-4 mb-3">
    <label class="col-9">Download an example filled in template</label>
    <button class="btn btn-success col-3"
            (click)="downloadExampleTemplate()">Download example template
    </button>
</div>

<call-status [callStatus]="callStatus" [large]="true">
</call-status> -->