<div class="address-form" [formGroup]="addressForm">
	<!--
	<div class="form-group row d-none">
		<span class="col-2 col-form-label">
			<input type="checkbox" [(ngModel)]="addressForm.disabledFlag" [ngModelOptions]="{standalone:true}">
		</span>
		<div class="col-10">
			<span class="form-control">Disabled</span>
		</div>
	</div>
	-->
	<div class="form-group row">
		<strong class="col-2 col-form-label">Street Name:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="streetName" formControlName="streetName" [required]="!disabledFlag && requiredFlag" [readonly]="disabledFlag" placeholder="e.g. Main street">
		</div>
	</div>
	<div class="form-group row">
		<strong class="col-2 col-form-label">Building Number:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="buildingNumber" formControlName="buildingNumber" [required]="!disabledFlag && requiredFlag" [readonly]="disabledFlag" placeholder="e.g. 12b">
		</div>
	</div>
	<div class="form-group row">
		<strong class="col-2 col-form-label">City / Town:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="cityName" formControlName="cityName" [required]="!disabledFlag && requiredFlag" [readonly]="disabledFlag" placeholder="e.g. Austin">
		</div>
	</div>
	<div class="form-group row">
		<strong class="col-2 col-form-label">State / Province:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="region" formControlName="region" [readonly]="disabledFlag" placeholder="e.g. Texas">
		</div>
	</div>
	<div class="form-group row">
		<strong class="col-2 col-form-label">Postal code:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="postalCode" formControlName="postalCode" [required]="!disabledFlag && requiredFlag" [readonly]="disabledFlag" placeholder="e.g. 73301">
		</div>
	</div>
	<div class="form-group row">
		<strong class="col-2 col-form-label">Country:</strong>
		<div class="col-10">
			<input type="text" class="form-control" name="country" formControlName="country" [required]="!disabledFlag && requiredFlag" [readonly]="disabledFlag" [ngbTypeahead]="getSuggestions" placeholder="e.g. United States">
		</div>
	</div>
</div>
