<div class="address-form" [formGroup]="addressForm">
	<div class="input-group form-group hidden-xl-down">
		<span class="input-group-addon">
			<input type="checkbox" [(ngModel)]="addressForm.disabledFlag" [ngModelOptions]="{standalone:true}">
		</span>
		<span class="form-control">Disabled</span>
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">Street</label>
		<input type="text" class="form-control" name="streetName" formControlName="streetName" [required]="!addressForm.disabledFlag" [readonly]="addressForm.disabledFlag">
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">Building Number</label>
		<input type="text" class="form-control" name="buildingNumber" formControlName="buildingNumber" [readonly]="addressForm.disabledFlag">
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">City</label>
		<input type="text" class="form-control" name="cityName" formControlName="cityName" [required]="!addressForm.disabledFlag" [readonly]="addressForm.disabledFlag">
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">Postal code</label>
		<input type="text" class="form-control" name="postalCode" formControlName="postalCode" [required]="!addressForm.disabledFlag" [readonly]="addressForm.disabledFlag">
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">Country</label>
		<input type="text" class="form-control" name="country" formControlName="country" [required]="!addressForm.disabledFlag" [readonly]="addressForm.disabledFlag">
	</div>
</div>
