<div class="delivery-terms-form" [formGroup]="deliveryTermsForm">
    <div class="form-group col-xs-3">
        <label>Terms</label>
        <textarea type="text" class="form-control" formControlName="specialTerms"></textarea>
        <small [hidden]="deliveryTermsForm.controls.specialTerms.valid || deliveryTermsForm.controls.specialTerms.pristine"
               class="text-danger">
            Terms are required
        </small>
    </div>
    <div class="form-group col-xs-3">
        <label>Avergage delivery time in days (not working yet)</label>
        <input type="number" class="form-control" formControlName="estimatedDeliveryTime">
    </div>

    <h5>Delivery Address</h5>
    <div>
        <address-form [group]="deliveryTermsForm.controls.deliveryAddress"></address-form>
    </div>
</div>
