<div class="delivery-terms-form" [formGroup]="deliveryTermsForm">
	<div class="input-group form-group hidden-xl-down">
		<span class="input-group-addon">
			<input type="checkbox" [(ngModel)]="deliveryTermsForm.aM" [ngModelOptions]="{standalone:true}">
		</span>
		<span class="form-control">Deliver to company address</span>
	</div>
	<div [ngClass]="{'hidden-xl-down':deliveryTermsForm.aM,'':!deliveryTermsForm.aM}">
	    <address-form [group]="deliveryTermsForm.controls.deliveryAddress"></address-form>
    </div>
	<div class="input-group form-group">
		<label class="input-group-addon">Terms</label>
		<input type="text" class="form-control" formControlName="specialTerms">
	</div>
	<div class="input-group form-group">
		<label class="input-group-addon">Delivery time (days)</label>
		<input type="number" class="form-control" formControlName="estimatedDeliveryTime">
	</div>
</div>
