<div class="d-flex justify-content-end mb-2">
    <h2 class="mr-auto">My Catalogue</h2>
    <call-status [callStatus]="deleteCatalogueStatus"
        class="d-flex">

    </call-status>
    <button *ngIf="catalogue && catalogue.catalogueLine.length > 0"
            class="btn btn-danger ml-3"
            (click)="onDeleteCatalogue()">Delete Catalogue
    </button>
</div>

<!-- *ngIf div to wait for asynchronous data -->
<div *ngIf="catalogue">
    <div *ngIf="catalogue.catalogueLine.length > 0">
        <!--<p>Issue date: {{catalogue.issueDate}}</p>-->
        <catalogue-line-panel *ngFor="let line of catalogue.catalogueLine"
                             [catalogueLine]="line"
                             [presentationMode]="'view'">
        </catalogue-line-panel>
    </div>
    <h3 *ngIf="catalogue.catalogueLine.length <= 0">No published products.</h3>
</div>
<call-status [callStatus]="getCatalogueStatus"
                [large]="true">

</call-status>