<div class="well" *ngIf="show">

    <div class="d-flex mt-3 mb-3" (click)="show = false;showChange.emit(false)">
        <h4 class="mr-auto"><u>{{selectItemName(catalogueLine.goodsItem.item)}}</u></h4>
        <!-- catalogue lines are in view mode in catalogue view -->
        <ng-container *ngIf="presentationMode == 'view'">
            <div class="mr-1"><button type="button" class="btn btn-danger" (click)="deleteCatalogueLine()">Delete</button></div>
            <div ><button type="button" class="btn btn-primary" (click)="redirectToEdit()">Edit</button></div>
        </ng-container>
    </div>

    <product-details-tabs [wrapper]="productWrapper" [showOverview]="true"
                          [settings]="settings" [options]="" [readonly]="true">
    </product-details-tabs>
</div>
