<div class="container well">

    <div class="d-flex mt-3 mb-3">
        <h4 class="mr-auto"><u>Product Overview</u></h4>
        <!-- catalogue lines are in view mode in catalogue view -->
        <ng-container *ngIf="presentationMode == 'view'">
            <div class="mr-1"><button type="button" class="btn btn-success" (click)="deleteCatalogueLine()">Delete</button></div>
            <div ><button type="button" class="btn btn-success" (click)="redirectToEdit()">Edit</button></div>
        </ng-container>
    </div>

    <catalogue-line-view [presentationMode]="presentationMode"
                        [catalogueLine]="catalogueLine">
    </catalogue-line-view>
</div>