<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 *ngIf="mode == 'delete'" class="modal-title"><span [innerHTML]="'Delete Catalogues' | translate"></span></h5>
        <h5 *ngIf="mode == 'export'" class="modal-title"><span [innerHTML]="'Export Catalogues' | translate"></span></h5>
        <button type="button" class="close" aria-label="Close" (click)="d('cross')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <call-status [callStatus]="catalogueRetrievalCallStatus"></call-status>
        <div *ngFor="let id of catalogueIds" class="d-flex">
            <input class="id-checkbox" type="checkbox" [(ngModel)]="selectedIdMap[id]">
            <span>{{id}}</span>
        </div>
        <call-status [callStatus]="catalogueOperationCallStatus"></call-status>
    </div>
    <div class="modal-footer">
        <button *ngIf="mode == 'delete'" type="button" class="btn btn-primary" (click)="onDeleteClicked(d);">
            <span><span [innerHTML]="'Delete Selected Catalogues' | translate"></span></span>
        </button>
        <button *ngIf="mode == 'export'" type="button" class="btn btn-primary" (click)="onExportClicked(d);">
            <span><span [innerHTML]="'Export Selected Catalogues' | translate"></span></span>
        </button>
    </div>
</ng-template>