.column-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.title-row {
    padding: 0rem 0.3rem 0.3rem 0.3rem;
    border-bottom: 1px solid gray;
}

.content-row {
    padding: 0.3rem;
}

.input-spacer {
    margin-bottom: 0.6rem;
}
