<div class="well">
    <!-- TODO: make a new component to render the following four items e.g. price-view.component -->
    <h5 class="mb-3">Price / Requested Quantity</h5>

    <!-- Price Amount -->
    <amount-view [presentationMode]="presentationMode"
                 [propName]="'Price for Base Quantity'"
                 [definition]="'The price of the product requested for the base quantity'"
                 [amount]="[lineItem.price.priceAmount]">
    </amount-view>

    <!-- Price Base Quantity -->
    <quantity-view [presentationMode]="presentationMode"
                   [propName]="'Base Quantity'"
                   [definition]="'The base quantity for which a price is a specified.\nFor example, charging €5,00 for a base quantity of 1m2 indicates the total price of 3m2 product is charged with €15,00.\nExample:i.e.,Quantity:1,Unit:m2.'"
                   [quantity]="[lineItem.price.baseQuantity]">
    </quantity-view>

    <!-- Requested quantity -->
    <quantity-view [propName]="'Requested Quantity'"
                   [definition]="'The requested quantity of the product'"
                   [quantity]="[lineItem.quantity]"
                   [presentationMode]="presentationMode">
    </quantity-view>

    <!-- Total Price -->
    <quantity-value-view
            *ngIf="lineItem.price.baseQuantity.unitCode == lineItem.quantity.unitCode && lineItem.price.baseQuantity.value"
            [propName]="'Total Price'"
            [definition]="'Total price for the requested quantity'"
            [value]="lineItem.price.priceAmount.value * lineItem.quantity.value / lineItem.price.baseQuantity.value"
            [unitType]="'Currency'"
            [unit]="lineItem.price.priceAmount.currencyID">
    </quantity-value-view>
</div>

<div class="well">
    <h5>Delivery Terms</h5>

    <!-- Incoterms -->
    <value-view *ngIf="presentationMode != 'edit'"
                [presentationMode]="'view'"
                [propName]="'Incoterms'"
                [definition]="'A set of international rules for the interpretation of the most commonly used trade terms'"
                [(value)]="lineItem.deliveryTerms.incoterms">
    </value-view>

    <ng-container *ngIf="presentationMode == 'edit'">
        <div class="input-group form-group">
            <label class="col-3">Incoterms
                <span class="label label-default" title="A set of international rules for the interpretation of the most commonly used trade terms">
                    &#9432;
                </span>
            </label>
            <select class="form-control custom-select" [(ngModel)]="lineItem.deliveryTerms.incoterms">
                <option></option>
                <option>CIF (Cost, Insurance and Freight)</option>
                <option>CIP (Carriage and Insurance Paid to)</option>
                <option>CFR (Cost and Freight)</option>
                <option>CPT (Carriage paid to)</option>
                <option>DAT (Delivered at Terminal)</option>
                <option>DAP (Delivered at Place)</option>
                <option>DDP (Delivery Duty Paid)</option>
                <option>EXW (Ex Works)</option>
                <option>FAS (Free Alongside Ship)</option>
                <option>FCA (Free Carrier)</option>
                <option>FOB (Free on Board)</option>
            </select>
        </div>
    </ng-container>

    <!-- Request delivery period -->
    <quantity-view [presentationMode]="presentationMode"
                   [propName]="'Requested Delivery Period'"
                   [definition]="'The period requested for delivery.It starts after the order confirmation.For example,Quantity:2,Unit:weeks'"
                   [quantity]="[lineItem.delivery[0].requestedDeliveryPeriod.durationMeasure]">
    </quantity-view>

    <!-- Delivery Location -->
    <location-view [propName]="'Delivery Location'"
                   [processMetadataNull]="processMetadataNull"
                   [presentationMode]="presentationMode"
                   [deliveryAddress]="lineItem.deliveryTerms.deliveryLocation.address">
    </location-view>

    <!-- Special terms -->
    <value-view [presentationMode]="presentationMode"
                [propName]="'Special Terms'"
                [definition]="'A description of any terms or conditions relating to the delivery items.For example,exceeding the delivery period entitles the buyer to terminate the agreement.'"
                [(value)]="lineItem.deliveryTerms.specialTerms">
    </value-view>
</div>

<!-- Warranty -->
<div class="well">
    <h5>Warranty</h5>
    <!-- Validity period -->
    <quantity-view [presentationMode]="presentationMode"
                   [propName]="'Validity Period'"
                   [definition]="'A period during which this price is valid,e.g.,Quantity:10,Unit:days'"
                   [quantity]="[lineItem.warrantyValidityPeriod.durationMeasure]">
    </quantity-view>

    <!-- Warranty information -->
    <value-array-view [presentationMode]="presentationMode"
                      [propName]="'Warranty information'"
                      [(values)]="lineItem.warrantyInformation">
    </value-array-view>
</div>