<!-- Titles -->
<div class="row title-row">
    <div class="col-2"></div>
    <div class="col-5">
        <h3>Manufacturer's Terms</h3>
    </div>
    <div class="col-5">
        <h3>Counter Offer</h3>
    </div>
</div>

<!-- Delivery Period -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Delivery Period:</strong>
    </div>
    <div class="col-5">
        {{ line.goodsItem.deliveryTerms.estimatedDeliveryPeriod.durationMeasure.value }} 
        {{ line.goodsItem.deliveryTerms.estimatedDeliveryPeriod.durationMeasure.unitCode }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Delivery Period" [(cbModel)]="options.negotiation.deliveryPeriod" 
            id="deliveryCb" [(text)]="deliveryText">
        </negotiation-request-input>
    </div>
</div>

<!-- Waranty -->
<div class="row content-row">
    <div class="col-2">
        <strong>Waranty:</strong>
    </div>
    <div class="col-5">
        {{ getManufacturerWaranty() }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Waranty" [(cbModel)]="options.negotiation.waranty" 
            id="warantyCb" [(text)]="deliveryText">
        </negotiation-request-input>
    </div>
</div>

<!-- Incoterms -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Request Incoterms:</strong>
    </div>
    <div class="col-5">
        {{ line.goodsItem.deliveryTerms.incoterms }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Incoterms" [(cbModel)]="options.negotiation.incoterms" 
            id="incotermsCb" [options]="INCOTERMS">
        </negotiation-request-input>
    </div>
</div>

<!-- Quantity -->
<div class="row content-row">
    <div class="col-2">
        <strong>Quantity:</strong>
    </div>
    <div class="col-5">
        <input type="number" [(ngModel)]="options.quantity" class="form-control form-control-sm" />
        <div class="input-spacer"></div>
        <input type="range" [(ngModel)]="options.quantity" class="form-control-range" />
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Payment Terms" [(cbModel)]="options.negotiation.paymentTerms" 
            id="paymentTermsCb" [(text)]="deliveryText">
        </negotiation-request-input>
        <div class="input-spacer"></div>
        <negotiation-request-input label="Request Payment Means" [(cbModel)]="options.negotiation.paymentMeans" 
            id="paymentMeansCb" [(text)]="deliveryText">
        </negotiation-request-input>
    </div>
</div>

<!-- Price -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Price:</strong>
    </div>
    <div class="col-5">
        {{ line.requiredItemLocationQuantity.price.priceAmount.value }} {{ line.requiredItemLocationQuantity.price.priceAmount.currencyID }} 
        for {{ line.requiredItemLocationQuantity.price.baseQuantity.value }} {{ line.requiredItemLocationQuantity.price.baseQuantity.unitCode }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Price" [(cbModel)]="options.negotiation.price" id="priceCb" [(text)]="deliveryText">
        </negotiation-request-input>
    </div>
</div>

<!-- Delivery -->
<div class="row">
    <div class="col-12">
        <h3>Delivery Address</h3>
        <negotiation-address [address]="bpDataService.requestForQuotation.delivery.deliveryAddress">
        </negotiation-address>
    </div>
</div>

<!-- Actions -->
<div class="row actions-row">
    <div class="col-8"></div>
    <div class="col-2"><button class="btn btn-secondary action">Back</button></div>
    <div class="col-2"><button class="btn btn-primary action">Send</button></div>
</div>