<!-- Titles -->
<div class="row title-row">
    <div class="col-2"></div>
    <div class="col-5">
        <h4>Manufacturer's Terms</h4>
    </div>
    <div class="col-5">
        <h4>Counter Offer</h4>
    </div>
</div>

<!-- Delivery Period -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Delivery Period:</strong>
    </div>
    <div class="col-5">
        {{ wrapper.lineDeliveryPeriod.value }} 
        {{ wrapper.lineDeliveryPeriod.unitCode }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Delivery Period" [(cbModel)]="rfq.negotiationOptions.deliveryPeriod" [disabled]="isLoading() || isReadOnly()"
            id="deliveryCb" [quantity]="wrapper.rfqDeliveryPeriod" quantityType="time_quantity">
        </negotiation-request-input>
    </div>
</div>

<!-- Warranty -->
<div class="row content-row">
    <div class="col-2">
        <strong>Warranty:</strong>
    </div>
    <div class="col-5">
        {{ wrapper.lineWarrantyString }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Warranty" [(cbModel)]="rfq.negotiationOptions.warranty" [disabled]="isLoading() || isReadOnly()"
            id="warrantyCb" [quantity]="wrapper.rfqWarranty" quantityType="time_quantity">
        </negotiation-request-input>
    </div>
</div>

<!-- Incoterms -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Request Incoterms:</strong>
    </div>
    <div class="col-5">
        {{ wrapper.lineIncoterms }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Incoterms" [(cbModel)]="rfq.negotiationOptions.incoterms" [disabled]="isLoading() || isReadOnly()"
            id="incotermsCb" [options]="INCOTERMS" [(selected)]="wrapper.rfqIncoterms">
        </negotiation-request-input>
    </div>
</div>

<!-- Quantity -->
<div class="row content-row">
    <div class="col-2">
        <strong>Quantity:</strong>
    </div>
    <div class="col-5">
        <input type="number" [(ngModel)]="requestedQuantity" class="form-control form-control-sm" [disabled]="isLoading() || isReadOnly()" />
        <div class="input-spacer"></div>
        <input type="range" [(ngModel)]="requestedQuantity" class="form-control-range" 
            [max]="getMaximumQuantity()" [step]="getPriceSteps()" [disabled]="isLoading() || isReadOnly()"/>
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Payment Terms" [(cbModel)]="rfq.negotiationOptions.paymentTerms" 
            id="paymentTermsCb" [options]="PAYMENT_TERMS" [(selected)]="wrapper.rfqPaymentTerms" [disabled]="isLoading() || isReadOnly()">
        </negotiation-request-input>
        <div class="input-spacer"></div>
        <negotiation-request-input label="Request Payment Means" [(cbModel)]="rfq.negotiationOptions.paymentMeans" 
            id="paymentMeansCb" [options]="PAYMENT_MEANS" [(selected)]="wrapper.rfqPaymentMeans" [disabled]="isLoading() || isReadOnly()">
        </negotiation-request-input>
    </div>
</div>

<!-- Price -->
<div class="row content-row bg-light">
    <div class="col-2">
        <strong>Price:</strong>
    </div>
    <div class="col-5">
        {{ wrapper.linePrice.priceAmount.value }} {{ wrapper.linePrice.priceAmount.currencyID }} 
        for {{ wrapper.linePrice.baseQuantity.value }} {{ wrapper.linePrice.baseQuantity.unitCode }}
    </div>
    <div class="col-5">
        <negotiation-request-input label="Request Price" [(cbModel)]="negotiatePrice" id="priceCb" [disabled]="isLoading() || isReadOnly()"
            [(amount)]="negotiatedPrice" [amountUnit]="wrapper.linePrice.priceAmount.currencyID">
        </negotiation-request-input>
    </div>
</div>

<!-- Delivery -->
<div class="row">
    <div class="col-12">
        <h4>Delivery Address</h4>
        <negotiation-address [address]="rfq.delivery.deliveryAddress" [disabled]="isLoading() || isReadOnly()">
        </negotiation-address>
    </div>
</div>

<!-- Actions -->
<div *ngIf="!isWaitingForReply()" class="row actions-row">
    <div class="col-4 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
    <div class="col-3 price-col">Total Price: {{ totalPrice }} {{ wrapper.rfqPriceAmount.currencyID }}</div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()"(click)="onBack()">Back</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary action" [disabled]="isLoading()" (click)="onSendRequest()">
            {{ rfq.negotiationOptions.isNegotiatingAnyTerm() ? "Send Request" : "Continue With Manufacturer's Terms" }}
        </button>
    </div>
</div>

<div *ngIf="isWaitingForReply()" class="row actions-row">
    <div class="col-7"></div>
    <div class="col-3 price-col">Requested Price: {{ totalPrice }} {{ wrapper.rfqPriceAmount.currencyID }}</div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()"(click)="onBack()">Back</button>
    </div>
</div>