<div class="row address-row">
    <div class="col-2">
        <label><strong class="font-weight-500">Street:</strong></label>
    </div>
    <div class="col-10">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="address.streetName" [disabled]="disabled">
    </div>
</div>

<div class="row address-row">
    <div class="col-2">
        <label><strong class="font-weight-500">Building Number:</strong></label>
    </div>
    <div class="col-4">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="address.buildingNumber" [disabled]="disabled">
    </div>
    <div class="col-2">
        <label><strong class="font-weight-500">City:</strong></label>
    </div>
    <div class="col-4">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="address.cityName" [disabled]="disabled">
    </div>
</div>

<div class="row address-row">
    <div class="col-2">
        <label><strong class="font-weight-500">Postal Code:</strong></label>
    </div>
    <div class="col-4">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="address.postalZone" [disabled]="disabled">
    </div>
    <div class="col-2">
        <label><strong class="font-weight-500">Country:</strong></label>
    </div>
    <div class="col-4">
        <input class="form-control form-control-sm" type="text" [(ngModel)]="address.country.name" [disabled]="disabled">
    </div>
</div>
