<div class="row title-row">
    <div class="col-3"></div>
    <div class="col-3">
        <h3 *ngIf="!isTermDropDownVisible()" class="font-weight-600"><span [innerHTML]="'Product Defaults' | translate"></span></h3>
        <select [hidden]="!isTermDropDownVisible()"
                #termSelectBox class="btn btn-outline-secondary"
                [(ngModel)]="primaryTermsSource">
            <option *ngIf="lastOfferQuotation" value="last_offer"><span [innerHTML]="'Last Offer' | translate"></span></option>
            <option *ngIf="frameContractQuotation && !frameContractNegotiation" value="frame_contract"><span [innerHTML]="'Frame Contract' | translate"></span></option>
            <option value="product_defaults"><span [innerHTML]="'Product Defaults' | translate"></span></option>
        </select>
    </div>
    <div class="col-3"><h3 class="font-weight-600"><span [innerHTML]="'Customer Request' | translate"></span></h3></div>
    <div class="col-3"><h3 class="font-weight-600"><span [innerHTML]="'Producer Response' | translate"></span></h3></div>
</div>

<!--Warranty-->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'warranty')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Warranty' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">{{ isCatalogueLineDeleted ? "Not available" : wrapper.lineWarrantyString }}</div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.warrantyString}}</div>
        <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.lastOfferQuotationWrapper.warrantyString}}</div>
    </ng-container>
    <div class="col-3">{{ wrapper.rfqWarrantyString }}</div>
    <div class="col-3 {{wrapper.checkEqualForResponse('warranty') ? 'bg-white':'bg-danger'}}">
        <quantity-input *ngIf="isSellerTermsVisible()"
                        [presentationMode]="getPresentationMode()"
                        [disabled]="isDisabled()" [quantity]="wrapper.newQuotationWrapper.warranty" quantityType="warranty_period">
        </quantity-input>
    </div>
</div>
<!--Incoterms-->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'incoTerms')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Incoterms' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">{{ isCatalogueLineDeleted ? "Not available": wrapper.lineIncoterms }}</div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.incotermsString}}</div>
        <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.lastOfferQuotationWrapper.incotermsString}}</div>
    </ng-container>
    <div class="col-3">{{ wrapper.rfqIncoterms }}</div>
    <div class="col-3 {{wrapper.checkEqualForResponse('incoTerms') ? 'bg-white':'bg-danger'}}">
        <options-input *ngIf="isSellerTermsVisible()"
                       [presentationMode]="getPresentationMode()"
                       [disabled]="isDisabled()" [options]="wrapper.sellerSettings.incoterms" [(selected)]="wrapper.newQuotationWrapper.incoterms">
        </options-input>
    </div>
</div>
<!--Payment Terms-->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'paymentTerms')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Payment Terms' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">{{ wrapper.linePaymentTerms }}</div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.paymentTermsWrapper.paymentTerm}}</div>
        <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.lastOfferQuotationWrapper.paymentTermsWrapper.paymentTerm}}</div>
    </ng-container>
    <div class="col-3">{{ wrapper.rfqPaymentTerms.paymentTerm }}</div>
    <div class="col-3 {{wrapper.checkEqualForResponse('paymentTerms') ? 'bg-white':'bg-danger'}}">
        <options-input *ngIf="isSellerTermsVisible()"
                       [presentationMode]="getPresentationMode()"
                       [disabled]="isDisabled()" [options]="wrapper.sellerSettings.paymentTerms"
                       [(selected)]="wrapper.newQuotationWrapper.paymentTermsWrapper.paymentTerm">
        </options-input>
    </div>
</div>
<!--Payment Means-->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'paymentMeans')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Payment Means' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">{{ wrapper.linePaymentMeans }}</div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.paymentMeans}}</div>
        <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.lastOfferQuotationWrapper.paymentMeans}}</div>
    </ng-container>
    <div class="col-3">{{ wrapper.rfqPaymentMeans }}</div>
    <div class="col-3 {{wrapper.checkEqualForResponse('paymentMeans') ? 'bg-white':'bg-danger'}}">
        <options-input *ngIf="isSellerTermsVisible()"
                       [presentationMode]="getPresentationMode()"
                       [disabled]="isDisabled()" [options]="wrapper.sellerSettings.paymentMeans" [(selected)]="wrapper.newQuotationWrapper.paymentMeans">
        </options-input>
    </div>
</div>
<!--Data monitoring service requested-->
<div class="row content-row" *ngIf="config.dataChannelsEnabled">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Data monitoring service requested' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3"></div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.dataMonitoringPromisedString}}</div>
        <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.rfqDataMonitoringRequested ? wrapper.lastOfferQuotationWrapper.dataMonitoringPromisedString : ''}}</div>
    </ng-container>
    <div *ngIf="wrapper.rfqDataMonitoringRequested" class="col-3"><b><span [innerHTML]="'Requested' | translate"></span></b></div>
    <div *ngIf="!wrapper.rfqDataMonitoringRequested" class="col-3"><span [innerHTML]="'Not Requested' | translate"></span></div>

    <!-- Manufacturer's response -->
    <ng-container *ngIf="wrapper.rfqDataMonitoringRequested">
        <div class="col-3 {{wrapper.checkEqualForResponse('dataMonitoring') ? 'bg-white':'bg-danger'}}" *ngIf="!isReadOnly()">
            <input type="checkbox" [(ngModel)]="quotation.quotationLine[wrapper.lineIndex].lineItem.dataMonitoringRequested"
                   [disabled]="isDisabled()">
            <label><span [innerHTML]="'Provide data monitoring service' | translate"></span></label>
        </div>
        <div class="col-3" *ngIf="isReadOnly() && isSellerTermsVisible()">
            <label *ngIf="quotation.quotationLine[wrapper.lineIndex].lineItem.dataMonitoringRequested"><strong class="font-weight-500"><span [innerHTML]="'Confirmed' | translate"></span></strong>.</label>
            <label *ngIf="!quotation.quotationLine[wrapper.lineIndex].lineItem.dataMonitoringRequested"><strong class="font-weight-500"><span [innerHTML]="'Not Confirmed' | translate"></span></strong>.</label>
        </div>
    </ng-container>
</div>
<!--Quantity-->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'quantity')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Quantity' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3"></div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">
            {{ wrapper.frameContractQuotationWrapper.orderedQuantity.value }} {{wrapper.frameContractQuotationWrapper.orderedQuantity.unitCode}}
        </div>
        <div *ngSwitchCase="'last_offer'" class="col-3">
            {{ wrapper.lastOfferQuotationWrapper.orderedQuantity.value }} {{wrapper.lastOfferQuotationWrapper.orderedQuantity.unitCode}}
        </div>
    </ng-container>
    <div class="col-3">{{rfq.requestForQuotationLine[wrapper.lineIndex].lineItem.quantity.value}} {{rfq.requestForQuotationLine[wrapper.lineIndex].lineItem.quantity.unitCode}}</div>
    <div class="col-3 {{wrapper.checkEqualForResponse('quantity') ? 'bg-white':'bg-danger'}}" *ngIf="isSellerTermsVisible()">
        <span class="order-qty-input">
            <quantity-input [disableQuantityUnit]="true" [quantity]="wrapper.newQuotationWrapper.orderedQuantity" [step]="1" [presentationMode]="getPresentationMode()" (onQuantityValueChange)="onQuotationPriceUpdated()"></quantity-input>
        </span>
    </div>
</div>

<!-- Net Price -->
<div class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'price')}">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Net Total Price' | translate"></span>:</strong></div>
    <!-- Original terms -->
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">
            {{isCatalogueLineDeleted ? "Not available" : wrapper.lineDiscountPriceWrapper.totalPriceString }}<br/>
            <small *ngIf="!isCatalogueLineDeleted">( {{ wrapper.lineDiscountPriceWrapper.discountedPricePerItemString }} )</small>
        </div>
        <div *ngSwitchCase="'frame_contract'" class="col-3">
            {{ wrapper.frameContractQuotationWrapper.priceWrapper.totalPriceString }}<br/>
            <small>( {{ wrapper.frameContractQuotationWrapper.priceWrapper.pricePerItemString }} )</small>
        </div>
        <div *ngSwitchCase="'last_offer'" class="col-3">
            {{ wrapper.lastOfferQuotationWrapper.priceWrapper.totalPriceString }}<br/>
            <small>( {{ wrapper.lastOfferQuotationWrapper.priceWrapper.pricePerItemString }} )</small>
        </div>
    </ng-container>
    <!-- Customer's request -->
    <div class="col-3">
        {{ wrapper.rfqTotalPriceString }}<br/>
        <small>( {{ wrapper.rfqPricePerItemString}} )</small>
    </div>
    <!-- Seller's response -->
    <!--<div class="col-3" [ngClass]="wrapper.quotationDiscountPriceWrapper.appliedDiscounts.length > 0 ? 'd-flex' : null">-->
    <div class="col-3 {{wrapper.checkEqualForResponse('price') ? 'bg-white':'bg-danger'}}">
        <ng-container *ngIf="getPresentationMode() == 'edit'">
            <quantity-input [presentationMode]="'edit'" [disabled]="isDisabled()"
                            [quantity]="quotationTotalPrice" [quantityUnits]="CURRENCIES"
                            (onQuantityValueChange)="onQuotationPriceUpdated()"
                            [step]="0.01"
                            [disableQuantityUnit]="wrapper.lineDiscountPriceWrapper.itemPrice.hasPrice()">
            </quantity-input>
            <small>( {{ wrapper.newQuotationWrapper.priceWrapper.pricePerItemString}} )</small>
            <span *ngIf="isDiscountIconVisibleInCustomerRequestColumn()" class="space-left" data-toggle="tooltip" data-placement="top" (click)="openDiscountModal()" title="Applied Discounts/Charges" style="cursor: pointer">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
        </ng-container>
        <ng-container *ngIf="getPresentationMode() == 'view' && isSellerTermsVisible()">
            {{ wrapper.newQuotationWrapper.priceWrapper.totalPriceString }}
            <span *ngIf="isDiscountIconVisibleInCustomerRequestColumn()" class="space-left" data-toggle="tooltip" data-placement="top" (click)="openDiscountModal()" title="Applied Discounts/Charges" style="cursor: pointer">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <br/>
            <small>( {{ wrapper.newQuotationWrapper.priceWrapper.pricePerItemString}} )</small>
        </ng-container>
        <!--{{ wrapper.newQuotationWrapper.priceWrapper.totalPriceString }}<br/>-->
        <!--<small>( {{ wrapper.newQuotationWrapper.priceWrapper.pricePerItemString}} )</small>-->
        <!--{{ wrapper.quotationDiscountPriceWrapper.totalPriceString }}<br/>-->
        <!--<small>( {{ wrapper.quotationDiscountPriceWrapper.pricePerItemString}} )</small>-->
    </div>
</div>

<!-- VAT -->
<!--<div class="row content-row">-->
<!--<div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'VAT' | translate"></span>:</strong></div>-->
<!--<ng-container [ngSwitch]="primaryTermsSource">-->
<!--<div *ngSwitchCase="'product_defaults'" class="col-3">-->
<!--{{ wrapper.lineDiscountPriceWrapper.vatTotalString }}-->
<!--</div>-->
<!--<div *ngSwitchCase="'frame_contract'" class="col-3"></div>-->
<!--<div *ngSwitchCase="'last_offer'" class="col-3">-->
<!--{{ wrapper.lastOfferQuotationWrapper.priceWrapper.vatTotalString }}-->
<!--</div>-->
<!--</ng-container>-->
<!--<div class="col-3">-->
<!--{{ wrapper.rfqVatTotalString}}-->
<!--</div>-->
<!--<div class="col-3">-->
<!--{{ wrapper.quotationDiscountPriceWrapper.vatTotalString}}-->
<!--</div>-->
<!--</div>-->


<!-- Gross total price -->
<div *ngIf="config.vatEnabled" class="row content-row mb-3">
    <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Gross Total' | translate"></span>:</strong></div>
    <ng-container [ngSwitch]="primaryTermsSource">
        <div *ngSwitchCase="'product_defaults'" class="col-3">
            {{ isCatalogueLineDeleted ? "Not available" : wrapper.lineDiscountPriceWrapper.grossTotalString }}
        </div>
        <div *ngSwitchCase="'frame_contract'" class="col-3"></div>
        <div *ngSwitchCase="'last_offer'" class="col-3">
            {{ wrapper.lastOfferQuotationWrapper.priceWrapper.grossTotalString }}
        </div>
    </ng-container>
    <div class="col-3">
        {{ wrapper.rfqGrossTotalString }}
    </div>
    <div class="col-3">
        {{ wrapper.quotationDiscountPriceWrapper.grossTotalString}}
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
        <div class="btn align-self-start ml-2" [ngClass]="{'btn-outline-primary':!tcChanged,'btn-danger':tcChanged,'active':showTermsAndConditions}" (click)="showTermsAndConditions=showTab(showTermsAndConditions)"><span [innerHTML]="'Terms and Conditions' | translate"></span></div>
        <ng-container *ngIf="isFrameContractPanelVisible()">
            <div class="btn btn-danger align-self-start ml-2" [ngClass]="{'active':showFrameContractDetails}" (click)="showFrameContractDetails=showTab(showFrameContractDetails)"><span [innerHTML]="'Frame Contract' | translate"></span></div>
        </ng-container>
        <div class="btn align-self-start ml-2 {{highlightDeliveryDetailsTab() ? 'bg-danger':'btn-outline-primary'}}"
             [ngClass]="{'active':showDeliveryDetails}" (click)="showDeliveryDetails=showTab(showDeliveryDetails)"><span [innerHTML]="'Delivery Details' | translate"></span></div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">

        <!-- Frame contract -->
        <ng-container *ngIf="isFrameContractPanelVisible()">
            <ng-container *ngIf="showFrameContractDetails">
                <div class="ml-2">
                    <div class="row">
                        <div class="col-3">
                            <strong class="font-weight-500"><span [innerHTML]="'Frame Contract' | translate"></span>:</strong>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <quantity-input [rowClass]="'space-before'"
                                            [label]="'Valid for'"
                                            [labelClass]="'col-5'"
                                            [valueClass]="'col-7'"
                                            [valueSizeClass]="'col-5'"
                                            [unitSizeClass]="'col-7'"
                                            [definition]="'The period within which the offered conditions will be valid upon confirmation by the seller.'"
                                            [quantity]="wrapper.rfqFrameContractDuration"
                                            [disabled]="true">
                            </quantity-input>
                        </div>
                        <div class="col-3">
                            <ng-container *ngIf="isSellerTermsVisible()">
                                <quantity-input rowClass="space-before {{!wrapper.checkEqualForResponse('frameContract') ? 'bg-danger': ''}}"
                                                [label]="'Valid for'"
                                                [labelClass]="'col-5'"
                                                [valueClass]="'col-7'"
                                                [valueSizeClass]="'col-5'"
                                                [unitSizeClass]="'col-7'"
                                                [definition]="'The period within which the offered conditions will be valid upon confirmation by the seller.'"
                                                [quantity]="wrapper.newQuotationWrapper.frameContractDuration"
                                                [quantityType]="'frame_contract_period'"
                                                [disabled]="isReadOnly()">
                                </quantity-input>
                                <text-input [rowClass]="'space-before'"
                                            [rows]="1"
                                            [label]="'Until'"
                                            [labelClass]="'col-5'"
                                            [valueClass]="'col-7'"
                                            [definition]="'The date until which the frame contract will be valid.'"
                                            [disabled]="true"
                                            [text]="getContractEndDate()">
                                </text-input>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- Terms and conditions -->
        <div [hidden]="!showTermsAndConditions||!defaultTermsAndConditions" class="ml-2">
            <ul *ngIf="getNonFrameContractTermNumber() > 0" class="nav nav-tabs space-after space-before">
                <li class="nav-item">
                    <a href id="CUSTOM_TERMS" class="nav-link"
                       [ngClass]="{ active: selectedTCTab === 'CUSTOM_TERMS'}"
                       (click)="onTCTabSelect($event,'CUSTOM_TERMS')">
                        <span [innerHTML]="'Custom Terms' | translate"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href id="CLAUSES" class="nav-link"
                       [ngClass]="{ active: selectedTCTab === 'CLAUSES'}"
                       (click)="onTCTabSelect($event,'CLAUSES')">
                        <span [innerHTML]="'Clauses' | translate"></span>
                    </a>
                </li>
            </ul>

            <ng-container *ngIf="selectedTCTab == 'CUSTOM_TERMS' && getNonFrameContractTermNumber() > 0">
                <ng-container *ngFor="let tradingTerm of wrapper.newQuotation.quotationLine[wrapper.lineIndex].lineItem.tradingTerms">
                    <div *ngIf="tradingTerm.id != 'FRAME_CONTRACT_DURATION'" class="row"
                         [ngClass]="{'bg-danger text-white':!areTermsEqual(tradingTerm.id)}">
                        <div class="col-3">
                            <strong class="font-weight-500">{{tradingTerm.id}}:</strong>
                            <span *ngIf="tradingTerm.description.length > 0" [title]="tradingTerm.description[0].value">&#9432;</span>
                        </div>
                        <div class="col-3">
                            <ng-container [ngSwitch]="primaryTermsSource">
                                <div *ngSwitchCase="'frame_contract'" class="col-3">
                                    <multi-type-input [multiTypeValue]="wrapper.frameContractQuotationWrapper.getTradingTerm(tradingTerm.id)?.value"
                                                      [presentationMode]="'view'">
                                    </multi-type-input>
                                </div>
                                <div *ngSwitchCase="'last_offer'" class="col-3">
                                    <multi-type-input [multiTypeValue]="wrapper.lastOfferQuotationWrapper.getTradingTerm(tradingTerm.id)?.value"
                                                      [presentationMode]="'view'">
                                    </multi-type-input>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-3">
                            <multi-type-input [multiTypeValue]="wrapper.getRfqTradingTerm(tradingTerm.id)?.value" [presentationMode]="'view'"></multi-type-input>
                        </div>
                        <div class="col-3">
                            <multi-type-input [multiTypeValue]="tradingTerm.value" [presentationMode]="isReadOnly() ? 'view' : 'edit'"></multi-type-input>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <!-- Clauses -->
            <div [hidden]="selectedTCTab != 'CLAUSES'" class="row content-row">
                <div class="col-3"></div>
                <div class="col-3">
                    <terms-and-conditions [hidden]="primaryTermsSource != 'product_defaults'"
                                          [sellerPartyId]="getPartyId(rfq.sellerSupplierParty.party)" [readOnly]="true" [documentType]="'rfq-manufacturer-product-defaults'"
                                          [sellerFederationId]="rfq.sellerSupplierParty.party.federationInstanceID"
                                          [termsAndConditions]="defaultTermsAndConditions"
                                          [originalTermAndConditionClauses]="defaultTermsAndConditions">
                    </terms-and-conditions>
                    <terms-and-conditions *ngIf="wrapper.frameContractQuotation" [hidden]="primaryTermsSource != 'frame_contract'"
                                          [sellerPartyId]="getPartyId(rfq.sellerSupplierParty.party)" [readOnly]="true" [documentType]="'rfq-manufacturer-frame-contract'"
                                          [sellerFederationId]="rfq.sellerSupplierParty.party.federationInstanceID"
                                          [termsAndConditions]="wrapper.frameContractQuotation.quotationLine[wrapper.frameContractQuotationWrapper.quotationLineIndex].lineItem.clause"
                                          [originalTermAndConditionClauses]="wrapper.frameContractQuotation.quotationLine[wrapper.frameContractQuotationWrapper.quotationLineIndex].lineItem.clause">
                    </terms-and-conditions>
                    <terms-and-conditions *ngIf="wrapper.lastOfferQuotation" [hidden]="primaryTermsSource != 'last_offer'"
                                          [sellerPartyId]="getPartyId(rfq.sellerSupplierParty.party)" [readOnly]="true" [documentType]="'rfq-manufacturer-last-offer'"
                                          [sellerFederationId]="rfq.sellerSupplierParty.party.federationInstanceID"
                                          [termsAndConditions]="wrapper.lastOfferQuotation.quotationLine[wrapper.lineIndex].lineItem.clause"
                                          [originalTermAndConditionClauses]="wrapper.lastOfferQuotation.quotationLine[wrapper.lineIndex].lineItem.clause">
                    </terms-and-conditions>
                </div>
                <div class="col-3">
                    <terms-and-conditions [originalTermAndConditionClauses]="primaryTermsSource == 'last_offer' ? wrapper.lastOfferQuotation.quotationLine[wrapper.lineIndex].lineItem.clause :
                                      (primaryTermsSource == 'frame_contract' ? wrapper.frameContractQuotation.quotationLine[wrapper.frameContractQuotationWrapper.quotationLineIndex].lineItem.clause : defaultTermsAndConditions)"
                                          (onClauseUpdated)="onClauseUpdate($event);"
                                          [sellerPartyId]="getPartyId(rfq.sellerSupplierParty.party)" [readOnly]="true" [documentType]="'rfq'"
                                          [sellerFederationId]="rfq.sellerSupplierParty.party.federationInstanceID"
                                          [termsAndConditions]="rfq.requestForQuotationLine[wrapper.lineIndex].lineItem.clause"></terms-and-conditions>
                </div>
                <div class="col-3">
                    <terms-and-conditions *ngIf="isSellerTermsVisible()"
                                          [selectedIncoterm]="wrapper.newQuotationWrapper.incoterms"
                                          [selectedTradingTerm]="wrapper.newQuotationWrapper.paymentTermsWrapper.paymentTerm"
                                          (onClauseUpdated)="onClauseUpdate($event);"
                                          (onIncotermChanged)="wrapper.newQuotationWrapper.incoterms = $event"
                                          (onPaymentMeansChanged)="wrapper.newQuotationWrapper.paymentTermsWrapper.paymentTerm = $event"
                                          [originalTermAndConditionClauses]="primaryTermsSource == 'last_offer' ? wrapper.lastOfferQuotation.quotationLine[wrapper.lineIndex].lineItem.clause :
                                      (primaryTermsSource == 'frame_contract' ? wrapper.frameContractQuotation.quotationLine[wrapper.frameContractQuotationWrapper.quotationLineIndex].lineItem.clause : defaultTermsAndConditions)"
                                          [sellerPartyId]="getPartyId(quotation.sellerSupplierParty.party)" [readOnly]="isLoading() || isReadOnly()"
                                          [sellerFederationId]="quotation.sellerSupplierParty.party.federationInstanceID"
                                          [documentType]="'quotation'"
                                          [termsAndConditions]="quotation.quotationLine[wrapper.lineIndex].lineItem.clause"></terms-and-conditions>
                </div>
            </div>
        </div>

        <!-- Delivery-->
        <div *ngIf="showDeliveryDetails" class="row mb-3 ml-1">
            <ul class="nav nav-tabs space-after space-before">
                <li class="nav-item">
                    <a href id="DELIVERY_ADDRESS" class="nav-link"
                       [ngClass]="{ active: selectedDeliveryTab === 'DELIVERY_ADDRESS'}"
                       (click)="onDeliveryTabSelect($event,'DELIVERY_ADDRESS')">
                        <span [innerHTML]="'Delivery Address' | translate"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href id="DELIVERY_DATE" class="nav-link"
                       [ngClass]="{ active: selectedDeliveryTab === 'DELIVERY_DATE'}"
                       (click)="onDeliveryTabSelect($event,'DELIVERY_DATE')">
                        <span [innerHTML]="'Delivery Date' | translate"></span>
                    </a>
                </li>
            </ul>

            <ng-container *ngIf="selectedDeliveryTab == 'DELIVERY_ADDRESS'">
                <div class="col-12">
                    <address-input [address]="wrapper.rfqDeliveryAddress" disabled="true">
                    </address-input>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedDeliveryTab == 'DELIVERY_DATE'">
                <div class="col-12">
                    <!-- Delivery Period -->
                    <div *ngIf="!isDeliveryDateSectionOpen" class="row content-row" [ngClass]="{'bg-danger text-white':!wrapper.checkEqualForRequest(primaryTermsSource, 'deliveryPeriod')}">
                        <div class="col-3"><strong class="font-weight-500"><span [innerHTML]="'Delivery Period' | translate"></span>:</strong></div>
                        <ng-container [ngSwitch]="primaryTermsSource">
                            <div *ngSwitchCase="'product_defaults'" class="col-3">{{ isCatalogueLineDeleted ? "Not available" : wrapper.lineDeliveryPeriodString}}</div>
                            <div *ngSwitchCase="'frame_contract'" class="col-3">{{ wrapper.frameContractQuotationWrapper.deliveryPeriodString}}</div>
                            <div *ngSwitchCase="'last_offer'" class="col-3">{{ wrapper.lastOfferQuotationWrapper.deliveryPeriodString}}</div>
                        </ng-container>
                        <div class="col-3">{{ wrapper.rfqDeliveryPeriodString }}</div>
                        <div class="col-3 {{wrapper.checkEqualForResponse('deliveryPeriod') ? 'bg-white':'bg-danger'}}">
                            <!-- don't show any term if the customer offer was rejected -->
                            <quantity-input *ngIf="isSellerTermsVisible()"
                                            [presentationMode]="getPresentationMode()"
                                            [disabled]="isDisabled()" [quantity]="wrapper.newQuotationWrapper.deliveryPeriod" quantityType="time_quantity">
                            </quantity-input>
                        </div>
                    </div>
                    <!-- Delivery Dates -->
                    <div *ngIf="isDeliveryDateSectionOpen" class="row">
                        <div class="col-6">
                            <div *ngFor="let rfqDelivery of wrapper.rfqDelivery;let i=index" class="row content-row">
                                <div class="col-3">
                                    <strong class="font-weight-500"><span [innerHTML]="'Delivery Date' | translate"></span>:</strong>
                                </div>
                                <div class="col-4">
                                    <date-input [disabled]="true" [(date)]="rfqDelivery.requestedDeliveryPeriod.endDate">
                                    </date-input>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-4">
                                            <strong class="font-weight-500"><span [innerHTML]="'Quantity' | translate"></span>:</strong>
                                        </div>
                                        <div class="col-5 quantity-input">
                                            {{rfqDelivery.shipment.goodsItem[0].quantity.value}} {{rfqDelivery.shipment.goodsItem[0].quantity.unitCode}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let quotationDelivery of wrapper.newQuotationWrapper.delivery;let i=index" class="row content-row">
                                <div class="col-3 delivery-date-label">
                                    <strong class="font-weight-500"><span [innerHTML]="'Delivery Date' | translate"></span>:</strong>
                                </div>
                                <div class="col-4">
                                    <date-input [disabled]="isReadOnly() " [(date)]="quotationDelivery.requestedDeliveryPeriod.endDate">
                                    </date-input>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <div class="col-4">
                                            <strong class="font-weight-500"><span [innerHTML]="'Quantity' | translate"></span>:</strong>
                                        </div>
                                        <div class="col-4 quantity-input">
                                            <input type="number" [ngModel]="quotationDelivery.shipment.goodsItem[0].quantity.value" (ngModelChange)="quotationDelivery.shipment.goodsItem[0].quantity.value = $event;"
                                                   class="form-control form-control-sm"
                                                   [disabled]="isReadOnly() "/>
                                        </div>
                                        <span class="col-3">{{ quotationDelivery.shipment.goodsItem[0].quantity.unitCode }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button to delete/add a delivery date -->
                    <div *ngIf="!isReadOnly() && isDeliveryDateSectionOpen" class="row d-flex justify-content-end">
                        <button *ngIf="wrapper.newQuotationWrapper.delivery.length > 1" class="btn btn-danger action mt-1" type="button" (click)="onDeleteDeliveryDate()">
                            <span><span [innerHTML]="'Delete' | translate"></span></span>
                        </button>
                        <button class="btn btn-outline-primary mt-1 space-left" (click)="onAddDeliveryDate()"><span [innerHTML]="'Add Delivery Date' | translate"></span></button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<discount-modal></discount-modal>
