
<!-- Text -->
<div *ngIf="negotiating && text !== undefined">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="text" [disabled]="disabled">
</div>

<!-- Options -->
<div *ngIf="negotiating && options">
    <select class="form-control form-control-sm" [(ngModel)]="selected" [disabled]="disabled">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
</div>

<!-- Quantity -->
<div *ngIf="negotiating && quantity" class="row">
    <div class="col-7 col-quantity-value">
        <input type="number" class="form-control form-control-sm" [(ngModel)]="quantity.value" [disabled]="disabled">
    </div>
    <div *ngIf="!quantityUnits" class="col-5 col-quantity-unit">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="quantity.unitCode" [disabled]="disabled || disableQuantityUnit">
    </div>
    <div *ngIf="quantityUnits" class="col-5 col-quantity-unit">
        <select class="form-control form-control-sm" [(ngModel)]="quantity.unitCode" [disabled]="disabled || disableQuantityUnit">
            <option *ngFor="let option of quantityUnits" [value]="option">{{option}}</option>
        </select>
    </div>
</div>

<!-- Amount (no unit) -->
<div *ngIf="negotiating && amount && !amountUnit">
    <input type="number" class="form-control form-control-sm" [(ngModel)]="amount" [disabled]="disabled">
</div>

<!-- Amount (with unit) -->
<div *ngIf="negotiating && amount && amountUnit" class="row">
    <div class="col-10 col-quantity-value">
        <input type="number" class="form-control form-control-sm" [(ngModel)]="amount" [disabled]="disabled">
    </div>
    <div class="col-2 col-quantity-unit">
        {{ amountUnit }}
    </div>
</div>