<div class="row">
    <div class="col-5">
        <input type="checkbox" class="form-check-input" [(ngModel)]="cbModel" [id]="id" 
            [disabled]="disabled">
        <label class="form-check-label" [for]="id"><strong>{{label}}:</strong></label>
    </div>
    <div *ngIf="text !== undefined" class="col-7">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="text" 
            [disabled]="!cbModel || disabled">
    </div>
    <div *ngIf="options" class="col-7">
        <select class="form-control form-control-sm" [(ngModel)]="selected"
            [disabled]="!cbModel || disabled">
            <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
    </div>
    <div *ngIf="quantity" class="col-4">
        <input type="number" class="form-control form-control-sm" [(ngModel)]="quantity.value" 
            [disabled]="!cbModel || disabled">
    </div>
    <div *ngIf="quantity && !quantityUnits" class="col-3">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="quantity.unitCode" 
            [disabled]="!cbModel || disabled">
    </div>
    <div *ngIf="quantity && quantityUnits" class="col-3">
        <select class="form-control form-control-sm" [(ngModel)]="quantity.unitCode"
            [disabled]="!cbModel || disabled">
            <option *ngFor="let option of quantityUnits" [value]="option">{{option}}</option>
        </select>
    </div>
</div>