<div>
    <ul class="nav nav-tabs">
        <!-- tabs generated to present details of the product or service -->
        <li *ngFor="let tab of tabs" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === tab}"
                    (click)="selectedTab = tab"
                    i18n
            >{{tab}}</a>
        </li>
        <!-- tabs specific to the order process -->
        <li class="nav-item pointer">
            <a [ngClass]="{'nav-link': true, active: selectedTab === 'Request for Quotation Details'}"
               (click)="selectedTab = 'Request for Quotation Details'"
               i18n
            >Request for Quotation Details</a>
        </li>
        <li *ngIf="(bpDataService.userRole == 'buyer' && bpDataService.processMetadata != null && bpDataService.processMetadata.processStatus == 'Completed') ||
                        (bpDataService.userRole == 'seller')"
            class="nav-item pointer">
            <a [ngClass]="{'nav-link': true, active: selectedTab === 'Quotation Details'}"
               (click)="selectedTab = 'Quotation Details'"
               i18n
            >Quotation Details</a>
        </li>
    </ul>
</div>
<div *ngIf="bpDataService.catalogueLine"
     class="p-3">
    <bp-product-details *ngIf="selectedTab == 'Product Characteristics' || selectedTab == 'Product Trading & Delivery Terms' || selectedTab == 'Service Characteristics'"
                        [catalogueLine]="bpDataService.catalogueLine"
                        [presentationMode]="'singlevalue'"
                        [selectedTab]="selectedTab">
    </bp-product-details>
    <request-for-quotation *ngIf="selectedTab === 'Request for Quotation Details'"
                           [requestForQuotation]="bpDataService.requestForQuotation">
    </request-for-quotation>
    <quotation *ngIf="selectedTab == 'Quotation Details'"
               [quotation]="bpDataService.quotation"
               (newNegotiationInitialized)="selectedTab = 'Request for Quotation Details'">
    </quotation>
</div>