<ng-container *ngIf="requestForQuotation">
    <!-- trading terms for regular products -->
    <ng-container *ngIf="bpDataService.getCatalogueLine().goodsItem.item.transportationServiceDetails == null">
        <negotiation-trading-details [lineItem]="requestForQuotation.requestForQuotationLine[0].lineItem"
                                     [paymentMeans]="requestForQuotation.paymentMeans"
                                     [paymentTerms]="requestForQuotation.paymentTerms"
                                     [fetchDefaultDeliveryAddress]="bpDataService.processMetadata == null && bpDataService.previousProcess == null"
                                     [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
        </negotiation-trading-details>

        <div class="well">
            <h5 class="mb-3">Data Monitoring Service</h5>
            <boolean-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                          [propName]="'Service Demand Indicator'"
                          [definition]="'Data monitoring service for the production process of the ordered product'"
                          [(value)]="requestForQuotation.dataMonitoringRequested"
                          (valueChanged)="requestForQuotation.dataMonitoringRequested = $event">
            </boolean-view>
        </div>
    </ng-container>

    <!-- trading terms for transport services -->
    <ng-container *ngIf="bpDataService.getCatalogueLine().goodsItem.item.transportationServiceDetails != null">
        <div class="well">
            <h6>Consolidated Shipment</h6>
            <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                        [propName]="'Goods Item'"
                        [definition]="'A goods item included in this shipment'"
                        [(value)]="requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.goodsItem[0].item.name">

            </value-view>

            <quantity-view [propName]="'Quantity'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.totalTransportHandlingUnitQuantity]"
                           [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
            </quantity-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="'Gross Volume Measure'"
                           [type]="'volume_quantity'"
                           [definition]="'The total volume of the goods in this shipment, including packaging,e.g.,Quantity:78,Unit:MTQ'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.consignment[0].grossVolumeMeasure]">
            </quantity-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="'Gross Weight Measure'"
                           [type]="'weight_quantity'"
                           [definition]="'The total gross weight of a shipment; the weight of the goods plus packaging plus transport equipment,e.g.,Quantity:12,Unit:KGM'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.consignment[0].grossWeightMeasure]">
            </quantity-view>
        </div>

        <transport-trading-details [lineItem]="requestForQuotation.requestForQuotationLine[0].lineItem"
                                   [paymentMeans]="requestForQuotation.paymentMeans"
                                   [paymentTerms]="requestForQuotation.paymentTerms"
                                   [fetchDefaultDeliveryAddress]="bpDataService.processMetadata == null"
                                   [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
        </transport-trading-details>
    </ng-container>

    <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                [propName]="'Note'"
                [(value)]="requestForQuotation.note[0]">
    </value-view>

    <div class="d-flex justify-content-end">
        <ng-container *ngIf="bpDataService.userRole == 'buyer'">
            <!-- if processMetadata is null, it means a negotiation is initialized right now -->
            <button *ngIf="bpDataService.processMetadata == null"
                    [disabled]="submitted"
                    class="btn btn-success" (click)="sendRfq()">Send Requested Terms
            </button>
        </ng-container>
    </div>

</ng-container>
<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>