<ng-container *ngIf="requestForQuotation">
    <trading-details class="container"
                     [lineItem]="requestForQuotation.requestForQuotationLine[0].lineItem"
                     [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
    </trading-details>

    <!-- negotiation parameters for transportation services -->
    <ng-container *ngIf="bpDataService.getCatalogueLine().goodsItem.item.transportationServiceDetails != null">
        <div class="well">
            <h6>Handling Unit Details</h6>
            <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                        [propName]="'Transport Handling Unit'"
                        [definition]="'The transport handling unit used'"
                        [(value)]="requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.transportHandlingUnit[0].transportHandlingUnitTypeCode.name">
            </value-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.transportHandlingUnit[0].measurementDimension[0].attributeID"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.transportHandlingUnit[0].measurementDimension[0].measure]">
            </quantity-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.transportHandlingUnit[0].measurementDimension[1].attributeID"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.transportHandlingUnit[0].measurementDimension[1].measure]">
            </quantity-view>
        </div>

        <div class="well">
            <h6>Consolidated Shipment</h6>
            <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                        [propName]="'Goods Item'"
                        [definition]="'A goods item included in this shipment'"
                        [(value)]="requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.goodsItem[0].item.name">

            </value-view>

            <quantity-view [propName]="'Quantity'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.totalTransportHandlingUnitQuantity]"
                           [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
            </quantity-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="'Gross Volume Measure'"
                           [definition]="'The total volume of the goods in this shipment, including packaging'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.consignment[0].grossVolumeMeasure]">
            </quantity-view>

            <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                           [propName]="'Gross Weight Measure'"
                           [definition]="'The total gross weight of a shipment; the weight of the goods plus packaging plus transport equipment'"
                           [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.delivery[0].shipment.consignment[0].grossWeightMeasure]">
            </quantity-view>
        </div>
    </ng-container>

    <hr>

    <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                [propName]="'Note'"
                [(value)]="requestForQuotation.note[0]">
    </value-view>

    <div class="d-flex justify-content-end">
        <ng-container *ngIf="bpDataService.userRole == 'buyer'">
            <!-- if processMetadata is null, it means a negotiation is initialized right now -->
            <button *ngIf="bpDataService.processMetadata == null"
                    [disabled]="submitted"
                    class="btn btn-success" (click)="sendRfq()">Send Requested Terms
            </button>
        </ng-container>
    </div>

</ng-container>
<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>