
<ng-container *ngFor="let term of settingsForm.controls['deliveryTerms'].controls; let i = index">
    <hr *ngIf="i > 0">

    <div class="row actions-row pr-0 space-after space-before">
        <!--<div class="{{ i > 0 ? 'col-7' : 'col-9' }}"><h4>Delivery Terms {{ i + 1 }}</h4></div>-->
        <div class="{{ i > 0 ? 'col-7' : 'col-9' }}"></div>
        <div class="col-3">
            <button class="btn btn-secondary w-100 btn-sm" (click)="onSetToCompanyAddress(i)">
                Set to Company Address
            </button>
        </div>
        <div *ngIf="i > 0" class="col-2">
            <button class="btn btn-danger w-100 btn-sm" (click)="onDeleteDeliveryTerms(i)">
                Delete
            </button>
        </div>
    </div>

    <delivery-terms-form [group]="term"></delivery-terms-form>
</ng-container>

<hr>

<!-- Add Address & Save Actions -->
<div class="row actions-row pr-0 space-before">
    <div class="col-8 call-status-col">
        <call-status [callStatus]="saveCallStatus"></call-status>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="saveCallStatus.isLoading()" (click)="onAddDeliveryTerms(settingsForm)">
            Add Delivery Address
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" [disabled]="!settingsForm.valid || !settingsForm.dirty || saveCallStatus.isLoading()" (click)="onSave(settingsForm)">
            Save
        </button>
    </div>
</div>
