<!-- Company Statement -->
<div class="form-group row space-before">
  <label class="col-2 col-form-label">
    <strong>Company Description:</strong>
  </label>
  <div class="col-10">
    <textarea class="form-control" rows="3" [formControl]="descriptionForm.controls['companyStatement']" maxlength="255">
    </textarea>
  </div>
</div>

<!-- Website -->
<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Website:</strong>
  </label>
  <div class="col-10">
    <input type="text" class="form-control" [formControl]="descriptionForm.controls['website']" maxlength="255">
  </div>
</div>

<!-- Social Media List -->
<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Social Media:</strong>
  </label>
  <div class="col-10">
    <ng-container *ngFor="let socialMediaEntry of socialMediaList; let i = index; trackBy:trackFn">
      <div class="row mb-1">
        <div class="col-10">
          <input type="text" class="form-control" [(ngModel)]="socialMediaList[i]" (input)="flagSocialMediaChanged()" maxlength="255">
        </div>
        <div class="col-2">
          <button class="btn btn-danger w-100" (click)="removeSocialMediaEntry(i)">Delete</button>
        </div>
      </div>
    </ng-container>
    <div class="row mt-2 mb-1">
      <div class="col-10"></div>
      <div class="col-2">
        <button class="btn btn-secondary w-100" [disabled]="saveCallStatus.isLoading()" (click)="addSocialMediaEntry()">
            Add Social Media
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Link (External Resource) List -->
<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Other Links:</strong>
  </label>
  <div class="col-10">
    <ng-container *ngFor="let extEntry of externalResources; let i = index; trackBy:trackFn">
      <div class="row mb-1">
        <div class="col-10">
          <input type="text" class="form-control" [(ngModel)]="externalResources[i]" (input)="flagExternalResourcesChanged()" maxlength="255">
        </div>
        <div class="col-2 align-right">
          <button class="btn btn-danger w-100" (click)="removeExternalResourceEntry(i)">Delete</button>
        </div>
      </div>
    </ng-container>
    <div class="row mt-2 mb-1">
      <div class="col-10"></div>
      <div class="col-2">
        <button class="btn btn-secondary w-100" [disabled]="saveCallStatus.isLoading()" (click)="addExternalResourceEntry()">
            Add Other Link
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Event List -->
<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Events:</strong>
  </label>
  <div class="col-10">
      <table class="table table-striped table-bordered mb-1 mt-0" style="table-layout: fixed; width: 100%;">
          <colgroup>
              <col style="width: 150%;">
              <col style="width: 150%;">
              <col style="width: 150%;">
              <col style="width: 150%;">
              <col style="width: auto;">
          </colgroup>
          <tr><th>Date</th><th>Name</th><th>Description</th><th>Location</th><th class="col-2">Actions</th></tr>
          <tr *ngIf="compEvents.length==0"><td colspan="5">No data</td></tr>
          <tr *ngFor="let ev of compEvents; let i = index">
              <td>{{ev.dateFrom}} - {{ev.dateTo}}</td>
              <td>{{ev.name}}</td>
              <td *ngIf="ev.description">{{ev.description}}</td>
              <td *ngIf="!ev.description">n/A</td>
              <td *ngIf="ev.place.streetName">{{ev.place.streetName}}<span *ngIf="ev.place.buildingNumber"> {{ev.place.buildingNumber}}</span><br/>{{ev.place.postalCode}} {{ev.place.cityName}}<br/>{{ev.place.country}}</td>
              <td *ngIf="!ev.place.streetName">n/A</td>
              <td>
                  <button class="btn btn-danger btn-sm" (click)="removeCompEventEntry(i)">Delete</button>
              </td>
          </tr>
      </table>
      <div class="row mt-2 mb-1">
        <div class="col-10"></div>
        <div class="col-2">
          <button class="btn btn-secondary w-100" [disabled]="saveCallStatus.isLoading()" (click)="addCompEventEntry(addEventModal)">
              Add Event
          </button>
        </div>
      </div>
  </div>
</div>

<div class="row actions-row pr-0 space-before">
    <div class="col-10 call-status-col">
        <call-status [callStatus]="saveCallStatus"></call-status>
    </div>
    <!--
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="saveCallStatus.isLoading()" (click)="addSocialMediaEntry()">
            Add Social Media
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="saveCallStatus.isLoading()" (click)="addExternalResourceEntry()">
            Add Other Link
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="saveCallStatus.isLoading()" (click)="addCompEventEntry(addEventModal)">
            Add Event
        </button>
    </div>
    -->
    <div class="col-2">
        <button class="btn btn-primary action" [disabled]="!descriptionForm.valid || (!descriptionForm.dirty && !socialMediaListChanged && !externalResourcesChanged && !compEventsChanged) || saveCallStatus.isLoading()" (click)="onSave(descriptionForm)">
            Save
        </button>
    </div>
</div>

<hr>

<!-- Images -->
<h4>Images</h4>

<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Logo:</strong>
  </label>
  <div class="col-10">
    <div *ngIf="!settings.description.logoImageId" class="card m-2" style="width: 15rem;">
      <div class="card-body p-2">
          <div class="align-center">
            <img class="img-max" src="../../../assets/images/empty_img.png">
          </div>
      </div>
    </div>
    <div *ngIf="settings.description.logoImageId" class="card m-2" style="width: 15rem;">
      <div class="card-body p-2">
          <div class="align-center">
            <img class="img-max" src="{{imgEndpoint}}{{settings.description.logoImageId}}">
          </div>
          <button [disabled]="saveCallStatusImage.isLoading()" class="btn btn-danger btn-sm mt-2" (click)="onDeleteImage(settings.description.logoImageId)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-2 col-form-label">
    <strong>Photos "At Work":</strong>
  </label>
  <div class="col-10 row ml-0 mr-0">
    <div *ngIf="settings.description.companyPhotoList.length == 0" class="card m-2" style="width: 15rem;">
      <div class="card-body p-2">
          <div class="align-center">
            <img class="img-max" src="../../../assets/images/empty_img.png">
          </div>
      </div>
    </div>
    <div *ngFor="let photo of settings.description.companyPhotoList" class="card m-2" style="width: 15rem;">
      <div class="card-body p-2">
          <div class="align-center">
            <img class="img-max" src="{{imgEndpoint}}{{photo}}">
          </div>
          <button [disabled]="saveCallStatusImage.isLoading()" class="btn btn-danger btn-sm mt-2" (click)="onDeleteImage(photo)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row actions-row pr-0 space-before">
    <div class="col-8 call-status-col">
        <call-status [callStatus]="saveCallStatusImage"></call-status>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" [disabled]="saveCallStatusImage.isLoading() || settings.description.logoImageId" (click)="addImage(addImageModal,true)">
            Add Logo
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" [disabled]="saveCallStatusImage.isLoading()" (click)="addImage(addImageModal,false)">
            Add Photo
        </button>
    </div>
    <div class="col-8"></div>
    <div class="col-4 align-right mt-1"><small>Maximum allowed filesize: 2 MB; Allowed formats: PNG, JPG, GIF</small></div>
</div>

<!-- Event Modal -->
<ng-template #addEventModal let-d="dismiss">
    <form [formGroup]="addEventForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Add Event</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <date-input labelClass="col-2 col-form-label" labelMainClass="mb-0" valueClass="col-10" rowClass="form-group" label="Start Date" [disabled]="false" [(date)]="compEventFromDate">
                </date-input>
                <date-input labelClass="col-2 col-form-label" labelMainClass="mb-0" valueClass="col-10" rowClass="form-group" label="End Date" [disabled]="false" [(date)]="compEventToDate">
                </date-input>
                <div class="form-group row">
                    <label class="col-2 col-form-label">
                      <strong>Name:</strong>
                    </label>
                    <div class="col-10">
                        <input type="text" class="form-control" [formControl]="addEventForm.controls['name']" maxlength="255" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">
                      <strong>Description:</strong>
                    </label>
                    <div class="col-10">
                        <input type="text" class="form-control" [formControl]="addEventForm.controls['description']" maxlength="255">
                    </div>
                </div>
                <address-form [group]="addEventForm.controls.place" [requiredFlag]=false></address-form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary save-cert-btn" [disabled]="!addEventForm.valid" (click)="onSaveEventEntry(addEventForm, d);">
                <span>Add</span>
            </button>
        </div>
    </form>
</ng-template>

<!-- Image Modal -->
<ng-template #addImageModal let-d="dismiss">
    <form [formGroup]="addImageForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Add Image</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-2 col-form-label">Image</label>
              <div class="col-10">
                  <input type="file" class="form-control" [formControl]="addImageForm.controls['file']" (change)="onSetImageFile($event, addImageForm)" required>
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <call-status [callStatus]="saveCallStatusImage"></call-status>
            <button type="button" class="btn btn-primary save-cert-btn" [disabled]="!addImageForm.valid || saveCallStatusImage.isLoading()" (click)="onSaveImage(addImageForm, d);">
                <span>Save</span>
            </button>
        </div>
    </form>
</ng-template>
