<form [formGroup]="dataForm" novalidate (ngSubmit)="save(dataForm)">

  <div *ngIf="!alertClosed && !appComponent.checkRoles('pm')">
    <p class="space-before">
      <ngb-alert type="info" (close)="alertClosed=true">
				Mandatory and already submitted data during the registration can only be changed after re-validation by a platform manager.
				<div *ngIf="appComponent.checkRoles('wait_comp')" class="jumbotron space-after" style="margin-top: 25px;">
					<b>Your company is now registered</b><br/>
					<span *ngIf="!config.companyRegistrationRequired">You can start publishing your catalogue.<br/></span>
					In order to execute business processes your company needs to be verified by an administrator - please stay tuned.<br/>
					If you are not being verified with 24h, please contact our support <a href="mailto:{{config.supportMail}}">{{config.supportMail}}</a>.
				</div>
      </ngb-alert>
    </p>
  </div>

	<!-- Legal Name -->
	<div class="form-group row space-before">
		<label class="col-2 col-form-label">
			<strong>Company Name:</strong>
		</label>
		<div class="col-10">
			<input type="text" class="form-control" name="companyName" [formControl]="dataForm.controls['name']" required maxlength="255">
		</div>
	</div>

  <!-- Brand Name -->
	<div class="form-group row space-before">
		<label class="col-2 col-form-label">
			<strong>Trade Name:</strong>
		</label>
		<div class="col-10">
			<input type="text" class="form-control" name="brandName" [formControl]="dataForm.controls['brandName']" maxlength="255">
		</div>
	</div>

	<!-- VAT Number -->
	<div class="form-group row">
		<label class="col-2 col-form-label">
			<strong>VAT Number:</strong>
		</label>
		<div class="col-10">
			<input type="text" class="form-control" [formControl]="dataForm.controls['vatNumber']" required maxlength="255">
		</div>
	</div>

	<!-- Verification Info -->
	<div *ngIf="config.showVerification" class="form-group row">
		<label class="col-2 col-form-label">
			<span>
				<strong>Verification Info:</strong>
			</span>
			<span class="tooltip-icon" (click)="showVerificationTT(tooltip)"><i class="fa fa-question-circle"></i></span>
		</label>
		<div class="col-10">
			<input type="text" class="form-control" [formControl]="dataForm.controls['verificationInformation']" maxlength="255">
		</div>
	</div>

	<!-- Business Type -->
	<div class="form-group row">
		<label class="col-2 col-form-label">
			<strong>Business Type:</strong>
		</label>
		<div class="col-10">
			<select class="form-control" [formControl]="dataForm.controls['businessType']" (change)="dataForm.controls['industrySectors'].setValue('')" required>
				<option *ngFor="let type of config.supportedBusinessTypes" value="{{type}}">{{type}}</option>
			</select>
		</div>
	</div>

  <!-- Industry Sectors -->
  <div class="form-group row">
    <label class="col-2 col-form-label">
      <strong>Activity Sectors:</strong>
      <span *ngIf="config.supportedActivitySectors[dataForm.getRawValue()['businessType']].length>0 && !forceActText" class="tooltip-icon" (click)="showSectorTT(tooltip)"><i class="fa fa-question-circle"></i></span>
    </label>
    <div class="col-10">
      <input *ngIf="dataForm.getRawValue()['businessType'] == ''" type="text" class="form-control" [formControl]="dataForm.controls['industrySectors']" placeholder="Select Business Type" required readonly maxlength="255">
      <select *ngIf="config.supportedActivitySectors[dataForm.getRawValue()['businessType']] && config.supportedActivitySectors[dataForm.getRawValue()['businessType']].length>0 && !forceActText" class="form-control" [formControl]="dataForm.controls['industrySectors']" multiple required>
        <option *ngFor="let sector of config.supportedActivitySectors[dataForm.getRawValue()['businessType']]" [value]="sector">{{sector}}</option>
        <!--<option>Other</option>-->
      </select>
      <textarea rows="3" *ngIf="dataForm.getRawValue()['businessType'] != '' && (!config.supportedActivitySectors[dataForm.getRawValue()['businessType']] || config.supportedActivitySectors[dataForm.getRawValue()['businessType']].length==0) || forceActText" class="form-control" [formControl]="dataForm.controls['industrySectors']" placeholder="Separate entries using new lines" required maxlength="255"></textarea>
      <!--<input *ngIf="dataForm.getRawValue()['businessType'] != '' && (!config.supportedActivitySectors[dataForm.getRawValue()['businessType']] || config.supportedActivitySectors[dataForm.getRawValue()['businessType']].length==0) || forceActText" type="text" class="form-control" [formControl]="dataForm.controls['industrySectors']" placeholder="Separate entries using ','" required maxlength="255">-->
      <div *ngIf="config.supportedActivitySectors[dataForm.getRawValue()['businessType']] && config.supportedActivitySectors[dataForm.getRawValue()['businessType']].length>0"><button class="btn btn-link pl-0" type="button" (click)="switchInput()"><span *ngIf="!forceActText">Nothing fitting your business? Switch to manual input.</span><span *ngIf="forceActText">Want to make use of the predefined sectors? Switch to list input.</span></button></div>
    </div>
  </div>

	<!-- Business Keywords -->
	<div class="form-group row">
		<label class="col-2 col-form-label">
			<strong>Business Keywords:</strong>
			<span class="tooltip-icon" (click)="showKeywordsTT(tooltip)"><i class="fa fa-question-circle"></i></span>
		</label>
		<div class="col-10">
      <textarea rows="3" class="form-control" [formControl]="dataForm.controls['businessKeywords']" placeholder="Separate entries using new lines" maxlength="255"></textarea>
			<!--<input type="text" class="form-control" [formControl]="dataForm.controls['businessKeywords']" placeholder="Separate entries using ','" maxlength="255">-->
		</div>
	</div>

	<!-- Year of Comp. Reg. -->
	<div class="form-group row">
		<label class="col-2 col-form-label">
			<strong>Year of Foundation:</strong>
		</label>
		<div class="col-10">
			<input type="number" class="form-control" [formControl]="dataForm.controls['yearOfReg']">
		</div>
	</div>

  <hr>

  <h3>Address</h3>

	<!-- Address -->
	<address-form [group]="dataForm.controls.address" [disabledFlag]="!appComponent.checkRoles('pm')"></address-form>

	<!-- Submit -->
	<div class="row actions-row">
		<div class="col-7 call-status-col" [ngClass]="{'col-7':!appComponent.checkRoles('pm'),'col-10':appComponent.checkRoles('pm')}">
			<call-status [callStatus]="saveCallStatus" [large]="true"></call-status>
		</div>
    <div *ngIf="!appComponent.checkRoles('pm')" class="col-3">
        <button class="btn btn-primary action" type="button" (click)="changeData(changeModal)">
            <span>Request Company Data Change</span>
        </button>
    </div>
		<div class="col-2">
			<button class="btn btn-primary action" type="submit" [disabled]="!dataForm.valid || !dataForm.dirty || saveCallStatus.isLoading()">Save</button>
		</div>
	</div>
</form>

<!-- Change Modal -->
<ng-template #changeModal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Request Company Data Change</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Any change to your company data has to be validated and processed by a platform administrator.<br/><br/>
        When you press "Open mail template" a partially prefilled mail template will open in the mail client of your choice.<br/><br/>
        We will process change requests within one business day.
    </div>
    <div class="modal-footer">
        <a [href]="mailto" role="button" class="btn btn-primary" (click)="d('')">Open mail template</a>
    </div>
</ng-template>

<!-- Tooltip modal -->
<ng-template #tooltip let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Tooltip</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [innerHTML]="tooltipHTML">
    </div>
</ng-template>
