<div *ngIf="viewMode=='full' || viewMode=='data'">

  <div *ngIf="viewMode=='full'">

    <!-- Title -->
    <div class="row">
        <div class="col-12">
            <p class="nimble-title" i18n>Company Settings</p>
        </div>
    </div>

    <!-- Profile Completess Progress Bar -->
    <div class="row">
      <div class="col-2">
        <strong>Profile Completeness:</strong>
      </div>
      <div class="col-10">
        <div class="progress" style="height:1.5rem">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width':profile_completeness_str}" [attr.aria-valuenow]="profile_completeness" aria-valuemin="0" aria-valuemax="1">
            <span *ngIf="profile_completeness>0">{{profile_completeness_str}}</span>
          </div>
        </div>
      </div>
    </div>

    <hr/>

  </div>

  <!-- Tabs -->
  <div>
  	<ul class="nav nav-tabs">
  		<li class="nav-item">
  			<a href id="COMPANY_DATA" class="nav-link" [ngClass]="{ active: selectedTab === 'COMPANY_DATA'}" (click)="onSelectTab($event)">
  				Company Data
  			</a>
  		</li>
      <li class="nav-item">
  			<a href id="COMPANY_DESCRIPTION" class="nav-link" [ngClass]="{ active: selectedTab === 'COMPANY_DESCRIPTION'}" (click)="onSelectTab($event)">
  				Company Details
  			</a>
  		</li>
  		<li *ngIf="viewMode=='full' && config.showTrade" class="nav-item">
  			<a href id="NEGOTIATION_SETTINGS" class="nav-link" [ngClass]="{ active: selectedTab === 'NEGOTIATION_SETTINGS'}" (click)="onSelectTab($event)">
  				Trade Details
  			</a>
  		</li>
  		<li *ngIf="viewMode=='full'" class="nav-item">
  			<a href id="DELIVERY_TERMS" class="nav-link" [ngClass]="{ active: selectedTab === 'DELIVERY_TERMS'}" (click)="onSelectTab($event)">
  				Delivery Address
  			</a>
  		</li>
  		<li *ngIf="viewMode=='full'" class="nav-item">
  			<a href id="CERTIFICATES" class="nav-link" [ngClass]="{ active: selectedTab === 'CERTIFICATES'}" (click)="onSelectTab($event)">
  				Certificates
  			</a>
  		</li>
  		<li *ngIf="viewMode=='full'" class="nav-item">
  			<a href id="CATEGORIES" class="nav-link" [ngClass]="{ active: selectedTab === 'CATEGORIES'}" (click)="onSelectTab($event)">
  				Catalogue Categories
  			</a>
  		</li>
  	</ul>
  </div>

</div>

<call-status [callStatus]="initCallStatus" [large]="true"></call-status>

<!-- Company Data, hidden to avoid reloading  -->
<div *ngIf="settings" [hidden]="selectedTab !== 'COMPANY_DATA'">
	<company-data-settings [settings]="settings" (onSaveEvent)="onSettingsUpdated()">
	</company-data-settings>
</div>

<!-- Company Description, hidden to avoid reloading  -->
<div *ngIf="settings" [hidden]="selectedTab !== 'COMPANY_DESCRIPTION'">
	<company-description-settings [settings]="settings" (onSaveEvent)="onSettingsUpdated()">
	</company-description-settings>
</div>

<div *ngIf="viewMode=='full'">

  <!-- Negotiation Settings, hidden to avoid reloading -->
  <div *ngIf="settings" [hidden]="selectedTab !== 'NEGOTIATION_SETTINGS'">
  	<company-negotiation-settings [settings]="settings">
  	</company-negotiation-settings>
  </div>

  <!-- Delivery Terms, hidden to avoid reloading -->
  <div *ngIf="settings" [hidden]="selectedTab !== 'DELIVERY_TERMS'">
  	<company-delivery-terms [settings]="settings" (onSaveEvent)="onSettingsUpdated()">
  	</company-delivery-terms>
  </div>

  <!-- Company Certificates, hidden to avoid reloading -->
  <div *ngIf="settings" [hidden]="selectedTab !== 'CERTIFICATES'">
  	<company-certificates-settings [settings]="settings" [certificates]="certificates" [ppapLevel]="ppapLevel" (onSaveEvent)="onSettingsUpdated()">
  	</company-certificates-settings>
  </div>

  <!-- Company Favourite Categories, hidden to avoid reloading -->
  <div *ngIf="settings" [hidden]="selectedTab !== 'CATEGORIES'">
  	<company-categories-settings [settings]="settings">
  	</company-categories-settings>
  </div>

</div>
