<div class="row actions-row">
    <ng-container *ngFor="let slot of slots; index as i">
        <div [class]="slot.slotClass" [ngClass]="getSlotClass(slot)" [ngSwitch]="slot.type">

            <call-status *ngSwitchCase="'callStatus'" [callStatus]="slot.callStatus" [class]="slot.contentClass || ''">
            </call-status>

            <span *ngSwitchCase="'text'" [class]="slot.contentClass || ''">{{ slot.text }}</span>

            <button *ngSwitchCase="'button'"  [class]="slot.contentClass || ''" (click)="onButtonClick(i)">
                {{ slot.text }}
            </button>

            <button *ngSwitchCase="'back'" [class]="slot.contentClass || ''" (click)="onBack()">
                {{ slot.text }}
            </button>
        </div>
    </ng-container>
</div>