<div class="row address-row">
    <div class="col-12">
            <text-input label="Street" [(text)]="address.streetName" [presentationMode]="presentationMode" [disabled]="disabled"
            labelClass="col-2" valueClass="col-10">
        </text-input>
    </div>
</div>

<div class="row address-row">
    <div class="col-6">
        <text-input label="Building Number" [(text)]="address.buildingNumber" [presentationMode]="presentationMode" [disabled]="disabled"
            labelClass="col-4" valueClass="col-8">
        </text-input>
    </div>
    <div class="col-6">
        <text-input label="City" [(text)]="address.cityName" [presentationMode]="presentationMode" [disabled]="disabled"
            labelClass="col-4" valueClass="col-8">
        </text-input>
    </div>
</div>

<div class="row address-row">
    <div class="col-6">
        <text-input label="Postal Code" [(text)]="address.postalZone" [presentationMode]="presentationMode" [disabled]="disabled"
            labelClass="col-4" valueClass="col-8">
        </text-input>
    </div>
    <div class="col-6">
        <text-input label="Country" [(text)]="address.country.name" [presentationMode]="presentationMode" [disabled]="disabled"
            labelClass="col-4" valueClass="col-8">
        </text-input>
    </div>
</div>
