<div class="row {{ rowClass }}">
  <div *ngIf="label" [class]="labelClass">
      <label class="{{labelMainClass}}">
          <strong>
              {{ label }}:
          </strong>
          <span *ngIf="definition" class="definition" title="{{definition}}">&#9432;</span>
      </label>
  </div>
  <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible">
      <input type="checkbox"
          [(ngModel)]="value"
          [disabled]="presentationMode != 'edit'">
  </div>
</div>
