<div [hidden]="callStatus.fb_errordetc || callStatus.fbcallback || !callStatus.fb_submitted">
	<img src="assets/form_loader.gif"/>
</div>
<div *ngIf="callStatus.fb_callback && !callStatus.fb_autoCloseOnCallBack" #successBox
	 class="d-flex alert-success pl-2 pr-2"
	 [ngClass]="{'alert' : large} ">
	<div class="align-self-center" role="alert">{{callStatus.fb_message}}</div>
</div>
<div *ngIf="callStatus.fb_errordetc" #errorBox
	 class="d-flex alert-danger pl-2 pr-2"
	 [ngClass]="{'alert' : large} ">
	<div class="align-self-center" role="alert">{{callStatus.fb_message}}</div>
</div>