<div [hidden]="callStatus.fb_errordetc || callStatus.fb_callback || !callStatus.fb_submitted">
	<img src="../../assets/form_loader.gif"/>
</div>
<div *ngIf="callStatus.fb_callback && !callStatus.fb_autoCloseOnCallBack" #successBox
	 class="d-flex alert-success p-2 rounded"
	 [ngClass]="{'alert' : large} ">
	<div class="align-self-center" role="alert">{{callStatus.fb_message}}</div>
</div>
<div *ngIf="callStatus.fb_errordetc" #errorBox
	 class="d-flex alert-danger alert-dismissible p-2 pr-4 rounded position-relative"
	 [ngClass]="{'alert' : large} ">
	<div class="align-self-center" role="alert">
		{{callStatus.fb_message}} <span *ngIf="callStatus.fb_details != ''" class="pointer" (click)="callStatus.fb_showDetails=!callStatus.fb_showDetails"><span *ngIf="!callStatus.fb_showDetails"><i class="fa fa-angle-double-down pl-2 pr-2"></i></span><span *ngIf="callStatus.fb_showDetails"><i class="fa fa-angle-double-up pl-2 pr-2"></i></span></span>
		<div *ngIf="callStatus.fb_showDetails">
			<small [innerHTML]="callStatus.fb_details"></small>
		</div>
		<button type="button" class="close pt-1 pl-1" aria-label="Close" (click)="callStatus.reset()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</div>
