<div class="row {{ rowClass }}" [hidden]="presentationMode === 'view' && visible && (!date || date == '')">
    <div *ngIf="label" [class]="labelClass">
        <input-label [class]="labelMainClass" [label]="label" [definition]="definition">
        </input-label>
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible">
        <input type="date" class="form-control {{valueDateClass}}"
               [(ngModel)]="date"
               [disabled]="disabled"
               [formControl]="dateFormControl"
               [ngbTooltip]="validationService.getValidationErrorMessage(dateFormControl)" [placement]="'auto'"  title="">
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'view' && visible">
        <p class="{{valueDateClass}}">{{ dateToString(date) }}</p>
    </div>
</div>
