<div class="d-flex flex-wrap">
    <ng-container *ngFor="let element of content; let i = index">
        <div *ngIf="expanded || (!expanded && i < shrinkElementSize)"
             class="bordered my-1 ml-1">
            <small class="p-0">{{element}}</small>
        </div>
    </ng-container>
    <i *ngIf="!expanded && content.length > shrinkElementSize" class="fa fa-angle-double-right pl-2 align-self-center" (click)="expanded = !expanded"></i>
    <i *ngIf="expanded" class="fa fa-angle-double-left pl-2 align-self-center" (click)="expanded = !expanded"></i>
</div>
