<div class="row {{ rowClass }}">
        <div *ngIf="label" [class]="labelClass">
            <label class="{{labelMainClass}}">
                <strong>
                    {{ label }}:
                </strong>
                <span *ngIf="definition" class="definition" title="{{definition}}">&#9432;</span>
            </label>
        </div>
        <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible">
            <div class="custom-file">
                <input type="file" class="custom-file-input" 
                    (change)="onChooseFile($event)" [disabled]="disabled">
                <label class="custom-file-label" [ngClass]="getFileClasses()">
                    {{ getFileName() }}
                </label>
            </div>
        </div>
    
        <div [class]="valueClass" *ngIf="presentationMode === 'view' && visible">
            <span>
                {{ file ? file.name : "" }}
            </span>
        </div>
    </div>
    