<div class="row {{ rowClass }} {{ small ? 'file-link-row-sm' : '' }}">
    <div *ngIf="label" [class]="labelClass">
        <input-label [class]="labelMainClass" [label]="label" [definition]="definition">
        </input-label>
    </div>
    <div class="{{valueClass}}" *ngIf="visible">
        <div *ngFor="let file of binaryObjects; let i = index" class="file-link-row justify-content-end">
            <!-- in edit mode show only the files annotated with the default language, if available -->
            <a href *ngIf="presentationMode == 'edit' || !fileExistsWithDefaultLanguage || (presentationMode == 'view' && file.languageID == activeLanguage)"
               class="btn-link mr-auto" (click)="onDownloadFile(file, $event)">{{ file.fileName }}</a>
            <button class="btn btn-danger btn-sm" (click)="onRemoveFile(i)" *ngIf="presentationMode === 'edit'">
                Remove
            </button>
            <select *ngIf="languageEnabled && presentationMode == 'edit'" [(ngModel)]="file.languageID" class="form-control language-select" type="text" name="{{file.languageID}}">
                <option *ngFor='let language of languages' [value]="language" [selected]="language === file.languageID">{{language}}</option>
            </select>
        </div>
        <div class="d-flex">
            <div class="custom-file" *ngIf="isShowingInput()">
                <input type="file" class="custom-file-input" [accept]="accept"
                    (change)="onChooseFile($event)" [disabled]="disabled">
                <label class="custom-file-label" [ngClass]="getFileClasses()">
                    {{ placeholder }}
                </label>
            </div>
            <select *ngIf="languageEnabled" class="form-control language-select" [(ngModel)]="selectedLanguage">
                <option *ngFor='let language of languages' [value]="language">{{language}}</option>
            </select>
        </div>

        <div *ngIf="presentationMode === 'view' && binaryObjects.length === 0">
            No file.
        </div>
    </div>
</div>
