<div class="row {{ rowClass }}" [hidden]="presentationMode === 'view' && visible && (!text || text == '')">
    <div *ngIf="label" [class]="labelClass">
        <input-label [class]="labelMainClass" [label]="label" [definition]="definition">
        </input-label>
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible && rows > 1">
        <textarea class="form-control {{valueTextClass}}" [rows]="rows" [(ngModel)]="text" [disabled]="disabled" [required]="required" [maxlength]="maxLength">
        </textarea>
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible && rows === 1">
        <input type="text" class="form-control {{valueTextClass}}" [(ngModel)]="text" [disabled]="disabled"  [required]="required" [maxlength]="maxLength">
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'view' && visible">
        <p class="{{valueTextClass}}" [innerHTML]="text"></p>
    </div>

    <select class="form-control {{languageIdClass}}" *ngIf="languageIdClass != ''" [(ngModel)]="languageId" >
        <option *ngFor='let language of languages' [value]="language">{{language}}</option>
    </select>

<!--    Button to generate random text values-->
    <button class="btn btn-outline-primary {{textGeneratorClass}}" *ngIf="textGeneratorClass != '' && !disabled" (click)="generateText()"><i class="fas fa-undo"></i></button>

    <div class="d-flex align-items-end justify-content-end {{flexClass}}">
        <button *ngIf="addButtonStyle != ''" class="btn {{addButtonStyle}}"  type="button" (click)="onAddTextInput()"><span [innerHTML]="'Add' | translate"></span></button>
        <button *ngIf="deleteButtonStyle != ''" class="btn {{deleteButtonStyle}} "   type="button" (click)="onDeleteTextInput()" ><span [innerHTML]="'Delete' | translate"></span></button>
    </div>
</div>
