<div class="row {{ rowClass }}">
    <div *ngIf="label" [class]="labelClass">
        <input-label [class]="labelMainClass" [label]="label" [definition]="definition">
        </input-label>
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible && rows > 1">
        <textarea class="form-control {{valueTextClass}}" [rows]="rows" [(ngModel)]="text" [disabled]="disabled">
        </textarea>
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'edit' && visible && rows === 1">
        <input type="text" class="form-control {{valueTextClass}}" [(ngModel)]="text" [disabled]="disabled">
    </div>

    <div [class]="valueClass" *ngIf="presentationMode === 'view' && visible">
        <p class="{{valueTextClass}}">{{ text }}</p>
    </div>
</div>
