<ng-container *ngIf="bpDataService.despatchAdvice">
    <quantity-view class="row"
                   [propName]="'Delivered Quantity'"
                   [quantity]="[despatchAdvice.despatchLine[0].deliveredQuantity]"
                   [presentationMode]="'edit'">
    </quantity-view>

    <h5 class="mt-3 mb-3">Shipment</h5>
    <value-view class="row"
                [presentationMode]="'edit'"
                [propName]="'Handling Instructions'"
                [(value)]="despatchAdvice.despatchLine[0].shipment[0].handlingInstructions">
    </value-view>
    <value-view class="row"
                [presentationMode]="'edit'"
                [propName]="'Estimated Delivery Date'"
                [(value)]="despatchAdvice.despatchLine[0].shipment[0].shipmentStage[0].estimatedDeliveryDate">
    </value-view>
    <value-view class="row"
                [presentationMode]="'edit'"
                [propName]="'Carrier Party'"
                [(value)]="despatchAdvice.despatchLine[0].shipment[0].shipmentStage[0].carrierParty.name">
    </value-view>
    <value-view class="row"
                [presentationMode]="'edit'"
                [propName]="'Carrier Party Contact'"
                [(value)]="despatchAdvice.despatchLine[0].shipment[0].shipmentStage[0].carrierParty.contact.telephone">
    </value-view>

    <hr>

    <value-view class="row"
                [presentationMode]="'edit'"
                [propName]="'Note'"
                [(value)]="despatchAdvice.note[0]">
    </value-view>

    <div class="container ">
        <div class="row justify-content-end">
            <button *ngIf="bpDataService.processMetadata == null && bpDataService.userRole == 'seller'"
                    class="btn btn-success" (click)="sendDespatchAdvice()">
                Send Despatch Advice
            </button>
        </div>
    </div>
</ng-container>

<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>