<ng-container *ngIf="bpDataService.despatchAdvice">
    <quantity-view [propName]="'Delivered Quantity'"
                   [quantity]="[despatchAdvice.despatchLine[0].deliveredQuantity]"
                   [presentationMode]="'edit'">
    </quantity-view>

    <h5 class="mt-3 mb-3">Shipment</h5>
    <shipment-view [shipment]="despatchAdvice.despatchLine[0].shipment[0]"
                   [presentationMode]="'edit'">
    </shipment-view>

    <hr>

    <value-view [presentationMode]="'edit'"
                [propName]="'Note'"
                [(value)]="despatchAdvice.note[0]">
    </value-view>

    <div class="container ">
        <div class="row justify-content-end">
            <button *ngIf="bpDataService.processMetadata == null && bpDataService.userRole == 'seller'"
                    [disabled]="submitted"
                    class="btn btn-success" (click)="sendDespatchAdvice()">
                Send Despatch Advice
            </button>
        </div>
    </div>
</ng-container>

<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>