<ng-container *ngIf="dispatchAdvice">
    <!-- Dispatched Quantity -->
    <quantity-input [disabled]="isLoading() || isReadOnly()" [disableQuantityUnit]="true"
        label="Dispatched Quantity" [quantity]="dispatchAdvice.despatchLine[0].deliveredQuantity" 
        rowClass="space-before" labelClass="col-2" valueClass="col-10">
    </quantity-input>
    
    <hr>

    <!-- Shipment -->
    <shipment-input [shipment]="dispatchAdvice.despatchLine[0].shipment[0]" [disabled]="isLoading() || isReadOnly()">
    </shipment-input>

    <hr>

    <!--Notes-->
    <h5>Notes and Additional Files</h5>
    <note-file-view [notes]="dispatchAdvice.note"
               [documents]="dispatchAdvice.additionalDocumentReference"
               [label]="'Notes'"
               [firstCol]="'col-2'"
               [lastCol]="'col-10'"
               [readonly]="isLoading() || isReadOnly()"></note-file-view>

    <!-- Actions -->
    <div class="row actions-row">
        <div class="col-8 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
        <div class="col-2">
            <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
        </div>
        <div class="col-2">
            <button *ngIf="!(processMetadata && processMetadata.isBeingUpdated)" class="btn btn-primary action" [disabled]="isLoading() || isReadOnly()" (click)="onSendDispatchAdvice()">
                {{ isReadOnly() ? "Advice Sent" : "Send advice" }}
            </button>
            <button *ngIf="processMetadata && processMetadata.isBeingUpdated" class="btn btn-primary action" [disabled]="isLoading() || isReadOnly()" (click)="onUpdateDispatchAdvice()">
                Update Advice
            </button>
        </div>
    </div>
</ng-container>
<call-status [callStatus]="initiatingDispatchAdvice"></call-status>
