<ng-container *ngIf="receiptAdvice">

    <!-- Dispatched Quantity -->
    <quantity-input presentationMode="view" [disableQuantityUnit]="true"
        label="Dispatched Quantity" [quantity]="dispatchAdvice.despatchLine[0].deliveredQuantity" 
        rowClass="space-before">
    </quantity-input>
    
    <hr>

    <!-- Shipment -->
    <shipment-input [shipment]="dispatchAdvice.despatchLine[0].shipment[0]" presentationMode="view">
    </shipment-input>

    <hr>

    <!-- Rejected Quantity -->
    <quantity-input [disabled]="isLoading() || isReadOnly()" [disableQuantityUnit]="true"
        label="Rejected Quantity" [quantity]="receiptAdvice.receiptLine[0].rejectedQuantity" 
        rowClass="space-before">
    </quantity-input>

    <text-input label="Reject Reason" rowClass="space-before"
        [disabled]="isLoading() || isReadOnly()" [(text)]="receiptAdvice.receiptLine[0].rejectReason[0]">
    </text-input>

    <hr>

    <!-- Note -->
    <text-input label="Note" rowClass="space-before"
        [disabled]="true" [(text)]="dispatchAdvice.note[0]">
    </text-input>

    <text-input label="Buyer's Note" rowClass="space-before"
        [disabled]="isLoading() || isReadOnly()" [(text)]="receiptAdvice.note[0]">
    </text-input>

    <!-- Actions -->
    <div class="row actions-row" *ngIf="userRole === 'buyer'">
        <div class="col-8 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
        <div class="col-2">
            <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
        </div>
        <div class="col-2">
            <button class="btn btn-primary action" [disabled]="isLoading() || isReadOnly()" (click)="onSendReceiptAdvice()">
                {{ isReadOnly() ? "Advice Sent" : "Send advice" }}
            </button>
        </div>
    </div>

    <div class="row actions-row" *ngIf="userRole === 'seller'">
        <div class="col-10 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
        <div class="col-2">
            <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
        </div>
    </div>
</ng-container>
