<div>
    <h3>Track Your Product</h3>
    <form class="space-before" (ngSubmit)="Search(model.q)" #trackForm="ngForm" novalidate>
        <div class="form-group row">
            <label class="col-2 col-form-label">Enter EPC Code</label>
            <div class="col-10">
                <div class="input-group">
                    <input type="text"
                           class="form-control" required [(ngModel)]="model.q"
                           name="trackSearch" #q="ngModel" pattern=".{1,}"
                           placeholder="Your SGTIN Code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary" [disabled]="!trackForm.form.valid">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="tableInfo" title="Process Information" [disabled]="!trackingInfo.length">
            <ng-template ngbPanelContent>
                <!--<div class="align-center">-->
                    <!--<i class="fas fa-spinner fa-spin fa-6x"></i>-->
                <!--</div>-->
                <div class="row">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>Event Time</th>
                            <th>Business Step</th>
                            <!-- <th>Action</th> -->
                            <th>Read Point</th>
                            <th>Business Location</th>
                        </tr>
                        </thead>

                        <tr *ngFor="let entry of trackingInfo">
                            <td>{{entry.eventTime}}</td>
                            <td>{{entry.bizStep}}</td>
                            <!-- <td>{{entry.action}}</td> -->
                            <td>{{entry.readPoint}}</td>
                            <td>{{entry.bizLocation}}</td>
                        </tr>
                    </table>
                </div>

            </ng-template>
        </ngb-panel>
        <ngb-panel title="Process Overview" id="bProcessVis" [disabled]="!bpInfo.length">
            <ng-template ngbPanelContent>
                <div class="align-center" *ngIf="!hideButton">
                    <button class="btn btn-lg btn-outline-info" (click)="showGraph()">
                        Obtain Process Information
                    </button>
                </div>
                <div class="row" *ngIf="hierarchialGraph.nodes.length">
                    <ngx-graph
                            [nodes]="hierarchialGraph.nodes"
                            [links]="hierarchialGraph.links"
                            [curve]="curve"
                            [draggingEnabled]="false"
                            [panningEnabled]="false"
                            (select)="selectNode($event)"
                            [view] = "[1000, 275]"
                    >
                        <ng-template #defsTemplate>
                            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node"
                                   ngx-tooltip
                                   [tooltipPlacement]="'top'"
                                   [tooltipType]="'tooltip'"
                                   [tooltipTitle]="node.status"
                            >
                                <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2"
                                          fill="white"
                                >{{node.label}}</svg:text>
                            </svg:g>
                        </ng-template>

                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path
                                        class="line"
                                        stroke-width="2"
                                        marker-end="url(#arrow)" >
                                </svg:path>
                            </svg:g>
                        </ng-template>
                    </ngx-graph>
                </div>
                <div class="row" *ngIf="gateInformation.length">
                    <div class="card">
                        <div class="card-header">
                            Read Point Information
                        </div>
                        <ul class="list-group">
                            <div *ngFor="let eachRP of gateInformation">
                                <li class="list-group-item">
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda:site'][0]}}
                                </li>
                                <li class="list-group-item">
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda#name'][0]}}
                                </li>
                                <li class="list-group-item">
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda#streetAddressOne'][0]}},
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda#city'][0]}},
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda#countryCode'][0]}}
                                </li>
                                <li class="list-group-item">
                                    {{eachRP.attributes['urn:epcglobal:cbv:mda:ssd'][0]}}
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-link btn-xs" (click)="getSST(eachRP.attributes['urn:epcglobal:cbv:mda:sst'][0])">
                                        {{eachRP.attributes['urn:epcglobal:cbv:mda:sst'][0]}}</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="card" *ngIf="sstInfo.length">
                        <div class="card-header">
                            Sub Site Type Information
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let eachSSTField of sstInfo">
                                {{eachSSTField.attributes['urn:epcglobal:cbv:mda#description']}}</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<!--<div>-->
    <!--<pre>{{metaData | json}}</pre>-->
    <!--<pre>{{trackingInfo | json}}</pre>-->
    <!--<pre>{{bpInfo | json}}</pre>-->
<!--</div>-->