.product-details {
    margin-left: 0;
    margin-right: 0;
}

.btn.no-y-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.img-selected {
    object-fit: cover;
    object-position: center;
}

.carousel-active {
    width:100%;
    height:100%;
}

.carousel-resize {
    width:100%;
    height:350px;
}