.product-details {
    margin-left: 0;
    margin-right: 0;
}

.btn.no-y-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.img-selected {
    object-fit: cover;
    object-position: center;
}

.carousel-active {
    width:300px;
    height:300px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.carousel-resize {
    min-width:100%;
    max-width: none;
    height:300px;
    margin: 0 -100%;
}