<div class="row border-bottom mb-3">
    <div class="col-12 pt-4">
        <!-- Product Tabs -->
        <ul class="nav nav-tabs">
            <ng-container *ngIf="showOverview">
                <li class="nav-item">
                    <a href id="OVERVIEW" class="nav-link"
                        [ngClass]="{ active: selectedTab === 'OVERVIEW'}"
                        (click)="onSelectTab($event)">
                        Overview
                    </a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a href id="DETAILS" class="nav-link"
                    [ngClass]="{ active: selectedTab === 'DETAILS'}"
                    (click)="onSelectTab($event)">
                    Product Details
                </a>
            </li>
            <li class="nav-item">
                <a href id="DELIVERY_TRADING" class="nav-link"
                    [ngClass]="{ active: selectedTab === 'DELIVERY_TRADING'}"
                    (click)="onSelectTab($event)">
                    Delivery &amp; Trading
                </a>
            </li>
        </ul>
    </div>

    <!-- Overview Tab -->
    <div *ngIf="selectedTab === 'OVERVIEW'" class="p-3 col-12">
        <h3 class="p-1">Overview</h3>
        <product-details-overview [wrapper]="wrapper" [options]="options" [readonly]="readonly">
        </product-details-overview>
    </div>

    <!-- Product Details Tab -->
    <div *ngIf="selectedTab === 'DETAILS'" class="p-3 col-12">
        <h3 class="p-1">Product Details</h3>
        <div class="row mx-auto">
        <div *ngIf="wrapper.getUniquePropertiesWithValue().length === 0">
            <p class="p-1">This product does not seem to have any details.</p>
        </div>
        <div *ngFor="let property of wrapper.getUniquePropertiesWithValue()" class="p-1 col-6 d-flex">
            <strong>{{ wrapper.getPropertyName(property) }}: </strong> 
            <span *ngIf="property.valueQualifier !== 'BINARY'" class="ml-2">
                {{ getValuesAsString(property).join(", ") }}
            </span>
            <ng-container *ngIf="property.valueQualifier === 'BINARY'">
                <file-input presentationMode="view" [binaryObjects]="property.valueBinary" [multiple]="true" rowClass="ml-2" [small]="true"></file-input>
            </ng-container>
        </div>
    </div>
    </div>

    <!-- Delivery & Trading Tab -->
    <div *ngIf="selectedTab === 'DELIVERY_TRADING'" class="p-3 col-12">
        <div class="d-flex">
            <div style="flex-grow:1;">
                <h3 class="p-1">Price</h3>
                <div class="p-1">
                    <strong>Price: </strong> {{ wrapper.getPricePerItem() }}
                </div>
                <div class="p-1">
                    <strong>Free Sample: </strong> {{ wrapper.getFreeSample() }}
                </div>
            </div>
            <div style="flex-grow:1;">
                <h3 class="pt-2 p-1">Delivery Terms</h3>
                <div class="p-1">
                    <strong>Incoterms: </strong> {{ wrapper.getIncoterms() }}
                </div>
                <div class="p-1">
                    <strong>Special Terms: </strong> {{ wrapper.getSpecialTerms() }}
                </div>
                <div class="p-1">
                    <strong>Delivery Period: </strong> {{ wrapper.getDeliveryPeriod() }}
                </div>
            </div>
            <div style="flex-grow:1;">
                <h3 class="pt-2 p-1">Packaging</h3>
                <div class="p-1">
                    <strong>Packaging: </strong> {{ wrapper.getPackaging() }}
                </div>
            </div>
        </div>
    </div>
</div>