<quantity-view class="row"
               [propName]="'Quantity'"
               [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.quantity]"
               [presentationMode]="'edit'">
</quantity-view>

<amount-view class="row"
             [presentationMode]="'edit'"
             [propName]="'Price'"
             [amount]="[requestForQuotation.requestForQuotationLine[0].lineItem.price.priceAmount]">
</amount-view>

<quantity-view class="row"
               [presentationMode]="'edit'"
               [propName]="'Price Base Quantity'"
               [quantity]="[requestForQuotation.requestForQuotationLine[0].lineItem.price.baseQuantity]">
</quantity-view>

<value-view class="row"
            [presentationMode]="'edit'"
            [propName]="'Note'"
            [(value)]="requestForQuotation.note[0]">
</value-view>
