<div>
    <ul class="nav nav-tabs">
        <!-- tabs generated to present details of the product or service -->
        <li *ngFor="let tab of tabs" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === tab}"
                    (click)="selectedTab = tab"
                    i18n
            >{{tab}}</a>
        </li>
        <!-- tabs specific to the item information request -->
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Item Information Request Details'}"
                    (click)="selectedTab = 'Item Information Request Details'"
                    i18n
            >Item Information Request Details</a>
        </li>
    </ul>
</div>
<div *ngIf="bpDataService.catalogueLines[0]"
     class="p-3">
    <bp-product-details
            *ngIf="selectedTab == 'Product Characteristics' || selectedTab == 'Product Trading & Delivery Terms' || 'Service Characteristics'"
            [catalogueLine]="bpDataService.catalogueLines[0]"
            [presentationMode]="presentationMode"
            [selectedTab]="selectedTab">
    </bp-product-details>
    <item-information-request *ngIf="selectedTab === 'Item Information Request Details'"
                              [itemInformationRequest]="bpDataService.itemInformationRequest"
                              [itemInformationResponse]="bpDataService.itemInformationResponse"
                              [parentElement]="'business_process'">
    </item-information-request>
</div>