<ng-container *ngIf="wrapper">
    <div class="row">
        <div class="col-6">
            <!-- Title -->
            <h2 class="nimble-title">
                Order for:
            </h2>
            <h2>{{ line.goodsItem.item.name[0].value }}
                <button class="btn btn-outline-dark inline ml-2" (click)="onToggleProductExpanded()">
                    <i class="fas fa-chevron-up fa-fw inline" aria-hidden="true" *ngIf="productExpanded"></i>
                    <i class="fas fa-chevron-down fa-fw inline" aria-hidden="true" *ngIf="!productExpanded"></i>
                    <span class="inline" *ngIf="!productExpanded"><small>Show Details</small></span>
                    <span class="inline" *ngIf="productExpanded"><small>Hide Details</small></span>
                </button>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Negotiation Chat</h4>
                        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    </div>
                    <div class="modal-body">
                        <iframe width='100%;' height='800px'  src="http://nimble-staging.salzburgresearch.at:3000/channel/general?layout=embedded" frameborder="0"></iframe>
                    </div>
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Save</button>-->
                    <!--</div>-->
                </ng-template>

                <button class="btn btn-outline-dark inline" (click)="open(content)" *ngIf="config.showChat">Start chat</button>
            </h2>
        </div>
        <div *ngIf="serviceLine" class="col-6 title-right">
            <!-- Transport Service Title -->
            <h2 class="nimble-title">
                Transport service:
            </h2>
            <h2>{{ serviceLine.goodsItem.item.name[0].value }}
                <button class="btn btn-outline-dark inline ml-2" (click)="onToggleServiceExpanded()">
                    <i class="fas fa-chevron-up fa-fw inline" aria-hidden="true" *ngIf="serviceExpanded"></i>
                    <i class="fas fa-chevron-down fa-fw inline" aria-hidden="true" *ngIf="!serviceExpanded"></i>
                    <span class="inline" *ngIf="!serviceExpanded"><small>Show Details</small></span>
                    <span class="inline" *ngIf="serviceExpanded"><small>Hide Details</small></span>
                </button>
            </h2>
        </div>
    </div>

    <!-- Product Details Panel -->
    <product-details-tabs *ngIf="productExpanded" [wrapper]="wrapper" [showOverview]="true" 
        [settings]="settings" [options]="options" [readonly]="true">
    </product-details-tabs>

    <!-- Service Details Panel -->
    <product-details-tabs *ngIf="serviceExpanded" [wrapper]="serviceWrapper" [showOverview]="true"
        [settings]="serviceSettings" [options]="options" [readonly]="true">
    </product-details-tabs>

    <!-- BP Steps -->
    <product-bp-steps [currentStep]="currentStep" [status]="getStepsStatus()"
        [statusText]="getStepsStatusText()" [displayMode]="stepsDisplayMode">
    </product-bp-steps>

    <hr class="mb-3">
    
    <!-- Order Content -->
    <item-information *ngIf="currentStep === 'Item_Information_Request' || currentStep === 'Transport_Information_Request'">
    </item-information>
    <ppap *ngIf="currentStep === 'Ppap'">
    </ppap>
    <negotiation *ngIf="currentStep === 'Negotiation'">
    </negotiation>
    <transport-negotiation *ngIf="currentStep === 'Transport_Negotiation'">
    </transport-negotiation>
    <order *ngIf="currentStep === 'Order' || currentStep === 'Order_Confirmed'">
    </order>
    <transport-execution-plan *ngIf="currentStep === 'Transport_Order' || currentStep === 'Transport_Order_Confirmed'">
    </transport-execution-plan>
    <fulfilment *ngIf="currentStep === 'Fulfilment'">
    </fulfilment>
</ng-container>

<!-- Loading Icon -->
<call-status [callStatus]="callStatus" [large]="true">
</call-status>
