<ng-container *ngIf="line">
    <h2>Order for: {{ line.goodsItem.item.name }}</h2>

    <product-bp-steps [currentStep]="currentStep" [status]="getStepsStatus()" [statusText]="getStepsStatusText()">
    </product-bp-steps>
    
    <item-information *ngIf="currentStep === 'Item_Information_Request'">
    </item-information>
    <negotiation *ngIf="currentStep === 'Negotiation'">
    </negotiation>
    <order-bp *ngIf="currentStep === 'Order'">
    </order-bp>
    <fulfilment *ngIf="currentStep === 'Fulfilment'">
    </fulfilment>
    <transport-execution-plan-bp *ngIf="currentStep === 'Transport_Execution_Plan'">
    </transport-execution-plan-bp>
    <ppap *ngIf="currentStep === 'Ppap'">
    </ppap>
</ng-container>

<call-status [callStatus]="getCatalogueLineStatus"[large]="true">
</call-status>