<ng-container *ngIf="line">
    <h2 class="clickable" (click)="productExpanded = !productExpanded">
        Order for: {{ line.goodsItem.item.name }}
        <i class="fas fa-chevron-up fa-sm toggle-product" aria-hidden="true" *ngIf="productExpanded"></i>
        <i class="fas fa-chevron-down fa-sm toggle-product" aria-hidden="true" *ngIf="!productExpanded"></i>
    </h2>

    <product-details-tabs *ngIf="productExpanded" [wrapper]="wrapper" [showOverview]="true" [options]="options" [readonly]="true">
    </product-details-tabs>

    <product-bp-steps [currentStep]="currentStep" [status]="getStepsStatus()" [statusText]="getStepsStatusText()">
    </product-bp-steps>
    
    <item-information *ngIf="currentStep === 'Item_Information_Request'">
    </item-information>
    <negotiation *ngIf="currentStep === 'Negotiation'">
    </negotiation>
    <order *ngIf="currentStep === 'Order'">
    </order>
    <fulfilment *ngIf="currentStep === 'Fulfilment'">
    </fulfilment>
    <transport-execution-plan-bp *ngIf="currentStep === 'Transport_Execution_Plan'">
    </transport-execution-plan-bp>
    <ppap *ngIf="currentStep === 'Ppap'">
    </ppap>
</ng-container>

<call-status [callStatus]="callStatus" [large]="true">
</call-status>