<ng-container *ngIf="transportExecutionPlan">

    <value-view [presentationMode]="'edit'"
                [propName]="'Response'"
                [(value)]="transportExecutionPlan.documentStatusCode.name">
    </value-view>

    <value-view [presentationMode]="'edit'"
                [propName]="'Response Reason'"
                [(value)]="transportExecutionPlan.documentStatusReasonCode.name">
    </value-view>

    <value-view [presentationMode]="'edit'"
                [propName]="'Note'"
                [(value)]="transportExecutionPlan.note[0]">
    </value-view>

    <div class="d-flex justify-content-end">
        <ng-container *ngIf="bpDataService.processMetadata.processStatus != 'Completed'">
            <button *ngIf="bpDataService.userRole == 'seller'" class="btn btn-success"
                    (click)="respondToTransportExecutionPlanRequest()">Respond to Execution Plan
            </button>
        </ng-container>
    </div>
</ng-container>
<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>