<ng-container *ngIf="transportExecutionPlan">

    <div class="input-group form-group">
        <label class="col-3 control-label">Response</label>
        <select class="custom-select" [disabled]="bpDataService.processMetadata.processStatus == 'Completed'"
                [(ngModel)]="transportExecutionPlan.documentStatusCode.name">
            <option>Accepted</option>
            <option>Rejected</option>
        </select>
    </div>

    <value-view [presentationMode]="bpDataService.processMetadata.processStatus == 'Completed' ? 'singlevalue' : 'edit'"
                [propName]="'Response Reason'"
                [(value)]="transportExecutionPlan.documentStatusReasonCode.name">
    </value-view>

    <value-view [presentationMode]="bpDataService.processMetadata.processStatus == 'Completed' ? 'singlevalue' : 'edit'"
                [propName]="'Note'"
                [(value)]="transportExecutionPlan.note[0]">
    </value-view>

    <div class="d-flex justify-content-end">
        <ng-container *ngIf="bpDataService.processMetadata.processStatus != 'Completed'">
            <button *ngIf="bpDataService.userRole == 'seller'" class="btn btn-primary" [disabled]="submitted"
                    (click)="respondToTransportExecutionPlanRequest()">Respond to Execution Plan
            </button>
        </ng-container>
    </div>
</ng-container>
<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>