<!-- Consolidated Shipment -->
<div class="row">
    <div class="col-12">
        <h4>Consolidated Shipment</h4>

        <!-- Goods Item -->
        <text-input presentationMode="view" label="Goods Item" definition="The goods item included in this shipment"
            [(text)]="request.consignment[0].consolidatedShipment[0].goodsItem[0].item.name" labelClass="col-2" valueClass="col-10">
        </text-input>

        <!-- Gross Volume -->
        <quantity-input label="Gross Volume" definition="The total volume of the goods in this shipment, including packaging, e.g.: Quantity: 78, Unit: L"
            [quantity]="request.consignment[0].grossVolumeMeasure" quantityType="volume_quantity" labelClass="col-2" valueClass="col-10">
        </quantity-input>

        <!-- Gross Weight -->
        <quantity-input label="Gross Weight" definition="The total gross weight of a shipment; the weight of the goods plus packaging plus transport equipment,e.g. Quantity: 12, Unit: kg"
            [quantity]="request.consignment[0].grossWeightMeasure" quantityType="weight_quantity" rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </quantity-input>

        <!-- Handling Instructions -->
        <!-- TODO change with <shipment-input> -->
        <text-input label="Handling Instructions" definition="The handling required for this shipment"
            [(text)]="request.consignment[0].consolidatedShipment[0].handlingInstructions" rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </text-input>
    </div>
</div>

<hr>

<!-- Dates -->
<div class="row">
    <div class="col-12">
        <h4>Pick-up Dates</h4>
        <!-- Service Start Date -->
        <date-input label="Minimum Date" definition="The period within which the services referred to in the Transport Execution Plan Request must begin."
            [(date)]="request.serviceStartTimePeriod.startDate" rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </date-input>

        <!-- Service End Date -->
        <date-input label="Maximum Date" definition="The period during which the services referred to in the Transport Execution Plan Request must be completed."
        [(date)]="request.serviceStartTimePeriod.endDate" rowClass="space-before" labelClass="col-2" valueClass="col-10">
        </date-input>
    </div>
</div>

<hr>

<!-- Origin Address -->
<div class="row">
    <div class="col-12">
        <h4>Origin</h4>
        <address-input [address]="request.fromLocation.address">
        </address-input>
    </div>
</div>

<hr>

<!-- To Address -->
<div class="row">
    <div class="col-12">
        <h4>Destination</h4>
        <address-input [address]="request.toLocation.address">
        </address-input>
    </div>
</div>

<hr>

<!-- Note -->
<text-input label="Request Note" [(text)]="request.note" labelClass="col-2" valueClass="col-10">
</text-input>

<hr>

<!-- Contract -->
<h4>Contract</h4>
<ng-container *ngIf="request.transportContract && request.transportContract?.clause.length > 0">
    <contract [contract]="request.transportContract">
    </contract>
</ng-container>

<hr>

<!-- Actions -->
<div class="row actions-row">
    <div class="col-3">TODO remove if submitted</div>
    <div class="col-4 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">Back</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary action" [disabled]="isLoading()" (click)="onSendRequest()">
            Send Execution Plan Terms
        </button>
    </div>
</div>
