<div>
    <ul class="nav nav-tabs">
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Transportation Service Details'}"
                    (click)="selectedTab = 'Transportation Service Details'"
                    i18n
            >Transportation Service Details</a>
        </li>
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Transport Execution Plan Request Details'}"
                    (click)="selectedTab = 'Transport Execution Plan Request Details'"
                    i18n
            >Transport Execution Plan Request Details</a>
        </li>
        <li *ngIf="bpDataService.transportExecutionPlan" class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Transport Execution Plan Details'}"
                    (click)="selectedTab = 'Transport Execution Plan Details'"
                    i18n
            >Transport Execution Plan Details</a>
        </li>
    </ul>
</div>
<div *ngIf="bpDataService.catalogueLines[0]"
     class="mt-3">
    <transportation-service-details *ngIf="selectedTab === 'Transportation Service Details'"
                                    [catalogueLine]="bpDataService.catalogueLines[0]"
                                    [presentationMode]="presentationMode">
    </transportation-service-details>
    <transport-execution-plan-request *ngIf="selectedTab === 'Transport Execution Plan Request Details'"
                                      [transportExecutionPlanRequest]="bpDataService.transportExecutionPlanRequest">
    </transport-execution-plan-request>
    <transport-execution-plan *ngIf="selectedTab === 'Transport Execution Plan Details'"
                              [transportExecutionPlan]="bpDataService.transportExecutionPlan">
    </transport-execution-plan>

    <businessProcess-options    *ngIf="selectedTab === 'Transport Execution Plan Details' && bpDataService.processMetadata && bpDataService.processMetadata.processStatus == 'Completed'"
                                (selectedTabChanged)="selectedTab='Transport Execution Plan Request Details'"
                                [processName]="'Transport_Execution_Plan'"
                                [acceptedIndicator]="bpDataService.transportExecutionPlan.documentStatusCode.name === 'Accepted'"
                                [userRole]="bpDataService.userRole"
                                [transportationService]="true">
    </businessProcess-options>

</div>