<ng-container *ngIf="bpDataService.transportExecutionPlanRequest">

    <div class="well">
        <h6>Consolidated Shipment</h6>
        <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                    [propName]="'Goods Item'"
                    [(value)]="transportExecutionPlanRequest.consignment[0].consolidatedShipment[0].goodsItem[0].item.name">
        </value-view>

        <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                       [propName]="'Gross Volume Measure'"
                       [quantity]="[transportExecutionPlanRequest.consignment[0].grossVolumeMeasure]">
        </quantity-view>

        <quantity-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                       [propName]="'Gross Weight Measure'"
                       [quantity]="[transportExecutionPlanRequest.consignment[0].grossWeightMeasure]">
        </quantity-view>

        <shipment-view [showCarrierPartyDetails]="bpDataService?.userRole != 'buyer'"
                       [shipment]="transportExecutionPlanRequest.consignment[0].consolidatedShipment[0]"
                       [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'">
        </shipment-view>
    </div>

    <div class="well">
        <h6>Execution Plan</h6>
        <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                    [propName]="'Service Start Date'"
                    [(value)]="transportExecutionPlanRequest.serviceStartTimePeriod.startDate">
        </value-view>

        <value-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                    [propName]="'Service End Date'"
                    [(value)]="transportExecutionPlanRequest.serviceEndTimePeriod.endDate">
        </value-view>

        <address-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                      [propName]="'From Location'"
                      [address]="[transportExecutionPlanRequest.fromLocation.address]">
        </address-view>

        <address-view [presentationMode]="bpDataService.processMetadata == null ? 'edit' : 'singlevalue'"
                      [propName]="'To Location'"
                      [address]="[transportExecutionPlanRequest.toLocation.address]">
        </address-view>
    </div>

    <div class="d-flex justify-content-end">
        <button *ngIf="bpDataService.userRole == 'buyer' && bpDataService.processMetadata == null" [disabled]="submitted"
                class="btn btn-success" (click)="sendTransportExecutionPlanRequest()">Use Service
        </button>
    </div>
</ng-container>
<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>