
<ol class="breadcrumb">
    <li class="breadcrumb-item active"
        *ngFor="let concept of conceptPaths; let i=index;">
        <button (click)="check(concept, i)"
                class="btn btn-link btn-sm"
                placement="bottom"
                ngbTooltip="Click to go back to {{concept.concept}}"
        >{{concept.concept}}</button>
    </li>
</ol>

<ng-template #searchTip>
    <p>Start typing and press <kbd>Tab</kbd> for Autocompletion</p>
</ng-template>

<ng-template #valuesTemplateRef let-values>
    <div class="card">
        <div class="card-header">Available Values</div>
        <div class="card-block">
            <p>Select One or More Values</p>
            <div *ngFor="let eachVal of values">
                <label>
                    <input type="checkbox"
                           (change)="filtersSelected(eachVal, $event)"/>
                    <span><strong>{{eachVal}}</strong></span>
                </label>
            </div>
            <hr>
            <div *ngIf="valuesAreNumeric">
                <div class="row">
                    <p>Manual Filter
                    <span><button
                            class="btn btn-outline-secondary btn-sm"
                            (click)="disableManualFilters = !disableManualFilters"
                    >{{disableManualFilters ? 'Activate' : 'Deactivate'}}</button></span>
                    </p>
                </div>
                <div class="input-group-sm">
                    <label for="min"><span>min</span></label>
                    <input id="min" type="number"
                           class="form-control-sm"
                           [disabled]="disableManualFilters"
                           #minVal
                    >
                    <br>
                    <label for="max"><span>max</span></label>
                    <input id="max" type="number"
                           class="form-control-sm"
                           [disabled]="disableManualFilters"
                           #maxVal
                    >
                    <button class="btn btn-primary btn-sm"
                            [disabled]="disableManualFilters"
                            (click)="applyManualFilter(minVal.value, maxVal.value)"
                    >Apply</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="container" [hidden]="!hiddenElement">
    <div class="row">
        <!--<pre>-->
        <!--<code>-->
        <!--{{sparqlSelectedOption | json}}-->
        <!--</code>-->
        <!--</pre>-->
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <caption>Product Overview</caption>
                <thead>
                <tr>
                    <th>
                        Properties
                    </th>
                    <th>
                        Specifications
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let column of sparqlSelectedOption?.columns; let i=index">
                    <th scope="row">
                        {{column}}
                    </th>
                    <td>
                        {{sparqlSelectedOption.rows[0][i]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-6">
            <button class="btn btn-outline-primary" (click)="hiddenElement=!hiddenElement">Back to Explorer</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-warning" [disabled]="!negotiationEnable" (click)="negotiation()">
                Negotiate</button>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px" *ngIf="configSPQ" [hidden]="hiddenElement">
        <h4> Property Explorer for {{configSPQ.frozenConcept}}</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Available Properties
                    </div>
                    <ngb-alert type="info" [dismissible]="false" *ngIf="updateInfoAlert">
                        <p>Information Updated</p>
                    </ngb-alert>
                    <div class="card-block">
                        <div class="input-group-md">
                            <label for="typeahead-template"><span>Search</span></label>
                            <input id="typeahead-template"
                                   type="text"
                                   class="form-control"
                                   [(ngModel)]="searchModel"
                                   [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
                                   (keyup.enter)="checkUserSelection(searchModel)"
                                   placement="top"
                                   [ngbTooltip]="searchTip"
                            />
                        </div>
                        <br>
                        <br>
                        <select size="15" class="form-control mr-4">
                            <optgroup label="Properties">
                                <option *ngFor="let eachVal of dataResults"
                                        [selected]="searchModel.translatedProperty===eachVal.translatedProperty"
                                        (click)="getPropertyValues(eachVal)">
                                    <span>{{eachVal.translatedProperty}}</span>
                                </option>
                            </optgroup>
                            <optgroup label="References">
                                <option *ngFor="let eachVal of objResults; let i=index;"
                                        [selected]="searchModel.translatedProperty===eachVal.translatedProperty"
                                        (click)="getReferenceValues(eachVal, i)">
                                    <span>{{eachVal.translatedProperty}}</span>
                                </option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="searchvalue.length > 0">
                <template [ngTemplateOutlet]="valuesTemplateRef" [ngTemplateOutletContext]="{$implicit: searchvalue}">
                </template>
            </div>
        </div>
    <hr>
</div>
<div class="container" *ngIf="sparqlJSON.parameters.length">
    <div class="row" [hidden]="hiddenElement">
        <button class="btn btn-lg btn-success" (click)="genTable()">Obtain Results</button>
    </div>
    <br>
    <br>
    <div class="row" *ngIf="tableResult?.columns !== undefined">
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <caption>Available Results from NIMBLE</caption>
                <thead>
                <tr>
                    <th>
                        Properties
                    </th>
                    <th *ngFor="let row of tableResult?.rows; let i=index" scope="col">
                        Result #{{i+1}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let column of tableResult?.columns; let cind=index">
                    <th scope="row">{{column}}</th>
                    <td *ngFor="let row of tableResult?.rows">{{row[cind]}}</td>
                </tr>
                <tr>
                    <th>More Info.</th>
                    <td scope="row" *ngFor="let uuid of tableResult?.uuids; let uuidIndex=index">
                        <button class="btn btn-xs btn-outline-success"
                                (click)="getSparqlOptionalSelect(uuidIndex)">
                            More
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!--<pre>-->
    <!--<code>{{tableJSON | json}}</code>-->
    <!--</pre>-->
</div>

<!--<div class="container">-->
<!--<pre>-->
<!--<code>-->
<!--&lt;!&ndash;{{configSPQ | json}}&ndash;&gt;-->
<!--&lt;!&ndash;{{propertyResults | json}}&ndash;&gt;-->
<!--&lt;!&ndash;searchModel : {{searchModel | json}}&ndash;&gt;-->
<!--&lt;!&ndash;{{dataResults | json}}&ndash;&gt;-->
<!--&lt;!&ndash;{{objResults | json}}&ndash;&gt;-->
<!--{{sparqlJSON | json}}-->
<!--</code>-->
<!--</pre>-->
<!--</div>-->