<!-- Explorative Search Filter HTML -->

<!-- Display the Filter Panel only when the filterConfig is non empty -->
<!--<div class="filterArea" *ngIf="(filterProperties['filterJSON'] | json) != '{}'">-->
    <!--<h4>{{filterProperties.fName}} Filter</h4>-->
    <!--<div *ngFor="let every of result">-->
        <!--&lt;!&ndash; CheckBoxes for the Filter &ndash;&gt;-->
        <!--<input #cbCheck type="checkbox"-->
               <!--(change)="cbCheck.checked"-->
               <!--[value]="every.description"-->
            <!--(click)="checkedValues(cbCheck.value, $event.target.checked)">{{every.description}}-->
    <!--</div>-->
    <!--<br>-->
    <!--&lt;!&ndash; Slider &ndash;&gt;-->
    <!--<div>-->
        <!--<p>Amount Of Groups  <span #rangeVal>3</span></p>-->
        <!--<input type="range" min="1" max="10" value="3" (change)="getGroupVal($event.target.value)">-->
    <!--</div>-->
    <!--&lt;!&ndash; Submission of Filter Parameters &ndash;&gt;-->
    <!--&lt;!&ndash;<button type="submit" class="btn btn-large btn-success"-->
            <!--(click)="submitFilter()">Submit-->
    <!--</button> &ndash;&gt;-->
<!--</div>-->
<!--<div [hidden]="!_error_detected_slider">-->
    <!--<div class="alert alert-danger space-before" role="alert">An error occured - please try again later</div>-->
<!--</div>-->
<div class="card" *ngIf="filterProperties.filterJSON !== undefined">
<div class="card-header">
    <h4> {{filterProperties.fName}} Filter </h4>
</div>
<div class="card-body">
    <ngb-alert type="info" [dismissible]="false">
        <p><i class="fa fa-1x fa-info-circle"></i> Filter Values are Optional.
        </p>
        <p>If you do select a value do not forget
            to press the <kbd>Apply Filter</kbd> button.</p>
    </ngb-alert>
    <div *ngFor="let every of result">
        <!-- CheckBoxes for the Filter -->
        <label>
            <input #cbCheck type="checkbox"
            (change)="cbCheck.checked"
            [value]="every.description"
            (click)="checkedValues(cbCheck.value, $event.target.checked)">
            <span>{{every.description}}</span>
        </label>
    </div>

    <div>
    <p>Amount Of Groups  <span #rangeVal>3</span></p>
    <input type="range" min="1" max="10" value="3" (change)="getGroupVal($event.target.value)">
    </div>
    <button class="btn btn-primary" (click)="submitFilter()">Apply Filter</button>
</div>
</div>