
ul {
    /*display: inline;*/
    list-style: none;
}
/*li {*/
    /*display: inline;*/
/*}*/

.displayArea {
    height:  700px;
    width: 100%;
}

.ac-keywords {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}