/**
 * Style Sheet for Explorative Search Form
*/
.kwArea {
    border: 1px solid black;
    background-color: #f7f7f7;
    align-content: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.searchQueries {
    display: inline-block;
    color: blue;
    font-size: large;
    padding-right: 10px;
}

.searchQueries:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

ul {
     list-style: none;
}
