<!-- Explorative Search Form HTML -->
<!-- Search Bar -->
<div id="loading-bg" *ngIf="loading">
    <div id="sk-loading-icon">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>
<div>
    <h3>Explore</h3>
        <form class="space-before" (ngSubmit)="Search(model.q, language)" #exSearchForm="ngForm" novalidate>
            <div class="form-group row">
          		<label for="expSearch" class="col-2 col-form-label" i18n>Search</label>
          		<div class="col-10">
          			<div class="input-group">
          			  <input type="text" class="form-control" id="expSearch" required [(ngModel)]="model.q" name="expSearch" #q="ngModel" pattern=".{1,}" placeholder="Product / Service / Company">
          			  <div class="input-group-append">
                    <select [(ngModel)]="language"
                            [ngModelOptions]="{standalone: true}"
                            class="custom-select" style="border-radius:0;">
                        <option *ngFor="let eachLang of availableLanguages['languages']"
                                [ngValue]="eachLang">
                            {{eachLang}}
                        </option>
                    </select>
          					<button type="submit" class="btn btn-outline-secondary" [disabled]="!exSearchForm.form.valid">
          						<i class="fa fa-search"></i>
          					</button>
          			  </div>
          			</div>
          		</div>
          	</div>
        </form>
    <!-- Warnings and Errors Here! -->
    <div [hidden]="!_error_detected_kw">
        <div class="alert alert-danger space-before"
             role="alert">
            <em>An Error Occured</em> - Check Your Keyword or Please Try Again Later.
        </div>
    </div>
    <div [hidden]="!_warning_kw">
        <div class="alert alert-warning space-before" role="alert">No Such Result Found.
            Check Your Keyword and Language Selections.
        </div>
    </div>
</div>
<!-- Search Keywords go here -->
<div *ngIf="Output.length">
    <div class="row">
        <div class="col-sm-2">
            <label class="col-form-label-lg"><b> Search History </b></label>
        </div>
        <div class="col-sm-10 w-auto">
            <div class="btn-group btn-group-toggle" *ngFor="let keyword of Output; let cbIndex = index" data-toggle="buttons">
                    <label class="btn d-flex align-items-center btn-primary px-3 mb-0" ngbButtonLabel
                           placement="top"
                           ngbTooltip="{{(kwCheck.checked) ? 'show' : 'hide'}} result">
                        <input type="checkbox"
                               ngbButton
                               #kwCheck
                               (change)="kwCheck.checked; hideKW(cbIndex)"
                        /> <span class="px-1 mb-0">{{keyword.kw}}</span>
                    </label>
                    <button class="btn btn-danger"
                              (click)="deleteKW(keyword.kw); $event.stopPropagation()"
                              [disabled]=kwCheck.checked
                              [hidden]="kwCheck.checked">
                        &times;
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- Display of Content from server -->
<div *ngIf="Output.length">
    <div class="row">
        <div class="col-sm-2">
            <label class="col-form-label-lg"><b> Results Found </b></label>
        </div>
        <div class="col-sm-10">
            <!--<ul>-->
                <div *ngFor="let eachOutput of Output; let outerIndex = index" style="margin-top: 5px; margin-bottom: 5px;">
                    <div [hidden]="showParticularKeyword[outerIndex]">
                        <div class="btn-group" role="group" aria-label="available keywords"
                             *ngFor="let each of eachOutput.resp.conceptOverview; let innerIndex = index">
                            <button type="button" class="btn btn-dark"
                                    *ngIf="innerIndex === 0 || showMore[outerIndex]"
                                    (click)="getQuery(each.url, each.translatedURL)">{{each.translatedURL}}
                            </button>
                        </div>
                        <div style="display: inline">
                            <button type="button" class="btn btn-secondary"
                                    *ngIf="eachOutput.resp.conceptOverview.length > 1"
                                    (click)="showMore[outerIndex]=!showMore[outerIndex]">
                                {{showMore[outerIndex] ? 'Hide': 'Show'}} Options</button>
                        </div>
                    </div>
                </div>
            <!--</ul>-->
        </div>
    </div>
</div>

<div>
<ngb-tabset (tabChange)="activeTab($event)" [destroyOnHide]="true">
    <ngb-tab title="Semantic Query" id="sqp" [disabled]="!SQPConfig">
        <ng-template ngbTabContent>
            <explore-search-semantic [configSPQ]="SQPConfig" [lang]="language"></explore-search-semantic>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Graph Navigation" id="graphNav" [disabled]="!visData">
        <ng-template ngbTabContent>
            <explore-search-details [config]="visData" [lang]="language"></explore-search-details>
            <div [hidden]="!_error_detected_query">
                <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>
