<div class="container displayArea">
    <br>
    <br>

    <div class="row">
        <div class="col-12">
            <h5>Your Semantic Query</h5>
            <code>
                {{sentence | json}}
            </code>
            <div class="form-group" *ngIf=" results.length > 1 && !selectedConcept">
                <p><b>Search Property</b></p>
                    <input type="search" class="form-control"
                           [(ngModel)]="model"
                           [ngbTypeahead]="search"
                           [resultTemplate]="rt"
                           [inputFormatter]="formatter"
                           (keyup.enter)="sentence=sentence+model.translatedProperty; selectedPropertyURL=model.propertyURL; selectedConcept=true;"
                    style="width: 500px;"/>
            </div>
            <template #rt let-r="result" let-t="term">
                <div>
                {{r.translatedProperty}}
                </div>
            </template>

            <div *ngIf="searchvalue.length > 0 && !selectedValue">
                <p><b>Available Values</b></p>
            <ul class="list-group ac-keywords">
                <li class="list-group-item"
                    *ngFor="let eachval of searchvalue" (click)="sentence=sentence+eachval; selectedValue=true;">
                {{eachval}}
                </li>
            </ul>
            </div>

            <div>
                {{referenceResults['allAvailableReferences'] | json}}
            </div>
    </div>
    </div>
    <br>
    <br>
    <div class="row">
        <br>
        <br>

        <div class="col-8">
            <ul>
                <div class="btn-group">
                    <li>
                        <button class="btn btn-primary btn-lg"
                                (click)="hasPropertyRelation('hasProperty')"> hasProperty </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-lg"
                                (click)="hasValueRelation('hasValue')"> hasValue </button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-lg" #refBtn
                                (click)="hasReferenceRelation('hasReference')"> hasReference </button>
                    </li>
                    <li *ngFor="let eachButton of objectRelationsButton['listOfSQP']">
                        <button class="btn btn-warning btn-lg" #objBtn (click)="objectPropRelation(eachButton)">
                            {{eachButton}}
                        </button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
