.kwArea {
    border: 1px solid black;
    background-color: peachpuff;
    align-content: left;
}

.searchQueries {
    display: inline-block;
    color: blue;
    font-size: large;
    padding-right: 10px;
}

.searchQueries:hover {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

ul {
     list-style: none;
}

.displayArea {
    width: 100%;
    height: 650px;
}