<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/head :: main"></div>
    <div th:include="fragments/javascript :: main"></div>
</head>

<body>

<div class="page-header">
    <h1>Sign up on NIMBLE</h1>
</div>

<form class="form-horizontal" th:action="@{/register_company.do}" method="post">
    <fieldset>

        <legend>Basic Company Details</legend>

        <!-- Company Name-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="company-name">Company name</label>
            <div class="col-md-4">
                <input id="company-name" name="company-name" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Company e-mail-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="company-email">Company email</label>
            <div class="col-md-4">
                <input id="company-email" name="company-email" type="email" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Company address-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="company-address">Address</label>
            <div class="col-md-4">
                <input id="company-address" name="company-address" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- City -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Address</label>
            <div class="col-md-4">
                <input id="city" name="city" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Country -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Country</label>
            <div class="col-md-4">
                <input id="country" name="country" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Website -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="website">Website</label>
            <div class="col-md-4">
                <input id="website" name="website" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Phone</label>
            <div class="col-md-4">
                <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" >
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary pull-right">Save and Proceed</button>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>