.graph {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.graph .edge {
    stroke: #fff;
    fill: none;
}
.graph .edge .edge-label {
    stroke: none;
    font-size: 12px;
    fill: #666;
}
.graph .panning-rect {
    fill: transparent;
    cursor: pointer;
}
.graph .node-group .node:focus {
    outline: none;
}
.edge path {
    stroke: #666 !important;
}

ngb-accordion {
    margin-bottom: 10rem;
}