<div>
    <p class="nimble-title">Track Your Product</p>
    <form class="space-before" (ngSubmit)="Search(model.q)" #trackForm="ngForm" novalidate>
        <div class="form-group row">
            <label class="col-2 col-form-label">Enter EPC Code</label>
            <div class="col-10">
                <div class="input-group">
                    <input type="text"
                           class="form-control" required [(ngModel)]="model.q"
                           name="trackSearch" #q="ngModel" pattern=".{1,}"
                           placeholder="Your SGTIN Code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary" [disabled]="!trackForm.form.valid">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div [hidden]="!error_detc">
        <div class="alert alert-danger space-before"
             role="alert">
            <p>
                <em>An Error Occured</em> - Check Your EPC Code or Please Try Again Later.
            </p>
            <p *ngIf="falsecode">
                <i class="fa fa-exclamation"></i> <em>{{falsecode}}</em>
            </p>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="!trackingInfo.length">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-center">
                <i class="fas fa-truck-loading fa-5x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 align-center">
                <h4>No Tracking Results</h4>
                <p class="text-secondary">Try searching for a valid tracking code above</p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="trackingInfo.length">
    <div class="col-lg-8">
        <h4>Tracking Information</h4>
        <!--<div class="row">-->
            <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
            <th>Event Time</th>
            <th>Business Step</th>
            <!-- <th>Action</th> -->
            <th>Read Point</th>
            <th>Business Location</th>
            </tr>
            </thead>

            <tr *ngFor="let entry of trackingInfo">
            <td>{{entry.eventTime}}</td>
            <td>{{entry.bizStep}}</td>
            <!-- <td>{{entry.action}}</td> -->
                <td><button class="btn btn-link" (click)="getGateInfo(entry.readPoint)">{{entry.readPoint}}</button></td>
                <td><button class="btn btn-link" (click)="getBizLocInfo(entry.bizLocation)">{{entry.bizLocation}}</button></td>
            </tr>
            </table>
            <div class="row" *ngIf="trackingInfo.length">
                <ngb-alert type="success" [dismissible]="false" *ngIf="verified">
                    <i class="fas fa-check-circle"></i> This Data is Verified by BlockChain  <i class="fas fa-project-diagram"></i> </ngb-alert>
            </div>
        <!--</div>-->
    </div>
    <div class="col-lg-4" *ngIf="gateInformation.length || bizLocationInformation.length">
        <h4>Additional Details</h4>
        <!--<div class="row">-->
            <!--{{gateInformation | json}}-->
            <!--{{bizLocationInformation | json}}-->
            <div class="card" *ngIf="gateInformation.length">
                <div class="card-header">
                    <strong>{{currentGate}}</strong>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let eachInfo of gateInformation">
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#name']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda:site']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#streetAddressOne']}}, {{eachInfo['attributes']['urn:epcglobal:cbv:mda#city']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#countryCode']}}</li>
                </ul>
            </div>
            <!--<div class="row">-->
            <div class="card" *ngIf="bizLocationInformation.length">
                <div class="card-header">
                    <strong>{{currentBizLoc}}</strong>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let eachInfo of bizLocationInformation">
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#name']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda:site']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#streetAddressOne']}}, {{eachInfo['attributes']['urn:epcglobal:cbv:mda#city']}}</li>
                    <li class="list-group-item">{{eachInfo['attributes']['urn:epcglobal:cbv:mda#countryCode']}}</li>
                </ul>
            </div>
            <!--</div>-->
        <!--</div>-->
    </div>
<!--<div class="col-lg-3 border border-dark align-content-center ml-3" *ngIf="hierarchialGraph.nodes.length">-->
    <!--<ngx-graph-->
        <!--[view]="[350,1000]"-->
        <!--[autoCenter]="'true'"-->
        <!--[center$]="center$"-->
        <!--[nodes]="hierarchialGraph.nodes"-->
        <!--[links]="hierarchialGraph.links"-->
        <!--[orientation] = "orientation"-->
        <!--[curve]="curve"-->
        <!--[draggingEnabled]="true"-->
        <!--[panningEnabled]="false"-->
        <!--[enableZoom]="false"-->
        <!--(select)="selectNode($event)"-->
    <!--&gt;-->
    <!--<ng-template #defsTemplate>-->
    <!--<svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">-->
    <!--<svg:path d="M0,-5L10,0L0,5" class="arrow-head" />-->
    <!--</svg:marker>-->
    <!--</ng-template>-->

    <!--<ng-template #nodeTemplate let-node>-->
        <!--<svg:g class="node"-->
        <!--ngx-tooltip-->
        <!--[tooltipPlacement]="'top'"-->
        <!--[tooltipType]="'tooltip'"-->
        <!--[tooltipTitle]="node.status"-->
        <!--&gt;-->
        <!--<svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.color" />-->
        <!--<svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2"-->
            <!--fill="white">{{node.label}}</svg:text>-->
        <!--</svg:g>-->
    <!--</ng-template>-->

    <!--<ng-template #linkTemplate let-link>-->
        <!--<svg:g class="edge">-->
            <!--<svg:path-->
                <!--class="line"-->
            <!--stroke-width="2"-->
            <!--marker-end="url(#arrow)" >-->
            <!--</svg:path>-->
            <!--<svg:text class="edge-label" text-anchor="middle" fill="black">-->
                <!--<textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%" fill="black">-->
                    <!--{{link.label}}-->
                <!--</textPath>-->
            <!--</svg:text>-->
        <!--</svg:g>-->
    <!--</ng-template>-->
    <!--</ngx-graph>-->
<!--</div>-->
</div>

<!--<div>-->
<!--<pre>{{hierarchialGraph | json}}</pre>-->
<!--<pre>{{trackingInfo | json}}</pre>-->

<!--</div>-->
