<div class="space-before">
	<div>
		<ul class="nav nav-tabs">
			<li class="nav-item pointer">
				<a
						[ngClass]="{'nav-link': true, active: selectedTab === 'Product Details'}"
						(click)="selectedTab = 'Product Details'"
						i18n
				>Product Characteristics</a>
			</li>

			<li class="nav-item pointer">
				<a
						[ngClass]="{'nav-link': true, active: selectedTab === 'Trading & Delivery Terms'}"
						(click)="selectedTab = 'Trading & Delivery Terms'"
						i18n
				>Trading & Delivery Terms</a>
			</li>
		</ul>
	</div>
	<ng-container *ngIf="catalogueLine">
		<product-details *ngIf="selectedTab === 'Product Details'"
						 [catalogueLine]="catalogueLine"
						 [presentationMode]="'singlevalue'">
		</product-details>
		<trading-details *ngIf="selectedTab === 'Trading & Delivery Terms'"
						 [catalogueLine]="catalogueLine"
						 [presentationMode]="'singlevalue'"
						 [priceEditable]="true">
		</trading-details>
	</ng-container>
	<div class="container ">
		<div class="row justify-content-end">
			<button class="btn btn-success col-4" (click)="sendRfq()">Send Requested Terms</button>
		</div>
	</div>
</div>

<div [hidden]="error_detc || callback || !submitted">
    <img class="space-before" src="assets/form_loader.gif"/>
</div>
<div [hidden]="!callback">
    <div class="alert alert-success space-before" role="alert" i18n>Request placed - track the progress on your <a
            routerLink="/dashboard">dashboard</a></div>
</div>
<div [hidden]="!error_detc">
    <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
</div>