<ng-container *ngIf="settings">
    <!-- Title -->
    <div class="row space-before">
        <div class="col-12">
            <h3>Negotiation Settings</h3>
        </div>
    </div>
    
    <!-- Payment Terms -->
    <div class="row space-before">
        <div class="col-2">
            <input-label label="Available Payment Terms"></input-label>
        </div>
        <div class="col-5">
            <div *ngFor="let term of PAYMENT_TERMS_LEFT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="paymentTerms.isSelected(term)" (change)="paymentTerms.toggle(term)">
                <label class="form-check-label">{{ term }}</label>
            </div>
        </div>
        <div class="col-5">
            <div *ngFor="let term of PAYMENT_TERMS_RIGHT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="paymentTerms.isSelected(term)" (change)="paymentTerms.toggle(term)">
                <label class="form-check-label">{{ term }}</label>
            </div>
        </div>
    </div>
    
    <!-- Payment Means -->
    <div class="row space-before">
        <div class="col-2">
            <input-label label="Available Payment Means"></input-label>
        </div>
        <div class="col-5">
            <div *ngFor="let mean of PAYMENT_MEANS_LEFT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="paymentMeans.isSelected(mean)" (change)="paymentMeans.toggle(mean)">
                <label class="form-check-label">{{ mean }}</label>
            </div>
        </div>
        <div class="col-5">
            <div *ngFor="let mean of PAYMENT_MEANS_RIGHT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="paymentMeans.isSelected(mean)" (change)="paymentMeans.toggle(mean)">
                <label class="form-check-label">{{ mean }}</label>
            </div>
        </div>
    </div>
    
    <!-- Incoterms -->
    <div class="row space-before">
        <div class="col-2">
            <input-label label="Available Incoterms"></input-label>
        </div>
        <div class="col-5">
            <div *ngFor="let term of INCOTERMS_LEFT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="incoterms.isSelected(term)" (change)="incoterms.toggle(term)">
                <label class="form-check-label">{{ term }}</label>
            </div>
        </div>
        <div class="col-5">
            <div *ngFor="let term of INCOTERMS_RIGHT; let i = index" class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="incoterms.isSelected(term)" (change)="incoterms.toggle(term)">
                <label class="form-check-label">{{ term }}</label>
            </div>
        </div>
    </div>
    
    
    <!-- Delivery Period -->
    <div class="row space-before">
        <div class="col-12">
            <h4>Delivery Period</h4>
        </div>
    </div>
    
    <div *ngFor="let unit of settings.deliveryPeriodUnits; let i = index" class="row space-before">
        <div class="col-2">
            <input-label *ngIf="i === 0" label="Shortest" definition="The shortest possible delivery period that may be requested by a customer"></input-label>
        </div>
        <div class="col-4">
            <amount-input [(amount)]="settings.deliveryPeriodRanges[i].start" [amountUnit]="unit"></amount-input>
        </div>
        <div class="col-2">
            <input-label *ngIf="i === 0" label="Longest" definition="The longest possible delivery period that may be requested by a customer"></input-label>
        </div>
        <div class="col-4">
            <amount-input [(amount)]="settings.deliveryPeriodRanges[i].end" [amountUnit]="unit"></amount-input>
        </div>
    </div>
    
    <!-- Warranty Period -->
    <div class="row space-before">
        <div class="col-12">
            <h4>Warranty Period</h4>
        </div>
    </div>
    
    <div *ngFor="let unit of settings.warrantyPeriodUnits; let i = index" class="row space-before">
        <div class="col-2">
            <input-label *ngIf="i === 0" label="Shortest" definition="The shortest possible warranty period that may be requested by a customer"></input-label>
        </div>
        <div class="col-4">
            <amount-input [(amount)]="settings.warrantyPeriodRanges[i].start" [amountUnit]="unit"></amount-input>
        </div>
        <div class="col-2">
            <input-label *ngIf="i === 0" label="Longest" definition="The longest possible warranty period that may be requested by a customer"></input-label>
        </div>
        <div class="col-4">
            <amount-input [(amount)]="settings.warrantyPeriodRanges[i].end" [amountUnit]="unit"></amount-input>
        </div>
    </div>
    
    <div class="row actions-row space-before">
        <div class="col-10 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
        <div class="col-2">
            <button class="btn btn-primary action" [disabled]="isLoading() || !isDirty()" (click)="onSave()">Save</button>
        </div>
    </div>    
</ng-container>

<call-status [callStatus]="initCallStatus" [large]="true"></call-status>
