<h3>Send Invitation</h3>

<form (ngSubmit)="onSubmit()" class="space-before" #inviteForm="ngForm" novalidate>
	<div class="input-group form-group">
		<label for="email" class="input-group-addon" i18n>E-Mail</label>
		<input type="email" class="form-control" id="email" required [(ngModel)]="invEmail" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" i18n-placeholder placeholder="e.g. user@domain.com">
	</div>
		
	<button type="submit" class="btn btn-success" [disabled]="!inviteForm.form.valid" i18n>Submit</button>
	
	<div [hidden]="callback || error_detc || !submitted">
		<img class="space-before" src="assets/form_loader.gif"/>
	</div>
	
	<div [hidden]="!callback">
		<div class="alert alert-success space-before" role="alert">Invitation successful</div>
	</div>
	
	<div [hidden]="!error_detc">
		<div class="alert alert-danger space-before" role="alert">User already invited</div>
	</div>
	
</form>

<h3 class="space-before">Company Members</h3>

<div class="space-before">
	<table class="table table-striped table-bordered">
		<tr><th>E-mail</th><th>Status</th></tr>
		<tr [hidden]="callback2">
			<td colspan="2"><img src="assets/form_loader.gif"/></td>
		</tr>
		<tr [hidden]="!callback2 || invPending.length > 0">
			<td colspan="2">No data</td>
		</tr>
		<tr *ngFor="let inv of invPending">
			<td>{{inv.email}}</td>
			<td>
				<span *ngIf="!inv.pending" class="badge badge-success">Registered</span>
				<span *ngIf="inv.pending" class="badge badge-info">Invitation pending</span>
			</td>
		</tr>
	</table>
</div>