<form class="company-settings-form" [formGroup]="registrationForm" novalidate (ngSubmit)="save(registrationForm)">
	<h3 class="space-after">Company Registration</h3>
	<div class="form-group row">
		<label class="col-2 col-form-label">Legal Name</label>
		<div class="col-10">
			<input type="text" class="form-control" name="companyName" [formControl]="registrationForm.controls['name']" required>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label">VAT Number</label>
		<div class="col-10">
			<input type="text" class="form-control" [formControl]="registrationForm.controls['vatNumber']" required>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label">
			<span>Verification Info</span>
			<span class="tooltip-icon" (click)="showVerificationTT(tooltip)"><i class="fa fa-question-circle"></i></span>
		</label>
		<div class="col-10">
			<input type="text" class="form-control" [formControl]="registrationForm.controls['verificationInformation']">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label">Website</label>
		<div class="col-10">
			<input type="text" class="form-control" [formControl]="registrationForm.controls['website']">
		</div>
	</div>
	<address-form [group]="registrationForm.controls.address"></address-form>
	<div>
		<button class="btn btn-success" type="submit" [disabled]="!registrationForm.valid||isSubmitting">
			<span>Register</span>
		</button>
		<div [hidden]="!isSubmitting" class="space-before">
			<img src="assets/form_loader.gif"/>
		</div>
    </div>
</form>

<ng-template #tooltip let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Tooltip</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" [innerHTML]="tooltipHTML">
	</div>
</ng-template>
