<form class="company-settings-form" [formGroup]="registrationForm" novalidate (ngSubmit)="save(registrationForm)">
	<h3 class="space-after">Company Registration</h3>
	<div class="input-group form-group">
		<label class="input-group-addon">Company Legal Name</label>
		<input type="text" class="form-control" name="companyName" [formControl]="registrationForm.controls['name']" required>
	</div>
	<address-form [group]="registrationForm.controls.address"></address-form>
	<div>
		<button class="btn btn-success" type="submit" [disabled]="!registrationForm.valid||isSubmitting">
			<span>Register</span>
		</button>
		<div [hidden]="!isSubmitting" class="space-before">
			<img src="assets/form_loader.gif"/>
		</div>
    </div>
</form>