<div *ngIf="appComponent.checkRoles('comp') && !platformManagerMode">

	<p class="nimble-title">Send Invitation</p>

	<form (ngSubmit)="onSubmit()" class="space-before" #inviteForm="ngForm" novalidate>
		<div class="form-group row">
			<label for="email" class="col-2 col-form-label" i18n>E-Mail</label>
			<div class="col-10">
				<input type="email" class="form-control" id="email" required [(ngModel)]="invEmail" name="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9._-]+\.[a-z]{2,3}$"
				 i18n-placeholder placeholder="e.g. user@domain.com">
			 </div>
		</div>

		<div class="form-group row">
			<label class="col-2 col-form-label">
				<span i18n>Roles</span>
				<span class="tooltip-icon" (click)="showRoleTT(tooltip)"><i class="fa fa-question-circle"></i></span>
			</label>
			<div class="col-10">
				<div class="form-control" [ngClass]="{'ng-valid required':rolesSelected,'ng-invalid':!rolesSelected}">
					<call-status [callStatus]="rolesCallStatus"></call-status>
					<div *ngFor="let role of userRoles">
						<input [id]="role.identifier" type="checkbox" [value]="role.identifier" class="form-check-input" [disabled]="checkDisable(role.identifier)" (change)="setRoles(role.identifier)">
						<label class="form-check-label" [for]="role.identifier">{{role.name}}</label>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="row roles-header">
			<div class="col-md-12 mb-12">
				<h4>Roles:</h4>
			</div>
		</div>

		<div class="row roles-header">
			<div class="col-md-12 mb-12">
				<select id="roles" multiple="multiple" size="5" [(ngModel)]="invRoles" [ngModelOptions]="{standalone: true}">
					<option *ngFor="let role of userRoles" [value]="role.identifier">{{role.name}}</option>
				</select>
			</div>
		</div>
		-->

		<!-- Submit action -->
		<div class="row actions-row">
			<div class="col-10 call-status-col">
				<call-status [callStatus]="submitCallStatus" [large]="true"></call-status>
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-primary action" [disabled]="!inviteForm.form.valid || !rolesSelected || submitCallStatus.isLoading()" i18n>Submit</button>
			</div>
		</div>

	</form>

</div>

<h3 class="space-before">Company Members</h3>

<div class="space-before">
	<table class="table table-striped table-bordered">
		<tr>
			<th>E-mail</th>
			<th>Status</th>
			<th>Assigned Roles</th>
			<th *ngIf="appComponent.checkRoles('comp') && !platformManagerMode">Options</th>
		</tr>
		<tr *ngIf="membersCallStatus.isDisplayed() ">
			<td colspan="4">
				<call-status [callStatus]="membersCallStatus" [large]="true"></call-status>
			</td>
		</tr>
		<tr [hidden]="!membersFetched || invPending.length > 0">
			<td colspan="4">No data</td>
		</tr>
		<tr *ngFor="let inv of invPending">
			<td>{{inv.email}}</td>
			<td>
				<span *ngIf="!inv.pending" class="badge badge-success">Registered</span>
				<span *ngIf="inv.pending" class="badge badge-info">Invitation pending</span>
			</td>
			<td>
				<span *ngFor="let role of userRoles">
					<div *ngIf="inv.roleIDs.indexOf(role.identifier)!=-1">{{role.name}}</div>
				</span>
			</td>
			<td *ngIf="appComponent.checkRoles('comp') && !platformManagerMode">
				<button *ngIf="!inv.pending&&!checkMail(inv.email)" class="btn btn-primary btn-sm" (click)="editRole(inv);openModal(role);">Edit</button>
				<button *ngIf="inv.pending&&!checkMail(inv.email)&&appComponent.checkRoles('legal')" class="btn btn-danger btn-sm" (click)="cancelInvite(inv)">Cancel</button>
				<button *ngIf="!inv.pending&&!checkMail(inv.email)&&appComponent.checkRoles('legal')" class="btn btn-danger btn-sm ml-2" (click)="deleteInvite(inv)">Delete</button>
			</td>
		</tr>
	</table>
</div>

<ng-template #role let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Change Roles</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label for="email" class="col-2 col-form-label" i18n>E-Mail</label>
			<div class="col-10">
				<input type="text" class="form-control" [(ngModel)]="invToChange.email" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-2 col-form-label">
				<span i18n>Roles</span>
				<span class="tooltip-icon" (click)="showRoleTT(tooltip)"><i class="fa fa-question-circle"></i></span>
			</label>
			<div class="col-10">
				<div class="form-control" [ngClass]="{'ng-valid required':rolesChangeSelected,'ng-invalid':!rolesChangeSelected}">
					<div *ngFor="let role of userRoles">
						<input [id]="role.identifier+'_2'" type="checkbox" class="form-check-input" (change)="setChangeRoles(role.identifier)" [checked]="invToChange.roleIDs && invToChange.roleIDs.indexOf(role.identifier)!=-1" [disabled]="checkDisable(role.identifier)">
						<label class="form-check-label" [for]="role.identifier+'_2'">{{role.name}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" [disabled]="!rolesChangeSelected" (click)="changeRoles();d('');">Save</button>
	</div>
</ng-template>

<ng-template #tooltip let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Tooltip</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" [innerHTML]="tooltipHTML">
	</div>
</ng-template>
