<h1>Company Settings</h1>

<form class="company-settings-form" [formGroup]="settingsForm" novalidate (ngSubmit)="save(settingsForm)">

    <!-- Company Address -->
    <h3>Company Address</h3>
    <address-form [group]="settingsForm.controls.address"></address-form>

    <!-- Delivery Terms -->
    <h3>Delivery Terms</h3>
    <delivery-terms-form [group]="settingsForm.controls.deliveryTerms"></delivery-terms-form>

    <button type="submit" (click)="save(settingsForm)" [disabled]="!settingsForm.valid">Submit</button>

</form>