<form (ngSubmit)="onSubmit()" class="space-before" #credentialsForm="ngForm" novalidate>
	<div class="form-group row">
		<label for="email" class="col-2 col-form-label" i18n>E-Mail</label>
		<div class="col-10">
			<input type="email" class="form-control" id="email" required [(ngModel)]="model.username" name="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9._-]+\.[a-z]{2,3}$">
		</div>
	</div>
	<div class="form-group row">
		<label for="password" class="col-2 col-form-label" i18n>Password</label>
		<div class="col-10">
			<input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" pattern=".{6,}">
		</div>
	</div>

	<button type="submit" class="btn btn-success" [disabled]="!credentialsForm.form.valid" i18n>Submit</button>
	<!--
	<button type="button" class="btn btn-outline-secondary space-left" (click)="credentialsForm.reset();reset()" [hidden]="credentialsForm.form.pristine" i18n>Reset</button>
	-->

	<div [hidden]="error_detc || callback || !submitted">
		<img class="space-before" src="assets/form_loader.gif"/>
	</div>

	<div [hidden]="!error_detc">
		<div class="alert alert-danger space-before" role="alert" i18n>Invalid login data</div>
	</div>
	<div [hidden]="!callback">
		<div class="alert alert-success space-before" role="alert" i18n>Login successful</div>
	</div>

	<div *ngIf="debug">
		<div [hidden]="!submitted">
			<hr/>
			<p>Request:</p>
			<pre>{{ objToSubmit | json }}</pre>
		</div>
		<div [hidden]="!callback">
			<hr/>
			<p>Response:</p>
			<pre>{{ response | json }}</pre>
		</div>
	</div>

</form>
