<div *ngIf="pageRef==='registration'">
    <ngb-alert type="success" [dismissible]="false">
        Account successfully registered! Please log in.
    </ngb-alert>
</div>

<div class="row col-10 mx-auto" style="padding-top: 20vh;">
    <p class="col-12 nimble-title" i18n>FORGOT YOUR PASSWORD?</p>
</div>


<form *ngIf="key === null" (ngSubmit)="resetPasswordViaRecoveryProcess()" class="space-before" #credentialsForm="ngForm" novalidate>
    <!-- Email -->
    <div class="form-group row col-10 mx-auto">
        <label for="email" class="col-3 col-form-label font-weight-bold" i18n>E-Mail</label>
        <div class="col-9">
            <input type="email" class="form-control" id="email" required [(ngModel)]="model.username" name="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9._-]+\.[a-z]{2,3}$">
        </div>
    </div>

    <!-- Submit -->
    <div class="row col-10 mx-auto actions-row" style="padding-right:15px !important; padding-left:15px !important;">
        <div class="col-9 call-status-col">
            <call-status [callStatus]="submitCallStatus"></call-status>
        </div>

        <div class="col-3">
            <button type="submit" class="btn btn-primary action" i18n>Submit</button>
        </div>
    </div>

</form>


<form *ngIf="key !== null" (ngSubmit)="resetForgotPassword()" class="space-before" #credentialsForm="ngForm" novalidate>
    <!-- Email -->
    <div class="form-group row col-10 mx-auto">
        <label for="newPassword" class="col-3 col-form-label font-weight-bold" i18n>Password</label>
        <div class="col-9">
            <input type="password" class="form-control" id="newPassword" required [(ngModel)]="model.newPassword" name="newPassword" pattern=".{6,}">
        </div>
    </div>

    <div class="form-group row col-10 mx-auto">
        <label for="newPasswordRepeated" class="col-3 col-form-label font-weight-bold" i18n>Re-enter Password</label>
        <div class="col-9">
            <input type="password" class="form-control" id="newPasswordRepeated" required [(ngModel)]="newPasswordRepeated" [ngClass]="pw_val_class"
                   name="newPassword" pattern=".{6,}" (input)="validatePasswords()" >
        </div>
    </div>

    <!-- Submit -->
    <div class="row col-10 mx-auto actions-row" style="padding-right:15px !important; padding-left:15px !important;">
        <div class="col-9 call-status-col">
            <call-status [callStatus]="submitCallStatus"></call-status>
        </div>

        <div class="col-3">
            <button type="submit" class="btn btn-primary action" i18n [disabled]="!passwords_matching">Change Password</button>
        </div>
    </div>

</form>