<form (ngSubmit)="onSubmit()" class="space-before" #userForm="ngForm" novalidate>
	<div class="input-group form-group">
		<label for="email" class="input-group-addon" i18n>E-Mail</label>
		<input type="email" class="form-control" id="email" [(disabled)]="email_preset" required [(ngModel)]="model.user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" i18n-placeholder placeholder="e.g. user@domain.com">
	</div>
	<div class="input-group form-group">
		<label for="password" class="input-group-addon" i18n>Password</label>
		<input type="password" class="form-control" id="password" required (input)="validatePW()" [(ngModel)]="model.credentials.password" name="password" #password="ngModel" pattern=".{6,}" i18n-placeholder placeholder="Six or more characters">
	</div>
	<div class="input-group form-group">
		<label for="password2" class="input-group-addon">Password (repeat)</label>
		<input type="password" class="form-control" [ngClass]="pw_val_class" id="password2" required (input)="validatePW()" [(ngModel)]="password_validate" name="password2" #password2="ngModel" pattern=".{6,}" i18n-placeholder placeholder="Six or more characters">
	</div>
	<div class="input-group form-group">
		<label for="firstname" class="input-group-addon" i18n>First Name</label>
		<input type="text" class="form-control" id="firstname" required [(ngModel)]="model.user.firstname" name="firstname" #firstname="ngModel">
	</div>
	<div class="input-group form-group">
		<label for="lastname" class="input-group-addon" i18n>Last Name</label>
		<input type="text" class="form-control" id="lastname" required [(ngModel)]="model.user.lastname" name="lastname" #lastname="ngModel">
	</div>
	<div class="input-group form-group">
		<label for="dateOfBirth" class="input-group-addon" i18n>Date Of Birth</label>
		<input type="text" class="form-control" id="dateOfBirth" [(ngModel)]="model.user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="YYYY-MM-DD">
	</div>
	<div class="input-group form-group">
		<label for="placeOfBirth" class="input-group-addon" i18n>Place Of Birth</label>
		<input type="text" class="form-control" id="placeOfBirth" [(ngModel)]="model.user.placeOfBirth" name="placeOfBirth" #placeOfBirth="ngModel">
	</div>
	<div class="input-group form-group">
		<label for="phoneNumber" class="input-group-addon" i18n>Phone Number</label>
		<input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="model.user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
	</div>
	
	<button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid||!passwords_matching" i18n>Submit</button>
	<button type="button" class="btn btn-secondary space-left" (click)="userForm.reset();reset()" [hidden]="userForm.form.pristine" i18n>Reset</button>
	
	<div [hidden]="error_detc || callback || !submitted">
		<img class="space-before" src="assets/form_loader.gif"/>
	</div>
	
	<div [hidden]="!callback">
		<div class="alert alert-success space-before" role="alert" i18n>Registration successful</div>
	</div>
	
	<div *ngIf="debug">
		<div [hidden]="!submitted">
			<hr/>
			<p>Request:</p>
			<pre>{{ objToSubmit | json }}</pre>
		</div>
		<div [hidden]="!callback">
			<hr/>
			<p>Response:</p>
			<pre>{{ response | json }}</pre>
		</div>
	</div>
	
</form>