<div class="row">
    <div class="col-12">
        <p class="nimble-title">User Profile</p>
    </div>
</div>

<call-status [callStatus]="callStatus" [large]="true"></call-status>

<div *ngIf="userProfile">
    <div class="row">
        <div class="col-6">
            <h5>Details</h5>
            <table class="table">
                <tr>
                    <th><span i18n>First Name</span></th>
                    <td>{{ userProfile.firstName}}</td>
                </tr>
                <tr>
                    <th><span i18n>Last Name</span></th>
                    <td>{{ userProfile.familyName}}</td>
                </tr>
                <tr>
                    <th><span i18n>E-Mail</span></th>
                    <td>{{ userProfile.contact.electronicMail}}</td>
                </tr>
                <tr>
                    <th><span i18n>Phone Number</span></th>
                    <td *ngIf="userProfile.contact.telephone">{{ userProfile.contact.telephone}}</td>
                    <td *ngIf="!userProfile.contact.telephone">n/A</td>
                </tr>
                <!--
                <tr>
                    <th><span i18n>ID</span></th>
                    <td>{{ userProfile.id}}</td>
                </tr>
                -->
            </table>
        </div>
        <div class="col-1"></div>
        <div id="change-password" class="col-5">
            <h5>Change password</h5>

            <form (ngSubmit)="onChangePasswordSubmit()" class="space-before" #changePasswordForm="ngForm" novalidate>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control" id="oldPassword" required
                               [(ngModel)]="changePasswordCredentials.oldPassword"
                               name="oldPassword" placeholder="Old password" pattern=".{6,}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control" id="newPassword" required
                               [(ngModel)]="changePasswordCredentials.newPassword"
                               name="newPassword" placeholder="New password" pattern=".{6,}" (input)="validatePasswords()">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="password" class="form-control" id="newPasswordRepeated" required
                               [(ngModel)]="newPasswordRepeated" [ngClass]="pw_val_class"
                               name="newPasswordRepeated" placeholder="New password (repeat)" pattern=".{6,}"
                               (input)="validatePasswords()">
                    </div>
                </div>

                <!-- Submit action -->
                <div class="row actions-row">
                    <div class="col-6 call-status-col">
                        <call-status [callStatus]="changePasswordCallStatus" [large]="true"></call-status>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary action" i18n [disabled]="!changePasswordForm.form.valid || !passwords_matching || changePasswordCallStatus.isLoading()">
                            Change Password
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
