<form (ngSubmit)="onSubmit()" class="space-before" #userForm="ngForm" novalidate>
	<!-- Email -->
	<div class="form-group row col-10 mx-auto">
		<label for="email" class="col-3 col-form-label font-weight-bold" i18n>E-Mail</label>
		<div class="col-9">
			<input type="email" class="form-control" id="email" [(disabled)]="email_preset" required [(ngModel)]="model.user.email" name="email" #email="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9._-]+\.[a-z]{2,3}$" i18n-placeholder placeholder="e.g. user@domain.com">
			<div *ngIf="!email.valid && email.touched"><small class="text-danger">Please enter a valid e-mail address.</small></div>
		</div>
	</div>

	<!-- Password -->
	<div class="form-group row col-10 mx-auto">
		<label for="password" class="col-3 col-form-label font-weight-bold" i18n>Password</label>
		<div class="col-9">
			<input type="password" class="form-control" id="password" required (input)="validatePW()" [(ngModel)]="model.credentials.password" name="password" #password="ngModel" pattern=".{6,}" i18n-placeholder placeholder="Six or more characters">
			<div *ngIf="!password.valid && password.touched"><small class="text-danger">Please enter a password with six or more characters.</small></div>
		</div>
	</div>

	<!-- Password (repeat) -->
	<div class="form-group row col-10 mx-auto">
		<label for="password2" class="col-3 col-form-label font-weight-bold">Password (repeat)</label>
		<div class="col-9">
			<input type="password" class="form-control" [ngClass]="pw_val_class" id="password2" required (input)="validatePW()" [(ngModel)]="password_validate" name="password2" #password2="ngModel" pattern=".{6,}" i18n-placeholder placeholder="Six or more characters">
			<div *ngIf="!password2.valid && password2.touched"><small class="text-danger">Passwords don't match.</small></div>
		</div>
	</div>

	<!-- First Name -->
	<div class="form-group row col-10 mx-auto">
		<label for="firstname" class="col-3 col-form-label font-weight-bold" i18n>First Name</label>
		<div class="col-9">
			<input type="text" class="form-control" id="firstname" required [(ngModel)]="model.user.firstname" name="firstname" #firstname="ngModel">
			<div *ngIf="!firstname.valid && firstname.touched"><small class="text-danger">Please enter your first name.</small></div>
		</div>
	</div>

	<!-- Last Name -->
	<div class="form-group row col-10 mx-auto">
		<label for="lastname" class="col-3 col-form-label font-weight-bold" i18n>Last Name</label>
		<div class="col-9">
			<input type="text" class="form-control" id="lastname" required [(ngModel)]="model.user.lastname" name="lastname" #lastname="ngModel">
			<div *ngIf="!lastname.valid && lastname.touched"><small class="text-danger">Please enter your last name.</small></div>
		</div>
	</div>

	<!-- Date of Birth -->
	<!--
	<div class="form-group row col-10 mx-auto">
		<label for="dateOfBirth" class="col-3 col-form-label font-weight-bold" i18n>Date Of Birth (Optional)</label>
		<div class="col-9">
			<input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="model.user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel">
		</div>
	</div>
	-->

	<!-- Place of Birth -->
	<!--
	<div class="form-group row col-10 mx-auto">
		<label for="placeOfBirth" class="col-3 col-form-label font-weight-bold" i18n>Place Of Birth (Optional)</label>
		<div class="col-9">
			<input type="text" class="form-control" id="placeOfBirth" [(ngModel)]="model.user.placeOfBirth" name="placeOfBirth" #placeOfBirth="ngModel">
		</div>
	</div>
	-->

	<!-- Phone Number -->
	<div class="form-group row col-10 mx-auto">
		<label for="phoneNumber" class="col-3 col-form-label font-weight-bold" i18n>Phone Number <span *ngIf="!config.phoneNumberRequired">(optional)</span></label>
		<div class="col-9">
			<input type="tel" class="form-control" id="phoneNumber" [required] = "config.phoneNumberRequired" [(ngModel)]="model.user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
			<div *ngIf="!phoneNumber.valid && phoneNumber.touched"><small class="text-danger">Please enter a valid phone number.</small></div>			
		</div>
	</div>

	<!-- EULA -->
	<!--
	<div class="form-group row col-10 mx-auto">
		<div class="col-12">
			<input id="eula" type="checkbox" name="eula" required [(ngModel)]="eula_accepted" #eula="ngModel">
			<span class="form-control d-inline border-0" [ngClass]="{'ng-invalid':!eula_accepted,'ng-valid required':eula_accepted}">
				I agree to the <span class="clickable" (click)="open(eula)">End-User License Agreement (EULA)</span>
			</span>
		</div>
	</div>
	-->

	<div class="form-group row col-10 mx-auto">
		<div *ngFor="let ra of config.requiredAgreements" class="col-12">
			<input type="checkbox" required name="{{ra.title}}" [(ngModel)]="requiredAgreements[ra.title]">
			<span class="form-control d-inline border-0" [ngClass]="{'ng-invalid':!requiredAgreements[ra.title],'ng-valid required':requiredAgreements[ra.title]}">
				I agree to the <a class="clickable" href="{{ra.src}}" target="_blank">{{ra.title}}</a>
			</span>
		</div>
	</div>

	<!-- Submit -->
	<div class="row col-10 mx-auto actions-row" style="padding-right:15px !important; padding-left:15px !important;">
		<div class="col-9 call-status-col">
			<call-status [callStatus]="submitCallStatus"></call-status>
		</div>
		<!--
		<div class="col-2">
			<button type="button" class="btn btn-outline-secondary action" (click)="userForm.reset();reset()" [hidden]="userForm.form.pristine" i18n>Reset</button>
		</div>
		-->
		<div class="col-3">
			<button type="submit" class="btn btn-primary action" [disabled]="!userForm.form.valid || !passwords_matching || submitCallStatus.isLoading()" i18n>Submit</button>
		</div>
	</div>

	<div *ngIf="debug">
		<div [hidden]="!submitted">
			<hr/>
			<p>Request:</p>
			<pre>{{ objToSubmit | json }}</pre>
		</div>
		<div [hidden]="!callback">
			<hr/>
			<p>Response:</p>
			<pre>{{ response | json }}</pre>
		</div>
	</div>

</form>

<!--
<ng-template #eula let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">End-User License Agreement (EULA)</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Please read this End-User License Agreement ("Agreement") carefully before clicking the "I Agree" button, downloading or using the NIMBLE platform ("Application").<br/>
		By clicking the "I Agree" button, downloading or using the Application, you are agreeing to be bound by the terms and conditions of this Agreement.<br/>
		If you do not agree to the terms of this Agreement, do not click on the "I Agree" button and do not download or use the Application.<br/><br/>
		<h3>License</h3>
		Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium grants you a revocable, non-exclusive, non-transferable, limited license to register a company, publish a catalogue of products or services and use the Application solely for those purposes that are strictly in accordance with the terms of this Agreement.<br/><br/>
		<h3>Restrictions</h3>
		You agree not to, and you will not permit others to:<br/>
		a) license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the Application or make the Application available to any third party.<br/>
		b) You agree that the purpose of the Application is to facilitate in a lawful manner, the collaboration of companies in supply chains and you will not engage in any unlawful activity when using the platform.<br/>
		c) You agree that the Application is subject to the European <a href="https://gdpr-info.eu/" target="_blank">GDPR 2018</a> and that you will ensure compliance of your firm with GDPR 2018 when processing data obtained through using the Application.<br/><br/>
		<h3>Modifications to Application</h3>
		Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium, reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without liability to you.<br/><br/>
		<h3>Term and Termination</h3>
		This Agreement shall remain in effect until terminated by you or Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium.<br/>
		Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice.<br/>
		This Agreement will terminate immediately, without prior notice from Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium, in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the Application and all copies thereof from your mobile device or from your desktop.<br/>
		Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your desktop.<br/><br/>
		<h3>Severability</h3>
		If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.<br/><br/>
		<h3>Amendments to this Agreement</h3>
		Salzburg Research as the coordinating partner of the NIMBLE project acting on behalf of the consortium, reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br/><br/>
		<h3>Contact Information</h3>
		If you have any questions about this Agreement, please contact us at <a href="mailto:nimble-support@salzburgresearch.at">nimble-support@salzburgresearch.at</a>
	</div>
</ng-template>
-->
