<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-5">
                <input-label [label]="'Item Property'"></input-label>
                <!--<div *ngFor="let itemProperty of priceOption.itemProperty; let i = index">-->
                    <!--<div class="mt-3">-->
                        <!--<strong>{{itemProperty.name}}: </strong>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-7">
                <select class="form-control form-control-sm" #itemPropertySelect>
                    <ng-container *ngFor="let itemProperty of catalogueLine.goodsItem.item.additionalItemProperty">
                        <option *ngIf="itemProperty.valueQualifier !== 'BOOLEAN' && itemProperty.valueQualifier !== 'BINARY'"
                                [value]="itemProperty.id">{{getItemPropertyName(itemProperty.name)}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-primary btn-sm" (click)="selectProperty(itemPropertySelect.value)">Select</button>
    </div>
</div>

<div *ngFor="let itemProperty of priceOption.additionalItemProperty; let i = index" class="row">
    <div class="col d-flex align-items-center mt-2">
        <div class="row col-3">
            <div class="row col-10">
                <strong>{{getItemPropertyName(itemProperty.name)}}: </strong>
            </div>
        </div>

        <div class="col-9 object-list align-items-center">
            <div *ngFor="let value of getOriginalValuesOfProperty(itemProperty)"
                 class="bordered value-pill" title="{{ value }}"
                 (click)="selectPropertyValue(value, itemProperty)">
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <label>{{ value }}</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [checked]="getCheckedStatus(value, itemProperty)"> &nbsp;
                        </label>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-danger btn-sm" (click)="removeOption(i)">Remove</button>
            </div>
        </div>
    </div>
</div>
<discount-target [priceOption]="priceOption" [discountUnits]="discountUnits"></discount-target>
