.value-container {
    display: flex;
    margin-bottom: 0.3rem;
}

.add-value-button {
    width: 100%;
}

.btn-remove-value {
    width: 100%;
}

.value-input {
    flex: 1 0 auto;
}

.borderless td, .borderless th{
    border: none;
    padding-top: 0px;
    padding-left: 0px;
}