<div *ngFor="let itemName of item.name; let i = index" class="space-after">
    <!-- Name -->
    <text-input label="Name" [(text)]="itemName.value" [rows]="1" [maxLength]="2047" [rowClass]="'m-0'" [valueClass]="valueClass" [(languageId)]="itemName.languageID" [languageIdClass]="languageIdClass" (languageIdChange)="item.name[i].languageID = $event;item.description[i].languageID = $event">
    </text-input>
    <!-- Description -->
    <text-input *ngIf="i==0" label="Description" [(text)]="item.description[i].value" [rows]="6" [maxLength]="2047" [rowClass]="'m-0 space-before'" [valueClass]="valueClass">
    </text-input>
    <!-- Description -->
    <text-input *ngIf="i>0" label="Description" [(text)]="item.description[i].value" [rows]="6" [maxLength]="2047" [rowClass]="'m-0 space-before'" [flexClass]="flexClass + ' pr-0'" [valueClass]="valueClass" (deleteTextInput)="deleteItemNameDescription(i)" [deleteButtonStyle]="'btn-danger'">
    </text-input>
</div>
<div class="col-12 pr-0 align-right space-before"><button class='btn btn-outline-primary' (click)="addItemNameDescription()">Add Name & Description</button></div>