<ng-container>
    <!-- Image, Name & Description -->
    <div class="row space-before">
        <!-- Image -->
        <div class="col-3 product-image">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length == 0"
                 class="img-max"
                 src="../../../assets/images/empty_img.png">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
                 class="img-selected d-block active"
                 src="data:{{catalogueLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catalogueLine.goodsItem.item.productImage[0].value}}"/>
        </div>

        <div class="col-9">
            <!-- product ID -->
            <text-input [label]="'ID' | translate"
                        [(text)]="catalogueLine.goodsItem.item.manufacturersItemIdentification.id"
                        [rows]="1"
                        [maxLength]="256"
                        [rowClass]="'m-0'"
                        [textGeneratorClass]="'col-1'"
                        [valueClass]="'col-8'"
                        (textChange)="onLineIdChange()"
                        [disabled]="!productIdEditable"
                        [required]="true"
                        [formFieldName]="'product_id'"
                        [parentForm]="formGroup">
            </text-input>
            <hr>
            <div *ngFor="let itemName of catalogueLine.goodsItem.item.name; let i = index" class="space-after">
                <!-- Name -->
                <text-input [label]="'Name' | translate"
                            [(text)]="itemName.value"
                            [rows]="1" [maxLength]="2047"
                            [rowClass]="'m-0'" [valueClass]="'col-8'"
                            [(languageId)]="itemName.languageID" [languageIdClass]="'col-1'"
                            (languageIdChange)="catalogueLine.goodsItem.item.name[i].languageID = $event;catalogueLine.goodsItem.item.description[i].languageID = $event"
                            [required]="true"
                            [parentForm]="formGroup"
                            [formFieldName]="'product_name'"
                            [componentIndex]="i">
                </text-input>
                <!-- Description -->
                <text-input *ngIf="i==0" [label]="'Description' | translate" [(text)]="catalogueLine.goodsItem.item.description[i].value" [rows]="6" [maxLength]="2047" [rowClass]="'m-0 space-before'" [valueClass]="'col-8'">
                </text-input>
                <!-- Description -->
                <text-input *ngIf="i>0" [label]="'Description' | translate" [(text)]="catalogueLine.goodsItem.item.description[i].value" [rows]="6" [maxLength]="2047" [rowClass]="'m-0 space-before'" [flexClass]="'col-1 pr-0'" [valueClass]="'col-8'" (deleteTextInput)="deleteItemNameDescription(i)" [deleteButtonStyle]="'btn-danger'">
                </text-input>
            </div>
            <div class="col-12 pr-0 align-right space-before"><button class='btn btn-outline-primary' (click)="addItemNameDescription()"><span [innerHTML]="'Add Name & Description' | translate"></span></button></div>
        </div>
    </div>

    <!-- Add Images -->
    <div class="row space-before">
        <div class="col-12 d-flex flex-wrap">
            <div *ngFor="let image of catalogueLine.goodsItem.item.productImage; let i = index" class="add-image">
                <img class="image-small img-thumbnail" src="data:{{image.mimeCode}};base64,{{image.value}}" />
                <i *ngIf="i>0" class="fa fa-chevron-circle-left decrease-index" (click)="onDecreaseIndex(i)"></i>
                <i *ngIf="i<catalogueLine.goodsItem.item.productImage.length-1" class="fa fa-chevron-circle-right increase-index" (click)="onIncreaseIndex(i)"></i>
                <i class="fa fa-times-circle delete-image" (click)="onRemoveImage(i)"></i>
            </div>
            <div class="add-image btn btn-outline-primary">
                <span><span [innerHTML]="'Add Image' | translate"></span></span>
                <input type="file" (change)="onAddImage($event)" multiple/>
                <i class="fa fa-question-circle delete-image" (click)="onClickImageRecommendations(imageRecommendationModal)"></i>
            </div>
        </div>
    </div>

    <!-- Image recommendations Modal -->
    <ng-template #imageRecommendationModal let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title"><span [innerHTML]="'Image recommendations' | translate"></span></h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul>
                <li><span [innerHTML]="'Images must be files with one of the formats.' | translate"></span></li>
                <li><span [innerHTML]="'Although not mandatory, square or squarish images are recommended for better visibility.' | translate"></span></li>
                <li><span [innerHTML]="'Images exceeding 5 MB in size are not permitted.' | translate"></span></li>
            </ul>
        </div>
    </ng-template>
</ng-container>
