<div [ngClass]="divStyle">
    <!--Title-->
    <h6 *ngIf="title">{{title}}</h6>
    <!--options-->
    <div *ngFor="let option of options" class="row">
        <input class="align-self-center custom-checkbox col-1" type="checkbox">
        <label class="form-check-label">{{option}}</label>
    </div>
    <!--other options-->
    <div *ngIf="checkboxOther" class="row space-before">
        <input class="align-self-center custom-checkbox col-1" type="checkbox">
        <label class="form-check-label align-self-center ">Other</label>
        <input type="text" class="space-left" [(ngModel)]="option">
        <button class="btn btn-outline-primary space-left" (click)="onOptionAdded()">Add</button>
    </div>
    <div *ngIf="!checkboxOther" class="row space-before">
        <div class="col-12">
            <input type="text" [(ngModel)]="option">
            <button class="btn btn-outline-primary space-left" (click)="onOptionAdded()">Add</button>
        </div>
    </div>
    <!--name, description and additional files-->
    <div *ngIf="nameDescriptionPanel" class="row space-before">
        <div class="col-6">
            <text-input label="Description" [rows]="6" [maxLength]="2047" [rowClass]="'m-0'" [flexClass]="'col-1 pr-0'" [valueClass]="'col-8'">
            </text-input>
        </div>
        <div class="col-3">
            <label>Additional Information</label>
        </div>
        <div class="col-3">
            <file-input [disabled]="true" [multiple]="true" [presentationMode]="'edit'">
            </file-input>
        </div>
    </div>
    <!--selected options-->
    <div class="row d-flex flex-wrap">
        <div class="col-12 d-flex flex-wrap" >
            <div *ngFor="let option of selectedOptions"
                 class="bordered my-1 mr-1">
                <small class="p-0">{{option}}</small>
                <i class="fa fa-times-circle pl-1" placement="right" (click)="onOptionRemoved(option)"></i>
            </div>
        </div>
    </div>
</div>
