<!-- Warranty -->
<quantity-input label="Warranty Period" [disabled]="disabled" quantityType="warranty_period" rowClass="space-before"
    [quantity]="catalogueLine.warrantyValidityPeriod.durationMeasure">
</quantity-input>

<hr>

<!-- Incoterms -->
<options-input label="Incoterms" [disabled]="disabled" rowClass="space-before"
    [options]="INCOTERMS" [(selected)]="catalogueLine.goodsItem.deliveryTerms.incoterms">
</options-input>

<!-- Delivery Period -->
<quantity-input label="Delivery Period" [disabled]="disabled" quantityType="time_quantity" rowClass="space-before"
    [quantity]="catalogueLine.goodsItem.deliveryTerms.estimatedDeliveryPeriod.durationMeasure">
</quantity-input>

<!-- Special Terms -->
<text-input label="Special Terms" [disabled]="disabled" rowClass="space-before"
    [(text)]="catalogueLine.goodsItem.deliveryTerms.specialTerms">
</text-input>

<hr>

<!-- Packaging Quantity -->
<quantity-input label="Quantity Per Package" [disabled]="disabled" rowClass="space-before"
    [quantity]="catalogueLine.goodsItem.containingPackage.quantity">
</quantity-input>

<!-- Packaging Type -->
<text-input label="Packaging Type" [disabled]="disabled" rowClass="space-before" [rows]="1"
    valueTextClass="form-control-sm" [(text)]="catalogueLine.goodsItem.containingPackage.packagingTypeCode.value">
</text-input>