
.product-image {
    display: flex;
    width:300px;
    height:300px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.object-list {
    display: flex;
    flex-wrap: wrap;
}

.category-list-label {
    display: flex;
    align-items: center;
}

.btn-add-category {
    height: 2.6rem;
    margin: 0.25rem 0 0 0.25rem;
}

.btn-remove-property {
    width: 100%;
}

.image-small {
    width:80px;
    height:80px;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.add-image .delete-image {
    cursor: pointer;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
}

div.add-image {
    width:80px;
    height:80px;
    padding: 0;
    margin: 0 0.2rem 0 0;
    white-space: normal;
    position: relative;
}

div.add-image span {
    position: absolute;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 1rem 0 0 0;
    margin: 0;
    left: 0;
    top: 0;
}

div.add-image input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.value-pill {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    height: 2.6rem;
    flex-basis: auto;
    min-width: 50px;
    display: flex;
    justify-content: space-between;
}

.boolean-value-input {
    margin: 1rem 0 0 0.1rem;
}