<!-- Price -->
<div class="row">
    <div class="col-3">
        <strong>Default Price: </strong>
    </div>
    <div class="col-3">
        <input type="number" class="form-control form-control-sm"
               [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.value" step="0.01">
    </div>
    <div class="col-1">
        <select class="form-control form-control-sm"
                [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.currencyID" (click)="updateDiscountUnits()">
            <option *ngFor="let currency of CURRENCIES" [value]="currency">
                {{ currency }}
            </option>
        </select>
    </div>
    <div class="col-5">
        <quantity-input label="per" labelClass="col-1" valueClass="col-11"
                        [quantity]="catalogueLine.requiredItemLocationQuantity.price.baseQuantity">
        </quantity-input>
    </div>
</div>

<!-- Free Sample -->
<div class="row space-before">
    <div class="col-3">
        <strong>Free Sample: </strong>
    </div>
    <div class="col-9">
        <input type="checkbox" [(ngModel)]="catalogueLine.freeOfChargeIndicator">
    </div>
</div>

<hr>

<!-- add price option -->
<div class="row mb-3">
    <div class="col-3">
        <label>Add discount / charge on</label>
    </div>
    <div class="col-2">
        <select class="form-control form-control-sm" #priceOptionSelect>
            <option *ngFor="let option of object.keys(priceOptions)" [value]="option">{{priceOptions[option].text}}</option>
        </select>
    </div>
    <button class="btn btn-outline-primary btn-sm" (click)="addPriceOption(priceOptions[priceOptionSelect.value].typeID)">
        Add discount / charge
    </button>
</div>

<!-- quantity related options -->
<ng-container *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.ORDERED_QUANTITY.typeID) > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Price options on ordered quantities</strong>
            <span title="'Specified quantities are the minimum amounts required for the indicated discount to be applicable'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.ORDERED_QUANTITY.typeID)">
                <div class="row price-option-row">
                    <quantity-price-option class="col-11"
                                           [priceOption]="priceOption.option"
                                           [discountUnits]="discountUnits">
                    </quantity-price-option>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>

<!-- item property related options -->
<ng-container
        *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.PRODUCT_PROPERTY.typeID) > 0 && catalogueLine.goodsItem.item.additionalItemProperty.length > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Product / Service property based price options</strong>
            <span title="'Different prices could be specified based on different values of product / service properties'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.PRODUCT_PROPERTY.typeID); let i = index;">
                <div class="row price-option-row">
                    <item-property-price-option class="col-11"
                                                [catalogueLine]="catalogueLine"
                                                [priceOption]="priceOption.option"
                                                [discountUnits]="discountUnits"
                                                [index]="i">
                    </item-property-price-option>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>

<!-- incoterms related options -->
<ng-container
        *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.INCOTERM.typeID) > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Incoterms based price options</strong>
            <span title="'Different prices could be specified based on different values of incoterm'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.INCOTERM.typeID); let i = index;">
                <div class="row price-option-row">
                    <price-option-view class="col-11"
                                            [catalogueLine]="catalogueLine"
                                            [priceOption]="priceOption.option"
                                            [discountUnits]="discountUnits"
                                            [incoterms]="companyNegotiationSettings.incoterms">
                    </price-option-view>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>

<!--payment means related options-->
<ng-container
        *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.PAYMENT_MEAN.typeID) > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Payment means based price options</strong>
            <span title="'Different prices could be specified based on different values of payment means'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.PAYMENT_MEAN.typeID); let i = index;">
                <div class="row price-option-row">
                    <price-option-view class="col-11"
                                       [catalogueLine]="catalogueLine"
                                       [priceOption]="priceOption.option"
                                       [discountUnits]="discountUnits"
                                       [paymentMeans]="companyNegotiationSettings.paymentMeans">
                    </price-option-view>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>

<!--delivery location related options-->
<ng-container
        *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.DELIVERY_LOCATION.typeID) > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Delivery location based price options</strong>
            <span title="'Different prices could be specified based on different values of delivery location'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.DELIVERY_LOCATION.typeID); let i = index;">
                <div class="row price-option-row">
                    <price-option-view class="col-11"
                                       [catalogueLine]="catalogueLine"
                                       [discountUnits]="discountUnits"
                                       [priceOption]="priceOption.option">
                    </price-option-view>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>

<!--delivery period related options-->
<ng-container
        *ngIf="(catalogueLine.priceOption | priceOptionCountPipe : priceOptions.DELIVERY_PERIOD.typeID) > 0">
    <div class="card space-after">
        <div class="card-header">
            <strong>Delivery period based price options</strong>
            <span title="'Different prices could be specified based on different values of delivery period'">&#9432;</span>
        </div>
        <div class="card-body">
            <div *ngFor="let priceOption of (catalogueLine.priceOption | priceOptionPipe : priceOptions.DELIVERY_PERIOD.typeID); let i = index;">
                <div class="row price-option-row">
                    <price-option-view class="col-11"
                                       [catalogueLine]="catalogueLine"
                                       [priceOption]="priceOption.option"
                                       [discountUnits]="discountUnits"
                                       [deliveryPeriodUnits]="companyNegotiationSettings.deliveryPeriodUnits">
                    </price-option-view>
                    <div class="col-1">
                        <button class="btn btn-danger btn-sm" (click)="removePriceOption(priceOption.index)">
                            Delete
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</ng-container>
