
<text-input label="Event Url" [(text)]="catalogueLine.goodsItem.item.trackAndTraceDetails.eventURL"
    labelClass="col-2" valueClass="col-10" [rows]="1" [disabled]="disabled">
</text-input>

<text-input label="Master Url" [(text)]="catalogueLine.goodsItem.item.trackAndTraceDetails.masterURL"
    rowClass="space-before" labelClass="col-2" [rows]="1" valueClass="col-10" [disabled]="disabled">
</text-input>

<text-input label="Production Process Template" [(text)]="catalogueLine.goodsItem.item.trackAndTraceDetails.productionProcessTemplate"
    rowClass="space-before" labelClass="col-2" [rows]="1" valueClass="col-10" [disabled]="disabled">
</text-input>
