<!-- Price -->
<div class="row">
    <div class="col-3">
        <strong><span [innerHTML]="'Default Price:' | translate"></span></strong>
    </div>
    <div class="col-3">
        <input type="number" class="form-control form-control-sm"
               [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.value" step="0.01">
    </div>
    <div class="col-1">
        <select class="form-control form-control-sm"
                [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.currencyID" (click)="updateDiscountUnits()">
            <option *ngFor="let currency of CURRENCIES" [value]="currency">
                {{ currency }}
            </option>
        </select>
    </div>
    <div class="col-5">
        <quantity-input label="per" labelClass="col-1" valueClass="col-11"
                        [quantity]="catalogueLine.requiredItemLocationQuantity.price.baseQuantity">
        </quantity-input>
    </div>
</div>

<!-- VAT -->
<div *ngIf="config.vatEnabled" class="row space-before">
    <div class="col-3">
        <strong><span [innerHTML]="'VAT(%):' | translate"></span></strong>
    </div>
    <div class="col-3">
        <input type="number" class="form-control form-control-sm"
               [(ngModel)]="catalogueLine.requiredItemLocationQuantity.applicableTaxCategory[0].percent" step="1">
    </div>
</div>

<!-- Free Sample -->
<div class="row space-before">
    <div class="col-3">
        <strong><span [innerHTML]="'Free Sample:' | translate"></span></strong>
    </div>
    <div class="col-9">
        <input type="checkbox" [(ngModel)]="catalogueLine.freeOfChargeIndicator">
    </div>
</div>

<hr>

<!--Discounts/Charges-->
<discount-details [catalogueLine]="catalogueLine"
                  [companyNegotiationSettings]="companyNegotiationSettings"
                  [parentForm]="formGroup">
</discount-details>