<h5 class="my-2">Transportation Service Details</h5>
<text-input [label]="'Service Type'"
  [definition]="'The type of service provided,e.g.,port-to-port'"
  [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.transportServiceCode.name"
  [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<text-input [label]="'Supported Product Nature'"
  [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.supportedCommodityClassification[0].natureCode.name"
  [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<text-input [label]="'Supported Cargo Type'"
  [definition]="'The type of cargo,e.g.,large freight containers or palletized'"
  [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.supportedCommodityClassification[0].cargoTypeCode.name"
  [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<quantity-input [label]="'Total Capacity'" 
  [definition]="'The total capacity or volume available in this transportation service,e.g.,Quantity:50,Unit:MTQ'" 
  [quantity]="[catalogueLine.goodsItem.item.transportationServiceDetails.totalCapacityDimension.measure]"
  rowClass="my-3" valueTextClass="form-control-sm">
</quantity-input>
<quantity-input [label]="'Estimated Duration'" 
  [definition]="'The estimated duration of this transportation service,e.g.,Quantity:3,Unit:weeks'"
  [quantity]="[catalogueLine.goodsItem.item.transportationServiceDetails.estimatedDurationPeriod.durationMeasure]"
  [quantityType]="'time_quantity'"
  rowClass="my-3" valueTextClass="form-control-sm">
</quantity-input>
<text-input [label]="'Scheduled Days'"
  [definition]="'Which days of the week this transport service is operational'"
  [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.scheduledServiceFrequency[0].weekDayCode.name"
  [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<hr>
<h5 class="my-2">Applicable Countries</h5>
<hr>
<h5 class="my-2">Shipment Stage</h5>
<text-input [label]="'Transportation Mode'"
            [definition]="'The method of transport used for this shipment stage,e.g.,road,air or rail'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportModeCode.name"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<text-input [label]="'Carrier Party'"
            [definition]="'The party carrying the goods'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].carrierParty.name"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<hr>
<h5 class="my-2">Transport Means / Equipment</h5>
<text-input [label]="'Transport Means'"
            [definition]="'Transport means associated with this piece of transport equipment,e.g.,automobiles, airplanes or trains'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportMeansTypeCode.name"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<text-input [label]="'Associated Equipment'"
            [definition]="'A piece of transport equipment used in this transportation service'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportEquipment[0].transportEquipmentTypeCode.name"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<text-input [label]="'Equipment Humidity Percent'"
            [definition]="'The percent humidity within this piece of transport equipment'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportEquipment[0].humidityPercent"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<boolean-input [label]="'Refrigerator Indicator'"
              [definition]="'An indicator that this piece of transport equipment is refrigerated (true) or not (false)'"
              [(value)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportEquipment[0].refrigeratorIndicator"
              (valueChanged)="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportEquipment[0].refrigeratorIndicator = $event"
              rowClass="my-3" valueTextClass="form-control-sm">
</boolean-input>
<text-input [label]="'Equipment Characteristics'"
            [definition]="'Characteristics of this piece of transport equipment'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.shipmentStage[0].transportMeans.transportEquipment[0].characteristics"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<hr>
<h5 class="my-2">Environmental Emission</h5>
<text-input [label]="'Emission Type'"
            [(text)]="catalogueLine.goodsItem.item.transportationServiceDetails.environmentalEmission[0].environmentalEmissionTypeCode.name"
            [rows]="1" rowClass="my-3" valueTextClass="form-control-sm">
</text-input>
<quantity-input [label]="'Value Measure'"
                [definition]="'A value measurement for the environmental emission'"
                [quantity]="[catalogueLine.goodsItem.item.transportationServiceDetails.environmentalEmission[0].valueMeasure]"
                rowClass="my-3" valueTextClass="form-control-sm">
</quantity-input>