
<hr>

<!-- Order summary -->
<div class="row">
    <div class="col-4">
        <h2>Order Details</h2>
        <value-input type="text" presentationMode="view" label="Delivery Period" text="2 weeks" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Warranty" text="none" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Incoterms" text="DDP" labelClass="col-6" valueClass="col-6">
        </value-input>
    </div>
    <div class="col-4">
        <h2>Payment Details</h2>
        <value-input type="text" presentationMode="view" label="Payment Means" text="Credit Card" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Payment Terms" text="none" labelClass="col-6" valueClass="col-6">
        </value-input>
    </div>
    <div class="col-4">
        <h2>Delivery Address</h2>
        <value-input type="text" presentationMode="view" label="Street" text="Vorgartenstrasse" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Building Number" text="87" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="City" text="Vienna" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Postal Code" text="1200" labelClass="col-6" valueClass="col-6">
        </value-input>
        <value-input type="text" presentationMode="view" label="Country" text="Austria" labelClass="col-6" valueClass="col-6">
        </value-input>
    </div>
</div>

<hr>

<!-- Contract Preview -->
<div class="row">
    <button class="btn btn-primary">Preview Terms and Conditions</button>
</div>

<hr>

<!-- Actions -->
<div class="row actions-row">
    <div class="col-8 call-status-col"><call-status [callStatus]="callStatus"></call-status></div>
    <div class="col-2">
        <button class="btn btn-secondary action" [disabled]="isLoading()" (click)="onBack()">
            Back
        </button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary action" [disabled]="isLoading()" (click)="onOrder()">
            Order
        </button>
    </div>
</div>