<ng-container *ngIf="orderResponse">
    <div class="well">
        <h5>Notes</h5>
        <value-view [presentationMode]="bpDataService.processMetadata.processStatus == 'Completed' ? 'singlevalue': 'edit'"
                    [propName]="'Note'"
                    [(value)]="orderResponse.note">
        </value-view>

        <value-view [presentationMode]="bpDataService.processMetadata.processStatus == 'Completed' ? 'singlevalue': 'edit'"
                    [propName]="'Rejection Note'"
                    [(value)]="orderResponse.rejectionNote">
        </value-view>
    </div>

    <div class="well" *ngIf="bpDataService.processMetadata.processStatus == 'Completed' && bpDataService.orderResponse.acceptedIndicator && bpDataService.userRole == 'seller' && epcCodes">
        <h5>EPC Codes</h5>
        <value-array-view [presentationMode]="'edit'"
                          [propName]="'EPC Codes'"
                          [values]="epcCodes.codes"></value-array-view>

        <ng-container>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" (click)="saveEpcCodes()">Save</button>
            </div>
        </ng-container>
        <call-status [callStatus]="epcCodesCallStatus"
                     [large]="true">
        </call-status>
    </div>

    <div class="d-flex justify-content-end">
        <ng-container *ngIf="bpDataService.processMetadata.processStatus != 'Completed'">
            <button *ngIf="bpDataService.userRole == 'seller'" class="btn btn-success ml-auto mr-3"
                    [disabled]="submitted"
                    (click)="respondToOrder(true)">Accept Order
            </button>
            <button *ngIf="bpDataService.userRole == 'seller'" class="btn btn-danger" (click)="respondToOrder(false)"
                    [disabled]="submitted">
                Reject Order
            </button>
        </ng-container>
        <ng-container *ngIf="bpDataService.processMetadata.processStatus == 'Completed' && bpDataService.orderResponse.acceptedIndicator">
            <button class="btn btn-success" (click)="downloadContractBundle()">Download Contract Bundle</button>
        </ng-container>
    </div>
</ng-container>

<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>