<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded nimble-bg space-after">
	<button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNavAltMarkup" [attr.aria-expanded]="!isCollapsed">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" routerLink="/" routerLinkActive="active">
		<img id="nav-logo" src="./assets/nimble_logo_white.png" height="30" class="d-inline-block align-top" alt="">
	</a>
	<div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarNavAltMarkup">
		<ul *ngIf="!isLoggedIn" class="nav navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/user-mgmt/login">
					<img src="assets/login_white.png" class="inline-icon"/> <span i18n>Login</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/user-mgmt/registration">
					<img src="assets/register_white.png" class="inline-icon"/> <span i18n>Registration</span>
				</a>
			</li>
		</ul>
		<ul *ngIf="isLoggedIn" class="nav navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/dashboard">
					<img src="assets/list_white.png" class="inline-icon"/> <span i18n>Dashboard</span>
				</a>
			</li>
			<li class="nav-item" *ngIf="debug||roles.indexOf('initial_representative')!=-1||roles.indexOf('legal_representative')!=-1||activeCompanyName" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/catalogue/categorysearch']" [queryParams]="{pageRef: 'menu'}">
					<img src="assets/upload_white.png" class="inline-icon"/> <span i18n>Publish</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/simple-search">
					<img src="assets/search_white.png" class="inline-icon"/> <span i18n>Search</span>
				</a>
			</li>
			<!--
			<li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
				<a class="nav-link" id="dropdownMenuSearch" style="cursor:pointer" ngbDropdownToggle>
					<img src="assets/search_white.png" class="inline-icon"/> <span i18n>Search</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuSearch">
					<a class="dropdown-item" routerLink="/simple-search" routerLinkActive="active">
						<img src="assets/text_black.png" class="inline-icon"/> Text-based
					</a>
					<a class="dropdown-item" routerLink="/explore-search" routerLinkActive="active">
						<img src="assets/explore_black.png" class="inline-icon"/> Explorative
					</a>
				</div>
			</li>
			-->
			<!--
			<li class="nav-item" *ngIf="debug||roles.indexOf('legal_representative')!=-1" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/bpe/bpe-design']" [queryParams]="{fromScratch: true}">
					<img src="assets/process_white.png" class="inline-icon"/> <span i18n>Business Process</span>
				</a>
			</li>
			-->
			<li class="nav-item" *ngIf="!activeCompanyName" routerLinkActive="active">
				<a class="nav-link" routerLink="/user-mgmt/company-registration">
					<img src="assets/register_white.png" class="inline-icon"/> <span i18n>Register a Company</span>
				</a>
			</li>
			<li class="nav-item" *ngIf="debug||roles.indexOf('legal_representative')!=-1" routerLinkActive="active">
				<a class="nav-link" routerLink="/user-mgmt/company-invitation">
					<img src="assets/company_white.png" class="inline-icon"/> Company Members
				</a>
			</li>
		</ul>
		<ul *ngIf="isLoggedIn" class="nav navbar-nav">
			<li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
				<a class="nav-link" id="dropdownMenuUser" style="cursor:pointer" ngbDropdownToggle>
					<img src="assets/avatar_white.png" class="inline-icon"/> {{fullName}}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
					<a class="dropdown-item" routerLink="/user-mgmt/company-settings" routerLinkActive="active">
						<img src="assets/gear_black.png" class="inline-icon"/> Account Settings
					</a>
					<a class="dropdown-item" routerLink="/catalogue/catalogue" routerLinkActive="active">
						<img src="assets/catalog_black.png" class="inline-icon"/> <span i18n>Catalogue</span>
					</a>
					<a class="dropdown-item" routerLink="/user-mgmt/logout">
						<img src="assets/logout_black.png" class="inline-icon"/> <span i18n>Logout</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>

<div *ngIf="!alertBetaClosed">
	<p class="space-before">
		<ngb-alert type="danger" (close)="alertBetaClosed=true">
			This platform is in an early access / testing stage.<br/>
			Downtimes and bugs have to be expected.
		</ngb-alert>
	</p>
</div>

<div id="loading-bg" *ngIf="loading">
	<div id="sk-loading-icon">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
	</div>
</div>

<ng-template #support let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Support</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		When you press "Open mail template" a partially prefilled mail template will open in the mail client of your choice.<br/><br/>
		Please make sure to fill out the description and cause of the issue properly and add screenshots if they are of use.<br/><br/>
		We will get back to you as soon as possible.
	</div>
	<div class="modal-footer">
		<a [href]="mailto" type="button" class="btn btn-primary" (click)="d('')">Open mail template</a>
	</div>
</ng-template>
<div id="support-btn" (click)="open(support)"><img id="support-img" src="assets/support_white.png"/></div>

<router-outlet></router-outlet>

<div id="footer">
	<img src="assets/eu_flag.png" alt=""> This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 723810
</div>
