
<!------------------------------------------------------------------------------------------------------------>
<!-- Negotiation Steps -->
<!------------------------------------------------------------------------------------------------------------>
<h1><span [innerHTML]="'Negotiation Overview' | translate"></span></h1>
<br/>
<div class="col-12">
    <div class="steps">
        <div [ngClass]="getCurrentNegotiationStep(0)">
            <span [innerHTML]="'Initial Offer' | translate"></span>
        </div>
        <div [ngClass]="getCurrentNegotiationStep(1)">
            <span [innerHTML]="'Counter Offer' | translate"></span>
        </div>
        <div [ngClass]="getCurrentNegotiationStep(2)">
            <span [innerHTML]="'Confrontation' | translate"></span>
        </div>
        <div [ngClass]="getCurrentNegotiationStep(3)">
            <span [innerHTML]="'Exchange Data' | translate"></span>
        </div>
    </div>
</div>
<br/>

<!------------------------------------------------------------------------------------------------------------>
<!-- Channel Details -->
<!------------------------------------------------------------------------------------------------------------>
<h1><span [innerHTML]="'Channel Details' | translate"></span></h1>

<table id="channel-details" class="table table-striped table-bordered">
    <tr>
        <th><span [innerHTML]="'Channel ID' | translate"></span></th>
        <th><span [innerHTML]="'Business Process' | translate"></span></th>
        <th><span [innerHTML]="'Description' | translate"></span></th>
        <th><span [innerHTML]="'Start Time' | translate"></span></th>
        <th><span [innerHTML]="'End Time' | translate"></span></th>
    </tr>
    <tr>
        <td>{{channelConfig["channelID"]}}</td>
        <td>{{channelConfig["businessProcessID"]}}</td>
        <td>{{channelConfig["description"]}}</td>
        <td>{{channelConfig["startDateTime"]}}</td>
        <td>{{channelConfig["endDateTime"]}}</td>
    </tr>
</table>


<div class="row">
    <div [ngClass]="{'col-6':pageNumber > 0,'col-12':pageNumber == 0}">

        <text-input label="Negotiation Message" [presentationMode]="getPresentationModeLeft()" [(text)]="sellerMessage"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input><br/>
    </div>
    <div *ngIf="pageNumber > 0" class="col-6">

        <text-input label="Negotiation Message" [presentationMode]="getPresentationModeRight()" [(text)]="buyerMessage"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input><br/>
    </div>
</div>


<div *ngIf="pageNumber == 0" class="interactions">
    <button class="btn btn-success" [disabled]="pageSubmitted" (click)="confirmPage()"><span [innerHTML]="'Confirm Inital Offer' | translate"></span></button>
</div>
<div *ngIf="pageNumber == 1" class="interactions">
    <button class="btn btn-success" [disabled]="pageSubmitted" (click)="confirmPage()"><span [innerHTML]="'Confirm Counter Offer' | translate"></span></button>
</div>
<div *ngIf="pageNumber == 2" class="interactions">
    <button class="btn btn-success" [disabled]="pageSubmitted" (click)="confirmPage()"><span [innerHTML]="'Accept Counter Offer' | translate"></span></button>
    <button class="btn btn-danger" [disabled]="pageRenegotiated" (click)="renegotiateTerms(3)"><span [innerHTML]="'Renegotiate Terms' | translate"></span></button>
</div>
<div *ngIf="pageNumber == 3" class="interactions">
    <button [disabled]="!checkClosed()" class="btn btn-success" (click)="openChannel()"><span [innerHTML]="'Open Channel' | translate"></span></button>
    <button [disabled]="checkClosed()" class="btn btn-danger" (click)="closeChannel()"><span [innerHTML]="'Close Channel' | translate"></span></button>
    <button [disabled]="!checkClosed() || pageRegnegotiated" class="btn btn-danger" (click)="renegotiateTerms(2)"><span [innerHTML]="'Renegotiate Terms' | translate"></span></button>
</div>

<div style="clear: right;"></div>


<!------------------------------------------------------------------------------------------------------------>
<!-- Associated Sensors -->
<!------------------------------------------------------------------------------------------------------------>
<div *ngIf="pageNumber < 2"><h1><span [innerHTML]="'Associated Sensors' | translate"></span></h1></div>
<div  *ngIf="pageNumber == 2">
    <h1 id="comparison-header-left"><span [innerHTML]="'Initial Sensors' | translate"></span></h1>
    <h1 id="comparison-header-right"><span [innerHTML]="'Counter Sensors' | translate"></span></h1>
    <hr style="clear:both;"/>
</div>
<div  *ngIf="pageNumber == 3"><h1><span [innerHTML]="'Agreed Sensors' | translate"></span></h1></div>

<div class="row">
    <div *ngIf="pageNumber == 0" class="col-12"> <!-- Page 0 -->
        <ng-container *ngFor="let sensor of initialChannelSensors">
            <table class="table table-striped table-bordered">
                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Datakey' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                    <th *ngIf="pageNumber <= 1" class="interaction-column"></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.dataKey}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.metadata}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.advancedFiltering}}</td>
                    <td *ngIf="pageNumber <= 1">
                        <button class="btn btn-warning remove-channel-btn"
                                (click)="removeSensor(sensor)"><span [innerHTML]="'Remove' | translate"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </ng-container>
    </div>
    <div *ngIf="pageNumber == 1" class="col-6"> <!-- Page 1 -->
        <ng-container *ngFor="let sensor of initialChannelSensors">
            <table class="table table-striped table-bordered">
                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <th><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                    <th><span [innerHTML]="'Datakey' | translate"></span></th>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <td>{{sensor.metadata}}</td>
                    <td>{{sensor.advancedFiltering}}</td>
                    <td>{{sensor.dataKey}}</td>
                </tr>
            </table>
        </ng-container>
    </div>

    <div *ngIf="pageNumber == 1" class="col-6"> <!-- Page 1 -->
        <ng-container *ngFor="let sensor of counterChannelSensors">
            <table class="table table-striped table-bordered">

                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <th><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                    <th><span [innerHTML]="'Datakey' | translate"></span></th>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <td>{{sensor.metadata}}</td>
                    <td>{{sensor.advancedFiltering}}</td>
                    <td>{{sensor.dataKey}}</td>
                </tr>
                <!--<tr>
                        <th class="interaction-column"> <span>Remove</span> </th>
                </tr> -->
                <tr>
                    <td>
                        <button class="btn btn-warning remove-channel-btn"
                                (click)="removeSensor(sensor)"><span [innerHTML]="'Remove' | translate"></span>
                        </button>
                    </td>
                </tr>

            </table>
        </ng-container>
    </div>

    <div *ngIf="pageNumber == 2" class="col-6"> <!-- Page 2 -->
        <ng-container *ngFor="let sensor of initialChannelSensors">
            <table class="table table-striped table-bordered">
                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <th><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                    <th><span [innerHTML]="'Datakey' | translate"></span></th>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <td>{{sensor.metadata}}</td>
                    <td>{{sensor.advancedFiltering}}</td>
                    <td>{{sensor.dataKey}}</td>
                </tr>
            </table>
        </ng-container>
    </div>
    <div *ngIf="pageNumber == 2" class="col-6"> <!-- Page 2 -->
        <ng-container *ngFor="let sensor of counterChannelSensors">
            <table class="table table-striped table-bordered">
                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <th><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                    <th><span [innerHTML]="'Datakey' | translate"></span></th>
                </tr>
                <tr *ngIf="hasFilteringService">
                    <td>{{sensor.metadata}}</td>
                    <td>{{sensor.advancedFiltering}}</td>
                    <td>{{sensor.dataKey}}</td>
                </tr>
            </table>
        </ng-container>
    </div>
    <div *ngIf="pageNumber == 3" class="col-12"> <!-- Page 3 -->
        <ng-container *ngFor="let sensor of counterChannelSensors">
            <table class="table table-striped table-bordered">
                <tr>
                    <th><span [innerHTML]="'Machine' | translate"></span></th>
                    <th><span [innerHTML]="'Sensor' | translate"></span></th>
                    <th><span [innerHTML]="'Interval' | translate"></span></th>
                    <th><span [innerHTML]="'Description' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Datakey' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Metadata' | translate"></span></th>
                    <th *ngIf="hasFilteringService"><span [innerHTML]="'Advanced Filtering' | translate"></span></th>
                </tr>
                <tr>
                    <td>{{sensor.machine.name}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.interval}}</td>
                    <td>{{sensor.description}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.dataKey}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.metadata}}</td>
                    <td *ngIf="hasFilteringService">{{sensor.advancedFiltering}}</td>
                </tr>
            </table>
        </ng-container>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------>
<!-- Add a Sensor: Formular  -->
<!------------------------------------------------------------------------------------------------------------>
<div *ngIf="pageNumber <= 1" class="form-group" id="new-sensor">
    <h6><span [innerHTML]="'Add new sensor' | translate"></span></h6><br/>
    <form id="add-sensor-form" #customPropertyForm="ngForm" class="col-12">

        <!-- machine name-->
        <text-input label="Name of machine" [(text)]="newSensor.machineName"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor name -->
        <text-input label="Name of sensor" [(text)]="newSensor.name"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor interval -->
        <text-input label="Sensor data interval" [(text)]="newSensor.interval"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor description -->
        <text-input label="Sensor description" [(text)]="newSensor.description"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor dataKey -->
        <text-input *ngIf="hasFilteringService" label="Sensor data key" [(text)]="newSensor.dataKey"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor metadata -->
        <text-input *ngIf="hasFilteringService" label="Sensor metadata" [(text)]="newSensor.metadata"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <!-- sensor advancedFiltering -->
        <text-input *ngIf="hasFilteringService" label="Sensor advanced filtering" [(text)]="newSensor.advancedFiltering"
                    labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
        </text-input>

        <br/>
        <button [disabled]="!customPropertyForm.form.valid"
                class="btn btn-success ml-2 add-sensor-btn"
                (click)="addSensor()">
            <span [innerHTML]="'Add sensor' | translate"></span>
        </button>
    </form>
    <p><span [innerHTML]="'Names of sensors are unique. Entering the name of an existing sensor, will
        associate it to this channel.' | translate"></span></p>
</div>


<!------------------------------------------------------------------------------------------------------------>
<!-- Private Data Storage - Header -->
<!------------------------------------------------------------------------------------------------------------>
<table *ngIf="pageNumber < 2 && hasInternalService == true" id="DataStorageHeader">
    <td width="35%" style="vertical-align:middle">
        <div id="HeaderTextArea">
            <h1><span [innerHTML]="'Private Data Storage' | translate"></span></h1>
        </div>
    </td>
    <td width="5%" style="vertical-align:middle">
        <div  id="ToggleButtonArea">
            <!-- Rounded switch -->
            <label class="switch" id="ToggleButtonElement">
                <input *ngIf="displayStorageArea" type="checkbox" (click)="displayStorageArea=!displayStorageArea" checked>
                <input *ngIf="!displayStorageArea" type="checkbox" (click)="displayStorageArea=!displayStorageArea">
                <span class="slider round"></span>
            </label>
        </div>
    </td>
    <td width="60%" style="vertical-align:middle">
        <div id="DescriptionTextArea"><span [innerHTML]="'enabling this option will switch the data channel storage from kafka streams to a private DB' | translate"></span></div>
    </td>
</table>

<!------------------------------------------------------------------------------------------------------------>
<!-- Private Data Storage - Area -->
<!------------------------------------------------------------------------------------------------------------>
<div id="StorageDataArea" [ngClass]="{'storage-max':displayStorageArea,'storage-min':!displayStorageArea}">

    <!------------------------------------------------------------------------------------------------------------>
    <!-- Hosted Servers -->
    <!------------------------------------------------------------------------------------------------------------>
    <div *ngIf="pageNumber < 2"><h1><span [innerHTML]="'Hosted Servers' | translate"></span></h1></div>
    <div  *ngIf="pageNumber == 2">
        <h1 id="comparison-header-left"><span [innerHTML]="'Initial Servers' | translate"></span></h1>
        <h1 id="comparison-header-right"><span [innerHTML]="'Counter Servers' | translate"></span></h1>
        <hr style="clear:both;"/>
    </div>
    <div *ngIf="pageNumber == 3"><h1><span [innerHTML]="'Agreed Servers' | translate"></span></h1></div>

    <div class="row">
        <div *ngIf="pageNumber == 0" class="col-12">
           <ng-container *ngFor="let server of initialChannelServers">
               <table class="table table-striped table-bordered">
                   <tr>
                       <th><span [innerHTML]="'Prio' | translate"></span></th>
                       <th><span [innerHTML]="'Server Name' | translate"></span></th>
                       <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                       <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                       <th><span [innerHTML]="'Ownership' | translate"></span></th>
                       <th><span [innerHTML]="'Login' | translate"></span></th>
                       <th><span [innerHTML]="'Password' | translate"></span></th>
                       <th><span [innerHTML]="'Description' | translate"></span></th>
                       <th *ngIf="pageNumber <= 1" class="interaction-column"></th>
                   </tr>
                   <tr>
                       <td>{{server.priority}}</td>
                       <td>{{server.name}}</td>
                       <td>{{server.address}}</td>
                       <td>{{server.duration}}</td>
                       <td>{{server.ownership}}</td>
                       <td>{{server.login}}</td>
                       <td>{{server.loginPW}}</td>
                       <td>{{server.description}}</td>
                       <td *ngIf="pageNumber <= 1">
                           <button class="btn btn-warning remove-channel-btn"
                                   (click)="removeServer(server)"><span [innerHTML]="'Remove' | translate"></span>
                           </button>
                       </td>
                   </tr>
               </table>
           </ng-container>
        </div>
        <div *ngIf="pageNumber == 1" class="col-6">
            <ng-container *ngFor="let server of initialChannelServers">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th><span [innerHTML]="'Prio' | translate"></span></th>
                        <th><span [innerHTML]="'Server Name' | translate"></span></th>
                        <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                        <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.priority}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.duration}}</td>
                    </tr>

                    <tr>
                        <th><span [innerHTML]="'Ownership' | translate"></span></th>
                        <th><span [innerHTML]="'Login' | translate"></span></th>
                        <th><span [innerHTML]="'Password' | translate"></span></th>
                        <th><span [innerHTML]="'Description' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.ownership}}</td>
                        <td>{{server.login}}</td>
                        <td>{{server.loginPW}}</td>
                        <td>{{server.description}}</td>
                    </tr>
                </table>
            </ng-container>
        </div>
        <div *ngIf="pageNumber == 1" class="col-6">
            <ng-container *ngFor="let server of counterChannelServers">
                <table class="table table-striped table-bordered">

                    <tr>
                        <th><span [innerHTML]="'Prio' | translate"></span></th>
                        <th><span [innerHTML]="'Server Name' | translate"></span></th>
                        <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                        <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.priority}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.duration}}</td>
                    </tr>
                    <tr>
                        <th><span [innerHTML]="'Ownership' | translate"></span></th>
                        <th><span [innerHTML]="'Login' | translate"></span></th>
                        <th><span [innerHTML]="'Password' | translate"></span></th>
                        <th><span [innerHTML]="'Description' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.ownership}}</td>
                        <td>{{server.login}}</td>
                        <td>{{server.loginPW}}</td>
                        <td>{{server.description}}</td>
                    </tr>
                    <!--<tr>
                        <th class="interaction-column"> <span>Remove</span> </th>
                    </tr> -->
                    <tr>
                        <td>
                            <button class="btn btn-warning remove-channel-btn"
                                    (click)="removeServer(server)"><span [innerHTML]="'Remove' | translate"></span>
                            </button>
                        </td>
                    </tr>

                </table>
            </ng-container>
        </div>
        <div *ngIf="pageNumber == 2" class="col-6">
            <ng-container *ngFor="let server of initialChannelServers">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th><span [innerHTML]="'Prio' | translate"></span></th>
                        <th><span [innerHTML]="'Server Name' | translate"></span></th>
                        <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                        <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.priority}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.duration}}</td>
                    </tr>

                    <tr>
                        <th><span [innerHTML]="'Ownership' | translate"></span></th>
                        <th><span [innerHTML]="'Login' | translate"></span></th>
                        <th><span [innerHTML]="'Password' | translate"></span></th>
                        <th><span [innerHTML]="'Description' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.ownership}}</td>
                        <td>{{server.login}}</td>
                        <td>{{server.loginPW}}</td>
                        <td>{{server.description}}</td>
                    </tr>
                </table>
                <br/>
            </ng-container>
        </div>
        <div *ngIf="pageNumber == 2" class="col-6">
            <ng-container *ngFor="let server of counterChannelServers">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th><span [innerHTML]="'Prio' | translate"></span></th>
                        <th><span [innerHTML]="'Server Name' | translate"></span></th>
                        <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                        <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.priority}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.duration}}</td>
                    </tr>

                    <tr>
                        <th><span [innerHTML]="'Ownership' | translate"></span></th>
                        <th><span [innerHTML]="'Login' | translate"></span></th>
                        <th><span [innerHTML]="'Password' | translate"></span></th>
                        <th><span [innerHTML]="'Description' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.ownership}}</td>
                        <td>{{server.login}}</td>
                        <td>{{server.loginPW}}</td>
                        <td>{{server.description}}</td>
                    </tr>
                </table>
                <br/>
            </ng-container>
        </div>
        <div *ngIf="pageNumber == 3" class="col-12">
            <ng-container *ngFor="let server of counterChannelServers">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th><span [innerHTML]="'Prio' | translate"></span></th>
                        <th><span [innerHTML]="'Server Name' | translate"></span></th>
                        <th><span [innerHTML]="'Endpoint Address' | translate"></span></th>
                        <th><span [innerHTML]="'Storage Duration' | translate"></span></th>
                        <th><span [innerHTML]="'Ownership' | translate"></span></th>
                        <th><span [innerHTML]="'Login' | translate"></span></th>
                        <th><span [innerHTML]="'Password' | translate"></span></th>
                        <th><span [innerHTML]="'Description' | translate"></span></th>
                    </tr>
                    <tr>
                        <td>{{server.priority}}</td>
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.duration}}</td>
                        <td>{{server.ownership}}</td>
                        <td>{{server.login}}</td>
                        <td>{{server.loginPW}}</td>
                        <td>{{server.description}}</td>
                    </tr>
                </table>
            </ng-container>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------>
    <!-- Add a Server: Formular -->
    <!------------------------------------------------------------------------------------------------------------>
    <div *ngIf="pageNumber <= 1" class="form-group" id="new-server">
        <h6><span [innerHTML]="'Add new server' | translate"></span></h6><br/>
        <form id="add-server-form" #customPropertyForm="ngForm" class="col-12">

            <!-- server prio-->
            <text-input label="Hosted server priority" [(text)]="newServer.priority"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server name -->
            <text-input label="Hosted server name" [(text)]="newServer.name"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server address -->
            <text-input label="Hosted server address" [(text)]="newServer.address"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server duration -->
            <text-input label="Hosted server storage duration" [(text)]="newServer.duration"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server ownership -->
            <text-input label="Hosted server ownership" [(text)]="newServer.ownership"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server login -->
            <text-input label="Hosted server login" [(text)]="newServer.login"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server password -->
            <text-input label="Hosted server password" [(text)]="newServer.loginPW"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <!-- server description -->
            <text-input label="Hosted server description" [(text)]="newServer.description"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input>

            <br/>
            <button [disabled]="!customPropertyForm.form.valid"
                    class="btn btn-success ml-2 add-sensor-btn"
                    (click)="addServer()">
                <span [innerHTML]="'Add server' | translate"></span>
            </button>
        </form>
        <p><span [innerHTML]="'Names of servers are unique. Entering the name of an existing server, will
            associate it to this channel.' | translate"></span></p>
    </div>


    <!------------------------------------------------------------------------------------------------------------>
    <!-- Server Type -->
    <!------------------------------------------------------------------------------------------------------------>
    <br/>
    <div class="row" id="additional-settings">


        <div *ngIf="pageNumber < 3" [ngClass]="{'col-6':pageNumber > 0,'col-12':pageNumber == 0}">

            <!-- Service Type -->
            <options-input label="Server Type" [visible]="true" [presentationMode]="getPresentationModeLeft()"
                           [disabled]="false" [options]="SERVER_TYPES" [(selected)]="sellerServerType"
                           labelClass="col-4" valueClass="col-8">
            </options-input><br/>
        </div>
        <div *ngIf="pageNumber > 0 && pageNumber < 3" class="col-6">

            <!-- Service Type -->
            <options-input label="Server Type" [visible]="true" [presentationMode]="getPresentationModeRight()"
                           [disabled]="false" [options]="SERVER_TYPES" [(selected)]="buyerServerType"
                           labelClass="col-4" valueClass="col-8">
            </options-input><br/>

        </div>
        <div *ngIf="pageNumber == 3" class="col-12">
                <!-- Service Type -->
                <options-input label="Server Type" [visible]="true" [presentationMode]="getPresentationModeLeft()"
                               [disabled]="false" [options]="SERVER_TYPES" [(selected)]="buyerServerType"
                               labelClass="col-4" valueClass="col-8">
                </options-input><br/>
        </div>

    </div>



<!------------------------------------------------------------------------------------------------------------>
<!-- Messages -->
<!------------------------------------------------------------------------------------------------------------>
<!--
<h1>Messages</h1>

<table id="channel-messages" class="table table-striped table-bordered">
    <tr>
        <th><span>Machine ID</span></th>
        <th><span>Time</span></th>
        <th><span>Payload</span></th>
    </tr>
    <ng-container *ngFor="let message of channelMessages">
        <tr>
            <td>{{message.header.machineId}}</td>
            <td>{{message.header.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{message.payload | json}}</td>
        </tr>
    </ng-container>
</table>
-->


<!------------------------------------------------------------------------------------------------------------>
<!-- Integration Details -->
<!------------------------------------------------------------------------------------------------------------>
<!--
<h1>Integration Details</h1>

<h4>Kafka Brokers</h4>
<ul>
    <li>kafka01-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka02-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka03-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka04-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka05-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
</ul>

<h4>Message Format</h4>
All messages must be sent as JSON to the Kafka topic <span class="inline-code">{{channelConfig.producerTopic}}</span> with the following format:
<pre id="message-format">
    &#123;
        <span class="key">"header"</span>: &#123;
            <span class="key">"channelId"</span>: "<span>{{channelConfig.channelID}}</span>",
            <span class="key">"producerCompanyId"</span>: {{channelConfig.producerCompanyID}},
            <span class="key">"machineId"</span>: "machine_XY", <span class="comment">// identifier of machine</span>
            <span class="key">"time"</span>: "13492739487234", <span class="comment">// unix timestamp in milliseconds</span>
        &#125;,
        <span class="key">"payload"</span>: &#123;
            ... <span class="comment">// payload can be aribtrary</span>
        &#125;
    &#125;
</pre>
-->
