
<!------------------------------------------------------------------------------------------------------------>
<!-- Channel Details -->
<!------------------------------------------------------------------------------------------------------------>
<h1>Channel Details</h1>

<table id="channel-details" class="table table-striped table-bordered">
    <tr>
        <th><span i18n>Channel ID</span></th>
        <th><span i18n>Business Process</span></th>
        <th><span i18n>Description</span></th>
        <th><span i18n>Start Time</span></th>
        <th><span i18n>End Time</span></th>
        <th><span i18n>Producer Topic</span></th>
        <th><span i18n>Consumer Topics</span></th>
    </tr>
    <tr>
        <td>{{channelConfig.channelID}}</td>
        <td>{{channelConfig.businessProcessID}}</td>
        <td>{{channelConfig.description}}</td>
        <td>{{channelConfig.startDateTime}}</td>
        <td>{{channelConfig.endDateTime}}</td>
        <td>{{channelConfig.producerTopic}}</td>
        <td><span ng-repeat="topic in channelConfig.consumerTopics">{{topic}}</span>
        </td>
    </tr>
</table>

<div class="interactions">
    <!--<button class="btn btn-warning"(click)="incrementPageNrTest()">Testing Frontend Page: {{pageNumber}}</button>-->
    <button class="btn btn-success" (click)="createChannel()">Open Channel</button>
    <button class="btn btn-danger" (click)="deleteChannel()">Close Channel</button>
</div>

<div style="clear: right;"></div>


<!------------------------------------------------------------------------------------------------------------>
<!-- Private Data Storage -->
<!------------------------------------------------------------------------------------------------------------>
<table id="DataStorageHeader">
    <td width="35%" style="vertical-align:middle">
        <div id="HeaderTextArea">
            <h1>Private Data Storage</h1>
        </div>
    </td>

    <td width="5%" style="vertical-align:middle">
        <div id="ToggleButtonArea">
            <!-- Rounded switch -->
            <label class="switch" id="ToggleButtonElement">
                <input *ngIf="displayStorageArea" type="checkbox" (click)="displayStorageArea=!displayStorageArea" checked>
                <input *ngIf="!displayStorageArea" type="checkbox" (click)="displayStorageArea=!displayStorageArea">
                <span class="slider round"></span>
            </label>
        </div>
    </td>

    <td width="60%" style="vertical-align:middle">
        <div id="DescriptionTextArea">enabling this option will switch the data channel storage from kafka streams to a private DB</div>
    </td>
</table>

<div id="StorageDataArea" [ngClass]="{'storage-max':displayStorageArea,'storage-min':!displayStorageArea}">
    <table id="channel-servers" class="table table-striped table-bordered">
        <tr>
            <th><span i18n>Prio</span></th>
            <th><span i18n>DB Server Name</span></th>
            <th><span i18n>Endpoint Address</span></th>
            <th><span i18n>Storage Duration</span></th>
            <th><span i18n>Ownership</span></th>
            <th><span i18n>Login</span></th>
            <th><span i18n>Password</span></th>
            <th><span i18n>Description</span></th>
            <th class="interaction-column"></th>
        </tr>
        <ng-container *ngFor="let sensor of channelSensors">
            <tr>
                <td>{{server.priority}}</td>
                <td>{{server.name}}</td>
                <td>{{server.address}}</td>
                <td>{{server.duration}}</td>
                <td>{{server.ownership}}</td>
                <td>{{server.login}}</td>
                <td>{{server.loginPW}}</td>
                <td>{{server.description}}</td>
                <td>
                    <button class="btn btn-warning remove-channel-btn"
                            (click)="removeDB(db_server)">Remove
                    </button>
                </td>
            </tr>
        </ng-container>
    </table>

    <div class="form-group" id="new-server">
        <h6 i18n>Add new server</h6>
        <form id="add-server-form" #customPropertyForm="ngForm" class="d-flex">

            <!-- server prio-->
            <input name="serverPrio" class="form-control col-1"
                   [(ngModel)]="newServer.prio"
                   placeholder="priority" required/>

            <!-- server name -->
            <input name="serverName" class="form-control col-1"
                   [(ngModel)]="newServer.name"
                   placeholder="name" required/>

            <!-- server address -->
            <input name="serverAddress" class="form-control col-1"
                   [(ngModel)]="newServer.address"
                   placeholder="address" required/>

            <!-- server duration -->
            <input name="serverDuration" class="form-control col-1"
                   [(ngModel)]="newServer.duration"
                   placeholder="duration" required/>

            <!-- server ownership -->
            <input name="serverOwnership" class="form-control col-1"
                   [(ngModel)]="newServer.ownership"
                   placeholder="owner" required/>

            <!-- server login -->
            <input name="serverLogin" class="form-control col-1"
                   [(ngModel)]="newServer.login"
                   placeholder="login" required/>

            <!-- server password -->
            <input name="serverPassword" type="password" class="form-control col-1"
                   [(ngModel)]="newServer.loginPW"
                   placeholder="password" required/>

            <!-- server description -->
            <input name="serverDescription" class="form-control col-2"
                   [(ngModel)]="newServer.description"
                   placeholder="server description" required/>

            <button [disabled]="!customPropertyForm.form.valid"
                    class="btn btn-success ml-2 add-sensor-btn"
                    (click)="addServer()">
                <span i18n>Add server</span>
            </button>
        </form>
        <p>Names of servers are unique. Entering the name of an existing server, will
            associate it to this channel.</p>
    </div>

    <br/>
    <div class="row" id="additional-settings">
        <div [ngClass]="{'col-6':pageNumber > 0,'col-12':pageNumber == 0}">

            <!-- Additional Notes -->
            <text-input label="Additional Notes" [presentationMode]="getPresentationModeLeft()" [(text)]="initialSettings.notes"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input><br/>

            <!-- Service Type -->
            <options-input label="Service Type" [visible]="true" [presentationMode]="getPresentationModeLeft()"
                           [disabled]="false" [options]="SERVICE_TYPES" [(selected)]="initialSettings.serviceType"
                           labelClass="col-4" valueClass="col-8">
            </options-input><br/>

            <!-- Host Request -->
            <boolean-input label="Host Request" [presentationMode]="getPresentationModeLeft()"
                           [(value)]="initialSettings.hostrequest" labelClass="col-4" valueClass="col-8">
            </boolean-input>
            <p>(request the other party to host a server)</p>
        </div>
        <div *ngIf="pageNumber > 0" class="col-6">

            <!-- Additional Notes -->
            <text-input label="Additional Notes" [presentationMode]="getPresentationModeRight()" [(text)]="counterSettings.notes"
                        labelClass="col-4" valueClass="col-8" [rows]="1" [required]="true">
            </text-input><br/>

            <!-- Service Type -->
            <options-input label="Service Type" [visible]="true" [presentationMode]="getPresentationModeRight()"
                           [disabled]="false" [options]="SERVICE_TYPES" [(selected)]="SERVICE_TYPES[0]"
                           labelClass="col-4" valueClass="col-8">
            </options-input><br/>

            <!-- Host Request -->
            <boolean-input label="Host Request" [presentationMode]="getPresentationModeRight()"
                           [(value)]="counterSettings.hostrequest" labelClass="col-4" valueClass="col-8">
            </boolean-input>
            <p>(other party agreed to host a server)</p>

        </div>
    </div>
</div>


<!------------------------------------------------------------------------------------------------------------>
<!-- Associated Sensors -->
<!------------------------------------------------------------------------------------------------------------>
<h1>Associated Sensors</h1>

<table id="channel-sensors" class="table table-striped table-bordered">
    <tr>
        <th><span i18n>Machine</span></th>
        <th><span i18n>Sensor</span></th>
        <th><span i18n>Interval</span></th>
        <th><span i18n>Filter</span></th>
        <th><span i18n>Description</span></th>
        <th class="interaction-column"></th>
    </tr>
    <ng-container *ngFor="let sensor of channelSensors">
        <tr>
            <td>{{sensor.machine.name}}</td>
            <td>{{sensor.name}}</td>
            <td>{{sensor.interval}}</td>
            <td>{{sensor.filter}}</td>
            <td>{{sensor.description}}</td>
            <td>
                <button class="btn btn-warning remove-channel-btn"
                        (click)="removeSensor(sensor)">Remove
                </button>
            </td>
        </tr>
    </ng-container>
</table>


<div class="form-group" id="new-sensor">
    <h6 i18n>Add new sensor</h6>
    <form id="add-sensor-form" #customPropertyForm="ngForm" class="d-flex">

        <!-- machine name-->
        <input name="machineName" class="form-control col-2"
               [(ngModel)]="newSensor.machineName"
               placeholder="name of machine" required/>

        <!-- sensor name -->
        <input name="sensorName" class="form-control col-2"
               [(ngModel)]="newSensor.name"
               placeholder="name of sensor" required/>

        <!-- sensor interval -->
        <input name="sensorInterval" class="form-control col-2"
               [(ngModel)]="newSensor.interval"
               placeholder="sensor data interval" required/>

        <!-- sensor interval -->
        <input name="sensorFilter" class="form-control col-2"
               [(ngModel)]="newSensor.filter"
               placeholder="sensor data filter" required/>

        <!-- sensor description -->
        <input name="sensorDescription" class="form-control col-2"
               [(ngModel)]="newSensor.description"
               placeholder="description" required/>

        <button [disabled]="!customPropertyForm.form.valid"
                class="btn btn-success ml-2 add-sensor-btn"
                (click)="addSensor()">
            <span i18n>Add sensor</span>
        </button>
    </form>
    <p>Names of sensors are unique. Entering the name of an existing sensor, will
        associate it to this channel.</p>
</div>


<!------------------------------------------------------------------------------------------------------------>
<!-- Messages -->
<!------------------------------------------------------------------------------------------------------------>
<!--
<h1>Messages</h1>

<table id="channel-messages" class="table table-striped table-bordered">
    <tr>
        <th><span i18n>Machine ID</span></th>
        <th><span i18n>Time</span></th>
        <th><span i18n>Payload</span></th>
    </tr>
    <ng-container *ngFor="let message of channelMessages">
        <tr>
            <td>{{message.header.machineId}}</td>
            <td>{{message.header.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{message.payload | json}}</td>
        </tr>
    </ng-container>
</table>
-->


<!------------------------------------------------------------------------------------------------------------>
<!-- Integration Details -->
<!------------------------------------------------------------------------------------------------------------>
<h1>Integration Details</h1>

<h4>Kafka Brokers</h4>
<ul>
    <li>kafka01-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka02-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka03-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka04-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
    <li>kafka05-prod02.messagehub.services.eu-gb.bluemix.net:9093</li>
</ul>

<h4>Message Format</h4>
All messages must be sent as JSON to the Kafka topic <span class="inline-code">{{channelConfig.producerTopic}}</span> with the following format:
<pre id="message-format">
    &#123;
        <span class="key">"header"</span>: &#123;
            <span class="key">"channelId"</span>: "<span>{{channelConfig.channelID}}</span>",
            <span class="key">"producerCompanyId"</span>: {{channelConfig.producerCompanyID}},
            <span class="key">"machineId"</span>: "machine_XY", <span class="comment">// identifier of machine</span>
            <span class="key">"time"</span>: "13492739487234", <span class="comment">// unix timestamp in milliseconds</span>
        &#125;,
        <span class="key">"payload"</span>: &#123;
            ... <span class="comment">// payload can be aribtrary</span>
        &#125;
    &#125;
</pre>