<ng-container *ngIf="bpDataService.catalogueLine">
    <catalogue-line-header [catalogueLine]="bpDataService.catalogueLine"
                           [presentationMode]="'view'">
    </catalogue-line-header>

    <ul *ngIf="!singleMode" class="nav nav-tabs">

        <li class="nav-item">
            <a href id="negotiationtab"
               [ngClass]="{'nav-link': true, active: selectedOption == 'Negotiation'}"
               (click)="bpDataService.setProcessType('Negotiation'); $event.preventDefault();"
               i18n
            >Negotiate</a>
        </li>
        <li class="nav-item">
            <a href id="ordertab"
               [ngClass]="{'nav-link': true, active: selectedOption == 'Order'}"
               (click)="selectedOption = 'Order'; $event.preventDefault();"
               i18n
            >Order</a>
        </li>

        <li class="nav-item ml-auto">
            <button class="btn btn-success"
                    (click)="closeBpOptions()"><i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </button>
        </li>
    </ul>

    <negotiation *ngIf="selectedOption == 'Negotiation'"
                 id="negotiationParams">
    </negotiation>
    <order-bp *ngIf="selectedOption == 'Order'"
            id="orderParams">
    </order-bp>
    <fulfilment *ngIf="selectedOption == 'Fulfilment'">
    </fulfilment>
</ng-container>

<call-status [callStatus]="getCatalogueLineStatus"
             [large]="true">
</call-status>