<h5 class="mt-3 mb-3">Price</h5>
<!-- Price Amount -->
<amount-view class="row"
             [presentationMode]="editPrice ? 'edit' : presentationMode"
             [propName]="'Amount'"
             [amount]="[lineItem.price.priceAmount]">
</amount-view>

<!-- Price Base Quantity -->
<quantity-view class="row"
               [presentationMode]="presentationMode"
               [propName]="'Price Base Quantity'"
               [quantity]="[lineItem.price.baseQuantity]">
</quantity-view>

<h5 class="mb-3">Delivery Terms</h5>

<!-- Incoterms -->
<value-view class="row"
            [presentationMode]="presentationMode"
            [propName]="'Incoterms'"
            [(value)]="lineItem.deliveryTerms.incoterms">
</value-view>

<!-- Estimated delivery period -->
<quantity-view class="row"
               [presentationMode]="presentationMode"
               [propName]="'Estimated Delivery Period'"
               [quantity]="[lineItem.deliveryTerms.estimatedDeliveryPeriod.durationMeasure]">
</quantity-view>

<!-- Delivery Location -->
<address-view class="row"
              [presentationMode]="presentationMode"
              [propName]="'Delivery Location'"
              [address]="[lineItem.deliveryTerms.deliveryLocation.address]">
</address-view>

<!-- Special terms -->
<value-view class="row"
            [presentationMode]="presentationMode"
            [propName]="'Special Terms'"
            [(value)]="lineItem.deliveryTerms.specialTerms">
</value-view>

<h5 class="mt-3">Warranty</h5>

<!-- Validity period -->
<quantity-view class="row"
               [presentationMode]="presentationMode"
               [propName]="'Validity Period'"
               [quantity]="[lineItem.warrantyValidityPeriod.durationMeasure]">
</quantity-view>

<!-- Warranty information -->
<value-array-view class="row"
                  [presentationMode]="presentationMode"
                  [propName]="'Warranty information'"
                  [(values)]="lineItem.warrantyInformation">
</value-array-view>