<div *ngIf="stringValue" id="stringValueDiv">

    <div class="input-group form-group">
        <div *ngIf="eClassValue" class="col-3 control-label" (click)="openModal()">
            <div style="cursor: pointer">
                {{additionalItemProperty.name}}
                <span *ngIf="eClassValue">&#9432;</span>
            </div>
        </div>

        <div *ngIf="!eClassValue" class="col-3 control-label" >
            {{additionalItemProperty.name}}
            <span style="display:inline-block; width: 30px;"></span>
        </div>

        <input type="text" id="prop_val" class="form-control"
               [(ngModel)]="additionalItemProperty.value[0]"
               (ngModelChange)="buttonEnabledOrDisabled()">

        <span *ngIf="!eClassValue"><button class="btn btn-xs btn-danger"
                                           (click)="deleteCustomProperty(additionalItemProperty.name); $event.stopPropagation()"
        >&times;</button></span>

        <span *ngIf="i.length > 0"><button class="btn btn-xs btn-danger"
                                           (click)="removeAddedValue(0); $event.stopPropagation()"
        >&times;</button></span>

        <span *ngIf="eClassValue && i.length == 0">
            <button class="btn btn-primary btn-xs"
                    (click)="addAnotherPropertyValue(additionalItemProperty.name)"
                    [disabled]="buttonDisabled"
            ><strong>+</strong></button>
        </span>
    </div>
    <!--<input type="text" class="form-control" [value]="additionalItemProperty.value[0]">-->
    <div *ngFor="let m of i;" class="input-group form-group">
        <label class="col-3 control-label"></label>
        <input type="text" id="prop_val" class="form-control"
               [(ngModel)]="additionalItemProperty.value[i.indexOf(m)+1]"
               (ngModelChange)="buttonEnabledOrDisabled()"
        >
        <span><button class="btn btn-xs btn-danger"
                      (click)="removeAddedValue(i.indexOf(m)+1);"
        >&times;</button></span>

        <span *ngIf="i.indexOf(m)==i.length-1" ><button class="btn btn-primary btn-xs"
                (click)="addAnotherPropertyValue(additionalItemProperty.name)"
                [disabled]="buttonDisabled"
        ><strong>+</strong></button>
        </span>
    </div>

</div>



<div *ngIf="binaryValue" class="input-group form-group">
    <label class="col-3 control-label">{{additionalItemProperty.name}}</label>
    <div style="display: inline-block">
        <div *ngFor="let file of additionalItemProperty.embeddedDocumentBinaryObject"
             style="display: inline-block">

            <div *ngIf="file.mimeCode.split('/')[0]=='image'">
                <img class="pr-2"
                     src="data:{{file.mimeCode}};base64,{{file.value}}"
                     height="100"
                     width="100"
                />

                <span style="display:inline-block; width: 10px;"></span>
                    {{file.objectMetadata}}
                <span style="display:inline-block; width: 30px;"></span>
            </div>

            <div *ngIf="file.mimeCode.split('/')[0]=='application'||file.mimeCode.split('/')[0]=='text'">
                {{file.fileName}}
                <span style="display:inline-block; width: 20px;"></span>
            </div>
        </div>

       <span><button class="btn btn-xs btn-danger"
                      (click)="deleteCustomProperty(additionalItemProperty.name); $event.stopPropagation()"
        >&times;</button></span>
    </div>
</div>
