<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
</head>
<body>

<h2>Catalogue</h2>

<!-- *ngIf div to wait for asynchronous data -->
<div *ngIf="catalogue">
    <div *ngIf="catalogue.catalogueLine.length > 0">
        <p>Issue date: {{catalogue.issueDate}}</p>
        <catalogue-line-view *ngFor="let line of catalogue.catalogueLine"
                             [catalogueLine]="line">
        </catalogue-line-view>
    </div>
    <h3 *ngIf="catalogue.catalogueLine.length <= 0">No catalogue lines have been published.</h3>
</div>

</body>
</html>