<div class="container well">

    <div class="row mt-3">
        <div class="col-sm-10"><h4><u>Product Overview</u></h4></div>
        <!-- catalogue lines are in view mode in catalogue view -->
        <ng-container *ngIf="presentationMode == 'view'">
            <div class="col-sm-1"><button type="button" class="btn btn-success" (click)="deleteCatalogueLine()">Delete</button></div>
            <div class="col-sm-1"><button type="button" class="btn btn-success" (click)="redirectToEdit()">Edit</button></div>
        </ng-container>
    </div>

    <div class="input-group form-group">
        <label class="col-3 control-label"><strong>Product Identifier</strong></label>
        <label *ngIf="catalogueLine.goodsItem.item.manufacturersItemIdentification!= null && presentationMode != 'edit'">{{catalogueLine.goodsItem.item.manufacturersItemIdentification.id}}</label>
        <input *ngIf="catalogueLine.goodsItem.item.manufacturersItemIdentification!= null && presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.manufacturersItemIdentification.id">
    </div>
    <div class="input-group form-group">
        <label class="col-3 control-label"><strong>Name</strong></label>
        <label *ngIf="presentationMode != 'edit'">{{catalogueLine.goodsItem.item.name}}</label>
        <input *ngIf="presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.name">
    </div>
    <div class="input-group form-group">
        <label class="col-3 control-label"><strong>Description</strong></label>
        <label *ngIf="presentationMode != 'edit'">{{catalogueLine.goodsItem.item.description}}</label>
        <input *ngIf="presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.description">
    </div>
    <div class="d-flex flex-wrap">
        <label class="col-3 control-label"><strong>Commodity Classifications</strong></label>
        <div *ngFor="let classification of catalogueLine.goodsItem.item.commodityClassification">
            <button class="btn btn-info mr-2">{{classification.itemClassificationCode.name}}</button>
        </div>
    </div>

    <!-- images -->
    <div class="d-flex justify-content-start mb-3">
        <div *ngFor="let image of catalogueLine.goodsItem.item.productImage">
            <div *ngIf="image.mimeCode.split('/')[0]=='image'">
                <img class=" pr-2"
                     src="data:{{image.mimeCode}};base64,{{image.value}}"
                     height="100"
                     width="100"
                />
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
    <li class="nav-item pointer">
        <a
                [ngClass]="{'nav-link': true, active: selectedTab === 'Product Details'}"
                (click)="selectedTab = 'Product Details'"
                i18n
        >Product Details</a>
    </li>

    <li class="nav-item pointer">
        <a
                [ngClass]="{'nav-link': true, active: selectedTab === 'Trading & Delivery Terms'}"
                (click)="selectedTab = 'Trading & Delivery Terms'"
                i18n
        >Trading & Delivery Terms</a>
    </li>
</ul>

    <product-details *ngIf="selectedTab === 'Product Details'"
                     [catalogueLine]="catalogueLine"
                     [presentationMode]="presentationMode">
    </product-details>
    <trading-details *ngIf="selectedTab === 'Trading & Delivery Terms'"
                     [catalogueLine]="catalogueLine"
                     [presentationMode]="presentationMode">
    </trading-details>
</div>