<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- Some items commented out due to null properties -->

<body>

<ul>
    <li>Item name: {{line.goodsItem.item.name}}</li>
    <li>Warranty Validity Period: {{line.warrantyValidityPeriod}}</li>
    <li>Warranty Information: {{line.warrantyInformation}}</li>

    <ul>
        <li>Price: {{line.requiredItemLocationQuantity.price}}</li>
        <li>Applicable Territory Address: {{line.requiredItemLocationQuantity.applicableTerritoryAddress}}</li>
        <li>Trading Restrictions: {{line.requiredItemLocationQuantity.tradingRestrictions}}</li>

        <ul *ngIf="line.requiredItemLocationQuantity._package">
            <li>{{line.requiredItemLocationQuantity._package.quantity}}</li>
            <li>{{line.requiredItemLocationQuantity._package.packagingTypeCode}}</li>
        </ul>
    </ul>

    <ul *ngIf="line.goodsItem.delivery">
        <li>{{line.goodsItem.delivery.estimatedDeliveryPeriod}}></li>
        <li>{{line.goodsItem.delivery.requestedDeliveryPeriod}}></li>
        <li *ngIf="line.goodsItem.delivery.deliveryTerms">{{line.goodsItem.delivery.deliveryTerms.specialTerms}}></li>
    </ul>

    <ul>
        <li>Description: {{line.goodsItem.item.description}}</li>
        <li>Free of Charge? {{line.goodsItem.item.freeOfChargeIndicator}}</li>
        <li>Origin Country: {{line.goodsItem.item.originCountry}}</li>
        <li>Commodity Classification: {{line.goodsItem.item.commodityClassification}}</li>
        <li>Additional Item Property: {{line.goodsItem.item.additionalItemProperty}}</li>
        <li>Certificate: {{line.goodsItem.item.certificate}}</li>
        <li>Dimension: {{line.goodsItem.item.dimension}}</li>
        <li *ngIf="line.goodsItem.item.sellersItemIdentification">Seller's Item ID: {{line.goodsItem.item.sellersItemIdentification.id}}</li>
    </ul>
</ul>

</body>
</html>