.modal {
    position: fixed;
    top: 6px;
    width: 76%;
    left: 120px;
    height: 100%;
    z-index: 100;
    display: none;
    overflow: hidden;
    pointer-events: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: #bd4147;
    color: white;
    pointer-events: all;

}

.modal-body {padding: 2px 16px;}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
