<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #f5f5f5">

<div *ngFor="let propertyBlock of propertyBlocks">
    <p>
        <button type="button" class="btn btn-outline-primary"
                (click)="propertyBlock.isCollapsed = !propertyBlock.isCollapsed"
                [attr.aria-expanded]="!propertyBlock.isCollapsed" aria-controls="propertyBlock">
            {{propertyBlock.name}}
        </button>
    </p>
    <div id="propertiesBlock" [ngbCollapse]="propertyBlock.isCollapsed"
         *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES]">

        <div class="input-group form-group" *ngIf="property.value[0] !== ''">

            <label class="col-6 control-label" [ngClass]="'font-weight-bold'">{{property.name}}:</label>

            <span contenteditable="false" (disabled)="true" class="text-box" [(ngModel)]="property.value[0]"
                  ngDefaultControl>
    {{property.value[0]}}
            </span>

        </div>

    </div>
</div>


</body>
</html>