<!-- Topmost navigation bar -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href id="singleUpload"
           [ngClass]="{'nav-link': true, active: singleItemUpload}"
           (click)="onTabClick($event)"
           i18n
        >Upload Single Product</a>
    </li>

    <li class="nav-item">
        <a href id="bulkUpload"
           [ngClass]="{'nav-link': true, active: !singleItemUpload}"
           (click)="onTabClick($event)"
           i18n
        >Upload Multiple Products</a>
    </li>
</ul>

<!-- Single product publishing -->
<div *ngIf="catalogueLine && singleItemUpload" class="mt-3">

    <!-- Top row: selected category, feedback messages, etc. -->
    <div class="d-flex justify-content-end">

        <div class="mr-auto">
            <!-- category related elements -->
            <h6 *ngIf="catalogueLine.goodsItem.item.commodityClassification.length > 0"
                style="display: inline-block;"
                i18n>Selected category:</h6>
            <button *ngFor="let selectedCategory of categoryService.selectedCategories"
                    class="btn btn-info ml-3">
                {{selectedCategory.preferredName}}
                <span>
                    <i (click)="categoryCancel(selectedCategory.id)">&times;</i>
                </span>
            </button>
            <div (click)="addCategoryOnClick()"
                 style="display: inline-block;">
                <img src="./assets/catalogue/add_button.png"/>
                <span *ngIf="catalogueLine.goodsItem.item.commodityClassification.length == 0" i18n>Select a product category</span>
                <span *ngIf="catalogueLine.goodsItem.item.commodityClassification.length > 0" i18n>Add another product category</span>
            </div>
        </div>

        <!-- feedbacks elements for publish and edit operations -->
        <div [hidden]="error_detc || callback || !submitted" class="pr-3">
            <img src="assets/form_loader.gif"/>
        </div>
        <div [hidden]="!(callback && !error_detc)"
             #successAlert (click)="successAlert.hidden=true;"
             [style]="!(callback && !error_detc) ? '' : 'display: flex'">
            <div class="alert-success mb-0 mr-3 d-flex" role="alert">
                <div class="d-flex p-2" style="align-items: center">
                    <span i18n>Product published!</span>
                    <span class="ml-3" style="cursor:pointer"><strong>&times;</strong></span>
                </div>
            </div>
        </div>
        <div [hidden]="!(callback && error_detc)"
             #errorAlert (click)="errorAlert.hidden=true"
             [style]="hidden ? '' : 'display: flex'">
            <div class="alert-danger mb-0 mr-3 d-flex" role="alert">
                <div class="d-flex p-2" style="align-items: center">
                    <span i18n>Fail to publish product!</span>
                    <span class="ml-3" style="cursor:pointer"><strong>&times;</strong></span>
                </div>
            </div>
        </div>

        <!-- Publish / edit buttons -->
        <button *ngIf="pageRef == 'category'"
                class="btn btn-success"
                (click)="publishProduct()">
            <span i18n>Publish Product</span>
        </button>
        <button *ngIf="pageRef == 'catalogue'"
                class="btn btn-success btn-xs"
                (click)="editProduct()">
            <span i18n>Save Changes</span>
        </button>
    </div>

    <hr>

    <!-- Form header row -->
    <form class="space-before">

        <!-- product properties -->
        <catalogue-line-view
                             [catalogueLine]="catalogueLine"
                             [presentationMode]="'edit'">
        </catalogue-line-view>

        <!-- new property block -->
        <hr class="mt-5">
        <div class="form-group">
            <h6 i18n>Add custom property</h6>
            <form #customPropertyForm="ngForm" class="d-flex">

                <!-- property name -->
                <input name="propertyName"
                       class="form-control col-3"
                       [(ngModel)]="newProperty.name"
                       placeholder="Property Name"
                       required/>

                <!-- property value -->
                <input *ngIf="propertyValueType.options.selectedIndex == 0"
                       name="propertyValue"
                       class="form-control col ml-2"
                       [(ngModel)]="newProperty.value[0]"
                       placeholder="Property Value"
                       required/>
                <input *ngIf="propertyValueType.options.selectedIndex == 1"
                       name="propertyValue"
                       class="form-control col ml-2"
                       [(ngModel)]="newProperty.valueDecimal[0]"
                       placeholder="Property Value"
                       required/>

                <!-- remove value button -->
                <span *ngIf="(newProperty.valueQualifier == 'STRING' && newProperty.value.length > 1)
                             || (newProperty.valueQualifier == 'REAL_MEASURE' && newProperty.valueDecimal.length > 1)">
                    <button class="btn btn-xs btn-danger"
                            (click)="removeValueFromProperty(0); $event.stopPropagation()">
                        &times;
                    </button>
                </span>

                <!-- add additional value button -->
                <span *ngIf="(newProperty.valueQualifier == 'STRING' && newProperty.value.length == 1)
                             || (newProperty.valueQualifier == 'REAL_MEASURE' && newProperty.valueDecimal.length == 1)">
                    <button class="btn btn-info btn-xs"
                            (click)="addValueToProperty()"
                    ><strong>+</strong></button>
                </span>

                <!-- add image button -->
                <div *ngIf="propertyValueType.options.selectedIndex == 2" (click)="image.click()"
                     class="col-4"
                     style="display: inline-block;">
                    <input #image type="file" (change)="imageChange($event)" multiple accept="image/*"
                           style="display: none">
                    <img src="./assets/catalogue/add_button.png"/>
                    <span i18n>Add image</span>
                </div>

                <!-- add file button -->
                <div *ngIf="propertyValueType.options.selectedIndex == 3" (click)="file.click()"
                     class="col-4"
                     style="display: inline-block;">
                    <input #file type="file" (change)="fileChange($event)" multiple accept="file/*"
                           style="display: none">
                    <img src="./assets/catalogue/add_button.png"/>
                    <span i18n>Add file</span>
                </div>

                <!-- combobox for choosing the property value type -->
                <div class="col">
                    <div class="row justify-content-end ml-2">
                        <div>
                            <span i18n>Value type:</span>

                            <select #propertyValueType class="custom-select" (change)="onValueTypeChange($event)">
                                <option selected i18n>Text</option>
                                <option i18n>Number</option>
                                <option i18n>Image</option>
                                <option i18n>File</option>
                            </select>
                        </div>

                        <button [disabled]="!customPropertyForm.form.valid || (newProperty.valueQualifier == 'BINARY' && newProperty.valueBinary.length == 0)"
                                class="btn btn-success ml-1"
                                (click)="addCustomProperty()">
                            <span i18n>Add property</span>
                        </button>
                    </div>
                </div>
            </form>
            <p></p>

            <!-- additonal values -->
            <!-- additional values are drawn here as the top row contains
            `value type selection button` and `add property buttons` in addition to the first value associated to the new property -->
            <div *ngFor="let val of newProperty.valueQualifier | itemPropertyDataSourcePipe : newProperty; let i = index; trackBy : trackByIndex">
                <div *ngIf="i > 0" class="input-group form-group">
                    <label class="col-3 control-label"></label>
                    <input *ngIf="newProperty.valueQualifier=='STRING'"
                            type="text" class="form-control col ml-2"
                           [(ngModel)]="newProperty.value[i]"
                           [ngModelOptions]="{standalone: true}"
                    >
                    <input *ngIf="newProperty.valueQualifier=='REAL_MEASURE'"
                           type="text" class="form-control col ml-2"
                           [(ngModel)]="newProperty.valueDecimal[i]"
                           [ngModelOptions]="{standalone: true}"
                    >
                    <!-- remove value button -->
                    <button *ngIf="newProperty.valueQualifier != 'BINARY'"
                            class="btn btn-xs btn-danger"
                            (click)="removeValueFromProperty(i); $event.stopPropagation()">&times;
                    </button>

                    <!-- add value button -->
                    <span *ngIf="(newProperty.valueQualifier == 'STRING' && i == this.newProperty.value.length - 1) ||
                                 (newProperty.valueQualifier == 'REAL_MEASURE' && i == this.newProperty.valueDecimal.length - 1)">
                        <button class="btn btn-primary btn-xs"
                                (click)="addValueToProperty()"
                        ><strong>+</strong></button>
                    </span>

                    <!--<div class="col">
                        <div class="row justify-content-end ml-2">
                        </div>
                    </div>-->
                </div>
            </div>

            <!-- selected images or files -->
            <div *ngIf="newProperty != null && newProperty.valueBinary.length > 0 && newProperty.valueQualifier == 'BINARY'"
                 class="offset-3 mt-3">
                <ul class="list-group">
                    <li *ngFor="let afile of newProperty.valueBinary"
                        class="list-group-item pb-2 border-0">

                        <!-- selected files -->
                        <div *ngIf="afile.mimeCode.split('/')[0]!='image'">
                            {{afile.fileName}}
                            <span style="display:inline-block; width: 20px;"></span>
                            <span><button class="btn btn-xs" style="background-color: white; color: #0d6cd8"
                                          (click)="imageCancel(afile.fileName);"
                            >&times;</button></span>
                        </div>

                        <!-- selected images -->
                        <div *ngIf="afile.mimeCode.split('/')[0]=='image'">
                            <img class="mr-2"
                                 src="data:{{afile.mimeCode}};base64,{{afile.value}}"
                                 height="100"
                                 width="100"
                            />
                            <div style="display: inline-block;">
                                <label>Value Details:</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="afile.objectMetadata" name="valueDetails">
                            </div>
                            <span><button class="btn btn-xs" style="background-color: white; color: #0d6cd8"
                                          (click)="imageCancel(afile.fileName);"
                            >&times;</button></span>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- end of selected images or files -->
        </div>
        <!-- end of new property -->
    </form>
</div>

<!-- Bulk product publishing -->
<div *ngIf="!singleItemUpload">
    <div class="d-flex justify-content-end mt-3 mb-3">
        <div class="mr-auto">
            <h6 *ngIf="categoryService.selectedCategories.length > 0" style="display: inline-block;"
                i18n>Selected category:</h6>
            <button *ngFor="let selectedCategory of categoryService.selectedCategories"
                    class="btn btn-info ml-3">
                {{selectedCategory.preferredName}}
                <span><i
                        (click)="categoryCancel(selectedCategory.id)"
                >&times;</i></span>
            </button>
            <div (click)="addCategoryOnClick()"
                 style="display: inline-block;">
                <img src="./assets/catalogue/add_button.png"/>
                <span *ngIf="categoryService.selectedCategories.length == 0" i18n>Select a product category</span>
                <span *ngIf="categoryService.selectedCategories.length > 0" i18n>Add another product category</span>
            </div>
        </div>
    </div>
    <div class="d-flex mt-3 mb-4">
        <label class="col-9">1. Download the product category template</label>
        <button class="btn btn-success col-3"
                (click)="downloadTemplate()">Download template
        </button>
    </div>
    <div class="d-flex mb-4">
        <label class="col-9">2. Select upload mode.
            <ul>
                <li>Append mode: Already published products are updated if newer versions are provided in the template, new products are appended to the current catalogue.</li>
                <li>Replace mode: All previously published items are deleted; and only the new ones are added to the catalogue.</li>
            </ul>
        </label>
        <select #uploadModeSelect class="col-3 btn btn-success align-self-start" style="text-align-last:center;">
            <option value="append">Append</option>
            <option value="replace">Replace</option>
        </select>
    </div>
    <div class="d-flex mb-4">
        <label class="col-9">3. Upload the template after filling it with your products' information
        </label>
        <input #template type="file" (change)="uploadTemplate($event, uploadModeSelect.value)"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
               style="display: none">
        <button class="btn btn-success col-3"
                (click)="template.click()">Upload template
        </button>
    </div>
    <div class="d-flex mb-4">
        <label class="col-9">4. Upload a "zip package" including product images. Each image must be suffixed with the identifier of the product. For example: pid1.imageFile.jpg, pid1.imageFile2.png, etc.
        </label>
        <input #imagePackage type="file" (change)="uploadImagePackage($event)"
               accept="application/zip"
               style="display: none">
        <button class="btn btn-success col-3 align-self-start"
                (click)="imagePackage.click()">Upload Image Package
        </button>
    </div>
    <div class="d-flex mt-4 mb-3">
        <label class="col-9">Download an example filled in template</label>
        <button class="btn btn-success col-3"
                (click)="downloadExampleTemplate()">Download example template
        </button>
    </div>
    <call-status [callStatus]="bulkPublishStatus"
            [large]="true">
    </call-status>
</div>
