<link rel="stylesheet" type="text/css" href="modal-style.css">

<!-- popup for presenting the details of the property -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div id="header"></div>
            <span class="close" (click)="closePropertyDetailsPopup();">&times;</span>
        </div>
        <div class="modal-body">
            <span style="color: #8b4513;">Description: </span>
            <span id="prop_def"></span>

            <div></div>
            <span style="color: #8b4513;" id="unit_label"></span>
            <span style="color: #000000;" id="prop_unit"></span>
        </div>
    </div>
</div>

<!-- ubl properties -->
<div class="input-group form-group">
    <label class="col-3 control-label">Name</label>
    <input type="text" class="form-control" name="productName" [(ngModel)]="catalogueLine.goodsItem.item.name">
</div>
<div class="input-group form-group">
    <label class="col-3 control-label">Description</label>
    <input type="text" class="form-control" name="productDescription" [(ngModel)]="catalogueLine.goodsItem.item.description">
</div>
<div class="input-group form-group">
    <label class="col-3 control-label">Price</label>
    <input type="text" class="form-control" name="productPrice" [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.value">
    <label class="ml-3 mr-3">Currency</label>
    <input type="text" class="form-control" name="productPriceUnit" [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.currencyID">
</div>

<!-- Custom properties -->
<additional-item-property *ngFor="let property of retrieveCustomProperties(this.catalogueLine.goodsItem.item.additionalItemProperty)"
                          [additionalItemProperty]="property">
</additional-item-property>

<div *ngFor="let propertyBlock of this.catalogueLine.goodsItem.item.additionalItemProperty | propertyBlockPipe">
    <p>
        <!-- display the propertyBlock only if it is not empty -->
        <button *ngIf="propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES].length > 0"
                type="button"
                class="btn btn-outline-primary"
                (click)="toggleCollapsed(propertyBlock[PROPERTY_BLOCK_FIELD_NAME]);"
                [attr.aria-expanded]="!propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])"
                aria-controls="propertyBlock">
            {{propertyBlock[PROPERTY_BLOCK_FIELD_NAME]}}
        </button>
    </p>
    <div id="propertyBlock" [ngbCollapse]="propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])">
        <additional-item-property *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES]"
                                  [additionalItemProperty]="property">
        </additional-item-property>
    </div>
</div>