<!-- ubl properties -->
<div class="input-group form-group">
    <label class="col-3 control-label">Name</label>
    <input type="text" class="form-control" name="productName" [(ngModel)]="catalogueLine.goodsItem.item.name">
</div>
<div class="input-group form-group">
    <label class="col-3 control-label">Description</label>
    <input type="text" class="form-control" name="productDescription" [(ngModel)]="catalogueLine.goodsItem.item.description">
</div>
<div class="input-group form-group">
    <label class="col-3 control-label">Price</label>
    <input type="text" class="form-control" name="productPrice" [(ngModel)]="catalogueLine.requiredItemLocationQuantity.price.priceAmount.value">
</div>

<!-- Custom properties -->
<additional-item-property *ngFor="let property of customProperties"
                          [additionalItemProperty]="property">
</additional-item-property>

<div *ngFor="let propertyBlock of propertyBlocks">
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="propertyBlock.isCollapsed = !propertyBlock.isCollapsed"
                [attr.aria-expanded]="!propertyBlock.isCollapsed" aria-controls="propertyBlock">
            {{propertyBlock.name}}
        </button>
    </p>
    <div id="propertyBlock" [ngbCollapse]="propertyBlock.isCollapsed">
        <additional-item-property *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES]"
                                  [additionalItemProperty]="property">
        </additional-item-property>
    </div>
</div>
