<h5 *ngIf=" presentationMode != 'edit' &&
            (catalogueLine.goodsItem.item.dimension == null || catalogueLine.goodsItem.item.dimension.length == 0) &&
            (catalogueLine.goodsItem.item.certificate == null || catalogueLine.goodsItem.item.certificate.length == 0) &&
            (catalogueLine.goodsItem.item.additionalItemProperty == null || catalogueLine.goodsItem.item.additionalItemProperty.length == 0)">
    No Product Details
</h5>

<!-- dimensions -->
<!--<ng-container *ngIf="dimensions != null && object.keys(dimensions).length > 0">
    <h5 class="mt-3">Dimensions</h5>
    <div *ngFor="let key of object.keys(dimensions)"
         class="container">
        <quantity-view
                [propName]="key"
                [quantity]="dimensions[key]"
                [presentationMode]="presentationMode"
                [multiValue]="true"
                (onSelectChange)="updateNegotiationItemDimensionData(key, $event)"
                (onValueAdded)="createDimensionAttribute(key, dimensions[key][0].unitCode)"
                (onValueDeleted)="deleteDimensionAttribute(key, $event)">
        </quantity-view>
    </div>
</ng-container>-->
<dimension-view [presentationMode]="presentationMode"
                [itemDimensions]="catalogueLine.goodsItem.item.dimension">
</dimension-view>

<!-- certificates -->
<certificate-view [presentationMode]="presentationMode"
                  [certificates]="catalogueLine.goodsItem.item.certificate">
</certificate-view>

<!-- product properties -->
<div *ngFor="let propertyBlock of catalogueLine.goodsItem.item.additionalItemProperty | propertyBlockPipe : presentationMode; let i = index; trackBy : trackByIndex">
    <h5 *ngIf="i==0" class="mt-3">Detailed Properties</h5>
    <p>
        <button type="button" class="btn btn-outline-primary"
                (click)="toggleCollapsed(propertyBlock[PROPERTY_BLOCK_FIELD_NAME]);"
                [attr.aria-expanded]="!propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])"
                aria-controls="propertyBlock">
            {{propertyBlock.name}}
        </button>
    </p>

    <div id="propertyBlock" [ngbCollapse]="propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])">
        <additional-item-property
                *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES]; trackBy : trackByIndex"
                [additionalItemProperty]="property"
                [presentationMode]="presentationMode">
        </additional-item-property>
    </div>
</div>