<!-- view and singlevalue mode -->
<ng-container *ngIf="presentationMode == 'view' || presentationMode == 'singlevalue'">
    <div class="input-group form-group">
        <!-- show label next to the first value only -->
        <label class="col-3 control-label">{{propName}}
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <select *ngIf="address.length > 1"
                class="custom-select">
            <option *ngFor="let value of address">{{value.country.name}}</option>
        </select>

        <input *ngIf="address.length == 1"
               class="form-control"
               type="text"
               [(ngModel)]="address[0].country.name"
               readonly>

        <input *ngIf="address.length == 0"
               class="form-control"
               type="text"
               readonly>

        <!--<label>City</label>
        <select *ngIf="address.length > 0"
                class="custom-select">
            <option *ngFor="let value of address">{{value.cityName}}</option>
        </select>-->
    </div>
</ng-container>

<!-- edit mode -->
<ng-container *ngIf="presentationMode == 'edit'">
    <div *ngFor="let addr of address; let i = index;" class="input-group form-group">
        <!-- show label next to the first value only -->
        <label *ngIf="i == 0" class="col-3 control-label">{{propName}}
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <input type="text" class="form-control "
               [(ngModel)]="addr.country.name"
               [ngClass]="{'offset-3' : i > 0} ">

        <!-- remove value button -->
        <span *ngIf="address.length > 1 && multiValue">
            <button class="btn btn-xs btn-danger" (click)="removeValue(i)">&times;
            </button>
        </span>

        <!-- add value button -->
        <span *ngIf="i == address.length - 1 && multiValue">
            <button class="btn btn-primary btn-xs" (click)="addNewValue()"><strong>+</strong></button>
        </span>
    </div>

    <!-- empty address list -->
    <ng-container *ngIf="address == null || address.length == 0">
        <div class="input-group form-group">
            <label class="col-3 control-label">{{propName}}
                <span *ngIf="definition" class="label label-default" title="{{definition}}">
                        &#9432;
                </span>
            </label>
            <input type="text" class="form-control "
                   [(ngModel)]="initialValue"
                   (ngModelChange)="initialValueChange($event)"
                   [ngClass]="{'offset-3' : i > 0} ">
        </div>
    </ng-container>
</ng-container>