<ng-container *ngIf="presentationMode != 'singlevalue'">
    <div class="input-group form-group">
        <label class="col-3 control-label">{{propName}}</label>
        <input type="text" class="form-control "
               [(ngModel)]="amount[0].value"
               [ngClass]="{'offset-3' : i > 0} "
               [readonly]="presentationMode != 'edit'">
        <label class="col-1" class="ml-3 mr-3">Currency: </label>
        <input type="text"
               class="col-1 form-control"
               [(ngModel)]="amount[0].currencyID"
               [readonly]="presentationMode != 'edit'">
    </div>
</ng-container>

<ng-container *ngIf="presentationMode == 'singlevalue'">
    <div class="input-group form-group">
        <label class="col-3 control-label">{{propName}}</label>
        <select *ngIf="amount.length > 1"
                class="custom-select col-7">
            <option *ngFor="let value of amount">{{value}}</option>
        </select>
        <input *ngIf="amount.length == 1"
               type="text" class="form-control"
               [(ngModel)]="amount[0].value"
               readonly>
        <label class="col-1" class="ml-3 mr-3">Currency: </label>
        <label class="col-1">{{amount[0].currencyID}}</label>
    </div>
</ng-container>