<div class="input-group form-group">
    <label class="col-3 control-label">{{propName}}</label>
    <call-status [callStatus]="getDefaultDeliveryLocation"
                 [large]="true">
    </call-status>
    <span *ngIf="getDefaultDeliveryLocation.fb_callback" class="col-2 control-label">
                    Street Name
    </span>
    <input *ngIf="getDefaultDeliveryLocation.fb_callback" class="form-control" [(ngModel)]="deliveryAddress.streetName" [disabled]="presentationMode != 'edit'">
</div>
<div *ngIf="getDefaultDeliveryLocation.fb_callback" class="input-group form-group">
    <label class="col-2 control-label offset-3">Building Number</label>
    <input type="text" class="form-control" [(ngModel)]="deliveryAddress.buildingNumber" [disabled]="presentationMode != 'edit'">
</div>
<div *ngIf="getDefaultDeliveryLocation.fb_callback" class="input-group form-group">
    <label class="col-2 control-label offset-3">City / Town</label>
    <input type="text" class="form-control" [(ngModel)]="deliveryAddress.cityName" [disabled]="presentationMode != 'edit'">
</div>
<div *ngIf="getDefaultDeliveryLocation.fb_callback" class="input-group form-group">
    <label class="col-2 control-label offset-3">State / Province</label>
    <input type="text" class="form-control" [(ngModel)]="deliveryAddress.region" [disabled]="presentationMode != 'edit'">
</div>
<div *ngIf="getDefaultDeliveryLocation.fb_callback" class="input-group form-group">
    <label class="col-2 control-label offset-3">Postal code</label>
    <input type="text" class="form-control" [(ngModel)]="deliveryAddress.postalZone" [disabled]="presentationMode != 'edit'">
</div>
<div *ngIf="getDefaultDeliveryLocation.fb_callback" class="input-group form-group">
    <label class="col-2 control-label offset-3">Country</label>
    <input type="text" class="form-control" [(ngModel)]="deliveryAddress.country.name.value" [disabled]="presentationMode != 'edit'">
</div>
