<!-- view mode -->
<ng-container *ngIf="presentationMode == 'view'">
    <ng-container *ngIf="quantity.length > 0">
        <div *ngFor="let value of quantity; let i = index;" class="input-group form-group">
            <!-- show label next to the first value only -->
            <label *ngIf="i == 0" class="col-3 control-label">{{propName}}
                <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
                </span>
            </label>
            <input type="text" class="form-control align-self-start"
                   [(ngModel)]="value.value"
                   [ngClass]="{'offset-3' : i > 0} "
                   readonly>
            <label class="col-1" class="ml-3 mr-3">Unit: </label>
            <input type="text"
                   class="col-1 form-control align-self-start"
                   [(ngModel)]="value.unitCode"
                   readonly>
        </div>
    </ng-container>
    <ng-container *ngIf="quantity.length == 0">
        <div class="input-group form-group">
            <label *ngIf="i == 0" class="col-3 control-label align-self-start">{{propName}}
                <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
                </span></label>
            <input type="text" class="form-control" readonly>
            <label class="col-1" class="ml-3 mr-3 align-self-start">Unit: </label>
            <input type="text" class="col-1 form-control" readonly>
        </div>
    </ng-container>
</ng-container>

<!-- edit mode -->
<form *ngIf="presentationMode == 'edit'"
      [formGroup]="quantityForm">
    <div [formArrayName]="'values'" class="border-0">
        <div *ngFor="let value of quantity; let i = index;"
             class="form-group border-0"
             [formGroupName]="i">
            <div class="input-group border-0">
                <!-- show label next to the first value only -->
                <label *ngIf="i == 0 && !editablePropName" class="col-3 control-label">{{propName}}
                    <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
                    </span>
                </label>
                <input *ngIf="i == 0 && editablePropName"
                       class="form-control col-3 pr-3"
                       (blur)="onPropNameEditFocusOut($event)"
                       [(ngModel)]="propName"
                       [formControlName]="'propName'"
                       placeholder="Property Name">
                <input type="number" class="form-control align-self-start"
                       [(ngModel)]="value.value"
                       [ngClass]="{'offset-3' : i > 0}"
                       [formControlName]="'quantity'"
                       placeholder="Quantity">

                <label class="col-1" class="ml-3 mr-3">Unit: </label>
                <input *ngIf="!type"
                        type="text"
                       class="col-1 form-control align-self-start"
                       [(ngModel)]="value.unitCode"
                       [formControlName]="'unit'"
                       placeholder="Unit">
                <select *ngIf="type" class="col-1 custom-select" [(ngModel)]="value.unitCode" [formControlName]="'unit'">
                    <option *ngFor="let unit of unitValues" [value]="unit">{{unit}}</option>
                </select>

                <!-- remove value button -->
                <span *ngIf="multiValue && quantity.length > (zeroValue ? 0 : 1)">
                    <button class="btn btn-xs btn-danger" (click)="removeValue(i)">&times;
                    </button>
                </span>


                <!-- add value button -->
                <span *ngIf="multiValue && i == quantity.length - 1">
                    <button class="btn btn-primary btn-xs" (click)="addNewValue()"><strong>+</strong></button>
                </span>
            </div>

            <!-- validation message -->
            <ng-container *ngIf="presentationMode == 'edit'">
                <small *ngIf="editablePropName && i == 0 &&
                            (quantityFormArray.controls[0]?.controls['propName']?.errors?.required ||
                            quantityFormArray.controls[0]?.errors?.bothValues == false ||
                            (quantityFormArray.controls[0]?.controls['quantity']?.errors ||
                            quantityFormArray.controls[0]?.controls['unit']?.errors))"
                       class="offset-3 text-danger">
                    Property name, quantity and unit must be filled
                </small>
                <small *ngIf="(!editablePropName || i > 0) &&
                            (quantityFormArray.controls[i]?.errors ||
                                (quantityFormArray.controls[i]?.controls['quantity']?.errors ||
                                 quantityFormArray.controls[i]?.controls['unit']?.errors))"
                       class="offset-3 text-danger">
                    Both quantity and unit must be filled
                </small>
            </ng-container>
        </div>
    </div>
</form>

<!-- single value mode (used when only a single value should be chosen among the alternatives -->
<ng-container *ngIf="presentationMode == 'singlevalue'">
    <div class="input-group form-group">
        <label class="col-3 control-label">{{propName}}
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <select *ngIf="quantity.length > 1"
                class="custom-select"
                (change)="selectChanged($event)">
            <option *ngFor="let value of quantity">{{value.value}}</option>
        </select>
        <input *ngIf="quantity.length == 1"
               type="text" class="form-control align-self-start"
               [(ngModel)]="quantity[0].value"
               [readonly]="readonly">
        <label class="col-1" class="ml-3 mr-3">Unit: </label>
        <input type="text"
               class="form-control col-1 align-self-start"
               [(ngModel)]="quantity[0].unitCode"
               [readonly]="readonly">
    </div>
</ng-container>
