<ng-container *ngIf="shipment">
    <value-view [presentationMode]="presentationMode"
                [propName]="'Handling Instructions'"
                [definition]="'The handling required for this shipment'"
                [(value)]="shipment.handlingInstructions">
    </value-view>

    <value-view *ngIf="presentationMode == 'view'"
                [presentationMode]="'view'"
                [propName]="'Estimated Delivery Date'"
                [definition]="'The estimated date of delivery in this plan between the start and date of the service.'"
                [(value)]="shipment.shipmentStage[0].estimatedDeliveryDate">
    </value-view>

    <ng-container *ngIf="presentationMode != 'view'">
        <div class="input-group space-after" [hidden]="!showDate">
            <label class="col-3">Estimated Delivery Date
                <span class="label label-default" title="'The estimated date of delivery in this plan between the start and date of the service.'">
                        &#9432;
                </span>
            </label>
            <input class="form-control" placeholder="YYYY-MM-DD" (dateSelect)="shipment.shipmentStage[0].estimatedDeliveryDate = getEstimatedDeliveryDate()"
                   name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar-alt pointer" style="width: 1.2rem; height: 1rem;"></i>
                </button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="showCarrierPartyDetails">
        <value-view [presentationMode]="presentationMode"
                    [propName]="'Carrier Party'"
                    [definition]="'The party carrying the goods'"
                    [(value)]="shipment.shipmentStage[0].carrierParty.name">
        </value-view>
        <value-view [presentationMode]="presentationMode"
                    [propName]="'Carrier Party Contact'"
                    [definition]="'The primary contact for carrier party'"
                    [(value)]="shipment.shipmentStage[0].carrierParty.contact.telephone">
        </value-view>
    </ng-container>
</ng-container>
