<!-- view mode -->
<ng-container *ngIf="presentationMode == 'view'">
    <div *ngFor="let value of values; let i = index; trackBy : trackByIndex" class="input-group form-group">
        <!-- show label next to the first value only -->
        <label *ngIf="i == 0" class="col-3 control-label">{{propName}}</label>
        <input type="text" class="form-control "
               [(ngModel)]="values[i]"
               [ngClass]="{'offset-3' : i > 0} "
               readonly>
    </div>
    <ng-container *ngIf="!values || values.length == 0">
        <div class="input-group form-group">
            <label class="col-3 control-label">{{propName}}</label>
            <input type="text" class="form-control" readonly>
        </div>
    </ng-container>
</ng-container>

<!-- edit mode -->
<ng-container *ngIf="presentationMode == 'edit'">
    <div *ngFor="let value of values; let i = index; trackBy : trackByIndex" class="input-group form-group">
        <!-- show label next to the first value only -->
        <label *ngIf="i == 0" class="col-3 control-label">{{propName}}</label>
        <input type="text" class="form-control "
               [(ngModel)]="values[i]"
               [ngClass]="{'offset-3' : i > 0} ">

        <!-- remove value button -->
        <span *ngIf="values.length > 1">
            <button class="btn btn-xs btn-danger" (click)="removeValue(i)">&times;
            </button>
        </span>

        <!-- add value button -->
        <span *ngIf="i == values.length - 1">
            <button class="btn btn-primary btn-xs" (click)="addNewValue()"><strong>+</strong></button>
        </span>
    </div>
</ng-container>

<!-- single value mode -->
<ng-container *ngIf="presentationMode == 'singlevalue'">
    <div class="input-group form-group" *ngIf="values">
        <label class="col-3 control-label">{{propName}}</label>
        <select *ngIf="values.length > 1"
                class="custom-select">
            <option *ngFor="let val of values">{{val}}</option>
        </select>
        <input *ngIf="values.length == 1"
               type="text" class="form-control"
               [(ngModel)]="values[0]"
               readonly>
    </div>
</ng-container>
