<ng-container *ngIf="!largeInput">
    <div *ngIf="presentationMode == 'edit'"
         class="input-group form-group border-0"
         [formGroup]="parentForm">
        <label class="col-3"><strong>{{ propName }}</strong>
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <input class="form-control"
               [formControl]="control"
               type="text"
               [(ngModel)]="value">
    </div>
    <div *ngIf="presentationMode != 'edit'"
         class="input-group form-group border-0">
        <label class="col-3"><strong>{{ propName }}</strong>
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <input class="form-control"
               type="text"
               [(ngModel)]="value"
               readonly>
    </div>
</ng-container>

<ng-container *ngIf="largeInput">
    <div *ngIf="presentationMode == 'edit'"
         class="input-group form-group border-0"
         [formGroup]="parentForm">
        <label class="col-3"><strong>{{ propName }}</strong>
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <textarea class="form-control"
                  [formControl]="control"
                  rows="3"
                  [(ngModel)]="value">
        </textarea>
    </div>
    <div *ngIf="presentationMode != 'edit'"
         class="input-group form-group border-0">
        <label class="col-3"><strong>{{ propName }}</strong>
            <span *ngIf="definition" class="label label-default" title="{{definition}}">
                    &#9432;
            </span>
        </label>
        <textarea class="form-control"
                  rows="3"
                  [(ngModel)]="value"
                  readonly>
    </textarea>
    </div>
</ng-container>