<div *ngIf="presentationMode == 'edit'"
     class="input-group form-group border-0"
     [formGroup]="parentForm">
    <label class="col-3">{{propName}}</label>
    <input class="form-control"
           [formControl]="control"
           type="text"
           [(ngModel)]="value">
</div>
<div *ngIf="presentationMode != 'edit'"
     class="input-group form-group border-0">
    <label class="col-3">{{propName}}</label>
    <input class="form-control"
           type="text"
           [(ngModel)]="value"
           readonly>
</div>