<div id="orderParams">
	<div>
		<ul class="nav nav-tabs">
			<li class="nav-item pointer">
				<a
						[ngClass]="{'nav-link': true, active: selectedTab === 'Product Details'}"
						(click)="selectedTab = 'Product Details'"
						i18n
				>Product Characteristics</a>
			</li>
			<li class="nav-item pointer">
				<a
						[ngClass]="{'nav-link': true, active: selectedTab === 'Trading & Delivery Terms'}"
						(click)="selectedTab = 'Trading & Delivery Terms'"
						i18n
				>Trading & Delivery Terms</a>
			</li>
			<li class="nav-item pointer">
				<a
						[ngClass]="{'nav-link': true, active: selectedTab === 'Order Details'}"
						(click)="selectedTab = 'Order Details'"
						i18n
				>Order Details</a>
			</li>
		</ul>
	</div>
	<div *ngIf="bpDataService.catalogueLine"
		class="p-3">
		<product-details *ngIf="selectedTab === 'Product Details'"
						 [catalogueLine]="bpDataService.catalogueLine"
						 [presentationMode]="'singlevalue'">
		</product-details>
		<trading-details *ngIf="selectedTab === 'Trading & Delivery Terms'"
						 [catalogueLine]="bpDataService.catalogueLine"
						 [presentationMode]="'singlevalue'"
						 [editPrice]="false">
		</trading-details>
		<order-specific-parameters *ngIf="selectedTab === 'Order Details'"
								[order]="bpDataService.order">
		</order-specific-parameters>
	</div>
	<div class="container ">
		<div class="row justify-content-end">
			<button *ngIf="bpDataService.userRole == 'buyer'" class="btn btn-success" (click)="sendOrder()">Send Order</button>
			<button *ngIf="bpDataService.userRole == 'seller'"class="btn btn-success mr-3" (click)="respondToOrder(true)">Accept Order</button>
			<button *ngIf="bpDataService.userRole == 'seller'"class="btn btn-danger" (click)="respondToOrder(false)">Reject Order</button>
		</div>
	</div>
</div>

<div [hidden]="callStatus.fb_errordetc|| callStatus.fb_callback|| !callStatus.fb_submitted">
    <img class="space-before" src="assets/form_loader.gif"/>
</div>
<div [hidden]="!callStatus.fb_callback">
    <div *ngIf="bpDataService.userRole == 'buyer'" class="alert alert-success space-before" role="alert" i18n>Order placed - track the progress on your <a
            routerLink="/dashboard">dashboard</a></div>
	<div *ngIf="bpDataService.userRole == 'seller'" class="alert alert-success space-before" role="alert" i18n>Order Response placed - track the progress on your <a
			routerLink="/dashboard">dashboard</a></div>
</div>
<div [hidden]="!callStatus.fb_errordetc">
    <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
</div>