.thead-light-equivalent {
    vertical-align: bottom;
    font-weight: 700;
}

.fixed {
    position:sticky;
    z-index: 999;
    top:0;
}

.fixed-header {
    background-color: #fff;
}

.disabled-section {
    background-color: #e9ecef;
    color: #A9A9A9;
}