<div *ngIf="!customCategoryPage && !treeView">
    <h3 i18n>Choose product (or service) category</h3>

    <div class="row justify-content-md-center col-12 mt-3">

        <!-- search by pressing enter! -->
        <form #categorySearch="ngForm" (ngSubmit)="onSearchCategory()"
              class="col-12 row justify-content-md-center" novalidate>

            <div [hidden]="callback || !submitted || error_detc" class="space-right">
                <img class="space-before" src="assets/form_loader.gif"/>
            </div>

            <input class="form-control col-4" name="inputCtrl" [(ngModel)]="categoryKeyword" required/>
            <button type="submit" class="btn btn-success col-3 ml-3" [disabled]="!categorySearch.form.valid" i18n>Search product category</button>
        </form>

    </div>

    <div class="d-flex justify-content-end space-before" *ngIf="callback && !submitted">
        <div class="align-self-center space-right">
            Could not find a proper category for your product?
        </div>
        <button class="btn btn-danger" (click)="customCategoryPage=true">Specify your own category</button>
    </div>

    <div *ngIf="callback && !submitted && (!categories || categories.length == 0)" class="align-center space-before bordered">
        <h4>No results found.</h4>
    </div>


    <ul class="list-group container mt-4" style="max-height: 500px; overflow-y: scroll;" *ngIf="callback && !submitted">
        <li *ngFor="let category of categories"
            class="list-group-item p-3 row"
            style="cursor: pointer;"
            (click)="getCategoryDetails(category)">
            <div class="col-2">{{category.taxonomyId}}</div>
            <div class="col">{{category.preferredName}}</div>
    <!--        <img src="./assets/catalogue/add_button.png" (click)="selectCategory(category)"/> -->
            <span class="fa fa-share-alt" aria-hidden="true" (click)="getCategoryTree(category)"></span>
        </li>
    </ul>
</div>

<div *ngIf="!customCategoryPage && treeView">
    <h3 i18n>Choose product (or service) category</h3>

    <div class="row justify-content-md-center col-12 mt-3">

        <!-- search by pressing enter! -->
        <form #categorySearch="ngForm" (ngSubmit)="onSearchCategory()"
              class="col-12 row justify-content-md-center" novalidate>

            <div [hidden]="callback || !submitted || error_detc" class="space-right">
                <img class="space-before" src="assets/form_loader.gif"/>
            </div>

            <input class="form-control col-4" name="inputCtrl" [(ngModel)]="categoryKeyword" required/>
            <button type="submit" class="btn btn-success col-3 ml-3" [disabled]="!categorySearch.form.valid" i18n>Search product category</button>
        </form>

    </div>

    <div class="d-flex justify-content-end space-before" *ngIf="callback && !submitted">
        <div class="align-self-center space-right">
            Could not find a proper category for your product?
        </div>
        <button class="btn btn-danger" (click)="customCategoryPage=true">Specify your own category</button>
    </div>
    <div *ngIf="parentCategories">
        <p class="space-before">
            <ngb-alert *ngIf="parentCategories.parents.length == 4" type="info" (close)="treeView=false;selectedCategory=null">
                {{parentCategories.parents[0].preferredName}} >> {{parentCategories.parents[1].preferredName}} >>
                {{parentCategories.parents[2].preferredName}} >> {{parentCategories.parents[3].preferredName}}
            </ngb-alert>
            <ngb-alert *ngIf="parentCategories.parents.length == 3" type="info" (close)="treeView=false;selectedCategory=null">
                {{parentCategories.parents[0].preferredName}} >> {{parentCategories.parents[1].preferredName}} >>
                {{parentCategories.parents[2].preferredName}}
            </ngb-alert>
            <ngb-alert *ngIf="parentCategories.parents.length == 2" type="info" (close)="treeView=false;selectedCategory=null">
                {{parentCategories.parents[0].preferredName}} >> {{parentCategories.parents[1].preferredName}}
            </ngb-alert>
            <ngb-alert *ngIf="parentCategories.parents.length == 1" type="info" (close)="treeView=false;selectedCategory=null">
                {{parentCategories.parents[0].preferredName}}
            </ngb-alert>
        </p>
        <div class="d-flex bordered" style="height: 400px">
            <div class="col-3" style="overflow: hidden" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
                <label *ngFor="let cat of parentCategories.categories[0]" (click)="getCategoryTree(cat)"
                       [style.font-weight]="cat.code == selectedCategoryLevel1 ? 'bold' : 'normal'"
                       [style.color]="cat.code == selectedCategoryLevel1 ? 'green' : 'black'"
                       [style.text-decoration]="cat.code == selectedCategoryLevel1 ? 'underline' : 'none'"
                       style="display: block;cursor: pointer">{{cat.preferredName}}</label>
            </div>
            <div class="col-3" style="overflow: hidden" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
                <label *ngFor="let cat of parentCategories.categories[1]" (click)="getCategoryTree(cat)"
                       [style.font-weight]="cat.code == selectedCategoryLevel2 ? 'bold' : 'normal'"
                       [style.color]="cat.code == selectedCategoryLevel2 ? 'green' : 'black'"
                       [style.text-decoration]="cat.code == selectedCategoryLevel2 ? 'underline' : 'none'"
                       style="display: block;cursor: pointer">{{cat.preferredName}}</label>
            </div>
            <div class="col-3" style="overflow: hidden" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
                <label *ngFor="let cat of parentCategories.categories[2]" (click)="getCategoryTree(cat)"
                       [style.font-weight]="cat.code == selectedCategoryLevel3 ? 'bold' : 'normal'"
                       [style.color]="cat.code == selectedCategoryLevel3 ? 'green' : 'black'"
                       [style.text-decoration]="cat.code == selectedCategoryLevel3 ? 'underline' : 'none'"
                       style="display: block;cursor: pointer">{{cat.preferredName}}</label>
            </div>
            <div class="col-3" style="overflow: hidden" onmouseover="this.style.overflow='auto'" onmouseout="this.style.overflow='hidden'">
                <label *ngFor="let cat of parentCategories.categories[3]" (click)="getCategoryDetails(cat);selectedCategoryLevel4=cat.code"
                       [style.font-weight]="cat.code == selectedCategoryLevel4 ? 'bold' : 'normal'"
                       [style.color]="cat.code == selectedCategoryLevel4 ? 'green' : 'black'"
                       [style.text-decoration]="cat.code == selectedCategoryLevel4 ? 'underline' : 'none'"
                       style="display: block;cursor: pointer">{{cat.preferredName}}</label>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!customCategoryPage && selectedCategory" class="bordered space-before">
    <div class="d-flex" *ngIf="selectedCategory.preferredName">
        <label class="col-3"><b>Name:</b></label>{{selectedCategory.preferredName}}
    </div>
    <div *ngIf="selectedCategory.taxonomyId">
        <label class="col-3"><b>TaxonomyId:</b></label>{{selectedCategory.taxonomyId}}
    </div>
    <div *ngIf="selectedCategory.code">
        <label class="col-3"><b>Code:</b></label>{{selectedCategory.code}}
    </div>
    <div *ngIf="selectedCategory.level">
        <label class="col-3"><b>Level:</b></label>{{selectedCategory.level}}
    </div>
    <div class="d-flex" *ngIf="selectedCategory.definition && selectedCategory.definition != 'no definition available'">
        <label class="col-3" style="float: left"><b>Definition:</b></label>
        <div>
            {{selectedCategory.definition}}
        </div>
    </div>
    <div class="d-flex" *ngIf="selectedCategory.note">
        <label class="col-3"><b>Note:</b></label>{{selectedCategory.note}}
    </div>
    <div class="d-flex" *ngIf="selectedCategory.remark">
        <label class="col-3" style="float: left"><b>Remark:</b></label>{{selectedCategory.remark}}
    </div>

    <div *ngFor="let prop of selectedCategory.properties;let i = index;let l = last">
        <label *ngIf="i == 0" class="col-3" style="float: left"><b>Properties:</b></label>
        <label *ngIf="i<3 || showOtherProperties" class="col-3" style="padding: 0px" [ngClass]="{'offset-3' : i > 0} ">
            {{prop.preferredName}}
            <span *ngIf="prop.definition" class="label label-default" title="{{prop.definition}}">
                    &#9432;
            </span>
        </label>

        <label *ngIf="i<3 || showOtherProperties" class="align-self-start offset-3">
            {{prop.dataType}}
        </label>

        <div class="d-flex justify-content-center" *ngIf="l == true && i > 3 && !showOtherProperties">
            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherProperties = true" >
                &nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="d-flex justify-content-center" *ngIf="l == true && showOtherProperties">
            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherProperties = false">
                &nbsp;&nbsp;<i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<call-status [callStatus]="callStatus"
             [large]="true">
</call-status>

<!-- custom category view -->
<div *ngIf="customCategoryPage">
    <form #customCategoryForm="ngForm" class="row justify-content-md-center align-items-center col-12 mt-3">
        <i class="fa fa-reply space-right" (click)="customCategoryPage = false;" style="cursor: pointer"></i>
        <input name="inputCtrl" [(ngModel)]="customCategory" class="form-control space-right col-4" required>
        <button class="btn btn-success" (click)="addCustomCategory(customCategory)" [disabled]="!customCategoryForm.form.valid">Continue Publishing</button>
    </form>
</div>

<div class="row col-12 justify-content-center">
    <button class="btn btn-warning mt-3" (click)="selectCategory(null)" i18n>Continue publishing without a
        category
    </button>
    <button *ngIf="selectedCategory && !customCategoryPage" class="btn btn-warning mt-3 space-left" (click)="selectCategory(selectedCategory)" i18n>Continue publishing with the selected
        category
    </button>
</div>