#loading-text p{
    color: #b93829;
    display: block;
    position: absolute;
    left: 50%;
    top: 55%;
}

 #gear1, #gear2, #gear3 {
    color: #b93829;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
}

#gear1 {
    top: 45px;
}

#gear2 {
    left: 55px;
}

#gear3 {
    top: 45px;
    left: 110px;
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.spin-back {
    -webkit-animation:spin-back 4s linear infinite;
    -moz-animation:spin-back 4s linear infinite;
    animation:spin-back 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }