.fa-flag {
    color: red;
    margin-right: 10px;
}
.fa-flag.marked {
    color: green;
    margin-right: 10px;
}

.fa-caret-right,
.fa-caret-down {
    cursor: pointer;
}

#sourceList li {
    list-style-type: none;
}

.factorDescription blockquote {
    text-indent: 10%;
}

.form-check-label {
    cursor: pointer;
}
