<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
    <div class="form-inline row-item">
      <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fas mr-3"
         [class.fa-caret-right]="item.collapsed"
         [class.fa-caret-down]="!item.collapsed"></i> 
      <!--checkbox -->
      <div class="form-check">
        <!-- <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange(); select(item);" [disabled]="item.disabled"
               [indeterminate]="item.indeterminate"/> -->
        <span class="form-check-label" *ngIf="item.value !== null && item.value['highlighted']">
          <i class="{{item.value['class']}}" aria-hidden="true" title="Highlighted" [ngClass]="{'marked': item.checked}" (ngModelChange)="onCheckedChange()"></i>
        </span>
        <!-- <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange(); select(item);">
          {{item.text}}
        </label> -->
        <span class="form-check-label" (click)="select(item);">
          {{item.text}}
        </span>
      </div>
    </div>
  
  </ng-template>
  
  <div class="container mt-lg-5 mb-lg-5">
    <h2>
      QualiExplore
    </h2>
    <div class="jumbotron">
      <h3 class="display-5">Step - 2</h3>
      <p class="lead">This step highlights the most relevant factors with a  <i class="fas fa-flag fa-1x"></i> 
      symbol.</p>
      <button type="button" class="btn btn-outline-primary" (click)="collapseSelectedFilters = !collapseSelectedFilters" [attr.aria-expanded]="!collapseSelectedFilters" aria-controls="collapseFilters">
        Selected Filters <i class="fas fa-angle-double-down" *ngIf="collapseSelectedFilters"></i> 
      </button>
      <div id="collapseFilters" [ngbCollapse]="collapseSelectedFilters">
        <ul class="filter-details" *ngFor="let filter of selectedFilterDetails">
          <li>
              <i class="fas fa-box" *ngIf="filter['parent'] === 'Product'"></i>
              <i class="fas fa-bullseye" *ngIf="filter['parent']==='Goal'"></i>
              <i class="fas fa-info" *ngIf="filter['parent'] === 'Information quality'"></i>
              <i class="fas fa-exchange-alt" *ngIf="filter['parent'] === 'Information channel'"></i>
              {{filter['name']}}
          </li>
        </ul>
      </div>
      <br>
      <button class="btn btn-sm btn-outline-secondary mt-lg-2" (click)="backToStep1()">Return to Step-1</button>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
         <h3>Discover all Quality Factors</h3>
      </div>
      <div class="col-lg-6">
        <h3>Quality Factor Information</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="shadow p-3 mr-3">
            <ngx-treeview
            [config]="config"
            [items]="items"
            [itemTemplate]="itemTemplate">
            </ngx-treeview>
        </div>
      </div>
  
      <div class="col-lg-6" *ngIf="selectedFactor == undefined">
        <div class="jumbotron">
          <i class="fas fa-list-ul fa-3x"></i>
          <p class="lead">Please click on the list items on the left pane to find out relevant quality factors.</p>
          <p class="lead">After reading the provided information, click on <em>Proceed</em></p>
        </div>
      </div>
      <div class="col-lg-6" *ngIf="selectedFactor !== undefined">
        <div class="shadow card bg-white rounded">
          <div class="card-header" *ngIf="!selectedFactor.text.length">
            Factor
          </div>
          <div class="card-header" *ngIf="selectedFactor.text.length">
            <b>{{selectedFactor.text}}</b>
          </div>
          <div class="card-body">
            <p *ngIf="selectedFactor.value == null">
              <i class="fas fa-info-circle"></i> Expand the property to obtain further information
            </p>
            <div class="factorDescription" *ngIf="selectedFactor.value">
                <i class="fas fa-quote-left"></i>
                <blockquote>
                  {{selectedFactor.value.description}}  
                </blockquote>
                <i class="fas fa-quote-right"></i>
            </div>
            <div *ngIf="selectedFactor.value">
              <b>Sources</b>
              <ul id="sourceList" *ngFor="let source of selectedFactor.value.source">
                  <li *ngIf="!isUrl(source)"><a href="https://doi.org/{{source}}" target="_blank" id="sourceList">{{source}} </a>
                    <i class="fas fa-external-link-alt"></i>
                  </li>
                  <li *ngIf="isUrl(source)"><a href="{{source}}" target="_blank" id="sourceList">Link To Source </a>
                   <i class="fas fa-external-link-alt"></i>
                  </li>
                  
              </ul>
                <button class="btn btn-md btn-primary float-right" 
                  (click)="markRead(selectedFactor); proceedButtonDisabled = !proceedButtonDisabled" [disabled]="proceedButtonDisabled">Proceed</button>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6">
            <h3>Progress</h3>
            <div class="shadow p-3 mb-5 bg-white rounded">
              <b>{{totalResolvedFactors}} of {{totalHighlightedFactors}}</b>
              <ngb-progressbar type="info" [value]="(totalResolvedFactors/totalHighlightedFactors) * 100" height="30px"> 
              </ngb-progressbar>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>