<h4 class="space-before">
    {{ getClauseName() }}
    <button class="btn btn-outline-dark btn-sm" (click)="toggleExpanded()">
        <i class="fas fa-chevron-up fa-fw fa-lg mt-2" aria-hidden="true" *ngIf="expanded"></i>
        <i class="fas fa-chevron-down fa-fw fa-lg mt-2" aria-hidden="true" *ngIf="!expanded"></i>
    </button>
</h4>
<ng-container *ngIf="expanded">
    <!-- Item Information Request -->
    <item-information-response *ngIf="clause.clauseDocumentRef?.documentType === 'ITEMINFORMATIONRESPONSE' && itemInformationRequest"
            [request]="itemInformationRequest" [response]="clauseDocument" [readonly]="true">
    </item-information-response>

    <!-- Ppap clause -->
    <ppap-clause *ngIf="clause.clauseDocumentRef?.documentType === 'PPAPRESPONSE'" [ppapResponse]="clauseDocument">
    </ppap-clause>

    <!-- Negotiation -->
    <negotiation-response *ngIf="clause.clauseDocumentRef?.documentType === 'QUOTATION' && rfq && rfq.requestForQuotationLine[0].lineItem.item.transportationServiceDetails == null"
        [rfq]="rfq" [quotation]="clauseDocument" [readonly]="true">
    </negotiation-response>

    <!-- Negotiation Transport -->
    <transport-negotiation-response *ngIf="clause.clauseDocumentRef?.documentType === 'QUOTATION' && rfq && rfq.requestForQuotationLine[0].lineItem.item.transportationServiceDetails != null"
        [rfq]="rfq" [quotation]="clauseDocument" [readonly]="true">
    </transport-negotiation-response>

    <!-- Loading icon -->
    <call-status [callStatus]="clauseDocumentRetrievalStatus"
                 [large]="true">
    </call-status>
</ng-container>
