<div (click)="toggleVisible()"
     class="d-flex pointer">
    <span class="mr-auto font-weight-bold">
        {{clause.type}}
    </span>
    <i *ngIf="!visible" class="fa fa-chevron-down " aria-hidden="true"></i>
    <i *ngIf="visible" class="fa fa-chevron-up" aria-hidden="true"></i>
</div>
<ng-container *ngIf="visible">
    <hr>
    <ng-container *ngIf="clause.type == 'DATA_MONITORING'">
        <data-monitoring-clause [clause]="clause">

        </data-monitoring-clause>
    </ng-container>
    <ng-container *ngIf="clause.type != 'DATA_MONITORING'">
        <document-clause [clause]="clause">

        </document-clause>
    </ng-container>
</ng-container>
