<ng-container *ngIf="clause.type == 'ITEM_DETAILS'">
    <item-information-request [itemInformationResponse]="clauseDocument"
                              [parentElement]="'clause'">
    </item-information-request>
</ng-container>
<ng-container *ngIf="clause.type == 'PPAP'">
    <ppap-clause [ppapResponse]="clauseDocument">
    </ppap-clause>
</ng-container>
<!-- <ng-container *ngIf="clause.type == 'NEGOTIATION' && clauseDocument != null">
    <quotation [quotation]="clauseDocument"
               [parentElement]="'clause'"
               [presentationMode]="'singlevalue'"></quotation>
</ng-container> -->
<call-status [callStatus]="clauseDocumentRetrievalStatus"
             [large]="true">
</call-status>