<!-- 
<ng-container *ngIf="clause.type == 'ITEM_DETAILS'">
    <item-information-response [response]="clauseDocument">
    </item-information-response>
</ng-container>
<ng-container *ngIf="clause.type == 'PPAP'">
    <ppap-clause [ppapResponse]="clauseDocument">
    </ppap-clause>
</ng-container>
<ng-container *ngIf="clause.type == 'NEGOTIATION' && clauseDocument != null">
    <quotation [quotation]="clauseDocument"></quotation>
</ng-container>
<call-status [callStatus]="clauseDocumentRetrievalStatus"
             [large]="true">
</call-status>
-->