<ng-container *ngIf="ppapResponse">
    <div class="row space-before">
        <div class="col-3">
            <strong>Requested Documents: </strong>
        </div>
        <div class="col-9">
            <span *ngIf="!ppapResponse.requestedDocument || ppapResponse.requestedDocument.length === 0">None.</span>
            <ng-container *ngIf="ppapResponse.requestedDocument && ppapResponse.requestedDocument.length > 0">
                <div *ngFor="let document of ppapResponse.requestedDocument" class="mt-3">
                    <a href class="btn-link" (click)="downloadFile(document, $event)">
                        {{document.documentType}}
                    </a>
                </div>
            </ng-container>
        </div>
    </div>

    <hr>

    <text-input disabled="true" label="Manufacturer's Note" [text]="ppapResponse.note[0]" [rows]="4">
    </text-input>
</ng-container>