<div *ngIf="needATitle" class="col-12 title">
    <h4>
        Terms and Conditions
        <button class="btn btn-outline-dark" (click)="displayTermsAndConditions()">
            <i class="fas fa-chevron-up fa-fw fa-lg mt-2" aria-hidden="true" *ngIf="showPreview"></i>
            <i class="fas fa-chevron-down fa-fw fa-lg mt-2" aria-hidden="true" *ngIf="!showPreview"></i>
        </button>
    </h4>
</div>
<call-status [callStatus]="callStatus"></call-status>
<div class="col-12 section" *ngIf="showPreview && _termsAndConditions">
    <div *ngFor="let clause of _termsAndConditions;let i=index">
        <button [ngClass]="isClauseUpdated(clause) ? 'btn btn-primary btn-outline-primary small-button' : 'btn btn-danger small-button'" (click)="showSection[i] = !showSection[i]; setSectionText(i)">
            {{getClauseName(clause)}}
        </button>
        <div class="card" [hidden]="!showSection[i]" style="font-size: 0.9rem">
            <div class="card-header">{{getClauseName(clause)}}</div>
            <div id="{{generateIdForClause(i)}}" class="card-body" style="white-space: pre-wrap">
            </div>
            <div *ngIf="clause.tradingTerms.length > 0 && !readOnly" class="card-footer">
                <div *ngFor="let tradingTerm of clause.tradingTerms; let j=index" class="row">
                    <div class="col-4">
                        {{tradingTerm.id}}
                    </div>
                    <div class="col-8">
                        <input *ngIf="tradingTerm.value.valueQualifier == 'STRING'" type="text" class="form-control" value="{{tradingTerms.get(tradingTerm.id).value.value[0].value}}"  (keyup)="updateParameter(i,tradingTerm.id,$event.target.value)">
                        <input *ngIf="tradingTerm.value.valueQualifier == 'NUMBER'" type="number" class="form-control" value="{{tradingTerms.get(tradingTerm.id).value.valueDecimal[0]}}"  (change)="updateParameter(i,tradingTerm.id,$event.target.value)" (keyup)="updateParameter(i,tradingTerm.id,$event.target.value)">
                        <select *ngIf="tradingTerm.value.valueQualifier == 'CODE' && tradingTerm.value.valueCode[0].listID == 'INCOTERMS_LIST'" class="form-control custom-select" value="{{tradingTerms.get(tradingTerm.id).value.valueCode[0].value}}" (change)="updateParameter(i,tradingTerm.id,$event.target.value)">
                            <option *ngFor="let option of INCOTERMS" [value]="option">{{option}}</option>
                        </select>
                        <select *ngIf="tradingTerm.value.valueQualifier == 'CODE' && tradingTerm.value.valueCode[0].listID == 'PAYMENT_MEANS_LIST'" class="form-control custom-select" value="{{tradingTerms.get(tradingTerm.id).value.valueCode[0].value}}" (change)="updateParameter(i,tradingTerm.id,$event.target.value)">
                            <option *ngFor="let option of PAYMENT_TERMS" [value]="option">{{option}}</option>
                        </select>
                        <select *ngIf="tradingTerm.value.valueQualifier == 'CODE' && tradingTerm.value.valueCode[0].listID == 'COUNTRY_LIST'" class="form-control custom-select" value="{{tradingTerms.get(tradingTerm.id).value.valueCode[0].value}}" (change)="updateParameter(i,tradingTerm.id,$event.target.value)">
                            <option *ngFor="let option of COUNTRY_NAMES" [value]="option">{{option}}</option>
                        </select>
                        <div *ngIf="tradingTerm.value.valueQualifier == 'QUANTITY'" class="row" style="margin: 0px">
                            <input type="number" class="form-control col-6" value="{{tradingTerms.get(tradingTerm.id).value.valueQuantity[0].value}}"  (keyup)="updateParameter(i,tradingTerm.id,$event.target.value)" (change)="updateParameter(i,tradingTerm.id,$event.target.value)">
                            <input type="text" class="form-control col-6" value="{{tradingTerms.get(tradingTerm.id).value.valueQuantity[0].unitCode}}"  (keyup)="updateParameter(i,tradingTerm.id,$event.target.value,true)" placeholder="Unit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
