<catalogue-line-header [catalogueLine]="catalogueLine"
                       [parentForm]="parentForm"
                       [presentationMode]="presentationMode">
</catalogue-line-header>

<!-- images -->
<div *ngIf="presentationMode=='edit' && catalogueLine.goodsItem.item.productImage.length == 0"
     class="offset-2 col-10 mt-3 mb-3">
    <label *ngIf="catalogueLine.goodsItem.item.productImage.length == 0">Add Image</label>
    <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
           style="display: none">
    <img src="./assets/catalogue/add_button.png"
         (click)="image.click()"/>
</div>
<div *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
     class="d-flex flex-wrap justify-content-start offset-2 mb-3" style="cursor: default">
    <div *ngFor="let image of catalogueLine.goodsItem.item.productImage; let i = index">
        <div *ngIf="image.mimeCode.split('/')[0]=='image' && presentationMode=='edit'" style="position: relative;cursor: pointer">
            <img class=" pr-2"
                 src="data:{{image.mimeCode}};base64,{{image.value}}"
                 height="100"
                 width="100"
                 (click)="changeImage(i)"
            />
            <button aria-label="Close" class="close" (click)="deleteImage(i)">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <div *ngIf="image.mimeCode.split('/')[0]=='image' && presentationMode != 'edit'" style="position: relative;cursor: default">
            <img class=" pr-2"
                 src="data:{{image.mimeCode}};base64,{{image.value}}"
                 height="100"
                 width="100"
                 (click)="changeImage(i)"
            />
        </div>
    </div>
    <div *ngIf="presentationMode=='edit'" class="align-self-center ml-3" >
        <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
               style="display: none">
        <img src="./assets/catalogue/add_button.png"
             (click)="image.click()"/>
    </div>
</div>

<div *ngIf="presentationMode=='edit'" class="space-before space-after">
	<button *ngIf="partyRole == 'Transport Service Provider'" class="btn btn-primary" (click)="changePartyRole('Manufacturer')">
		Switch to manufacturer view
	</button>
	<button *ngIf="partyRole == 'Manufacturer' || partyRole == ''" class="btn btn-primary" (click)="changePartyRole('Transport Service Provider')">
		Switch to logistics view
	</button>
</div>

<ng-container *ngIf="(presentationMode == 'edit' && partyRole == '' || partyRole == 'Manufacturer') ||
                     (presentationMode != 'edit' && catalogueLine.goodsItem.item.transportationServiceDetails == null)">
    <ul class="nav nav-tabs">
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Details'}"
                    (click)="selectedTab = 'Product Details'"
                    i18n
            >Product Details</a>
        </li>

        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Trading & Delivery Terms'}"
                    (click)="selectedTab = 'Product Trading & Delivery Terms';"
                    i18n
            >Product Trading & Delivery Terms</a>
        </li>
    </ul>

    <product-details [hidden]="selectedTab !== 'Product Details'"
                     [catalogueLine]="catalogueLine"
                     [presentationMode]="presentationMode"
                     [parentForm]="regularProductDetailsForm">
    </product-details>
    <product-trading-details [hidden]="selectedTab !== 'Product Trading & Delivery Terms'"
                             [parentForm]="regularProductDetailsForm"
                             [catalogueLine]="catalogueLine"
                             [presentationMode]="presentationMode">
    </product-trading-details>
</ng-container>

<ng-container *ngIf="(presentationMode == 'edit' && partyRole == 'Transport Service Provider') ||
                    (presentationMode != 'edit' && catalogueLine.goodsItem.item.transportationServiceDetails != null)">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item pointer">
            <a class="nav-link active" i18n>Transportation Service Details</a>
        </li>
    </ul>

    <transportation-service-details [catalogueLine]="catalogueLine"
                                    [presentationMode]="presentationMode"
                                    [parentForm]="transportationServiceDetailsForm">
    </transportation-service-details>
</ng-container>