<div class="row" style="cursor: default">
    <div class="col-2">
        <div class="bordered align-center">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length == 0"
                 class="img-max"
                 src="../../../../assets/images/empty_img.png">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
                 class="img-max"
                 src="data:{{catalogueLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catalogueLine.goodsItem.item.productImage[0].value}}"/>
        </div>
        <br>
        <p *ngIf="presentationMode != 'edit'" style="font-size: 13px">
            <i>ID: {{catalogueLine.goodsItem.item.manufacturersItemIdentification.id}}</i>
        </p>
    </div>
    <div class="col-10">
        <value-view *ngIf="presentationMode == 'edit'" [presentationMode]="'edit'"
                    [propName]="'ID'"
                    [parentForm]="parentForm"
                    [mandatory]="true"
                    [(value)]="catalogueLine.goodsItem.item.manufacturersItemIdentification.id"
                    [(value)]="catalogueLine.id">
        </value-view>
        <value-view *ngIf="presentationMode == 'edit'" [presentationMode]="'edit'"
                    [propName]="'Name'"
                    [parentForm]="parentForm"
                    [mandatory]="true"
                    (value)="selectName(catalogueLine.goodsItem.item)">
        </value-view>
        <value-view *ngIf="presentationMode == 'edit'" [presentationMode]="'edit'"
                    [propName]="'Description'"
                    (value)="selectDescription(catalogueLine.goodsItem.item)"
                    [largeInput]="true">
        </value-view>
        <textarea *ngIf="presentationMode != 'edit' && selectDescription(catalogueLine.goodsItem.item)" class="form-control mb-2"
                  rows="3"
                  style="margin-left: 15px"
                  [ngModel]="selectDescription(catalogueLine.goodsItem.item)"
                  readonly>
        </textarea>
        <label class="col-4 mb-2" *ngIf="presentationMode != 'edit' && !catalogueLine.goodsItem.item.description[0].value">
            <i>No available description</i>
        </label>
        <div *ngIf="catalogueLine.goodsItem.item.commodityClassification.length > 1" class="d-flex flex-wrap">
            <label class="col-3 control-label">Product / Service Types</label>
            <div *ngFor="let classification of catalogueLine.goodsItem.item.commodityClassification" >
				<div *ngIf="classification.itemClassificationCode.listID != 'Default'" class="bordered inline space-right">
                    {{classification.itemClassificationCode.name}}
                </div>
            </div>
        </div>

        <br>
        <!-- images -->
        <div *ngIf="presentationMode=='edit' && catalogueLine.goodsItem.item.productImage.length == 0"
             class="col-10">
            <label *ngIf="catalogueLine.goodsItem.item.productImage.length == 0">Add Image</label>
            <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
                   style="display: none">
            <i class="fa fa-plus-circle pointer" (click)="image.click()"></i>
        </div>
        <div *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
             class="d-flex flex-wrap bordered" style="cursor: default;position:relative;left: 15px;width: 98%;">
            <div *ngFor="let image of catalogueLine.goodsItem.item.productImage; let i = index">
                <div *ngIf="image.mimeCode.split('/')[0]=='image' && presentationMode=='edit'" class="pointer" style="position: relative;">
                    <img class=" pr-2"
                         src="data:{{image.mimeCode}};base64,{{image.value}}"
                         height="100"
                         (click)="changeImage(i)"
                    />
                    <button aria-label="Close" class="close" (click)="deleteImage(i)">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div *ngIf="image.mimeCode.split('/')[0]=='image' && presentationMode != 'edit'" style="position: relative;cursor: default">
                    <img class=" pr-2"
                         src="data:{{image.mimeCode}};base64,{{image.value}}"
                         height="100"
                         (click)="changeImage(i)"
                    />
                </div>
            </div>
            <div *ngIf="presentationMode=='edit'" class="align-self-center ml-3" >
                <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
                       style="display: none">
                <i class="fa fa-plus-circle pointer" (click)="image.click()"></i>
            </div>
        </div>

        <br>

        <div>
            <div *ngFor="let propertyBlock of catalogueLine.goodsItem.item.additionalItemProperty | propertyBlockPipe: presentationMode: 'Custom'; let i = index; trackBy : trackByIndex">
                <div id="propertyBlock" [ngbCollapse]="propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])">
                    <div *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES];let i = index; let l=last ; trackBy : trackByIndex" >
                        <additional-item-property
                                *ngIf="(i <= 2 || showOtherCustomProperties) || presentationMode=='edit'"
                                [additionalItemProperty]="property"
                                [propertyDetails]="propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTY_DETAILS] != undefined ? propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTY_DETAILS][i] : null"
                                [presentationMode]="presentationMode">
                        </additional-item-property>
                        <div class="d-flex justify-content-center" *ngIf="l == true && i > 2 && !showOtherCustomProperties && presentationMode!='edit'">
                            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherCustomProperties = true" >
                                &nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="l == true && showOtherCustomProperties && presentationMode!='edit'">
                            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherCustomProperties = false">
                                &nbsp;&nbsp;<i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
