<div class="row">
    <div class="col-2">
        <div class="bordered align-center">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length == 0"
                 class="img-max"
                 src="assets/empty_img.png">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
                 class="img-max"
                 src="data:{{catalogueLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catalogueLine.goodsItem.item.productImage[0].value}}"/>
        </div>
    </div>
    <div class="col-10">
        <div class="input-group form-group">
            <label class="col-3 control-label"><strong>Product Identifier</strong></label>
            <label *ngIf="catalogueLine.goodsItem.item.manufacturersItemIdentification!= null && presentationMode != 'edit'">{{catalogueLine.goodsItem.item.manufacturersItemIdentification.id}}</label>
            <input *ngIf="catalogueLine.goodsItem.item.manufacturersItemIdentification!= null && presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.manufacturersItemIdentification.id">
        </div>
        <div class="input-group form-group">
            <label class="col-3 control-label"><strong>Name</strong></label>
            <label *ngIf="presentationMode != 'edit'">{{catalogueLine.goodsItem.item.name}}</label>
            <input *ngIf="presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.name">
        </div>
        <div class="input-group form-group">
            <label class="col-3 control-label"><strong>Description</strong></label>
            <label *ngIf="presentationMode != 'edit'">{{catalogueLine.goodsItem.item.description}}</label>
            <input *ngIf="presentationMode == 'edit'" class="col-9" type="text" [(ngModel)]="catalogueLine.goodsItem.item.description">
        </div>
        <div *ngIf="catalogueLine.goodsItem.item.commodityClassification.length > 0" class="d-flex flex-wrap">
            <label class="col-3 control-label"><strong>Commodity Classifications</strong></label>
            <div *ngFor="let classification of catalogueLine.goodsItem.item.commodityClassification">
                <button class="btn btn-info mr-2">{{classification.itemClassificationCode.name}}</button>
            </div>
        </div>
    </div>
</div>