<catalogue-line-header [catalogueLine]="catalogueLine"
                       [presentationMode]="presentationMode">
</catalogue-line-header>

<button (click)="partyRole = partyRole == 'Transport Service Provider' ? 'Manufacturer' : 'Transport Service Provider'">
    Switch company role
</button>

<!-- images -->
<div *ngIf="presentationMode=='edit' && catalogueLine.goodsItem.item.productImage.length == 0"
     class="offset-2 col-10 mt-3 mb-3">
    <label *ngIf="catalogueLine.goodsItem.item.productImage.length == 0">Add Image</label>
    <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
           style="display: none">
    <img src="./assets/catalogue/add_button.png"
         (click)="image.click()"/>
</div>
<div *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
     class="d-flex flex-wrap justify-content-start offset-2 mb-3">
    <div *ngFor="let image of catalogueLine.goodsItem.item.productImage; let i = index">
        <div *ngIf="image.mimeCode.split('/')[0]=='image'">
            <img class=" pr-2"
                 src="data:{{image.mimeCode}};base64,{{image.value}}"
                 height="100"
                 width="100"
                 (click)="deleteImage(i)"
            />
        </div>
    </div>
    <div *ngIf="presentationMode=='edit'" class="align-self-center ml-3">
        <input #image type="file" (change)="addImage($event)" multiple accept="image/*"
               style="display: none">
        <img src="./assets/catalogue/add_button.png"
             (click)="image.click()"/>
    </div>
</div>

<ng-container *ngIf="partyRole == '' || partyRole == 'Manufacturer'">
    <ul class="nav nav-tabs">
        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Details'}"
                    (click)="selectedTab = 'Product Details'"
                    i18n
            >Product Details</a>
        </li>

        <li class="nav-item pointer">
            <a
                    [ngClass]="{'nav-link': true, active: selectedTab === 'Product Trading & Delivery Terms'}"
                    (click)="selectedTab = 'Product Trading & Delivery Terms'"
                    i18n
            >Product Trading & Delivery Terms</a>
        </li>
    </ul>

    <product-details *ngIf="selectedTab === 'Product Details'"
                     [catalogueLine]="catalogueLine"
                     [presentationMode]="presentationMode">
    </product-details>
    <product-trading-details *ngIf="selectedTab === 'Product Trading & Delivery Terms'"
                             [catalogueLine]="catalogueLine"
                             [presentationMode]="presentationMode">
    </product-trading-details>
</ng-container>

<ng-container *ngIf="partyRole == 'Transport Service Provider'">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item pointer">
            <a i18n>Transportation Service Details</a>
        </li>
    </ul>

    <transportation-service-details [catalogueLine]="catalogueLine"
                                    [presentationMode]="presentationMode">
    </transportation-service-details>
</ng-container>