<div class="row" style="cursor: default">
    <div class="col-2">
        <div class="bordered align-center">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length == 0"
                 class="img-max"
                 src="assets/empty_img.png">
            <img *ngIf="catalogueLine.goodsItem.item.productImage.length > 0"
                 class="img-max"
                 src="data:{{catalogueLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catalogueLine.goodsItem.item.productImage[0].value}}"/>
        </div>
    </div>
    <div class="col-10">
        <value-view [presentationMode]="presentationMode"
                    [propName]="'Product Identifier'"
                    [parentForm]="parentForm"
                    [mandatory]="true"
                    [(value)]="catalogueLine.goodsItem.item.manufacturersItemIdentification.id"
                    [(value)]="catalogueLine.id">
        </value-view>
        <value-view [presentationMode]="presentationMode"
                    [propName]="'Product Name'"
                    [parentForm]="parentForm"
                    [mandatory]="true"
                    [(value)]="catalogueLine.goodsItem.item.name">
        </value-view>
        <value-view [presentationMode]="presentationMode"
                    [propName]="'Product Description'"
                    [(value)]="catalogueLine.goodsItem.item.description"
                    [largeInput]="true">
        </value-view>
        <div *ngIf="catalogueLine.goodsItem.item.commodityClassification.length > 0" class="d-flex flex-wrap">
            <label class="col-3 control-label"><strong>Commodity Classifications</strong></label>
            <div *ngFor="let classification of catalogueLine.goodsItem.item.commodityClassification">
                <button class="btn btn-info mr-2">{{classification.itemClassificationCode.name}}</button>
            </div>
        </div>

        <div>
            <div *ngFor="let propertyBlock of catalogueLine.goodsItem.item.additionalItemProperty | propertyBlockPipe: presentationMode: true; let i = index; trackBy : trackByIndex">
                <label class="col-6 control-label" *ngIf="i == 0"><strong>Custom Properties</strong></label>
                <div id="propertyBlock" [ngbCollapse]="propertyBlockCollapsedStates.get(propertyBlock[PROPERTY_BLOCK_FIELD_NAME])">
                    <div *ngFor="let property of propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTIES];let i = index; let l=last ; trackBy : trackByIndex" >
                        <additional-item-property
                                *ngIf="(i <= 2 || showOtherCustomProperties) || presentationMode=='edit'"
                                [additionalItemProperty]="property"
                                [propertyDetails]="propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTY_DETAILS] != undefined ? propertyBlock[PROPERTY_BLOCK_FIELD_PROPERTY_DETAILS][i] : null"
                                [presentationMode]="presentationMode">
                        </additional-item-property>
                        <div class="d-flex justify-content-center" *ngIf="l == true && i > 2 && !showOtherCustomProperties && presentationMode!='edit'">
                            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherCustomProperties = true" >
                                &nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="l == true && showOtherCustomProperties && presentationMode!='edit'">
                            <button class="space-after" style="background-color: transparent;border: none;outline: none" (click)="showOtherCustomProperties = false">
                                &nbsp;&nbsp;<i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>