<!-- TODO use trading-details for common elements -->
<h5 class="mt-3 mb-3">Price</h5>
<!-- Price Amount -->
<amount-view [presentationMode]="presentationMode"
             [propName]="'Amount'"
             [amount]="[catalogueLine.requiredItemLocationQuantity.price.priceAmount]"
             [parentForm]="parentForm">
</amount-view>


<!-- Price Base Quantity -->
<quantity-view [presentationMode]="presentationMode"
               [propName]="'Price Base Quantity'"
               [definition]="'The price of a product / service at a legally set quantity.\nFor example,if you sell MDF board and charge €15,00 for 3 m2 of it, the base price will be €5,00 for 1 m2,i.e.,Quantity:5,Unit:m2.'"
               [quantity]="[catalogueLine.requiredItemLocationQuantity.price.baseQuantity]"
               [multiValue]="false"
               [parentForm]="parentForm">
</quantity-view>

<!-- Free sample indicator -->
<boolean-view [presentationMode]="presentationMode"
              [propName]="'Free Sample'"
              [value]="catalogueLine.freeOfChargeIndicator"
              (valueChanged)="catalogueLine.freeOfChargeIndicator = $event">
</boolean-view>

<h5 class="mb-3">Delivery Terms</h5>

<!-- Incoterms -->
<value-view *ngIf="presentationMode != 'edit'"
            [presentationMode]="'view'"
            [propName]="'Incoterms'"
            [definition]="'A set of international rules for the interpretation of the most commonly used trade terms'"
            [(value)]="catalogueLine.goodsItem.deliveryTerms.incoterms">
</value-view>

<ng-container *ngIf="presentationMode == 'edit'">
    <div class="input-group form-group">
        <label class="col-3">Incoterms
            <span class="label label-default" title="A set of international rules for the interpretation of the most commonly used trade terms">
                    &#9432;
                </span>
        </label>
        <select class="form-control custom-select" [(ngModel)]="catalogueLine.goodsItem.deliveryTerms.incoterms">
                <option *ngFor="let option of INCOTERMS" [value]="option">{{option}}</option>
        </select>
    </div>
</ng-container>

<!-- Estimated delivery period -->
<quantity-view [presentationMode]="presentationMode"
               [propName]="'Estimated Delivery Period'"
               [type]="'time_quantity'"
               [definition]="'The period estimated for delivery.It starts after the order confirmation.For example,Quantity:8,Unit:days'"
               [quantity]="[catalogueLine.goodsItem.deliveryTerms.estimatedDeliveryPeriod.durationMeasure]"
               [parentForm]="parentForm">
</quantity-view>

<!-- Applicable territory -->
<ng-container *ngIf="catalogueLine.requiredItemLocationQuantity.applicableTerritoryAddress">
    <address-view [presentationMode]="presentationMode"
                  [propName]="'Applicable Territory Address'"
                  [multiValue]="true"
                  [definition]="'A reference to a territory (region, country, city, etc.) to which the product / service will apply'"
                  [address]="catalogueLine.requiredItemLocationQuantity.applicableTerritoryAddress">
    </address-view>
</ng-container>

<!-- Special terms -->
<value-view [presentationMode]="presentationMode"
            [propName]="'Special Terms'"
            [definition]="'A description of any terms or conditions relating to the delivery items.For example,exceeding the delivery period entitles the buyer to terminate the agreement.'"
            [(value)]="catalogueLine.goodsItem.deliveryTerms.specialTerms">
</value-view>


<ng-container
        *ngIf="catalogueLine.goodsItem.containingPackage.quantity.value != null || catalogueLine.goodsItem.containingPackage.packagingTypeCode != null">
    <h5 class="mb-3">Packaging</h5>

    <!-- Package quantity -->
    <quantity-view [presentationMode]="presentationMode"
                   [propName]="'Quantity'"
                   [type]="'package_quantity'"
                   [definition]="'The quantity of items contained in this package,e.g.,Quantity:30,Unit:KGM'"
                   [quantity]="[catalogueLine.goodsItem.containingPackage.quantity]"
                   [parentForm]="parentForm">
    </quantity-view>

    <!-- Packaging type -->
    <value-view [presentationMode]="presentationMode"
                [propName]="'Packaging Type'"
                [definition]="'Types of packing materials used,e.g.,crates or pallets'"
                [(value)]="catalogueLine.goodsItem.containingPackage.packagingTypeCode.value">
    </value-view>
</ng-container>


<ng-container
        *ngIf="catalogueLine.warrantyValidityPeriod.durationMeasure.value != null || catalogueLine.warrantyInformation.length > 0">
    <h5 class="mt-3">Warranty</h5>

    <!-- Validity period -->
    <quantity-view [presentationMode]="presentationMode"
                   [propName]="'Validity Period'"
                   [type]="'time_quantity'"
                   [definition]="'A period during which this price is valid,e.g.,Quantity:10,Unit:days'"
                   [quantity]="[catalogueLine.warrantyValidityPeriod.durationMeasure]"
                   [parentForm]="parentForm">
    </quantity-view>

    <!-- Warranty information -->
    <value-array-view
            [presentationMode]="presentationMode"
            [propName]="'Warranty information'"
            [(values)]="catalogueLine.warrantyInformation">
    </value-array-view>
</ng-container>
