<div *ngIf="!routeProcessInstanceId" class="row thread-entry m-0">
    <div class="col-12">
        <!-- Title bar -->
        <div class="row">
            <div class="col-12 d-flex thread-entry-header">
            <!--<div class="col-12 d-flex thread-entry-header" (click)="expanded = !expanded">-->
                <div *ngIf="!titleEvent" class="header-label mr-auto d-flex w-100">
                    <div class="row w-100 m-0">
                      <div class="col pl-2 pr-2">
                          <span *ngIf="fetchCallStatus.isLoading()"><img src="assets/form_loader.gif"/></span>
                          <span *ngIf="fetchCallStatus.isError()">Error while fetching thread.</span>
                      </div>
                    </div>
                </div>
                <div *ngIf="titleEvent" class="header-label mr-auto d-flex w-100">
                    <div class="row w-100 m-0">
                        <div class="col pl-2">
                          <strong>Product / Service:</strong><br/>
                          <span class="clickable" (click)="navigateToSearchDetails()">{{selectPreferredValue(titleEvent.product.name)}}</span>
                        </div>
                        <div class="col pl-1">
                          <strong>Trading Partner:</strong><br/>
                          <span class="clickable" (click)="navigateToCompanyDetails()">{{titleEvent.tradingPartner}}</span>
                        </div>
                        <div class="col pl-1">
                          <strong>Status:</strong><br/>
                          <span *ngIf="processInstanceGroup.status == 'CANCELLED'" class="badge badge-secondary">Collaboration cancelled</span>
                          <span *ngIf="processInstanceGroup.status != 'CANCELLED'" class="badge" [ngClass]="{'badge-secondary':(titleEvent.status=='CANCELLED'),'badge-success':(titleEvent.status=='DONE'),'badge-warning':(titleEvent.status=='WAITING'),'badge-danger':(titleEvent.status=='ACTION_REQUIRED')}">{{titleEvent.statusText}}</span>
                        </div>
                        <div class="col pl-1">
                          <strong>Actions:</strong><br/>
                          <span *ngIf="processInstanceGroup.status == 'CANCELLED'">n/A</span>
                          <span *ngIf="processInstanceGroup.status != 'CANCELLED' && titleEvent.actionText !== ''" class="clickable" (click)="openBpProcessView()">{{titleEvent.actionText}}</span>
                        </div>
                        <div class="col-xs-auto align-right pl-1 pr-2" style="min-width:6rem">
                          <div *ngIf="titleEvent && showDataChannelButton && enableDataChannelButton" class="inline" data-toggle="tooltip" data-placement="top" title="Show Data Channel">
                              <i class="fa fa-exchange-alt p-1 pointer" aria-hidden="true" [routerLink]="[channelLink]"></i>
                          </div>
                          <div *ngIf="titleEvent && showDataChannelButton && !enableDataChannelButton" class="inline" data-toggle="tooltip" data-placement="top" title="Waiting for trading partner..." (click)="alertWait()">
                              <i class="fa fa-exchange-alt p-1 pointer" aria-hidden="true"></i>
                          </div>
                          <div *ngIf="titleEvent && !titleEvent.buyer && !showDataChannelButton && config.dataChannelsEnabled" class="inline" (click)="createDatachannelNegotiation()" data-placement="top" title="Negotiate New Data Channel">
                              <i class="fas fa-plus p-1 pointer" aria-hidden="true"></i>
                          </div>
                          <!--
                          <div *ngIf="titleEvent && processInstanceGroup.archived" class="inline" (click)="deleteGroup()" data-toggle="tooltip" data-placement="top" title="Delete Permanently">
                              <i class="fa fa-trash-alt p-1 pointer" aria-hidden="true"></i>
                          </div>
                          -->
                          <div *ngIf="titleEvent && showRateCollaborationButton" class="inline" (click)="rateCollaboration(addSuccessRatingModal,addCancelRatingModal)" data-toggle="tooltip" data-placement="top" title="Rate this collaboration">
                              <i class="fa fa-star p-1 pointer" aria-hidden="true"></i>
                          </div>
                          <div *ngIf="titleEvent && showCancelCollaborationButton" class="inline" (click)="cancelCollaboration()" data-toggle="tooltip" data-placement="top" title="Cancel the collaboration">
                              <i class="fa fa-times p-1 pointer" aria-hidden="true"></i>
                          </div>
                          <div *ngIf="!expanded" class="inline" (click)="expanded = !expanded" data-toggle="tooltip" data-placement="top" title="Show details">
                              <i class="fa fa-angle-double-down p-1 pointer" aria-hidden="true"></i>
                          </div>
                          <div *ngIf="expanded" class="inline" (click)="expanded = !expanded" data-toggle="tooltip" data-placement="top" title="Hide details">
                              <i class="fa fa-angle-double-up p-1 pointer" aria-hidden="true"></i>
                          </div>
                        </div>
                    </div>
                    <!--
                    <span class="clickable" (click)="navigateToSearchDetails()">{{titleEvent.product.name}}</span> (Trading partner: <span class="clickable" (click)="navigateToCompanyDetails()">{{titleEvent.tradingPartner}}</span>) <span *ngIf="processInstanceGroup.status == 'CANCELLED'"><i>- Collaboration cancelled</i></span> <span *ngIf="processInstanceGroup.status != 'CANCELLED'"><i>- {{titleEvent.statusText}}</i></span>
                    -->
                </div>
                <!--
                <div *ngIf="titleEvent && showDataChannelButton" data-toggle="tooltip" data-placement="top" title="Open Data Channel">
                    <i class="fa fa-exchange-alt p-2 pointer" aria-hidden="true" [routerLink]="[channelLink]"></i>
                </div>
                <div *ngIf="titleEvent && processInstanceGroup.archived" (click)="deleteGroup()" data-toggle="tooltip" data-placement="top" title="Delete Permanently">
                    <i class="fa fa-trash-alt p-2 pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="titleEvent && showRateCollaborationButton" (click)="rateCollaboration(addSuccessRatingModal,addCancelRatingModal)" data-toggle="tooltip" data-placement="top" title="Rate this collaboration">
                    <i class="fa fa-star p-2 pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="titleEvent && showCancelCollaborationButton" (click)="cancelCollaboration()" data-toggle="tooltip" data-placement="top" title="Cancel the collaboration">
                    <i class="fa fa-times p-2 pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="!expanded" (click)="expanded = !expanded" data-toggle="tooltip" data-placement="top" title="Show details">
                    <i class="fa fa-angle-double-down p-2 pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="expanded" (click)="expanded = !expanded" data-toggle="tooltip" data-placement="top" title="Hide details">
                    <i class="fa fa-angle-double-up p-2 pointer" aria-hidden="true"></i>
                </div>
                -->
            </div>
        </div>

        <div *ngIf="expanded">
            <!-- Titles for the rows -->
            <div class="row thread-entry-heading">
                <!--<div class="col-2"><strong>Customer</strong></div>-->
                <div class="col-3"><strong>Type</strong></div>
                <div class="col-3"><strong>Date</strong></div>
                <div class="col-3"><strong>Correspondent</strong></div>
                <div class="col-3"><strong>Status</strong></div>
            </div>

            <!-- Most recent event -->
            <thread-event *ngIf="lastEvent"
                          [processInstanceGroup]="processInstanceGroup"
                          [collaborationGroupId]="collaborationGroupId"
                          [event]="lastEvent"
                          [history]="completeHistory"
                          (processCancelled)="threadStateUpdated.next()">
            </thread-event>

            <!-- Loading most recent event -->
            <div class="row" *ngIf="!lastEvent">
                <call-status [callStatus]="fetchCallStatus" [large]="true"></call-status>
            </div>

            <!-- History -->
            <ng-container *ngIf="historyExpanded && history">
                <ng-container *ngFor="let event of history">
                    <thread-event [processInstanceGroup]="processInstanceGroup"
                                  [event]="event"
                                  [history]="completeHistory"
                                  [collaborationGroupId]="collaborationGroupId"
                                  (processCancelled)="threadStateUpdated.next()">
                    </thread-event>
                </ng-container>
            </ng-container>

            <!-- Toggle history -->
            <div class="row" *ngIf="lastEvent && hasHistory">
                <div class="col align-items-center clickable" (click)="toggleHistory()">
                    {{ historyExpanded ? "Hide" : "Show" }} previous step(s)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rating Success Modal -->
<ng-template #addSuccessRatingModal let-d="dismiss">
    <form novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Rate Collaboration</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group row">
                <label class="col-6 col-form-label">
                  <strong>Overall Rating
                    <span title="Overall rating of the company based on 'Seller Communication','Fulfillment of Terms' and 'Delivery & Packaging'. See the subitems for more details.">
                      <i class="fa fa-exclamation-circle"></i>
                    </span>
                  </strong>
                </label>
                  <div class="col-6 align-right">
                    <ngb-rating [rate]="ratingOverall" [readonly]="true" max="5">
                      <ng-template let-fill="fill">
                        <span class="star star-c" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                      </ng-template>
                    </ngb-rating>
                  </div>
              </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">
              <strong>Seller Communication
                <span title=' Overall rating of how well the seller communicated based on "Quality of Negotiation Process","Quality of Ordering Process" and "Response Time". See the subitems for more details.'>
                  <i class="fa fa-exclamation-circle"></i>
                </span>
              </strong>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [rate]="ratingSeller" [readonly]="true" max="5">
                  <ng-template let-fill="fill">
                    <span class="star star-c" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Quality of Negotiation Process
                <span title='Indicates how well the negotiation was executed; e.g. clear responses, flexibility on provided terms, supporting documentation, etc.'>
                    <i class="fa fa-exclamation-circle"></i>
                </span>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.QualityOfTheNegotiationProcess" max="5" (rateChange)= "changeCommunicationRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-b" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Quality of Ordering Process
                <span title=' Indicates how well the ordering was executed; e.g. clear responses, supporting documentation, transition to fulfillment, etc.'>
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.QualityOfTheOrderingProcess" max="5" (rateChange)= "changeCommunicationRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-b" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Response Time
                <span title="Indicates how the response times were perceived by the trading partner. This is a subjective value.">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.ResponseTime" max="5" (rateChange)= "changeCommunicationRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-b" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-6 col-form-label">
                <strong>Fulfillment of Terms
                  <span title='Overall rating of how accurately the seller fulfilled the agreed upon terms based on "Quality of Requested Information" and "Conformance to Contractual Terms". See the subitems for more details.'>
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
                </strong>
              </label>
                <div class="col-6 align-right">
                  <ngb-rating [rate]="ratingFulfillment" [readonly]="true" max="5">
                    <ng-template let-fill="fill">
                      <span class="star star-c" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                      </span>
                    </ng-template>
                  </ngb-rating>
                </div>
            </div>

          <div class="form-group row">
            <label class="col-6 col-form-label">Quality of Requested Information
                <span title="Indicates how well the received product or service matches the listed details.">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.ProductListingAccuracy" max="5" (rateChange)="changeFullfillmentRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-b" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">Conformance to Contractual Terms
                <span title="Indicates how accurately the seller conformed to the agreed upon contractual terms; e.g. dispatch date, payment method, additional services, etc.">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
            </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.ConformanceToOtherAgreedTerms" max="5" (rateChange)="changeFullfillmentRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-b" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-6 col-form-label">
              <strong>Delivery & Packaging</strong>
              <span title="Overall rating of the quality of delivery and packaging, e.g. delivery date, adequate packing, adequate delivery method, etc.">
                  <i class="fa fa-exclamation-circle"></i>
                </span>
              </label>
              <div class="col-6 align-right">
                <ngb-rating [(rate)]="compRating.DeliveryAndPackaging" max="5" (rateChange)="changeDeliveryRating()">
                  <ng-template let-fill="fill">
                    <span class="star star-c" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                </ngb-rating>
              </div>
          </div>
          <hr>
          <div class="form-group row">
              <label class="col-2 col-form-label">
                <strong>Comment:</strong>
              </label>
              <div class="col-10">
                  <input type="text" class="form-control" [(ngModel)]="compComment" name="compCommentSuccess">
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <call-status [callStatus]="saveCallStatusRating"></call-status>
            <button type="button" class="btn btn-primary save-cert-btn" [disabled]="saveCallStatusRating.isLoading() || checkCompRating()" (click)="onSaveSuccessRating(d);">
                <span>Save</span>
            </button>
        </div>
    </form>
</ng-template>

<!-- Rating Cancel Modal -->
<ng-template #addCancelRatingModal let-d="dismiss">
    <form novalidate>
        <div class="modal-header">
            <h4 class="modal-title">Cancellation Reasons</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
              <label class="col-2 col-form-label">
                <strong>Reason:</strong>
              </label>
              <div class="col-10">
                  <select class="form-control" [(ngModel)]="compComment" name="compCommentCancel">
                    <option></option>
                    <option>Slow Response Time</option>
                    <option>Suspicious Company Information</option>
                    <option>Undervalued Offer</option>
                    <option>Rejected Delivery Terms</option>
                    <option>Other</option>
                  </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <call-status [callStatus]="saveCallStatusRating"></call-status>
            <button type="button" class="btn btn-primary save-cert-btn" [disabled]="saveCallStatusRating.isLoading() || checkCompComment()" (click)="onSaveCancelRating(d);">
                <span>Save</span>
            </button>
        </div>
    </form>
</ng-template>

<call-status [callStatus]="archiveCallStatus" [large]="true"></call-status>
<call-status [callStatus]="collaborationGroupRetrievalCallStatus" [large]="true"></call-status>