<div class="row">
	<div class="col-12">
		<h3 i18n>Dashboard</h3>
		<div *ngIf="!hasCompany">
			<p class="space-before">
				<ngb-alert type="info" (close)="closeAlert()">
					You are not yet linked to a company.<br/>
					You can register your company now.
				</ngb-alert>
			</p>
		</div>
		<p *ngIf="roles.indexOf('initial_representative')!=-1&&roles.indexOf('legal_representative')==-1" class="space-before">
			<ngb-alert type="info" [dismissible]="true">
				Your company is now registered.<br/>
				You can start publishing your catalogue.<br/>
				In order to execute business processes your company needs to be verified by an administrator - please stay tuned.
			</ngb-alert>
		</p>
		<div class="space-before">
			<span i18n>Welcome to the</span> <img class="img-sm" src="assets/nimble_logo.png"/> <span i18n>platform,</span> {{fullName}}!
		</div>
	</div>
</div>

<div class="row space-before">
	<div class="col-12">
		<h4 class="space-after" i18n>Sales</h4>
		<div *ngIf="seller_history.length > 0">
			<table class="table table-striped table-bordered">
				<tr><th>Process</th><th i18n>Date</th><th i18n>Product</th><th i18n>Buyer</th><th i18n>Note</th><th i18n>Status</th><th i18n>Options</th></tr>
				<tr *ngFor="let processMetadata of seller_history">

					<td>{{processMetadata.processType}}</td>
					<td>{{processMetadata.start_time }}</td>
					<td>{{processMetadata.product.name}}</td>
					<td>{{processMetadata.buyerName }}</td>
					<td>{{processMetadata.note}}</td>
					<td>{{processMetadata.actionStatus}}</td>

					<td>
						<div ngbDropdown placement="left">
							<i class="fa fa-bars fa-lg nav-link" id="bpOptionsMenuSeller" style="cursor:pointer" ngbDropdownToggle aria-hidden="true"></i>
							<div ngbDropdownMenu aria-labelledby="bpOptionsMenuSeller">
								<div *ngFor="let menuItem of processMetadata.bpOptionMenuItems; let i = index"
									class="dropdown-item">
									<label *ngIf="i == 0"
										   (click)="openBpProcessView('seller', menuItem.targetProcess ,processMetadata)">
										{{menuItem.itemLabel}}
									</label>
									<label *ngIf="i == 1"
										   (click)="openBpProcessView('seller', menuItem.targetProcess ,processMetadata)">
										{{menuItem.itemLabel}}
									</label>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div *ngIf="seller_history.length == 0">
			<span i18n>No data</span>
		</div>
	</div>
</div>

<div class="row space-before">
	<div class="col-12">
		<h4 class="space-after" i18n>Purchases</h4>
		<div *ngIf="buyer_history.length > 0">
			<table class="table table-striped table-bordered">
				<tr><th>Process</th><th i18n>Date</th><th i18n>Product</th><th i18n>Seller</th><th i18n>Note</th><th i18n>Status</th><th i18n>Options</th></tr>
				<tr *ngFor="let processMetadata of buyer_history">
					<td>{{processMetadata.processType}}</td>
					<td>{{processMetadata.start_time }}</td>
					<td>{{processMetadata.product.name}}</td>
					<td>{{processMetadata.sellerName }}</td>
					<td>{{processMetadata.note}}</td>
					<td>{{processMetadata.actionStatus}}</td>

					<td>
						<div ngbDropdown placement="left">
							<i class="fa fa-bars fa-lg nav-link" id="bpOptionsMenuBuyer" style="cursor:pointer" ngbDropdownToggle aria-hidden="true"></i>
							<div ngbDropdownMenu aria-labelledby="bpOptionsMenuBuyer">
								<div *ngFor="let menuItem of processMetadata.bpOptionMenuItems; let i = index"
									 class="dropdown-item">
									<label *ngIf="i == 0"
										   (click)="openBpProcessView('buyer',  menuItem.targetProcess, processMetadata)">
										{{menuItem.itemLabel}}
									</label>
									<label *ngIf="i == 1"
										   (click)="openBpProcessView('buyer', menuItem.targetProcess, processMetadata)">
										{{menuItem.itemLabel}}
									</label>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div *ngIf="buyer_history.length == 0">
			<span i18n>No data</span>
		</div>
	</div>
</div>