<div class="row">
    <div class="col-12">
        <p class="nimble-title"><span [innerHTML]="'Dashboard' | translate"></span></p>
    </div>
</div>

<!-- Welcome jumbotron, no company -->
<div *ngIf="!user.hasCompany" class="jumbotron space-after">
    <span [innerHTML]="'You are not yet linked to a company' | translate"></span>.<br/>
    <span [innerHTML]="'You will not be able to make purchases or create a catalogue without a company' | translate"></span>.<br/>
  <p class="text-center space-before mb-0"><a class="btn btn-primary btn-lg" href="#/user-mgmt/company-registration" role="button"><span [innerHTML]="'Register a Company' | translate"></span></a></p>
</div>

<!-- Welcome jumbotron, company waiting for approval -->
<div *ngIf="user.roles.indexOf('initial_representative')!= -1 && user.roles.indexOf('legal_representative') == -1" class="jumbotron space-after">
  <b><span [innerHTML]="'Your company is now registered' | translate"></span></b><br/>
  <span *ngIf="!config.companyRegistrationRequired"><span [innerHTML]="'You can start publishing your catalogue' | translate"></span>.<br/></span>
  <span [innerHTML]="'In order to execute business processes your company needs to be verified by an administrator - please stay tuned' | translate"></span>.<br/>
  <span [innerHTML]="'If you are not being verified with 24h, please contact our support' | translate"></span> <a href="mailto:{{config.supportMail}}">{{config.supportMail}}</a>.
</div>

<!-- Regular content -->
<div *ngIf="user.hasCompany && (this.appComponent.checkRoles('purchases') || this.appComponent.checkRoles('sales') || this.appComponent.checkRoles('catalogue'))">
    <!-- Tabs -->
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <ng-container *ngIf="user.showWelcomeTab">
                    <li class="nav-item welcome-tab">
                        <a href id="WELCOME" [ngClass]="{'nav-link': true, active: selectedTab === TABS.WELCOME}" (click)="onChangeTab($event,'WELCOME')">
                            <span [innerHTML]="'Welcome' | translate"></span>
                            <button type="button" class="close space-left" aria-label="Close" (click)="onCloseWelcomeTab($event)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a href id="PURCHASES" *ngIf="this.appComponent.checkRoles('purchases')"  [ngClass]="{'nav-link': true, active: selectedTab === TABS.PURCHASES}" (click)="onChangeTab($event,'PURCHASES')"><span [innerHTML]="'Purchases' | translate"></span> <span *ngIf="buyerCounter>0" class="badge badge-pill badge-danger ml-1">{{buyerCounter}}</span></a>
                </li>
                <li class="nav-item">
                    <a href id="SALES" *ngIf="this.appComponent.checkRoles('sales')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.SALES}" (click)="onChangeTab($event,'SALES')"><span [innerHTML]="'Sales' | translate"></span> <span *ngIf="sellerCounter>0" class="badge badge-pill badge-danger ml-1">{{sellerCounter}}</span></a>
                </li>
                <li class="nav-item">
                    <a href id="PROJECTS" *ngIf="config.projectsEnabled && this.appComponent.checkRoles('projects')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.PROJECTS}" (click)="onChangeTab($event,'PROJECTS')"><span [innerHTML]="'Projects' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="FRAME_CONTRACTS" *ngIf="config.frameContractTabEnabled && this.appComponent.checkRoles('sales') || this.appComponent.checkRoles('purchases')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.FRAME_CONTRACTS}" (click)="onChangeTab($event,'FRAME_CONTRACTS')"><span [innerHTML]="'Frame Contracts' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="UNSHIPPED_ORDERS" *ngIf="config.unshippedOrdersTabEnabled && (this.appComponent.checkRoles('sales') || this.appComponent.checkRoles('purchases'))" [ngClass]="{'nav-link': true, active: selectedTab === TABS.UNSHIPPED_ORDERS}" (click)="onChangeTab($event,'UNSHIPPED_ORDERS')"><span [innerHTML]="'Unshipped Orders' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="CATALOGUE" *ngIf="this.appComponent.checkRoles('catalogue')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.CATALOGUE}" (click)="onChangeTab($event,'CATALOGUE')"><span [innerHTML]="'Catalogue' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="COLLABORATION" *ngIf="config.collaborationEnabled && this.appComponent.checkRoles('collaboration')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.COLLABORATION}" (click)="onChangeTab($event,'COLLABORATION')"><span [innerHTML]="'Collaboration' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="FAVOURITE" *ngIf="this.appComponent.checkRoles('favourite')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.FAVOURITE}" (click)="onChangeTab($event,'FAVOURITE')"><span [innerHTML]="'Favourite' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="COMPARE" *ngIf="this.appComponent.checkRoles('compare')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.COMPARE}" (click)="onChangeTab($event,'COMPARE')"><span [innerHTML]="'Compare' | translate"></span></a>
                </li>
                <li class="nav-item">
                    <a href id="PERFORMANCE" *ngIf="this.appComponent.checkRoles('performance')" [ngClass]="{'nav-link': true, active: selectedTab === TABS.PERFORMANCE}" (click)="onChangeTab($event,'PERFORMANCE')"><span [innerHTML]="'Performance' | translate"></span></a>
                </li>
            </ul>
        </div>
    </div>


    <!-- Welcome tab -->
    <div *ngIf="selectedTab === TABS.WELCOME" class="row">
        <div class="col-12">
            <h4 class="space-before mb-4 text-center"><span [innerHTML]="'Looks like you are new here' | translate"></span>.</h4>
            <div class="row mb-4 ">
              <div class="col-6">
                <p class="mb-1"><span [innerHTML]="'This is your dashboard - it shows' | translate"></span>:</p>
                <ul>
                    <li><strong><span [innerHTML]="'Purchases' | translate"></span>:</strong> <span [innerHTML]="'the history of all your purchases' | translate"></span></li>
                    <li><strong><span [innerHTML]="'Sales' | translate"></span>:</strong><span [innerHTML]="'the history of all your sales' | translate"></span> </li>
                    <li><strong><span [innerHTML]="'Catalogue' | translate"></span>:</strong><span [innerHTML]="'the list of all your published products / services' | translate"></span> </li>
                </ul>
              </div>
              <div class="col-6">
                <p class="mb-1"><span [innerHTML]="'In your Purchases and Sales the following statuses are possible' | translate"></span>:</p>
                <div>
                  <span [innerHTML]="'Step completed' | translate" class="badge badge-success"></span> <span [innerHTML]="'Waiting for trading partner' | translate" class="badge badge-warning"></span> <span [innerHTML]="'Action required' | translate" class="badge badge-danger"></span> <span [innerHTML]="'Step cancelled' | translate" class="badge badge-secondary"></span>
                </div>
              </div>
            </div>
            <div class="row text-center">
                <div *ngIf="this.appComponent.checkRoles('purchases')" class="col-6">
                    <p><span [innerHTML]="'If you are looking to' | translate"></span> <b> <span [innerHTML]="'buy' | translate"></span></b><span [innerHTML]="'Products / Services' | translate"></span></p>
                    <a class="btn btn-primary btn-lg" href="#/simple-search" role="button"><span [innerHTML]="'Search for Products / Services' | translate"></span></a>
                </div>

                <div *ngIf="this.appComponent.checkRoles('sales')" class="col-6">
                    <p><span [innerHTML]="'If you are looking to' | translate"></span> <b><span [innerHTML]="'sell' | translate"></span></b><span [innerHTML]="'Products / Services' | translate"></span> </p>
                    <a *ngIf="this.appComponent.checkRoles('catalogue')" class="btn btn-primary btn-lg" href="#/catalogue/categorysearch" role="button"><span [innerHTML]="'Publish a Product / Service' | translate"></span></a>
					<p *ngIf="!this.appComponent.checkRoles('catalogue')"><span [innerHTML]="'Please refer to the company manager or a legal representative to get permission to publish products / services in the NIMBLE Platform' | translate"></span>.</p>
                </div>

                <div *ngIf="!this.appComponent.checkRoles('purchases') && !this.appComponent.checkRoles('sales')" class="col-12">
                    <p><span [innerHTML]="'Please refer to the company manager or a legal representative to get permission to purchase or sell products / services in the NIMBLE Platform.' | translate"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sales and Purchase tabs -->
    <div *ngIf="selectedTab === TABS.SALES || selectedTab === TABS.PURCHASES || selectedTab === TABS.PROJECTS">
        <collaboration-groups-tab class="row"
                                  (onViewUpdatedEvent)="getTabCounters()"
                                  [instance]="instance"
                                  [selectedTab]="selectedTab">
        </collaboration-groups-tab>
    </div>

    <!-- Catalogue tab -->
    <div *ngIf="selectedTab === TABS.CATALOGUE" class="row">
        <div class="col-12">
            <catalogue-view></catalogue-view>
        </div>
    </div>

    <!-- Collaboration tab -->
    <div *ngIf="selectedTab === TABS.COLLABORATION" class="row">
        <div class="col-12">
            <collaboration-view></collaboration-view>
        </div>
    </div>

    <!-- Favourite tab -->
    <div *ngIf="selectedTab === TABS.FAVOURITE" class="row">
        <div class="col-12">
            <favourite-view></favourite-view>
        </div>
    </div>

     <!-- Compare tab -->
     <div *ngIf="selectedTab === TABS.COMPARE" class="row">
        <div class="col-12">
            <compare-view></compare-view>
        </div>
    </div>

    <!-- Frame contracts tab -->
    <frame-contract-tab *ngIf="selectedTab === TABS.FRAME_CONTRACTS">
    </frame-contract-tab>

    <unshipped-orders-tab *ngIf="selectedTab === TABS.UNSHIPPED_ORDERS">
    </unshipped-orders-tab>

    <!-- Performance tab -->
     <div *ngIf="selectedTab === TABS.PERFORMANCE" class="row">
        <div class="col-12">
            <performance-analytics></performance-analytics>
        </div>
    </div>



</div>
