<div class="row">
	<div class="col-12">
		<h3 i18n>Dashboard</h3>
		<div class="space-before">
			<span i18n>Welcome to the</span> <img class="img-sm" src="assets/nimble_logo.png"/> <span i18n>platform,</span> {{fullName}}!
		</div>
	</div>
</div>

<div class="row space-before">
	<div class="col-12">
		<h4 class="space-after" i18n>Sales</h4>
		<div *ngIf="seller_history.length > 0">
			<table class="table table-striped table-bordered">
				<tr><th>Process</th><th i18n>Date</th><th i18n>Product</th><th i18n>Buyer</th><th i18n>Note</th><th i18n>Status</th><th i18n>Options</th></tr>
				<tr *ngFor="let processMetadata of seller_history">

					<td>{{processMetadata.processType}}</td>
					<td>{{processMetadata.start_time }}</td>
					<td>{{processMetadata.product_name}}</td>
					<td>{{processMetadata.buyerName }}</td>
					<td>{{processMetadata.note}}</td>
					<td>{{processMetadata.actionStatus}}</td>

					<!-- order options -->
					<td *ngIf="processMetadata.processType == 'Order' && processMetadata.processStatus == 'Started'">
						<button class="btn btn-block btn-success" (click)="respondToOrder(processMetadata.process_id, processMetadata.content, true)" i18n>Approve</button>
						<button class="btn btn-block btn-danger" (click)="respondToOrder(processMetadata.process_id, processMetadata.content, false)" i18n>Decline</button>
					</td>
					<td *ngIf="processMetadata.processType == 'Order' && processMetadata.processStatus == 'Completed'">
						<button *ngIf="processMetadata.actionStatus == 'Order approved'" class="btn btn-block btn-success" (click)="sendDespatchAdvice(processMetadata.activityVariables)" i18n>Send Despatch Advice</button>
						<label *ngIf="processMetadata.actionStatus == 'Order declined'">-</label>
					</td>

					<!-- negotiation options -->
					<td *ngIf="processMetadata.processType == 'Negotiation'">
						<button *ngIf="processMetadata.processStatus=='Started'" class="btn btn-block btn-success" (click)="respondToRFQ(processMetadata.process_id, processMetadata.content, true)" i18n>Approve</button>
						<button *ngIf="processMetadata.processStatus=='Started'" class="btn btn-block btn-danger" (click)="respondToRFQ(processMetadata.process_id, processMetadata.content, false)" i18n>Decline</button>
						<label *ngIf="processMetadata.processStatus == 'Completed'">-</label>
					</td>

					<!-- fulfilment options -->
					<td *ngIf="processMetadata.processType == 'Fulfilment'">
						<label>-</label>
					</td>
				</tr>
			</table>
		</div>
		<div *ngIf="seller_history.length == 0">
			<span i18n>No data</span>
		</div>
	</div>
</div>

<div class="row space-before">
	<div class="col-12">
		<h4 class="space-after" i18n>Purchases</h4>
		<div *ngIf="buyer_history.length > 0">
			<table class="table table-striped table-bordered">
				<tr><th>Process</th><th i18n>Date</th><th i18n>Product</th><th i18n>Seller</th><th i18n>Note</th><th i18n>Status</th><th i18n>Options</th></tr>
				<tr *ngFor="let processMetadata of buyer_history">
					<td>{{processMetadata.processType}}</td>
					<td>{{processMetadata.start_time }}</td>
					<td>{{processMetadata.product_name}}</td>
					<td>{{processMetadata.sellerName }}</td>
					<td>{{processMetadata.note}}</td>
					<td>{{processMetadata.actionStatus}}</td>

					<!-- order options -->
					<td *ngIf="processMetadata.processType == 'Order'">
						<label>-</label>
						<!--<i class="fa fa-bars fa-lg" aria-hidden="true"></i>-->
					</td>

					<!-- negotation options -->
					<td *ngIf="processMetadata.processType == 'Negotiation' && processMetadata.processStatus == 'Started'">
						<label>-</label>
					</td>
					<td *ngIf="processMetadata.processType == 'Negotiation' && processMetadata.processStatus == 'Completed'">
						<button class="btn btn-block btn-success"
								[routerLink]="['/simple-search-details', processMetadata.productId]"
								i18n>Order
						</button>
						<button class="btn btn-block btn-success"
								[routerLink]="['/simple-search-details', processMetadata.productId]"
								i18n>Negotiate
						</button>
					</td>

					<!-- fulfilment options -->
					<td *ngIf="processMetadata.processType == 'Fulfilment'">
						<button *ngIf="processMetadata.processStatus != 'Completed'" class="btn btn-block btn-success" (click)="sendReceiptAdvice(processMetadata.process_id, processMetadata.content)" i18n>Send Receipt Advice</button>
						<label *ngIf="processMetadata.processStatus == 'Completed'">-</label>
					</td>
				</tr>
			</table>
		</div>
		<div *ngIf="buyer_history.length == 0">
			<span i18n>No data</span>
		</div>
	</div>
</div>