<ng-container *ngIf="(dataType == 'string' && stringValues.length > 0) || dataType != 'string'">
    <div class="card facet">
        <div class="card-header d-flex">
            <div>{{title}}</div>
            <div class="ml-auto clickable" (click)="triggerCriteriaChanged.next()">
                <i class="fa fa-sync" ></i>
            </div>
        </div>

        <!-- boolean data type -->
        <ng-container *ngIf="dataType == 'boolean'">
            <div (click)="booleanValue = !booleanValue; booleanValueChanged.next(booleanValue);">
                <input type="checkbox"
                       class="m-2"
                       [checked]="booleanValue">
            </div>
        </ng-container>

        <!-- string data type -->
        <ng-container *ngIf="dataType == 'string'">
            <div *ngFor="let value of stringValues"
                 (click)="selectStringValue(value)">
                <input type="checkbox"
                       class="m-2"
                       [checked]="selectedStringValues.indexOf(value) != -1">
                <span>{{value}}</span>
            </div>
        </ng-container>
    </div>
</ng-container>
