<call-status [callStatus]="frameContractsRetrievalCallStatus"></call-status>
<ng-container *ngIf="frameContracts.length > 0">
    <div class="row title-row">
        <div class="col-3">
            <span [innerHTML]="'Product' | translate"></span> 
        </div>
        <div class="col-3">
            <span [innerHTML]="'Corresponding company' | translate"></span>
        </div>
        <div class="col-2">
            <span [innerHTML]="'Agreed on' | translate"></span>
        </div>
        <div class="col-2">
            <span [innerHTML]="'Valid until' | translate"></span>
        </div>
    </div>
    <div class="row data-row" *ngFor="let frameContract of frameContracts">
        <div class="col-3">
            <span class="clickable" (click)="navigateToProductDetails(frameContract)">{{getProductName(frameContract.item.name)}}</span>
        </div>
        <div class="col-3">
            <span class="clickable" (click)="navigateToCompanyDetails(frameContract)">{{getCorrespondingPartyName(frameContract)}}</span>
        </div>
        <div class="col-2">{{frameContract.digitalAgreementTerms.validityPeriod.startDate}}</div>
        <div class="col-2">{{frameContract.digitalAgreementTerms.validityPeriod.endDate}}</div>
        <div class="col-2" (click)="navigateToQuotationDetails(frameContract)"><div class="btn btn-outline-primary"><span [innerHTML]="'See Details' | translate"></span></div></div>
    </div>
</ng-container>
<ng-container *ngIf="frameContracts.length == 0 && frameContractsRetrievalCallStatus.isComplete() && !frameContractsRetrievalCallStatus.isError()">
    <span [innerHTML]="'No frame contract exists' | translate"></span> 
</ng-container>