<call-status [callStatus]="frameContractsRetrievalCallStatus"></call-status>
<ng-container *ngIf="frameContracts.length > 0">
    <div class="row title-row">
        <div class="col-3">
            Product
        </div>
        <div class="col-3">
            Corresponding company
        </div>
        <div class="col-2">
            Agreed on
        </div>
        <div class="col-2">
            Valid until
        </div>
    </div>
    <div class="row data-row" *ngFor="let frameContract of frameContracts">
        <div class="col-3">
            <span class="clickable" (click)="navigateToProductDetails(frameContract)">{{getProductName(frameContract.item.name)}}</span>
        </div>
        <div class="col-3">
            <span class="clickable" (click)="navigateToCompanyDetails(frameContract)">{{getCorrespondingPartyName(frameContract)}}</span>
        </div>
        <div class="col-2">{{frameContract.digitalAgreementTerms.validityPeriod.startDate}}</div>
        <div class="col-2">{{frameContract.digitalAgreementTerms.validityPeriod.endDate}}</div>
        <div class="col-2" (click)="navigateToQuotationDetails(frameContract)"><div class="btn btn-outline-primary">See Details</div></div>
    </div>
</ng-container>
<ng-container *ngIf="frameContracts.length == 0 && frameContractsRetrievalCallStatus.isComplete()">
    No frame contract exists
</ng-container>