.thread-entry-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    margin-left: 0;
    margin-right: 0;
}

.thread-entry-row:nth-of-type(n+2) > div {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.thread-entry-row:nth-of-type(n+2) > div:nth-of-type(3) {
    padding-left: .4rem;
    padding-right: .2rem;
}

.thread-entry-row button {
    margin-bottom: 0.5rem;
    white-space: normal;
}