<ng-container *ngIf="groups.length > 0">
    <div class="row">
        <div class="col-3">
            <span i18n>Showing results</span> {{ start }} - {{ end }} <span i18n>of</span> {{ size }}
        </div>
        <div class="pagination col-9 justify-content-center ">
            <ngb-pagination [(collectionSize)]="size" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="limit" [boundaryLinks]="false"
                            (pageChange)="retrieveProcessInstanceGroups()"></ngb-pagination>
        </div>
    </div>
</ng-container>
<div *ngIf="groups.length == 0" class="space-after">
    <span i18n>No data</span>
</div>

<div class="row">
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                Archived
            </div>
            <input type="checkbox"
                   class="m-2"
                   [checked]="archived"
                   (change)="archived = !archived; retrieveProcessInstanceGroups();">
        </div>
    </div>
    <div *ngIf="groups.length > 0" class="col-10">
        <!--<div class="row space-after inherit-side-margins">-->
            <!--<div class="thread-column-header col-2">Process</div>-->
            <!--<div class="thread-column-header col-2">Date</div>-->
            <!--<div class="thread-column-header col-2">Product</div>-->
            <!--<div class="thread-column-header col-1">{{this.collaborationRole == COLLABORATION_ROLE_BUYER ? 'Seller ' : 'Buyer'}}</div>-->
            <!--<div class="thread-column-header col-2">Note</div>-->
            <!--<div class="thread-column-header col-3">Status</div>-->
        <!--</div>-->
        <thread-summary *ngFor="let processInstanceGroup of groups"
                        [processInstanceGroup]="processInstanceGroup">
        </thread-summary>
    </div>
</div>
