.thread-entry {
    border-left: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem !important;
}

.thread-entry .thread-entry-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    margin-left: 0;
    margin-right: 0;
}

.thread-entry .thread-entry-row:nth-of-type(1) {
    background: rgba(0,0,0,.05);
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.thread-entry .thread-entry-row:nth-of-type(n+2) > div {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.thread-entry .thread-entry-row:nth-of-type(n+2) > div:nth-of-type(3) {
    padding-left: .4rem;
    padding-right: .2rem;
}

.thread-entry .thread-entry-row:nth-last-of-type(1) > div {

}

/*.success-font {*/
    /*color: #3c763d;*/
    /*font-weight: bold;*/
/*}*/

/*.danger-font {*/
    /*color: #a94442;*/
    /*font-weight: bold;*/
/*}*/

/*.cancelled-font {*/
    /*color: #777;*/
    /*font-weight: bold;*/
/*}*/