<div class="row space-after thread-entry">
    <div class="col-12">
        <!-- Title bar -->
        <div class="row">
            <div class="col-12 d-flex thread-entry-header">
                <div *ngIf="!lastEvent" class="header-label mr-auto">Loading order...</div>
                <div *ngIf="lastEvent" class="header-label mr-auto">Order for
                    <label class="clickable" (click)="navigateToSearchDetails()">
                        {{lastEvent.product.name}}
                    </label>
                </div>
                 <div *ngIf="!processInstanceGroup.archived" (click)="archiveGroup()" data-toggle="tooltip" data-placement="top" title="Archive">
                    <i class="fa fa-archive p-2" style="cursor: pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="processInstanceGroup.archived" (click)="deleteGroup()" data-toggle="tooltip" data-placement="top" title="Delete Permanently">
                    <i class="fa fa-trash-o p-2" style="cursor: pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="processInstanceGroup.archived" (click)="restoreGroup()" data-toggle="tooltip" data-placement="top" title="Restore">
                    <i class="fa fa-undo p-2" style="cursor: pointer" aria-hidden="true"></i>
                </div>
                <div *ngIf="showDataChannelButton" (click)="openDataChannelView()" data-toggle="tooltip" data-placement="top" title="Open Data Channel">
                    <i class="fa fa-exchange-alt p-2 pointer" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!-- Titles for the rows -->
        <div class="row thread-entry-heading">
                <div class="col-2"><strong>Customer</strong></div>
                <div class="col-2"><strong>Type</strong></div>
                <div class="col-2"><strong>Date</strong></div>
                <div class="col-2"><strong>Note</strong></div>
                <div class="col-4"><strong>Status</strong></div>
            </div>

        <!-- Most recent event -->
        <thread-event *ngIf="lastEvent" [processInstanceGroup]="processInstanceGroup" [event]="lastEvent">
        </thread-event>

        <!-- Loading most recent event -->
        <div class="row" *ngIf="!lastEvent">
            <div class="col align-items-center">
                <img src="assets/form_loader.gif"/>
            </div>
        </div>

        <!-- History -->
        <ng-container *ngIf="historyExpanded && history">
            <ng-container *ngFor="let event of history">
                <thread-event [processInstanceGroup]="processInstanceGroup" [event]="event">
                </thread-event>
            </ng-container>
        </ng-container>

        <!-- Loading history -->
        <div class="row" *ngIf="lastEvent && hasHistory && historyExpanded && !history">
            <div class="col align-items-center">
                <img src="assets/form_loader.gif"/>
            </div>
        </div>

        <!-- Toggle history -->
        <div class="row" *ngIf="lastEvent && hasHistory">
            <div class="col align-items-center clickable" (click)="toggleHistory()">
                {{ historyExpanded ? "Hide" : "Show" }} previous step(s)
            </div>
        </div>
    </div>
</div>

<call-status [callStatus]="archiveCallStatus" [large]="true">
</call-status>
