.thread-entry {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem !important;
    margin: 0;
}

.thread-entry .col-12 {
    padding: 0;
    margin: 0;
}

.thread-entry .row {
    margin: 0;
}
.thread-entry-header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    background: rgba(0,0,0,.05);
}
.thread-entry-header .header-label {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}
.thread-entry-header .header-label label {
    margin-bottom: 0;
    padding-bottom: 0;
}

.thread-entry-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}