<div class="row thread-entry-row">
    <div class="col-2"><p>{{event.tradingPartner}}</p></div>
    <div class="col-2"><p>{{event.presentableProcessType}}</p></div>
    <div class="col-2"><p>{{event.startTime}}</p></div>
    <div class="col-2"><p>{{event.note}}</p></div>
    <div *ngIf="event.statusCode=='EXTERNALLY_TERMINATED'" class="col-4 alert-dark">
        <div>Cancelled</div>
        <button class="btn" (click)="openBpProcessView()">{{event.actionStatus}}</button>
    </div>
    <div *ngIf="event.statusCode=='COMPLETED'" class="col-4 alert-success">
        <div>Completed</div>
        <button class="btn" (click)="openBpProcessView()">{{event.actionStatus}}</button>
    </div>
    <div *ngIf="event.statusCode=='ACTIVE'" class="col-4 alert-danger">
        <div>In Progress</div>
        <button class="btn btn-primary" (click)="openBpProcessView()">{{event.actionStatus}}</button>
    </div>
</div>