<div class="d-flex justify-content-end">
    <call-status [callStatus]="callStatus"
        class="d-flex">
    </call-status>
</div>

<div *ngIf="itemTypeResponse && hasFavourite == true">
    <div>
        <div class="input-group form-group" style="background-color:#F2F2F2;padding-left: 25px;padding-top: 20px;padding-bottom: 20px;">
            <input  class="form-control col-3" type="text" [(ngModel)]="searchText" [ngbTypeahead]="searchFavourite" placeholder="Search ...">

            <label class="space-left space-right"><strong>Category :</strong>
            </label>
            <select  class="custom-select col-3 space-right" [(ngModel)]="selectedCategory" (change)="requestCatalogue()">
                <option value="All">All</option>
                <option *ngFor="let type of cat_levels[0]" [value]=type.id>{{type.preferredName}}</option>
            </select>

            <label class="space-right"><strong>Sort by:</strong>
            </label>
            <select  class="custom-select col-3 space-right" [(ngModel)]="sortOption" (change)="requestCatalogue()">
                <option *ngFor="let option of CATALOGUE_LINE_SORT_OPTIONS" [value]="option.name">{{option.value}}</option>
            </select>
        </div>

        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="10" [boundaryLinks]="true" (pageChange)="onRegisteredCompaniesPageChange($event)"></ngb-pagination>
        </div>

        <div *ngFor="let catLine of catalogueLinesArray; let i = index" class="space-before">
            <div class="card pointer">
                <div class="card-body">
                    <div class="row" *ngIf="!catalogueLineView[catLine.localName]" (click)="viewCatalogueLine(catLine,i); $event.stopPropagation();">
                        <div class="col-2">
                            <div style="text-align:center">
                                <img src="{{imageMap[catLine.uri]}}" class="thumb" style="max-height: 5rem;max-width: 100%;" onerror="this.src='assets/empty_img.png';"/>
                            </div>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div class="col-8">
                                <p style="word-break: break-all;word-wrap: break-word;">
                                    <strong>{{ getMultilingualLabel(catLine[product_name]) }}
                                        <a class="text-std" [routerLink]="['/product-details']" [queryParams]="{catalogueId: catLine.catalogueId, id: catLine.manufactuerItemId}" (click)="onOpenCatalogueLine($event)" target="_blank">
                                            <i class="fas fa-external-link-alt btn-light"></i>
                                        </a>
                                    </strong>
                                </p>
                                <p  *ngIf="catLine[product_description] != null"  style="word-break: break-all;word-wrap: break-word;">{{getMultilingualLabel(catLine[product_description])}}</p>
                                <!-- <p *ngIf="catLine.requiredItemLocationQuantity.price.priceAmount.value != null" style="word-break: break-all;word-wrap: break-word;">{{catLine.requiredItemLocationQuantity.price.priceAmount.value+" "+catLine.requiredItemLocationQuantity.price.priceAmount.currencyID}}</p> -->
                                    <p *ngIf="catLine[product_price] && !checkEmpty(catLine[product_price])" style="word-break: break-all;word-wrap: break-word;">{{roundToTwoDecimals(catLine[product_price][getCurrency(catLine[product_price])])}} {{getCurrency(catLine[product_price])}}</p>
                                    <p *ngIf="!catLine[product_price] || checkEmpty(catLine[product_price])" style="word-break: break-all;word-wrap: break-word;">Upon request</p>
                            </div>
                            <div class="col-2">

                                <button type="button" class="btn btn-danger col" [disabled]="getDeleteStatus(i).isLoading()"
                                        (click)="removeFavourite(catLine, i); $event.stopPropagation();">
                                    Remove
                                </button>
                                <call-status [callStatus]="getDeleteStatus(i)"></call-status>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="catalogueLineView[catLine.localName]">
                    <catalogue-line-panel [catalogueLine]="catLineList[catLine.localName]"
                    [settings]="comapanyList[catLine.localName]"
                    [presentationMode]="''"
                    [(show)]="catalogueLineView[catLine.localName]">
                    </catalogue-line-panel>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="10" [boundaryLinks]="true" (pageChange)="onRegisteredCompaniesPageChange($event)"></ngb-pagination>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="itemTypeResponse && hasFavourite == false">
    <h3>No Favourite products / services.</h3>
    <h5>
        <span (click)="navigateToTheSearchPage()" class="pointer">Search For  products / services</span>
        <i class="fa fa-plus-circle pointer" (click)="navigateToTheSearchPage()"></i>
    </h5>
</div>

<call-status [callStatus]="getCatalogueStatus" [large]="true">
</call-status>

<call-status [callStatus]="searchFavouriteCallStatus" [large]="true">
</call-status>
