<!-- TODO add support for multiple values in edit and view modes -->
<ng-container *ngIf="presentationMode != 'singlevalue'">
    <div class="input-group">
        <label class="col-3 control-label">{{propName}}</label>
        <label *ngIf="presentationMode == 'view'" class="col-7">{{quantity[0].value}}</label>
        <input *ngIf="presentationMode == 'edit'" class="col-7" type="text" [(ngModel)]="quantity[0].value">
        <label class="col-1" class="ml-3 mr-3">Unit: </label>
        <label *ngIf="presentationMode == 'view'" class="col-1">{{quantity[0].unitCode}}</label>
        <input *ngIf="presentationMode == 'edit'" class="col-1" type="text" [(ngModel)]="quantity[0].unitCode">
    </div>
</ng-container>
<ng-container *ngIf="presentationMode == 'singlevalue' && quantity.length > 0">
    <div class="input-group">
        <label class="col-3 control-label">{{propName}}</label>
        <select *ngIf="quantity.length > 1"
                class="custom-select col-7"
                (change)="selectChanged($event)">
            <option *ngFor="let value of quantity">{{value.value}}</option>
        </select>
        <input *ngIf="quantity.length == 1"
               type="text" class="form-control col-7"
               [(ngModel)]="quantity[0].value"
               readonly>
        <label class="col-1" class="ml-3 mr-3">Unit: </label>
        <label class="col-1">{{quantity[0].unitCode}}</label>
    </div>
</ng-container>
