<div *ngIf="bpDataService.catalogueLine">
    <h3 class="d-flex justify-content-start space-after">
        <div>
            <b>{{ bpDataService.catalogueLine.goodsItem.item.name }}</b><br/>
            <i>{{ bpDataService.catalogueLine.goodsItem.item.manufacturerParty.name }}</i>
        </div>
        <button *ngIf="!bpOptionsActive&&(debug||roles.indexOf('legal_representative')!=-1)"
                class="ml-auto align-self-start btn btn-success"
                (click)="bpOptionsActive = !bpOptionsActive">
            See Available Business Options&nbsp;&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </button>
    </h3>

    <catalogue-line-view *ngIf="!bpOptionsActive"
                         [catalogueLine]="bpDataService.catalogueLine"
                         [presentationMode]="'view'">
    </catalogue-line-view>

    <product-bp-options *ngIf="bpOptionsActive"
                        [singleMode]="false"
                        (closeBpOptionsEvent)="bpOptionsActive = !bpOptionsActive">
    </product-bp-options>
</div>

<call-status [callStatus]="getCatalogueLineStatus"
             [large]="true">
</call-status>
