<div [hidden]="!callback">
    <div *ngFor="let result of response">
        <h3 class="space-after">
            <b>{{ result[product_name] }}</b><br/>
            <i>{{ result[product_vendor_name] }}</i>
        </h3>
        <div class="row">
            <div class="col-8">
                <div *ngFor="let detail of details">
                    <div class="input-group form-group">
                        <label class="input-group-addon">{{ detail.key }}</label>
                        <input type="text" class="form-control" disabled [value]="detail.value">
                    </div>
                </div>
                <div *ngFor="let config of configs">
                    <div class="input-group form-group">
                        <label class="input-group-addon">{{ config.key }}</label>
                        <div class="form-control">
							<span *ngFor="let value of config.value">
								<span *ngIf="checkConfig(value.fileName.split('_')[1],value.fileName.split('_')[0].charAt(0).toUpperCase()+value.fileName.split('_')[0].slice(1))">
									<button class="btn btn-block btn-secondary active" style="margin-bottom:0.2rem;"
                                            (click)="setImage(value.fileName.split('_')[1],value.fileName.split('_')[0].charAt(0).toUpperCase()+value.fileName.split('_')[0].slice(1))">
										<img class="btn-img" src="data:{{value.mimeCode}};base64,{{value.value}}"
                                             onerror="this.src='assets/empty_img.png';"> <span>{{ value.fileName.split("_")[0].charAt(0).toUpperCase() + value.fileName.split("_")[0].slice(1) }}</span>
									</button>
								</span>
								<span *ngIf="!checkConfig(value.fileName.split('_')[1],value.fileName.split('_')[0].charAt(0).toUpperCase()+value.fileName.split('_')[0].slice(1))">
									<button class="btn btn-block btn-secondary" style="margin-bottom:0.2rem;"
                                            (click)="setImage(value.fileName.split('_')[1],value.fileName.split('_')[0].charAt(0).toUpperCase()+value.fileName.split('_')[0].slice(1))">
										<img class="btn-img" src="data:{{value.mimeCode}};base64,{{value.value}}"
                                             onerror="this.src='assets/empty_img.png';"> <span>{{ value.fileName.split("_")[0].charAt(0).toUpperCase() + value.fileName.split("_")[0].slice(1) }}</span>
									</button>
								</span>
							</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 align-center">
                <div class="bordered">
                    <img src="{{result[product_img]}}" class="img-max" onerror="this.src='assets/empty_img.png';"/>
                </div>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" class="space-before" #orderForm="ngForm" novalidate>
            <div class="input-group form-group">
                <label for="amount" class="input-group-addon" i18n>Amount</label>
                <input type="text" class="form-control" id="amount" required [(ngModel)]="model.amount" name="amount"
                       #amount="ngModel" pattern="\d*">
            </div>
            <!--
            <div class="input-group form-group">
                <label for="message" class="input-group-addon" i18n>Message</label>
                <input type="text" class="form-control" id="message" [(ngModel)]="model.message" name="message" #message="ngModel" pattern=".{1,}">
            </div>
            -->
            <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid" i18n>Order</button>
        </form>
        <negotiation-params
                *ngIf="response != null"
                [productResponse]="response[0]"
        ></negotiation-params>
    </div>
</div>

<div [hidden]="error_detc || callback">
    <img class="space-before" src="assets/form_loader.gif"/>
</div>
<div [hidden]="!error_detc">
    <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
</div>

<div [hidden]="error_detc2 || callback2 || !submitted2">
    <img class="space-before" src="assets/form_loader.gif"/>
</div>
<div [hidden]="!callback2">
    <div class="alert alert-success space-before" role="alert" i18n>Order successful - track to progress on your <a
            routerLink="/dashboard">dashboard</a></div>
</div>
<div [hidden]="!error_detc">
    <div class="alert alert-danger space-before" role="alert" i18n>An error occured - please try again later</div>
</div>