.thumb {
	max-height: 5rem;
	max-width: 100%;
}

/*
.card {
	margin-bottom: 1rem !important;
}
*/

.pagination {
	margin-bottom: 0 !important;
}

.bg-primary-nimble {
	background-color: #b77563;
}

.border-primary-nimble {
	border-color: #b77563;
}

.badge-primary-nimble {
	background-color: #b77563;
	color: #fff;
}