body {
    margin: 0.6rem 0;
    background-color: #fefefe;
}

button {
    cursor: pointer;
}

textarea {
    min-height: 2.375rem;
}

textarea {
    min-height: 2.375rem;
}

#loading-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

#loading-bg {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.7);
	z-index:9999;
}

#support-btn {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #a21c26;
	z-index: 9998;
	cursor: pointer;
}

#beta-btn {
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #a21c26;
	z-index: 9998;
	cursor: pointer;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: white;
}

#support-img {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-top: 8px;
}

.nimble-bg {
    background-color: #a21c26;
}

.nimble-col {
	border: 2px solid #a21c26;
	border-radius: 0.25rem;
	padding: 0.5rem;
	text-align: center;
}

.space-before {
    margin-top: 1rem;
}

.space-after {
    margin-bottom: 1rem;
}

.space-left {
    margin-left: 0.5rem;
}

.space-right {
    margin-right: 0.5rem;
}

.input-group-addon {
	width: 12rem;
	white-space: normal;
	word-wrap: break-word;
}

.ng-valid[required], .ng-valid.required {
    border-right: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-right: 5px solid #a94442;
}

.align-center {
    text-align: center;
}

.inline-icon {
    max-height: 1rem;
    margin-top: -0.2rem;
    margin-right: 0.2rem;
}

.btn-img {
    max-height: 4rem;
    max-width: 100%;
    margin-right: 0.2rem;
    padding: 0.2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.img-max {
    max-width: 100%;
    max-height: 30rem;
}

.img-sm {
    max-height: 2rem;
    max-width: 100%;
    margin-top: -0.2rem;
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white !important;
    opacity: 0.5 !important;
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
    opacity: 1 !important;
}

.dropdown-item.active, .dropdown-item:active {
	color: #292b2c !important;
	background-color: #ccc !important;
}

ngb-pagination nav .pagination {
    margin-bottom: 0 !important;
    -moz-box-pack: end;
    justify-content: flex-end;
}

ngb-pagination nav .pagination .page-item .page-link {
    color: #a21c26;
}

ngb-pagination nav .pagination .page-item.active .page-link {
    background-color: #a21c26;
    border-color: #a21c26;
    color: #fff;
}

/* Bootstrap well */
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}
/* ------------------- */

/* CSS Loader */
#sk-loading-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
}

.sk-folding-cube {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a21c26;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
/* ------------------- */