<!-- title -->
<div class="row">
    <div class="col-3">
        <p class="nimble-title"><span [innerHTML]="'Shopping Cart' | translate"></span></p>
    </div>
    <!--    Button to Negotiate/Order All-->
    <div *ngIf="initCallStatus.isAllSuccessful()" class="col-9 d-flex align-items-end flex-column negotiate-all">
        <div class="btn btn-primary" (click)="onMultipleLineNegotiation()">
            <span [innerHTML]="'Negotiate / Order All' | translate"></span>
        </div>
    </div>
</div>

<ng-container *ngIf="initCallStatus.isAllSuccessful()">
    <div *ngFor="let cartLine of shoppingCart?.catalogueLine; let i = index">
        <div class="d-flex space-before">
            <div class="btn btn-primary btn-outline-primary" (click)="collapsedStatusesOfCartItems.set(cartLine.hjid, !collapsedStatusesOfCartItems.get(cartLine.hjid))">
                {{getProductName(cartLine.goodsItem.item.name)}}
            </div>
            <call-status class="ml-auto" [callStatus]="deleteCallStatuses.get(cartLine.hjid)"></call-status>
        </div>
        <div *ngIf="collapsedStatusesOfCartItems.get(cartLine.hjid)" class="space-before cart-item">
            <product-details-overview [wrapper]="productWrappers.get(cartLine.hjid)"
                                      [itemWithSelectedProps]="modifiedCatalogueLines.get(cartLine.hjid).goodsItem.item"
                                      [associatedProducts]="associatedProducts.get(cartLine.hjid)"
                                      [inShoppingBasket]="true"
                                      [isNegotiatingAnyTerm]="areNegotiationConditionsSatisfied(cartLine)"
                                      (onCartItemDeleted)="onRemoveFromCart($event.hjid)"
                                      (onNegotiate)="onSingleLineNegotiation($event)">
            </product-details-overview>
            <product-details-tabs [wrapper]="productWrappers.get(cartLine.hjid)"
                                  [settings]="sellersSettings.get(getPartyId(cartLine.goodsItem.item.manufacturerParty))">
            </product-details-tabs>
            <negotiation-request-item [selectedLine]="cartLine"
                                      [rfq]="getRfq(cartLine)"
                                      [lastOfferQuotation]="null"
                                      [frameContractQuotation]="frameContracts.has(cartLine.hjid) ? frameContracts.get(cartLine.hjid)[1] : null"
                                      [frameContractNegotiation]="false"
                                      [frameContract]="frameContracts.has(cartLine.hjid) ? frameContracts.get(cartLine.hjid)[0] : null"
                                      [manufacturersTermsSource]="frameContracts.has(cartLine.hjid) ? 'frame_contract' : 'product_defaults'"
                                      [defaultTermsAndConditions]="platformTermsAndConditions.get(cartLine.hjid)"
                                      [deliverytermsOfBuyer]="buyerCompanySettings.tradeDetails.deliveryTerms"
                                      [wrapper]="negotiationModelWrappers.get(cartLine.hjid)"
                                      [hidden]="false">
            </negotiation-request-item>
        </div>
    </div>
</ng-container>

<!-- no item in the cart -->
<div class="jumbotron" *ngIf="shoppingCart == null || shoppingCart.catalogueLine.length == 0">
    <h3><span [innerHTML]="'No products in the shopping cart.' | translate"></span></h3>
    <h5 class="mt-3">
        <span (click)="onNavigateToTheSearchPage()" class="pointer"><span [innerHTML]="'Search for Products' | translate"></span></span>
        <i class="fa fa-search pointer" (click)="onNavigateToTheSearchPage()"></i>
    </h5>
</div>

<!-- error cases -->
<call-status [callStatus]="initCallStatus">
</call-status>
