<!-- title -->
<div class="row">
    <div class="col-12">
        <p class="nimble-title"><span [innerHTML]="'Shopping Cart' | translate"></span></p>
    </div>
</div>

<ng-container *ngIf="initCallStatus.fb_callback">
    <div *ngFor="let cartLine of shoppingCart?.catalogueLine; let i = index" class="space-before cart-item">
        <!--<cart-item [cartLine]="cartLine"></cart-item>-->
        <product-details-overview [wrapper]="productWrappers.get(cartLine.hjid)"
                                  [itemWithSelectedProps]="itemsWithSelectedProperties.get(cartLine.hjid)"
                                  [associatedProducts]="associatedProducts.get(cartLine.hjid)">
        </product-details-overview>
        <product-details-tabs [wrapper]="productWrappers.get(cartLine.hjid)"
                              [settings]="companiesSettings.get(getPartyId(cartLine.goodsItem.item.manufacturerParty))">
        </product-details-tabs>
    </div>

    <!-- no item in the cart -->
    <div class="jumbotron" *ngIf="shoppingCart == null || shoppingCart.catalogueLine.length == 0">
        <h3><span [innerHTML]="'No products in the shopping cart.' | translate"></span></h3>
        <h5 class="mt-3">
            <span (click)="onNavigateToTheSearchPage()" class="pointer"><span [innerHTML]="'Search for Products' | translate"></span></span>
            <i class="fa fa-search pointer" (click)="onNavigateToTheSearchPage()"></i>
        </h5>
    </div>
</ng-container>

<!-- error cases -->
<ng-container *ngIf="associatedProductsCallStatus.isError()">
    <call-status [callStatus]="associatedProductsCallStatus"></call-status>
</ng-container>
<ng-container *ngIf="companySettingsCallStatus.isError()">
    <call-status [callStatus]="companySettingsCallStatus"></call-status>
</ng-container>